<div class="full-width">
    <button mat-raised-button color="primary" type="button" [routerLink]="[0, 'edit']">Добавить</button>
</div>
<div class="flex-space-around flex-v-c">
    <mat-form-field>
        <mat-select #typeSelect placeholder="Тип">
            <mat-option value="">Все типы</mat-option>
            <mat-option *ngFor="let type of personTypes" [value]="type.id" [textContent]="type.name">
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <input matInput #nameInput placeholder="Имя" />
    </mat-form-field>
</div>

<table mat-table [dataSource]="items" matSort class="full-width" matSortActive="lastRussianName" matSortDirection="asc">
    <ng-container matColumnDef="lastRussianName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Фамилия </th>
        <td mat-cell *matCellDef="let person">
            <a [routerLink]="[person.id, 'edit']">
                <span [textContent]="person.lastRussianName"></span>
            </a>
        </td>
    </ng-container>

    <ng-container matColumnDef="firstRussianName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Имя </th>
        <td mat-cell *matCellDef="let person">
            <a [routerLink]="[person.id, 'edit']">
                <span [textContent]="person.firstRussianName"> </span>
            </a>
        </td>
    </ng-container>

    <ng-container matColumnDef="birthday">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> День рождения </th>
        <td mat-cell *matCellDef="let person">
            <div [textContent]="person.birthday | customDate:false:false:true:true"></div>
        </td>
    </ng-container>

    <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Позиция/должность </th>
        <td mat-cell *matCellDef="let person" [textContent]="person.position"></td>
    </ng-container>

    <ng-container matColumnDef="country">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Страна </th>
        <td mat-cell *matCellDef="let person" [textContent]="person.country"></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [showFirstLastButtons]="true" [pageSizeOptions]="[15, 25, 50]"></mat-paginator>

<!--     <a *ngIf="person.type === 1" (click)="setAsBestPlayer(person.id)"><span class=" -bookmark"></span></a>-->
