<div>
    <button mat-raised-button color="primary" type="button" [routerLink]="[0, 'edit']">Добавить</button>

    <div class="top20" *ngFor="let item of items | paginate: { itemsPerPage: itemsPerPage,
                                                      currentPage: page,
                                                      totalItems: totalItems }; let i = index;">
        <div class="panel panel-default clearfix">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a [routerLink]="[item.id]"> <span [textContent]="item.dateTime | customDate:false:true"></span> - <span [textContent]="item.stadiumName"></span></a>
                    <span class="col-xs-2 col-sm-2 pull-right">
                        <a [routerLink]="[item.id, 'edit']"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a (click)="showDeleteModal(i)"><span class="glyphicon glyphicon-trash"></span></a>
                    </span>
                </h3>
            </div>
            <div class="panel-body col-xs-12 row">
                <div class="col-xs-4">
                    <img class="club-logo" [src]="item.homeClubLogo" [alt]="item.homeClubName">
                    <span [textContent]="item.homeClubName"></span>
                </div>
                <div class="col-xs-4 font-size30">
                    <span [textContent]="item.scoreHome"></span>:<span [textContent]="item.scoreAway"></span>
                </div>
                <div class="col-xs-4">
                    <img class="club-logo" [src]="item.awayClubLogo" [alt]="item.awayClubName">
                    <span [textContent]="item.awayClubName"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="pagination">
    <pagination-controls (pageChange)="pageChanged($event)"
                         directionLinks="true"
                         autoHide="true"
                         previousLabel="Назад"
                         nextLabel="Вперед"
                         screenReaderPaginationLabel="Постраничный вид"
                         screenReaderPageLabel="Страница"
                         screenReaderCurrentLabel="Вы на странице"></pagination-controls>
</div>