<div class="full-width top20">
    <div class="full-width" *ngIf="!isAgreeWithRules">
        <h4>Друзья, если у вас уже был аккаунт на старом сайте, то не нужно регистрироваться заново. Мы можем и вернуть вам к нему доступ, и поменять почту, и поменять логин(по желанию). Если это так, то пишите в идеи, или на почту admin@mylfc.ru</h4>
        <div class="full-width">Перед регистрацией пожалуйста ознакомьтесь с <a [routerLink]="['/rules']" target="_blank"> правилами поведения на сайте</a> (ссылка откроется в новом окне).
        </div>
        <mat-checkbox (change)="isAgreeWithRules = $event" color="warn" class="full-width">Согласен соблюдать правила</mat-checkbox>
    </div>
    <div class="full-width" *ngIf="isAgreeWithRules">
        <form class="full-width" *ngIf="!result" [formGroup]="registerForm" (ngSubmit)="onSubmit()" role="form">
            <div class="full-width">
                <mat-form-field class="full-width">
                    <input matInput formControlName="userName" placeholder="Логин"/>
                </mat-form-field>
                <div  *ngIf="registerForm.controls['userName'].touched && !registerForm.controls['userName'].valid">
                    <mat-error *ngIf="registerForm.controls['userName'].hasError('required')">Необходимо заполнить поле.</mat-error>
                    <mat-error *ngIf="registerForm.controls['userName'].hasError('minlength')">Значение должно превышать 3 символа.</mat-error>
                    <mat-error *ngIf="registerForm.controls['userName'].hasError('notUniqueUserName')">Пользователь с таким логином уже зарегистрирован.</mat-error>
                </div>
            </div>
            <div class="full-width">
                <mat-form-field class="full-width">
                    <input matInput formControlName="email" type="email" placeholder="Почта"/>
                </mat-form-field>
                <div *ngIf="registerForm.controls['email'].touched && !registerForm.controls['email'].valid">
                    <mat-error *ngIf="registerForm.controls['email'].hasError('required')">Необходимо заполнить поле.</mat-error>
                    <mat-error *ngIf="registerForm.controls['email'].hasError('minlength')">Значение должно превышать 6 символов.</mat-error>
                    <mat-error *ngIf="registerForm.controls['email'].hasError('email')">Введенное значение не является допустимым адресом.</mat-error>
                    <mat-error *ngIf="registerForm.controls['email'].hasError('notUniqueEmail')">Пользователь с таким адресом почты уже зарегистрирован.</mat-error>
                </div>
            </div>
            <div class="full-width">
                <mat-form-field class="full-width">
                    <input matInput formControlName="password" type="password" placeholder="Пароль" />
                </mat-form-field>
                <div *ngIf="registerForm.controls['password'].touched && !registerForm.controls['password'].valid">
                    <mat-error *ngIf="registerForm.controls['password'].hasError('required')">Необходимо заполнить поле.</mat-error>
                    <mat-error *ngIf="registerForm.controls['password'].hasError('minlength')">Значение должно превышать 6 символов.</mat-error>
                </div>
            </div>
            <div class="full-width">
                <mat-form-field class="full-width">
                    <input matInput formControlName="confirmPassword" type="password" placeholder="Ещё раз пароль" />
                </mat-form-field>
                <div *ngIf="registerForm.controls['confirmPassword'].touched &&
                      (!registerForm.controls['confirmPassword'].valid || registerForm.hasError('mismatchedPasswords'))">
                    <mat-error *ngIf="registerForm.controls['confirmPassword'].hasError('required')">Необходимо заполнить поле.</mat-error>
                    <mat-error *ngIf="registerForm.controls['confirmPassword'].hasError('minlength')">Значение должно превышать 6 символов.</mat-error>
                    <mat-error *ngIf="registerForm.hasError('mismatchedPasswords')">Введенные пароли должны совпадать.</mat-error>
                </div>
            </div>
            <div class="full-width text-center">
                    <button mat-raised-button
                            color="warn"
                            [disabled]="!registerForm.valid"
                            type="submit"
                            *ngIf="isHuman">Зарегистрироваться</button>
                    <recaptcha [hidden]="isHuman" (isHuman)="isHuman = $event"></recaptcha>
            </div>
        </form>
        <span *ngIf="result">Регистрация прошла успешно, пожалуйста, подтвердите ваш почтовый адрес. Письмо отправлено на введенную вами почту.</span>
    </div>
</div>