@using MyLiverpool.Business.Resources

<div ng-init="vm.init()">
    <ul ng-repeat="category in vm.categories">
        <li><a ui-sref="news({page: 1, categoryId: category.id})"><span ng-bind="category.name"></span> [<span ng-bind="category.itemsCount"></span>]</a></li>
    </ul>
</div>