
    <div class="full-width flex" *ngIf="persons">
        <div class="full-width text-center">
            Главный судья:
            <div class="full-width" *ngFor="let person of persons[11]; trackBy: trackByFn"> 
                <match-person-info [person]="person" [isHome]="isHome" [isPlayer]="false" [matchId]="matchId" (selected)="onSelectPerson($event)"></match-person-info>
            </div>
            <span *ngIf="roles.isInformer && persons[11]?.length == 0" role="button" (click)="addMatchPerson(7, 0, 1, 11)">
                <mat-icon>add</mat-icon>
            </span>
        </div>
        <div class="full-width text-center">
            Помощники судьи: <span *ngFor="let ref of persons[12]; let last = last; trackBy: trackByFn">
                <match-person-info [person]="ref" [isHome]="isHome" [isPlayer]="false" [matchId]="matchId" (selected)="onSelectPerson($event)"></match-person-info>
                <span *ngIf="!last">, </span>
            </span>
            <span *ngIf="roles.isInformer && persons[12]?.length < 2" role="button"
                (click)="addMatchPerson(8, persons[12]?.length, 2, 11)">
                <mat-icon>add</mat-icon>
            </span>
        </div>
        <div class="full-width text-center" *ngIf="persons[13]?.length > 0 || roles.isInformer">
            Дополнительные судьи: <span *ngFor="let ref of persons[13]; let last=last; trackBy: trackByFn;">
                <match-person-info [person]="ref" [isHome]="isHome" [isPlayer]="false" [matchId]="matchId" (selected)="onSelectPerson($event)"></match-person-info>
                <span *ngIf="!last">, </span>
            </span>
            <span *ngIf="roles.isInformer && persons[13]?.length < 2" role="button"
                (click)="addMatchPerson(10, persons[13]?.length, 2, 11)">
                <mat-icon>add</mat-icon>
            </span>
        </div>
        <div class="full-width text-center">
            Резервный судья:
            <span *ngIf="roles.isInformer && persons[14]?.length == 0" role="button" (click)="addMatchPerson(9, 0, 1, 11)">
                <mat-icon>add</mat-icon>
            </span>
            <div class="full-width" *ngFor="let person of persons[14]; trackBy: trackByFn"> 
                <match-person-info [person]="person" [isHome]="isHome" [isPlayer]="false" [matchId]="matchId" (selected)="onSelectPerson($event)"></match-person-info>
            </div>
        </div>
        <div class="width50p">
            <i class="full-width top10">
                Главный тренер:
                <span *ngIf="roles.isInformer && persons[3]?.length == 0" role="button"
                    (click)="addMatchPerson(isHome ? 5 : 6, 0, 1, isHome ? 6 : 5)">
                    <mat-icon>add</mat-icon>
                </span>
                <div class="full-width" *ngFor="let person of persons[3]; trackBy: trackByFn"> 
                    <match-person-info [person]="person" [isHome]="isHome" [isPlayer]="false" [matchId]="matchId" (selected)="onSelectPerson($event)"></match-person-info>
                </div>
            </i>
            <i class="full-width top10">
                Состав:
                <span *ngIf="roles.isInformer && persons[1]?.length < 11" role="button"
                    (click)="addMatchPerson(isHome ? 1 : 3, persons[1]?.length, 11, isHome ? 1 : 4)">
                    <mat-icon>add</mat-icon>
                </span>
            </i>
            <div class="full-width" *ngFor="let person of persons[1]; trackBy: trackByFn">
                <match-person-info [person]="person" [isHome]="isHome" [isPlayer]="true" [matchId]="matchId" (selected)="onSelectPerson($event)"></match-person-info>
            </div>
            <i class="full-width top10">
                Запасные:
                <span *ngIf="roles.isInformer && persons[2]?.length < 7" role="button"
                    (click)="addMatchPerson(isHome ? 2 : 4, persons[2].length, 7, isHome ? 1 : 4)">
                    <mat-icon>add</mat-icon>
                </span>
            </i>
            <div class="full-width" *ngFor="let person of persons[2]; trackBy: trackByFn">
                <match-person-info [person]="person" [isHome]="isHome" [isPlayer]="true" [matchId]="matchId" (selected)="onSelectPerson($event)"></match-person-info>
            </div>
            <div class="full-width top10" *ngIf="persons[5]?.length > 0 || roles.isInformer">
                <i class="full-width">Дисквалифицированы:
                    <span *ngIf="roles.isInformer" role="button"
                        (click)="addMatchPerson(isHome ? 12 : 14, 0, 0, isHome ? 1 : 4)">
                        <mat-icon>add</mat-icon>
                    </span>
                </i>
                <div class="full-width" *ngFor="let person of persons[5]; trackBy: trackByFn">
                    <match-person-info [person]="person" [isHome]="isHome" [isPlayer]="true" [matchId]="matchId" (selected)="onSelectPerson($event)"></match-person-info>
                </div>
            </div>
            <div class="full-width top10" *ngIf="persons[4]?.length > 0 || roles.isInformer">
                <i class="full-width">
                    Травмированы:
                    <span *ngIf="roles.isInformer" role="button"
                        (click)="addMatchPerson(isHome ? 11 : 13, 0, 0, isHome ? 1 : 4)">
                        <mat-icon>add</mat-icon>
                    </span>
                </i>
                <div class="full-width" *ngFor="let person of persons[4]; trackBy: trackByFn">
                    <match-person-info [person]="person" [isHome]="isHome" [isPlayer]="true" [matchId]="matchId" (selected)="onSelectPerson($event)"></match-person-info>
                </div>
            </div>
        </div>
        <div class="width50p text-right">
            <i class="full-width top10">
                Главный тренер:
                <span *ngIf="roles.isInformer && persons[8]?.length == 0" role="button"
                    (click)="addMatchPerson(isHome ? 6 : 5, 0, 1, isHome ? 5 : 6)">
                    <mat-icon>add</mat-icon>
                </span>
                <div class="full-width" *ngFor="let person of persons[8]; trackBy: trackByFn"> 
                    <match-person-info [person]="person" [isHome]="isHome" [isPlayer]="false" [matchId]="matchId" (selected)="onSelectPerson($event)"></match-person-info>
                </div>
            </i>
            <i class="full-width top10">
                Состав:
                <span *ngIf="roles.isInformer && persons[6]?.length < 11" role="button"
                    (click)="addMatchPerson(isHome ? 3 : 1, persons[6].length, 11, isHome ? 4 : 1)">
                    <mat-icon>add</mat-icon>
                </span>
            </i>
            <div class="full-width" *ngFor="let person of persons[6]; trackBy: trackByFn"> 
                <match-person-info [person]="person" [isHome]="isHome" [isPlayer]="true" [matchId]="matchId" (selected)="onSelectPerson($event)"></match-person-info>
            </div>
            <i class="full-width top10">
                Запасные:
                <span *ngIf="roles.isInformer && persons[7]?.length < 7" role="button"
                    (click)="addMatchPerson(isHome ? 4 : 2, persons[7]?.length, 7, isHome ? 4 : 1)">
                    <mat-icon>add</mat-icon>
                </span>
            </i>
            <div class="full-width" *ngFor="let person of persons[7]; trackBy: trackByFn">
                <match-person-info [person]="person" [isHome]="isHome" [isPlayer]="true" [matchId]="matchId" (selected)="onSelectPerson($event)"></match-person-info>
            </div>
            <div class="full-width top10" *ngIf="persons[10]?.length > 0 || roles.isInformer">
                <i class="full-width">
                    Дисквалифицированы:
                    <span *ngIf="roles.isInformer" role="button"
                        (click)="addMatchPerson(isHome ? 14 : 12, 0, 0, isHome ? 4 : 1)">
                        <mat-icon>add</mat-icon>
                    </span>
                </i>
                <div class="full-width" *ngFor="let person of persons[10]; trackBy: trackByFn">
                    <match-person-info [person]="person" [isHome]="isHome" [isPlayer]="true" [matchId]="matchId" (selected)="onSelectPerson($event)"></match-person-info>
                </div>
            </div>
            <div class="full-width top10" *ngIf="persons[9]?.length > 0 || roles.isInformer">
                <i class="full-width">
                    Травмированы:
                    <span *ngIf="roles.isInformer" role="button"
                        (click)="addMatchPerson(isHome ? 13 : 11, 0, 0, isHome ? 4 : 1)">
                        <mat-icon>add</mat-icon>
                    </span>
                </i>
                <div class="full-width" *ngFor="let person of persons[9]; trackBy: trackByFn">
                    <match-person-info [person]="person" [isHome]="isHome" [isPlayer]="true" [matchId]="matchId" (selected)="onSelectPerson($event)"></match-person-info>
                </div>
            </div>
        </div>
    </div>
<div *ngIf="roles.isInformer" class="full-width">
    <button mat-raised-button color="warn" (click)="addMatchPerson()" class="full-width" *ngIf="!isEdit">Добавить
        человека</button>
    <div *ngIf="isEdit">
        <button mat-raised-button (click)="cancelMatchPersonEdit()">Отменить редактирование</button>
        <div class="full-width top20">
            <match-person-edit-panel [matchId]="matchId" [selectedMatchPerson]="selectedMatchPerson"
                [currentCount]="currentCount" [neededCount]="neededCount" [personTypeId]="personTypeId"
                [typeId]="selectedType" [isHome]="isHome" (exit)="cancelMatchPersonEdit()"></match-person-edit-panel>
        </div>
    </div>
</div>