<form class="form-horizontal full-width" name="editForm" role="form" [formGroup]="editTransferForm"
    (ngSubmit)="onSubmit()">
    <select-person-form-field formControlName="personId" [personName]="editTransferForm.controls['personName'].value">
    </select-person-form-field>
    <select-club-form-field formControlName="clubId" [clubName]="editTransferForm.controls['clubName'].value">
    </select-club-form-field>
    <select-season-form-field formControlName="seasonId" [seasonName]="editTransferForm.controls['seasonName'].value">
    </select-season-form-field>
    
    <mat-form-field class="full-width">
        <input matInput [matDatepicker]="datePicker1" placeholder="Выберите дату трансфера" formControlName="startDate">
        <mat-datepicker-toggle matSuffix [for]="datePicker1"></mat-datepicker-toggle>
        <mat-datepicker #datePicker1 startView="year" touchUi="true"></mat-datepicker>
    </mat-form-field>
    <div class="full-width">
        <mat-slide-toggle formControlName="onLoan" color="warn">Аренда
        </mat-slide-toggle>
    </div>
    <div [hidden]="!editTransferForm.get('onLoan').value">
        <mat-form-field class="full-width">
            <input matInput [matDatepicker]="datePicker2" placeholder="Выберите дату окончания трансфера(Для аренды)"
                formControlName="finishDate">
            <mat-datepicker-toggle matSuffix [for]="datePicker2"></mat-datepicker-toggle>
            <mat-datepicker #datePicker2 startView="year" touchUi="true"></mat-datepicker>
        </mat-form-field>
    </div>
    <mat-form-field class="full-width">
        <input matInput placeholder="Сумма трансфера в фунтах(цифра)" type="number" formControlName="amount">
    </mat-form-field>
    <div class="full-width">Ушел
        <mat-slide-toggle formControlName="coming" color="warn">Пришел
        </mat-slide-toggle>
    </div>

    <div class="full-width">
        <button mat-raised-button type="submit" color="warn" [disabled]="!editTransferForm.valid"
            class="full-width">Сохранить</button>
    </div>
</form>