:host {
    .images {
        align-content: flex-start;
        align-items: flex-start;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 100%;
    }
}