<form class="col-xs-12 flex-space-around" name="editForm" role="form" [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <div class="full-width text-center">
            <img class="img-medium" *ngIf="imagePath" [src]="imagePath" alt="" />
    </div>
    <div class="full-width">
        <md-form-field class="full-width">
            <input mdInput placeholder="Название" formControlName="name">
        </md-form-field>
    </div>
    <div class="full-width">
        <md-form-field class="full-width">
            <input mdInput placeholder="Название на английском" formControlName="englishName">
        </md-form-field>
    </div>
    <div class="full-width">
        <div class="col-xs-1 col-sm-1"></div>
        <div class="col-xs-10 col-sm-10 input-group" *ngIf="editForm?.controls['englishName'].value">
            <input formControlName="logo" class="form-control" novalidate readonly />
            <span class="input-group-btn">
                <label for="upload-image"
                       class="btn btn-info">Загрузить логотип</label>
                <input type="file"
                       class="hidden"
                       accept="image/*"
                       [multiple]="false"
                       (change)="onUploadImage($event)"
                       id="upload-image" />
            </span>
        </div>
    </div>
    <md-form-field class="full-width">
        <input mdInput placeholder="Стадион" [mdAutocomplete]="stadium" formControlName="stadiumName">
        <md-autocomplete #stadium="mdAutocomplete">
            <md-option *ngFor="let stadium of stadiums$ | async" [value]="stadium.name" (click)="selectStadium(stadium.id)">
                <span>{{ stadium.name }}</span>
            </md-option>
        </md-autocomplete>
    </md-form-field>
    <div class="form-group full-width text-center">
            <button md-raised-button color="warn" type="submit" [disabled]="!editForm.valid">Сохранить</button>
    </div>
</form>
