<form class="full-width flex-space-around" name="editForm" role="form" [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <div class="full-width text-center">
            <img class="img-medium" *ngIf="imagePath" [src]="imagePath" alt="" />
    </div>
    <div class="full-width">
        <mat-form-field class="full-width">
            <input matInput placeholder="Название" formControlName="name">
        </mat-form-field>
    </div>
    <div class="full-width">
        <mat-form-field class="full-width">
            <input matInput placeholder="Название на английском" formControlName="englishName">
        </mat-form-field>
    </div>
    <div class="full-width">
        <div class="full-width input-group" *ngIf="editForm?.controls['englishName'].value">
            <input formControlName="logo" class="form-control" novalidate readonly />
            <span class="input-group-btn">
                <label for="upload-image"
                       class="btn btn-info">Загрузить логотип</label>
                <input type="file"
                       class="hidden"
                       accept="image/*"
                       [multiple]="false"
                       (change)="onUploadImage($event)"
                       id="upload-image" />
            </span>
        </div>
    </div>
    <mat-form-field class="full-width">
        <input matInput placeholder="Стадион" [matAutocomplete]="stadium" formControlName="stadiumName">
        <mat-autocomplete #stadium="matAutocomplete">
            <mat-option *ngFor="let stadium of stadiums$ | async" [value]="stadium.name" (click)="selectStadium(stadium.id)">
                <span>{{ stadium.name }}</span>
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <div class="full-width text-center">
            <button mat-raised-button color="warn" type="submit" [disabled]="!editForm.valid">Сохранить</button>
    </div>
</form>
