<h3 class="text-center">Адрес электронной почты не подтвержден</h3>
<form class="form-horizontal" role="form" [formGroup]="unconfirmedForm" (ngSubmit)="onSubmit()" *ngIf="!finish">
    <mat-form-field class="full-width">
        <input matInput formControlName="email" placeholder="Адрес электронной почты" />
    </mat-form-field>
    <div class="alert alert-danger" *ngIf="unconfirmedForm.controls['email'].touched && !unconfirmedForm.controls['email'].valid">
        <div *ngIf="unconfirmedForm.controls['email'].hasError('required')">Необходимо заполнить поле.</div>
        <div *ngIf="unconfirmedForm.controls['email'].hasError('minlength')">Значение должно превышать 6 символов.</div> <!--todo move to config-->
        <div *ngIf="unconfirmedForm.controls['email'].hasError('email')">Введенное значение не является допустимым адресом.</div>
    </div>

    <div class="full-width text-center">
        <button mat-raised-button
                color="warn"
                [disabled]="!unconfirmedForm.valid"
                type="submit"
                *ngIf="isHuman">
            Переслать письмо
        </button>
        <recaptcha [hidden]="isHuman" (isHuman)="isHuman = $event"></recaptcha>
    </div>
</form>
<div *ngIf="finish">Письмо успешно отправлено</div>