<div class="flex-space-around flex-v-c">
    <button mat-raised-button color="warn" type="button" [routerLink]="[0, 'edit']">Добавить</button>
    <mat-form-field>
        <input matInput #nameInput placeholder="Поиск по названию" />
    </mat-form-field>
</div>

<table mat-table [dataSource]="items" matSort class="full-width" matSortActive="name" matSortDirection="asc">
    <ng-container matColumnDef="logo">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let club">
            <img class="logo" [src]="club.logo" [alt]="club.name" />
        </td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Название </th>
        <td mat-cell *matCellDef="let club">
            <a [routerLink]="[club.id, 'edit']">
                <span [textContent]="club.name"></span>
            </a>
        </td>
    </ng-container>

    <ng-container matColumnDef="englishName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> На английском </th>
        <td mat-cell *matCellDef="let club">
            <a [routerLink]="[club.id, 'edit']">
                <span [textContent]="club.englishName"> </span>
            </a>
        </td>
    </ng-container>

    <ng-container matColumnDef="stadiumName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Стадион </th>
        <td mat-cell *matCellDef="let club">
            <div [textContent]="club.stadiumName"></div>
        </td>
    </ng-container>

    <ng-container matColumnDef="tool">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="let club">
            <a (click)="showDeleteModal(club)" role="button"><i class="material-icons">clear</i></a>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; let i = index; columns: displayedColumns;"></tr>
</table>

<mat-paginator [showFirstLastButtons]="true" [pageSizeOptions]="[15, 25, 50]"></mat-paginator>