<ng-container *ngIf="{ isAdmin: isAdmin$ | async } as data">
    <button mat-raised-button color="primary" type="button" [routerLink]="[0, 'edit']">Предложить улучшение
        (анонимно)</button>

    <div class="top20" *ngFor="let wish of items; let i = index;">
        <div class="panel" [ngClass]="getTypeClass(wish.type)">
            <div class="panel-heading">
                <h3 class="panel-title flex-space-between">
                    <span [textContent]="wish.title"></span>
                    <span *ngIf="data.isAdmin">
                        <a [routerLink]="[wish.id, 'edit']">
                            <mat-icon>edit</mat-icon>
                        </a>
                        <a (click)="showDeleteModal(i)">
                            <mat-icon>clear</mat-icon>
                        </a>
                    </span>
                </h3>
            </div>
            <div class="panel-body">
                <div [textContent]="wish.message"></div>
            </div>
            <div class="panel-footer">
                <div [textContent]="wish.typeName"></div>
            </div>
        </div>
    </div>


    <mat-paginator [showFirstLastButtons]="true" [pageSizeOptions]="[15, 25, 50]"></mat-paginator>
</ng-container>
