<div class="" *ngIf="item">
    <div class="alert-danger flex-vertical-center">
        <h3 class="col-xs-12 col-sm-12">
            <span class="col-xs-9 col-sm-9" [textContent]="item.title"></span>
            <span class="col-xs-3 col-sm-3 pull-right" *ngIf="roles.isEditor || roles.isSelf(item.userId)">
                <a [hidden]="!item.pending || !roles.isEditor" (click)="showActivateModal(i)"><span class="glyphicon glyphicon-ok"></span></a>
                <a [routerLink]="['/news', item.id, 'edit']"><span class="glyphicon glyphicon-pencil"></span></a>
                <a role="button" (click)="showDeleteModal(i)"><span class="glyphicon glyphicon-trash"></span></a>
            </span>
        </h3>
    </div>
    <div class="">
        <article [innerHTML]="item.message"></article>
        <div class="alert-warning">
            <ul class="list-inline">
                <li><label>Просмотры:</label> <span [textContent]="item.reads"></span></li>
                <li><label>Источник:</label> <span [textContent]="item.source"></span></li>
                <li><label>Дата добавления:</label> <span [textContent]="item.additionTime | date:'medium'"></span></li>
                <li><label>Категория:</label> <a [routerLink]="['/news/list', 1, item.categoryId ]"> <span [textContent]="item.categoryName"></span> </a></li>
            </ul>
        </div>
    </div>
    <comments [materialId]="item.id" [canCommentary]="item.canCommentary"></comments>
</div>

<div class="modal fade" bsModal #activateModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="hideModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Активировать?</h4>
            </div>
            <div class="modal-body">
                <button class="btn btn-default" data-dismiss="modal" (click)="hideModal()" type="button">Отмена</button>
                <button class="btn btn-primary" type="button" (click)="activate()">Активировать</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" bsModal #deleteModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="hideModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Удалить?</h4>
            </div>
            <div class="modal-body">
                <button class="btn btn-default" data-dismiss="modal" (click)="hideModal()" type="button">Отмена</button>
                <button class="btn btn-primary" type="button" (click)="delete()">Удалить</button>
            </div>
        </div>
    </div>
</div>