:host {

    @media (min-width: 768px) and (max-width: 992px) {
        .chat-button {
            min-width: 80px !important;
            max-width: 80px;
            padding: 0 !important;
        }
    }

    .blockcontent-inside {
        margin-left: 0;
        padding: 1px 7px;
    }

    .comment-action-buttons {
        margin-top: -29px;
    }

    .comment-action-buttons > button {
        line-height: 28px;
    }

    .chatMessage-block {
        overflow-y: auto;
    }

    .chat-message {
        padding: 0 5px 5px 5px;
        margin-bottom: 3px;
        background: #e5e5e5;
        border: 1px solid #cdcdcd;
        border-radius: 5px;
        overflow-x: auto;
    }

    .message {
        text-align: left;

        ::ng-deep img {
            max-width: 100%;
        }
    }
}
