<ng-container *ngIf="{ isLogined: isLogined$ | async, isModerator: isModerator$ | async, userId: userId$ | async } as data">
    <div class="blockcontent-inside">
        <div class="chatMessage-block" [style.height.px]="height">
            <div class="chat-message" *ngFor="let message of items; let i = index; trackBy: trackByFn">
                <div class="full-width flex-space-between">
                    <a [routerLink]="['/users', message.authorId]" [textContent]="message.userName"></a>
                    <span class="">
                        <a role="button" *ngIf="data.isModerator || data.userId === message.authorId" (click)="edit(i)"
                            class="material-icons" style="font-size: 100%">
                            edit
                        </a>
                        <a role="button" *ngIf="data.isModerator" (click)="showDeleteModal(i)" class="material-icons"
                            style="font-size: 100%">
                            clear
                        </a>
                    </span>
                    <span [textContent]="message.additionTime | customDate"></span>
                </div>
                <div class="full-width message" [innerHTML]="message.message | safe: 'html'"></div>
                <div class="full-width">
                    <a role="button" (click)="addReply(i)"><i *ngIf="data.isLogined && data.userId !== message.authorId"
                            class="material-icons">reply</i></a>
                </div>
            </div>
        </div>
        <form *ngIf="data.isLogined" class="form-horizontal clearfix" role="form" [formGroup]="messageForm"
            (ngSubmit)="onSubmit()">
            <div>
                <div class="full-width">
                    <bbeditor [type]="3" [value]="messageForm.get('message').value" [height]="150"
                        formControlName="message" #chatInput></bbeditor>
                </div>
            </div>
            <div class="comment-action-buttons">
                <button mat-raised-button color="warn" type="submit" [disabled]="!messageForm.valid"
                    class="chat-button">
                    <span *ngIf="selectedEditIndex == null">Добавить</span>
                    <span *ngIf="selectedEditIndex !== null">Обновить</span>
                </button>
                <button mat-raised-button *ngIf="selectedEditIndex !== null" type="button"
                    (click)="cancelEdit()">Отмена</button>
            </div>
        </form>
        <div *ngIf="!data.isLogined" class="text-white text-center">Для добавления сообщений необходимо войти.</div>
        <div class="full-width text-center flex-space-around top10">
            <a *ngIf="type === 0" mat-raised-button role="button" class="color-back-gold"
                [routerLink]="['/chat']"><b>Флудилка</b></a>
        </div>
    </div>
</ng-container>