<mat-card class="col-xs-12 container-row" *ngIf="currentUserIndex != null">
    <mat-card-header>
        <mat-card-title>
            В этот день родился <a [routerLink]="['/users', items[currentUserIndex].id]"><b [textContent]="items[currentUserIndex].userName"></b></a>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <img [src]="items[currentUserIndex].photo" class="center-block avatar-medium" [alt]="items[currentUserIndex].userName"/>
    </mat-card-content>
    <mat-card-actions *ngIf="items.length > 1">
        <button mat-button (click)="goToPrevious()"><span class="glyphicon glyphicon-triangle-left"></span></button>
        <button mat-button (click)="goToNext()" class="pull-right"><span class="glyphicon glyphicon-triangle-right"></span></button>
    </mat-card-actions>
</mat-card>