@model MyLfc.Application.Comments.Queries.GetCommentListByEntityIdQuery.Response

    <div id="comments" class="full-width">Комментарии: @Model.RowCount</div>
@foreach (var comment in Model.Results)
{
    @await Component.InvokeAsync("CommentDetail", new {comment, deep = 0})
}

