<div class="full-width">
    <form class="form-horizontal" [formGroup]="passwordForm" (ngSubmit)="onSubmit()" role="form">
            
        <mat-form-field class="full-width">
            <input matInput type="password" placeholder="Старый пароль" formControlName="oldPassword">
        </mat-form-field> 
        <div class="alert alert-danger" *ngIf="passwordForm.controls['oldPassword'].touched && !passwordForm.controls['oldPassword'].valid">
            <div *ngIf="passwordForm.controls['oldPassword'].hasError('required')">Необходимо заполнить поле.</div>
            <div *ngIf="passwordForm.controls['oldPassword'].hasError('minlength')">Значение должно превышать 6 символов.</div> <!--todo move to config-->
        </div>

        <mat-form-field class="full-width">
            <input matInput type="password" placeholder="Новый пароль" formControlName="newPassword">
        </mat-form-field>
        <div class="alert alert-danger" *ngIf="passwordForm.controls['newPassword'].touched && !passwordForm.controls['newPassword'].valid">
            <div *ngIf="passwordForm.controls['newPassword'].hasError('required')">Необходимо заполнить поле.</div>
            <div *ngIf="passwordForm.controls['newPassword'].hasError('minlength')">Значение должно превышать 6 символов.</div> <!--todo move to config-->
        </div>

        <mat-form-field class="full-width">
            <input matInput type="password" placeholder="Новый пароль еще раз" formControlName="confirmPassword">
        </mat-form-field>
        <div class="alert alert-danger" *ngIf="passwordForm.controls['confirmPassword'].touched &&
                          (!passwordForm.controls['confirmPassword'].valid || passwordForm.hasError('mismatchedPasswords'))">
            <div *ngIf="passwordForm.controls['confirmPassword'].hasError('required')">Необходимо заполнить поле.</div>
            <div *ngIf="passwordForm.controls['confirmPassword'].hasError('minlength')">Значение должно превышать 6 символов.</div> <!--todo move to config-->
            <div *ngIf="passwordForm.hasError('mismatchedPasswords')">Введенные пароли должны совпадать.</div>
        </div>
            
        <div class="full-width text-center">
            <button mat-raised-button color="warn" type="submit" [disabled]="!passwordForm.valid">Изменить</button>
        </div>
    </form>
</div>
