<div class="full-width">
    <label [for]="controlName" class="mat-raised-button">{{buttonName}}</label>
    <input type="file"
           class="hidden"
           accept="image/*"
           [multiple]="isMultiple"
           (change)="onUploadImage($event)"
           [id]="controlName" />
    <div *ngFor="let file of uploadedFiles">
        <img [src]="file" alt="" class="full-width" style="max-height: 100px;" />
        
        <mat-form-field class="full-width">
            <input matInput [value]="file" readonly/>
        </mat-form-field>
    </div>
</div>