<form class="form-horizontal" name="editForm" role="form" [formGroup]="editForm" (ngSubmit)="onSubmit(editForm.value)">

    <div class="form-group">
        <label class="control-label col-md-2">Соперник</label>
        <div class="col-md-10">
            <input class="form-control" name="title" formControlName="name" />
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2 col-sm-2">
            <img class="avatar" src="{{editForm?.controls['logo'].value}}" />
        </div><div class="col-xs-10 col-sm-10">
                  <input formControlName="logo" novalidate readonly />
            <input type="file" ng2FileSelect [uploader]="uploader" [disabled]="!editForm.controls['englishName'].valid"/>
            <button type="button" [hidden]="!this.uploader?.queue" (click)="upload()">Загрузить</button>
        </div>
</div>
    <div class="form-group">
        <label class="control-label col-md-2">Название клуба на английском</label>
        <div class="col-md-10">
            <input class="form-control" name="title" formControlName="englishName"/>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Стадион</label>
        <div class="col-md-10">
            <textarea class="form-control" name="title" formControlName="stadium"></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" [disabled]="!editForm.valid" class="btn btn-default">Сохранить</button>
        </div>
    </div>
</form>
