<form class="form-horizontal flex-space-around" name="editForm" role="form" [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <div class="full-width">
            <img class="center img-medium" *ngIf="imagePath" [src]="imagePath" alt="" />
    </div>
    <div class="full-width">
        <label class="control-label col-md-2">Название</label>
        <div class="col-md-10">
            <input class="form-control" name="title" formControlName="name" />
        </div>
    </div>
    <div class="full-width">
        <label class="control-label col-md-2">Название клуба на английском</label>
        <div class="col-md-10">
            <input class="form-control" name="title" formControlName="englishName"/>
        </div>
    </div>
    <div class="full-width">
        <div class="col-xs-1 col-sm-1"></div>
        <div class="col-xs-10 col-sm-10 input-group" *ngIf="editForm?.controls['englishName'].value">
            <input formControlName="logo" class="form-control" novalidate readonly />
            <span class="input-group-btn">
                <label for="upload-image"
                       class="btn btn-info">Загрузить логотип</label>
                <input type="file"
                       class="hidden"
                       accept="image/*"
                       [multiple]="false"
                       (change)="onUploadImage($event)"
                       id="upload-image" />
            </span>
        </div>
    </div>
    <!--div class="form-group">
        <label class="control-label col-md-2">Стадион</label>
        <div class="col-md-10">
            <textarea class="form-control" name="title" formControlName="stadium"></textarea>
        </div>
    </!--div-->
    <md-input-container class="full-width">
        <input mdInput placeholder="Стадион" [mdAutocomplete]="auto" formControlName="stadiumName">
    </md-input-container>

    <md-autocomplete #auto="mdAutocomplete">
        <md-option *ngFor="let stadium of filteredStadiums$ | async" [value]="stadium.name" (click)="selected(stadium.id)">
            {{ stadium.name }}
        </md-option>
    </md-autocomplete>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" [disabled]="!editForm.valid" class="btn btn-default">Сохранить</button>
        </div>
    </div>
</form>
