@using MyLiverpool.Business.Resources
<div>
    <h1 class="text-center">@CommonMessages.ForgotPassword</h1>
    <div class="col-md-12">
        <form class="form-horizontal" name="forgotEmail" role="form">
            <div class="form-group">
                <label class="col-md-2 control-label" for="emailAddress">@ColonsMessages.Email</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" name="email" id="emailAddress" placeholder="" ng-model="email" validation="email|required">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" ng-disabled="forgotEmail.$invalid" ng-click="forgot()" value="@CommonMessages.Send"/>
                </div>
            </div>
        </form>
    </div>
</div>