<div class="col-xs-12 injuries" *ngIf="items?.length > 0">
    <h4><b>Травмированные:</b>
        <a *ngIf="roles.isAdminAssistant" [routerLink]="['/injuries', 0, 'edit']"><span class="glyphicon glyphicon-plus color-red"></span></a></h4>
    <div class="col-xs-12 container-row injury-item" *ngFor="let injury of items">
        <div class="col-xs-12 container-row">
            <img [src]="injury.personPhoto" [alt]="injury.personName"/>
            <b [textContent]="injury.personName"></b>
            <a *ngIf="roles.isAdminAssistant" [routerLink]="['/injuries', injury.id, 'edit']"><span class="glyphicon glyphicon-pencil color-red"></span></a>
        </div>
        <div class="col-xs-12">
            <span [textContent]="injury.description"></span>
        </div>
    </div>
</div>