<div>
    <button mat-raised-button color="primary" type="button" [routerLink]="[0, 'edit']">Добавить</button>

    <div class="top20" *ngFor="let item of items; let i = index;">
        <div class="panel panel-default clearfix">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a [routerLink]="[item.id]"> <span [textContent]="item.dateTime | customDate:false:true"></span> - <span [textContent]="item.stadiumName"></span></a>
                    <span >
                        <a [routerLink]="[item.id, 'edit']"><i class="material-icons">edit</i></a>
                        <a (click)="showDeleteModal(i)"><i class="material-icons">clear</i></a>
                    </span>
                </h3>
            </div>
            <div class="panel-body full-width flex-space-between">
                <div>
                    <img class="club-logo" [src]="item.homeClubLogo" [alt]="item.homeClubName">
                    <span [textContent]="item.homeClubName"></span>
                </div>
                <div class=" font-size30">
                    <span [textContent]="item.scoreHome"></span>:<span [textContent]="item.scoreAway"></span>
                </div>
                <div class="">
                    <img class="club-logo" [src]="item.awayClubLogo" [alt]="item.awayClubName">
                    <span [textContent]="item.awayClubName"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<mat-paginator [showFirstLastButtons]="true" [pageSizeOptions]="[15, 25, 50]"></mat-paginator>
