<ng-container *ngIf="{ types: types$ | async } as data">
    <hr class="full-width" />
    <div class="text-center">Добавление человека к матчу</div>
    <form class="full-width" role="form" [formGroup]="editMatchPersonForm" (ngSubmit)="onSubmit()">
        <select-person-form-field formControlName="personId" [personName]="editOptions.selected?.personName"
            [type]="this.editMatchPersonForm.get('useType').value ? editOptions.personTypeId : null" focus="true">
        </select-person-form-field>
        <mat-form-field class="full-width">
            <mat-select placeholder="Тип" formControlName="personType">
                <mat-option *ngFor="let type of data.types" [value]="type.key">{{ type.value }}</mat-option>
            </mat-select>
        </mat-form-field>
        <div class="full-width">
            <mat-checkbox color="warn" formControlName="useType">Фильтр по типу</mat-checkbox>
        </div>
        <div class="full-width text-center">
            <button mat-raised-button color="warn" type="submit" class="full-width"
                [disabled]="!editMatchPersonForm.valid">Сохранить</button>
        </div>
    </form>
    <div class="full-width">
        <button mat-raised-button color="primary" class="full-width" (click)="isCreation = true"
            *ngIf="!isCreation">Создать
            человека</button>
        <button mat-raised-button (click)="isCreation = false" class="full-width" *ngIf="isCreation">Отменить
            создание</button>
        <div class="full-width top20" *ngIf="isCreation">
            <person-edit [isFull]="false" (newPerson)="setPerson($event)"></person-edit>
        </div>
    </div>
</ng-container>