img {
    max-width: 100%;
    height: auto;
    display: block;
}

    .news-mini {
        height: 140px;
        width: 300px;
    }

textarea {
    resize: vertical;
}

.avatar {
    width: 100px;
}

.avatar-medium {
    min-width: 30px;
    width: 80px;
}

.chatMessage-block {
    height: 150px;
    overflow-y: auto;
}

.comment {
    background-color: #e5e5e5;
    border: gray solid thin;
    border-radius: 10px;
    min-height: 80px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.dropdown-menu {
    min-width: 140px;
}

.forum-message {
    min-height: 120px;
}

.list-inline.small-offset > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 0px;
}

.mainContent {
    margin-top: 60px;
}

.nav-avatar {
    width: 50px;
    height: 50px;
}

.overflowable {
    overflow-y: auto;
}

@media (min-width: 768px) {
    .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: -15px;
    }

    .navbar-nav > li > a.padding0 {
        padding: 0;
    }
}

@media (max-width: 768px) {
    .navbar-fixed-top {
        position: relative;
    }
}

.top20 {
    margin-top: 20px;
}

.top50 {
    margin-top: 50px;
}

/* AngularJS Form validation styling */
.validation.help-block {
    color: #E07676;
    font-style: italic;
}

.va-top {
    vertical-align: top;
}

/* invalid & (dirty or touched) => red -- CSS3 only */
.ng-invalid.ng-dirty:not(:focus),
.ng-invalid.ng-touched:not(:focus) {
    border-color: #e74c3c;
}

/* valid & dirty => green */
.ng-valid.ng-dirty.ng-touched {
    border-color: #2ecc71;
}

/* error display font italic, text-danger is red in BS */
.validation.text-danger {
    font-style: italic;
}

.width50p {
    width: 50%;
}

.flex-vertical-center {
    min-height: 0%; /* Fallback for browsers do NOT support vh unit */
    min-height: 0vh; /* These two lines are counted as one :-)*/
    display: flex;
    align-items: center;
}

.container-row {
    padding-right: 0px;
    padding-left: 0px;
}

.margin-top-middle {
    margin-top: 30px;               
}

.mini-avatar {
    height: 20px;
}

/*todo fixed*/
.ng-valid[required].ng-touched, .ng-valid.required.ng-touched  {
  border-left: 5px solid #42A948; /* green */
}
.ng-touched:not(:focus).ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

/* forum start */
.gTable, .postTable {
    background: #ffffff;
}

.gTable {
    background: #EBEBEB;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
}

.gTable td.gTableTop {
    padding: 0px 10px;
    border: 1px solid #debc72;
    background: url(http://myliverpool.ru/desighn/img/126.png) repeat-y top right;
    font: 14px/32px 'Tahoma';
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 5px;
    -moz-border-radius: 5px;
}
.gTable td {
    background: #ffffff;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    -moz-border-radius: 5px;
}

.gTableTop, .gTableSubTop, .forumNameTd, .forumThreadTd, .forumPosrTd, .forumLastPostTd, .threadNametd, .threadPostTd, .threadAuthTd, .threadViewTd, .threadLastPostTd, td.threadsDetails, td.forumOnlineBar {
    padding: 4px 10px;
}

.gTableTop {
    padding: 2px;
    background: url(http://src.ucoz.ru/t/631/17.gif) #B60600;
    color: #FFFFFF;
    font-weight: bold;
    height: 23px;
    padding-left: 17px;
    font-size: 10pt;
}
/* forum end */