
    .color-green {
        color: green;
    }

.events {
    display: flex;
    width: 100%;
}

.mat-icon.small {
    font-size: 100%;
    width: auto;
}
.right {
    margin-left: auto;
}

.width20px {
    width: 20px;
}