<!-- <table style="width: 100%; border: 0; background-color: #FFFFFF;" class="gTable" *ngIf="item">
    <tbody>
    <tr>
        <td class="gTableTop" colspan="7">
            <span [textContent]="item.name"></span>
            <span class="col-sm-offset-1 small" [textContent]="item.description"></span>
        </td>
    </tr>
    <tr>
        <td width="8%" colspan="2" class="gTableSubTop">&nbsp;</td>
        <td class="gTableSubTop">
            <a>Тема</a>
        </td>
        <td width="7%" class="gTableSubTop">
            <a>Ответы</a>
        </td><td width="6%" class="gTableSubTop">
            <a>Просмотры</a>
        </td>
        <td width="14%" class="gTableSubTop">
            <a>Автор темы</a>
        </td>
        <td width="21%" class="gTableSubTop">
            <a>Обновления</a>
        </td>
    </tr>
    <!--<tr><td class="threadsType" colspan="7">Важные темы</td></tr>->

    <tr><td class="threadsType" colspan="7">Темы форума</td></tr>
    <tr *ngFor="let theme of item.themes.list">
        <td class="threadIcoTd" width="4%">
            <img alt="" style="margin:0;padding:0;vertical-align:middle;border:0;max-width:60px;max-height:60px;" src="http://www.myliverpool.ru/.s/img/fr/ic/2/f_norm_nonew.gif" title="Нет новых сообщений">
        </td>
        <td class="threadIcoTd" width="4%">
            <img alt="" style="margin:0;padding:0;vertical-align:middle;border:0;max-width:60px;max-height:60px;" src="http://www.myliverpool.ru/.s/img/fr/ic1/hot.gif" title="Горячая тема">
        </td>
        <td class="threadNametd">
            <a class="threadLink" [routerLink]="['./themes', theme.id]" [textContent]="theme.name"></a>
            <a class="modBut" *ngIf="roles.isAdminAssistant" [routerLink]="['./themes', theme.id, 'edit']" title="Изменить/переместить тему">
                <span class="glyphicon glyphicon-pencil" align="absmiddle"></span>
            </a>
            <a class="modBut" *ngIf="roles.isAdminAssistant" title="Удалить тему" ng-click="vm.removeSection($index)">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
        </td>

        <td class="threadPostTd" [textContent]="theme.answers"></td>
        <td class="threadViewTd">-</td>
        <td class="threadAuthTd">
            <span class="threadAuthor">
                <a class="threadAuthorLink" [routerLink]="['/user', theme.authorId]" [textContent]="theme.authorUserName"></a>
            </span>
        </td>
        <td class="threadLastPostTd">
            <!--script type="text/javascript">document.write('<a title="К последнему сообщению" class="forumLastPostLink" href="/forum/5-1400-0-17">19.10.2016, 13:37:37</a>')</!--script><a title="К последнему сообщению" class="forumLastPostLink" href="/forum/5-1400-0-17">19.10.2016, 13:37:37</a>
            <script type="text/javascript">document.write('<a href="/forum/5-1400-0-17-1"><img alt="" style="margin:0;padding:0;vertical-align:middle;border:0;max-width:60px;max-height:60px;" title="К первому непрочитанному сообщению" src="http://www.myliverpool.ru.s/img/fr/ic/2/lastpost.gif" /></a>')</script>
            <a href="/forum/5-1400-0-17-1">
                <img alt="" style="margin: 0; padding: 0; vertical-align: middle; border: 0; max-width: 60px; max-height: 60px;" title="К первому непрочитанному сообщению" src="http://www.myliverpool.ru/.s/img/fr/ic/2/lastpost.gif">
            </a>
            <br>Сообщение от: <span class="lastPostGuest">
                <a class="lastPostUserLink" onclick="window.open('/index/8-0-icebergstollikcs', 'up27', 'scrollbars=1,top=0,left=0,resizable=1,width=680,height=350');return false;">icebergstollikcs</a>
            </span->
        </td>
    </tr>


    <tr>
        <td class="threadsDetails" colspan="7">В этом форуме тем: <b [textContent]="totalItems"></b>. На странице показано тем: <b [textContent]="items.length"></b>.</td>
    </tr>
    <!--tr><td class="forumOnlineBar" colspan="7">Форум просматривают: <a class="groupAdmin" href="javascript://" rel="nofollow" onclick="window.open('/index/8-10147','up10147','scrollbars=1,top=0,left=0,resizable=1,width=680,height=350');return false;">parys</a></td></tr->
    </tbody>
</table>

<a [routerLink]="['./themes', 0, 'edit']">Добавить тему</a> -->