@if (ViewData["SpaHtml"] != null)
{
    @Html.Raw(ViewData["SpaHtml"])
}
else
{
    <app>Загружаемся...</app>
}
<span>Если загрузка не происходит,<a href="https://m.mylfc.ru/"> здесь </a> есть сильно облегченная версия сайта</span>

@section scripts {
    <environment names="Development">
        <script src="~/src/vendor.js" asp-append-version="true"></script>
        <script src="~/src/main-client.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <!-- Latest compiled and minified CSS -->
        <script src="~/dist/inline.bundle.js" async asp-append-version="true"></script>
        <script src="~/dist/polyfills.bundle.js" async asp-append-version="true"></script>
        <script src="~/dist/main.bundle.js" async defer asp-append-version="true"></script>
    </environment>
}