@if (ViewData["SpaHtml"] != null)
{
    @Html.Raw(ViewData["SpaHtml"])
}
else
{
   <app>Загружаемся...</app>
}
<span>Если загрузка не происходит,<a href="~/lite"> здесь </a> есть сильно облегченная версия сайта</span>

@section scripts {
    <environment names="Development">
        @**@      <script src="~/src/vendor.js" asp-append-version="true"></script>
        <script src="~/src/main-client.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/src/build.js" asp-append-version="true"></script>
    </environment>
}