<div class="col-xs-12 bottom10">
    <span *ngIf="items?.length === 0; else removeAll">Нет уведомлений</span>
    <ng-template #removeAll>
        <button md-raised-button (click)="readAll()">Пометить все как прочитанные</button>
    </ng-template>
    <a class="pull-right" routerLink="/users/0/settings"><md-icon>settings</md-icon></a>
</div>
<div class="col-xs-12 container-row" *ngFor="let event of items; let i = index;">
    <div class="col-xs-12 event-block" [class.unread]="!event.isRead">
        <div class="col-xs-12"> <span [textContent]="event.dateTime | date:'medium'"></span><a class="pull-right" role="button" (click)="read(i)">Пометить как прочитанное</a></div>
        <a role="button" (click)="readAndGo(i)" [innerHtml]="event.text"></a>
    </div>
</div>