
    .color-green {
        color: green;
    }

.col-xs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 0;
    padding-left: 0;
    float: left;
    width: 100%;
}

.width20px {
    width: 20px;
}