<div>
    <div *ngFor="let item of items | paginate: { itemsPerPage: itemsPerPage,
                                                      currentPage: page,
                                                      totalItems: totalItems }; let i = index;">
        <div class="padding10" *ngIf="!item.pending || roles.isNewsmaker || roles.isAuthor && roles.isSelf(item.userId)">
            <div class="row flex border-left-maroon" [class.material-pending]="item.pending">
                <div class="flex-vertical-center material-header col-xs-12">
                    <a [routerLink]="[+item.type === 1 ? '/news' : '/blogs', item.id]">
                        <h3 class="beauty-font" [textContent]="item.title"></h3>
                    </a>
                    <span class="pull-right">
                        <span *ngIf="item.pending && !roles.isEditor" class="glyphicon glyphicon-ok"></span>
                        <span *ngIf="roles.isEditor || roles.isSelf(item.userId)">
                            <a role="button" *ngIf="item.pending && roles.isEditor" (click)="showActivateModal(i)"><span class="glyphicon glyphicon-ok"></span></a>
                            <a [routerLink]="[+item.type === 1 ? '/news' : '/blogs', item.id, 'edit']"><span class="glyphicon glyphicon-pencil"></span></a>
                            <a role="button" (click)="showDeleteModal(i)"><span class="glyphicon glyphicon-trash"></span></a>
                        </span>

                    </span>
                </div>
                <div class="col-xs-6 col-sm-12 col-md-12 col-lg-6">
                    <img class="img-thumbnail news-mini center-block" [alt]="item.title" [src]="item.photo" />
                </div>
                <div class="col-xs-6 col-sm-12 col-md-12 col-lg-6 flex-vertical-center">
                    <i class=""> <span [innerHTML]="item.brief"></span></i>
                </div>
                <div class="col-xs-12 col-sm-12 material-info-panel">
                    <ul class="list-inline small small-offset">
                        <li class="">Категория:</li>
                        <li class=""><a [routerLink]="[+item.type === 1 ? '/news' : '/blogs']" [queryParams]="{page: page, categoryId: item.categoryId, userName: userName
                                        }" [textContent]="item.categoryName"></a></li>
                        <!--todo!!, userId: userId-->
                        <li class="">|</li>
                        <li class="">Время добавления:</li>
                        <li class="" [textContent]="item.additionTime | date:'medium'"></li>
                        <li class="">|</li>
                        <li class="">Просмотры:</li>
                        <li class="" [textContent]="item.reads"></li>
                        <li class="">|</li>
                        <li class="">Автор:</li>
                        <li class=""><a [routerLink]="['/users', item.userId ]" [textContent]="item.userName"></a></li>
                        <li *ngIf="item.canCommentary" class="">| Комментарии: <span [textContent]="item.commentsCount"></span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="pagination">
        <pagination-controls (pageChange)="pageChanged($event)"
                             directionLinks="true"
                             autoHide="true"
                             previousLabel="Назад"
                             nextLabel="Вперед"
                             screenReaderPaginationLabel="Постраничный вид"
                             screenReaderPageLabel="Страница"
                             screenReaderCurrentLabel="Вы на странице"></pagination-controls>
    </div>
</div>