<div class="" *ngIf="item">
    <div class="flex-vertical-center material-header">
        <h3 class="col-xs-12 col-sm-12">
            <span class="beauty-font" [textContent]="item.title"></span>
            <span class="pull-right" *ngIf="roles.isEditor || roles.isSelf(item.userId)">
                <a [hidden]="!item.pending || !roles.isEditor" (click)="showActivateModal(i)"><span class="glyphicon glyphicon-ok"></span></a>
                <a [routerLink]="['./edit']"><span class="glyphicon glyphicon-pencil"></span></a>
                <a role="button" (click)="showDeleteModal(i)"><span class="glyphicon glyphicon-trash"></span></a>
            </span>
        </h3>
    </div>
    <div class="col-xs-12 col-sm-12">
        <article [innerHTML]="sanitizeByHtml(item.message)"></article>
        <div class="alert-warning">
            <ul class="list-inline">
                <li><label>Просмотры:</label> <span [textContent]="item.reads"></span></li>
                <li><label>Источник:</label> <span [textContent]="item.source"></span></li>
                <li><label>Дата добавления:</label> <span [textContent]="item.additionTime | date:'medium'"></span></li>
                <li><label>Категория:</label> <a [routerLink]="[+item.type === 1 ? '/news' : '/blogs']" [queryParams]="{page: 1, categoryId: item.categoryId}"> <span [textContent]="item.categoryName"></span> </a></li>
            </ul>
        </div>
    </div>
    <comments [materialId]="item.id" [canCommentary]="item.canCommentary"></comments>
</div>