<div class="container-fluid">
    <div>
        <!--ng-if="vm.page > 0">-->
        <!--form class="form-inline">
        <div class="form-group">
            <select class="form-control"
                    ng-model="vm.categoryId"
                    ng-options="category.id as category.name for category in vm.categories" ng-change="vm.changeCategoryId()"></select>
        </div>
        <div class="form-group">
        <input class="form-control" ng-model="vm.userName" ng-model-options="{debounce: 1000}" ng-change="vm.filterByUserName()" placeholder="Логин"/>
        </div>
        </form-->
    </div>
    <div class="row" *ngFor="let item of items; let i = index;">
        <div class="padding10" *ngIf="!item.pending || roles.isEditor">
            <div class="row  border-left-maroon" >
                <div class="flex-vertical-center material-header col-xs-12">
                    <a [routerLink]="[+item.type === 1 ? '/news' : '/blogs', item.id]">
                        <h3 class="beauty-font" [textContent]="item.title"></h3>
                    </a>
                    <span class="pull-right" *ngIf="roles.isEditor || roles.isSelf(item.userId)">
                        <a role="button" *ngIf="item.pending && roles.isEditor" (click)="showActivateModal(i)"><span class="glyphicon glyphicon-ok"></span></a>
                        <a [routerLink]="[+item.type === 1 ? '/news' : '/blogs', item.id, 'edit']"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a role="button" (click)="showDeleteModal(i)"><span class="glyphicon glyphicon-trash"></span></a>
                    </span>
                </div>
                <div class="">
                    <img class="img-thumbnail news-mini center-block" [alt]="item.title" [src]="item.photoPath" />
                </div>
                <div class="col-xs-12">
                    <i> <span [innerHTML]="item.brief"></span></i>
                </div>
                <div class="col-xs-12 col-sm-12 material-info-panel">
                    <ul class="list-inline small small-offset">
                        <li class="">Категория:</li>
                        <li class=""><a [routerLink]="[+item.type === 1 ? '/news' : '/blogs']" [queryParams]="{page: page, categoryId: item.categoryId, userName: userName}" [textContent]="item.categoryName"></a></li>
                        <li class="">|</li>
                        <li class="">Время добавления:</li>
                        <li class="" [textContent]="item.additionTime | date:'medium'"></li>
                        <li class="">|</li>
                        <li class="">Просмотры</li>
                        <li class="" [textContent]="item.reads"></li>
                        <li class="">|</li>
                        <li class="">Автор:</li>
                        <li class=""><a [routerLink]="['/users', item.userId ]" [textContent]="item.userName"></a></li>
                        <li *ngIf="item.canCommentary" class="">| Комментарии: <span [textContent]="item.commentsCount"></span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="pagination">
        <pagination *ngIf="items" [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" [(ngModel)]="page" [maxSize]="7" (pageChanged)="pageChanged($event)"
                    previousText="&lsaquo;" nextText="&rsaquo;" firstText="1" lastText="totalItems/itemsPerPage"></pagination>
    </div>
</div>