<div class="top20" *ngIf="item">
    <form class="form-horizontal" name="editForm" role="form" [formGroup]="editForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label class="control-label col-xs-2 col-sm-2"> Категория:</label>
            <div class="col-xs-10 col-sm-10">
                <select class="form-control" name="categoryId" formControlName="categoryId">
                    <option *ngFor="let category of categories" [value]="category.id" [textContent]="category.name"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-2 col-sm-2"> Название:</label>
            <div class="col-xs-10 col-sm-10">
                <input class="form-control" name="title" formControlName="title" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-2 col-sm-2"> Краткое описание:</label>
            <div class="col-xs-10 col-sm-10"> 
                <bbeditor name="brief" [type]="1" [value]="item.brief" formControlName="brief"></bbeditor>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-2 col-sm-2"> Текст новости:</label>
            <div class="col-xs-10 col-sm-10">
                <bbeditor name="message" [type]="2" [value]="item.message" formControlName="message"></bbeditor>
            </div>
        </div>
        <div class="form-group">
            <md-input-container class="col-xs-12">
                <input mdInput formControlName="photoUrl" placeholder="Ссылка на фоторепортаж(пока только оф сайт)"/>
            </md-input-container>
            <button md-raised-button type="button" [disabled]="!editForm.get('photoUrl').value" (click)="copyPhoto()">Скопировать фото</button>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2"> Источник:</label>
            <div class="col-sm-10">
                <input class="form-control" name="source" formControlName="source"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-2 col-sm-2"> Главное фото:</label>
            <div class="col-xs-10 col-sm-10">
                <input class="form-control" name="photo" formControlName="photo" />
            </div>
            <image-addition [isMultiple]="false" (loadedImage)="updateImage($event)"></image-addition>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-2 col-sm-2"> Дополнительные фото:</label>
            <image-addition [isMultiple]="true" [controlName]="additional"></image-addition>
        </div>
        <div class="form-group">
            <div class="col-xs-offset-2 col-sm-offset-2 col-xs-10 col-sm-10">
                <div class="checkbox">
                    <label class="control-label">
                        <input class="checkbox" name="canCommentary" formControlName="canCommentary" type="checkbox" checked /> Разрешить комментарии
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-offset-2 col-sm-offset-2 col-xs-10 col-sm-10">
                <div class="checkbox">
                    <label class="control-label">
                        <input class="checkbox" name="onTop" formControlName="onTop" type="checkbox" /> Наверху
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group" *ngIf="roles.isEditor">
            <div class="col-xs-offset-2 col-sm-offset-2 col-xs-10 col-sm-10">
                <div class="checkbox">
                    <label class="control-label">
                        <input class="checkbox" name="pending" formControlName="pending" type="checkbox" /> Отложена
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-offset-2 col-sm-offset-2 col-xs-10 col-sm-10">
                <button md-raised-button color="warn" type="submit" [disabled]="!editForm.valid">Сохранить</button>
            </div>
        </div>
    </form>
</div>
