<ng-container *ngIf="{ isInformer: isInformer$ | async } as data">
    <div *ngIf="data.isInformer">
        <button mat-raised-button color="warn" [routerLink]="['/transfers', 0, 'edit']">Добавить</button>
        <button mat-raised-button [routerLink]="['/transfers']">К полному списку</button>
    </div>
    <mat-card class="top10">Общая сумма: <span [textContent]="totalOut - totalIn | currency:'GBP'"></span></mat-card>
    <div class="top20">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Пришли</h3>
            </div>
            <div class="panel-body">
                <div *ngFor="let transfer of comeIn; let i = index;">
                    <a *ngIf="data.isInformer" [routerLink]="['/persons', transfer.personId, 'edit']">
                        <span [textContent]="transfer.personName"></span>
                    </a>
                    <a *ngIf="data.isInformer" [routerLink]="['/transfers', transfer.id, 'edit']">
                        <mat-icon>edit</mat-icon>
                    </a>
                    <div *ngIf="!data.isInformer"> <b [textContent]="transfer.personName"></b></div>
                    <div *ngIf="transfer.clubName"> Из <img class="mini-logo" [src]="transfer.clubLogo"
                            [alt]="transfer.clubName" /><span [textContent]="transfer.clubName"></span></div>
                    <div>
                        Дата: <span [textContent]="transfer.startDate | date: 'd MMMM y'"></span>
                    </div>
                    <div *ngIf="transfer.onLoan" class="full-width">В аренде</div>
                    <div>
                        Сумма: <span *ngIf="transfer.amount>0" [textContent]="transfer.amount | currency:'GBP'"></span>
                        <span *ngIf="transfer.amount===null">Не определена</span>
                        <span *ngIf="transfer.amount===0">Свободный агент</span>
                    </div>
                    <hr *ngIf="i !== (comeIn.length - 1)" />
                </div>
            </div>
            <div class="panel-footer">
                <div>Всего: <span [textContent]="totalIn | currency:'GBP'"></span></div>
            </div>
        </div>
    </div>
    <div class="top20">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Ушли</h3>
            </div>
            <div class="panel-body">
                <div *ngFor="let transfer of comeOut; let i = index;">
                    <a *ngIf="data.isInformer" [routerLink]="['/transfers', transfer.id, 'edit']">
                        <div [textContent]="transfer.personName"></div>
                    </a>
                    <div *ngIf="!data.isInformer"> <b [textContent]="transfer.personName"></b></div>
                    <div *ngIf="transfer.clubName">В <img class="mini-logo" [src]="transfer.clubLogo"
                            [alt]="transfer.clubName" /><span [textContent]="transfer.clubName"></span></div>
                    <div>
                        Дата: <span [textContent]="transfer.startDate | date: 'd MMMM y'"></span>
                    </div>
                    <div *ngIf="transfer.onLoan" class="full-width">В аренде</div>
                    <div>Сумма: <span *ngIf="transfer.amount>0" [textContent]="transfer.amount | currency:'GBP'"></span>
                        <span *ngIf="transfer.amount===null">Не определена</span>
                        <span *ngIf="transfer.amount===0">Свободный агент</span>
                    </div>
                    <hr *ngIf="i !== (comeOut.length - 1)" />
                </div>
            </div>
            <div class="panel-footer">
                <div>Всего: <span [textContent]="totalOut | currency:'GBP'"></span></div>
            </div>
        </div>
    </div>
</ng-container>