<ng-container *ngIf="{ isInformer: isInformer$ | async } as data">
    <div class="full-width flex-space-between">
        <span>
            <span [textContent]="name"></span>
            <a *ngIf="data.isInformer" [routerLink]="['/matches', match.id, 'edit']"><i
                    class="material-icons color-red info">edit</i></a>
        </span>
        <span>
            <b class="info" [textContent]="match.dateTime | customDate:false:true"></b>
        </span>
    </div>

    <div class="full-width flex-space-around flex-v-c">
        <div class="text-center">
            <img [src]="match.homeClubLogo" class="center" [alt]="match.homeClubName" [title]="match.homeClubName">
            <strong class="clubName" [textContent]="match.homeClubName"></strong>
        </div>
        <div class="padding0 text-center">
            <a [routerLink]="['matches', match.id]" class="score text-center">
                <strong *ngIf="next; else scores" class="stadium center color-gold"
                    [textContent]="match.stadiumName"></strong>
                <ng-template #scores>
                    <strong class="score">
                        <span [textContent]="match.scoreHome"></span><span>:</span><span
                            [textContent]="match.scoreAway"></span>
                        <span class="full-width"
                            *ngIf="match.scorePenaltyHome || match.scorePenaltyAway">({{match.scorePenaltyHome}}-{{match.scorePenaltyAway}})</span>
                    </strong>
                </ng-template>
            </a>
        </div>
        <div class="text-center">
            <img [src]="match.awayClubLogo" class="center" [alt]="match.awayClubName" [title]="match.awayClubName">
            <strong class="clubName" [textContent]="match.awayClubName"></strong>
        </div>
    </div>
    <div class="full-width flex-space-around top10">
        <a *ngIf="match.previewId" [routerLink]="['/news', match.previewId]">Превью</a>
        <a *ngIf="next" [routerLink]="['/seasons/0/calendar']">
            <mat-icon matTooltip="Календарь">today</mat-icon>
        </a>
        <a [routerLink]="['matches', match.id]">
            <mat-icon matTooltip="Обсуждение">forum</mat-icon>
        </a>
        <a *ngIf="match.photoUrl" [routerLink]="['news', match.photoUrl]">Фото</a>
        <a *ngIf="match.videoUrl" [href]="match.videoUrl" target="_blank" rel="noopener">
            <mat-icon matTooltip="Видео">videocam</mat-icon>
        </a>
        <a *ngIf="match.reportId" [routerLink]="['news', match.reportId]">Вердикт</a>
    </div>
</ng-container>