<form class="form-horizontal full-width" role="form" [formGroup]="editInjuryForm" (ngSubmit)="onSubmit()">
    <select-person-form-field formControlName="personId" [personName]="editInjuryForm.controls['personName'].value">
    </select-person-form-field>

    <mat-form-field class="full-width">
        <input matInput [matDatepicker]="datePicker1" placeholder="Дата травмы" formControlName="startTime">
        <mat-datepicker-toggle matSuffix [for]="datePicker1"></mat-datepicker-toggle>
        <mat-datepicker #datePicker1 startView="month" touchUi="true"></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="full-width">
        <input matInput [matDatepicker]="datePicker2" placeholder="Дата возвращения" formControlName="endTime">
        <mat-datepicker-toggle matSuffix [for]="datePicker2"></mat-datepicker-toggle>
        <mat-datepicker #datePicker2 startView="month" touchUi="true"></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="full-width">
        <input matInput placeholder="Описание травмы(краткое)" formControlName="description">
    </mat-form-field>

    <div class="full-width text-center">
        <button mat-raised-button color="warn" type="submit" [disabled]="!editInjuryForm.valid"
            class="full-width">Сохранить</button>
    </div>
</form>