<ng-container *ngIf="{ isAdminAssistant: isAdminAssistant$ | async, isModerator: isModerator$ | async } as data">
    <table class="gTable" *ngIf="item">
        <tbody>
            <tr>
                <td class="gTableTop">
                    <div class="pull-left gTopCornerRight" [textContent]="item.name"></div>
                </td>
            </tr>
            <tr *ngFor="let message of items; let i = index;">
                <td class="">
                    <table class="full-width postTable">
                        <tbody>
                            <tr>
                                <td width="23%" class="postTdTop" align="center">
                                    <a class="postUser" [routerLink]="['/users', message.authorId]"
                                        [textContent]="message.authorUserName"></a>
                                </td>
                                <td class="postTdTop">
                                    <div class="h6" style="float: right">
                                        <!--<a tooltip="Хороший пост">
                                        <span class="glyphicon glyphicon-thumbs-up"></span>
                                    </a>
                                    <a tooltip="Плохой пост">
                                        <span class="glyphicon glyphicon-thumbs-down"></span>
                                    </a>-->
                                    </div>Дата: <span [textContent]="message.additionTime | date:'medium'"></span> |
                                    Сообщение # N/A
                                    <!--<a name="100821" class="postNumberLink" href="javascript://" rel="nofollow" onclick="prompt('Прямая ссылка к сообщению', 'ht/forum/44-1667-100821-16-1369831384');return false;">1</a>-->
                                </td>
                            </tr>
                            <tr>
                                <td class="postTdInfo" valign="top">
                                    <img [title]="message.authorUserName" class="userAvatar margin-auto"
                                        [src]="message.photo" [alt]="message.authorUserName">
                                    <div class="postRankName">Fields of Anfield Road</div>
                                    <div style="margin-bottom: 5px;">
                                        <b>Знатоки</b>
                                    </div>
                                    <div class="numposts">Сообщений: <span>N/A</span></div>


                                    <!--<div class="postUserGroup">Страна: Российская Федерация</div>
                                <div class="postUserGroup">Город: Rostov on Don</div>
                                <div class="reputation">Подарки: <a href="javascript://" rel="nofollow" onclick="new _uWnd('AwL', 'Список наград', 380, 200, {autosize:1, closeonesc:1, maxh:300, minh:100},{url:'/index/54-2733'});return false;" title="Список наград"><span class="repNums"><b>38</b></span></a> &nbsp;<a href="javascript://" rel="nofollow" onclick="new _uWnd('AwD','Вручить награду',380,200,{autosize:1,closeonesc:1,maxh:300,minh:100},{url:'/index/55-2733'});return false;"><span style="font-size:10pt" title="Вручить награду"><b>+</b></span></a>
                                <div class="reputation">Репутация: <a title="Смотреть историю репутации" class="repHistory" href="javascript://" rel="nofollow" onclick="new _uWnd('Rh',' ',400,250,{autosize:1,closeonesc:1,maxh:300,minh:100},{url:'/index/9-2733'});return false;"><b>824</b></a>  &nbsp;<a class="reputationDo" title="Изменить репутацию" href="javascript://" rel="nofollow" onclick="new _uWnd('Rd',' ',380,200,{autosize:1,closeonesc:1},{url:'/index/',type:'post',data:{a:'23',s:'2733',c:'/forum/44-1667-100821-16-1369831384'}});return false;"><span style="font-size:10pt"><b>&#177;</b></span></a></div>-->
                                    <div *ngIf="data.isAdminAssistant" class="userBan">
                                        Замечания:
                                        <a class="banPercent" title="Смотреть историю замечаний"
                                            onclick="new _uWnd('Bh',' ',400,250,{autosize:1,closeonesc:1,maxh:300,minh:100},{url:'/index/21-2733'});return false;">0%</a>
                                        &nbsp;
                                        <a title="Изменить уровень замечаний" class="banDo"
                                            onclick="new _uWnd('Bd',' ',400,250,{autosize:1,closeonesc:1,maxh:300,minh:100},{url:'/index/22-2733-1'});return false;">±</a>
                                    </div>
                                </td>
                                <td class="posttdMessage" valign="top">
                                    <span *ngIf="!isEditMode || selectedCommentIndex !== i" class="ucoz-forum-post"
                                        [innerHTML]="message.message | safe: 'html'"></span>
                                    <form *ngIf="isEditMode && selectedCommentIndex === i" class="form-horizontal"
                                        role="form" [formGroup]="commentForm" (ngSubmit)="editComment(i)">
                                        <div class="modal-body">
                                            <div>
                                                <bbeditor formControlName="message"></bbeditor>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-default" data-dismiss="modal"
                                                (click)="hideEditModal()" type="button">Отмена</button>
                                            <button class="btn btn-primary" [disabled]="!commentForm.valid"
                                                type="submit">Обновить</button>
                                        </div>
                                    </form>
                                </td>
                            </tr>
                            <tr>
                                <td class="postBottom" align="center">
                                    <div class="postip">
                                        <a *ngIf="data.isAdminAssistant" class="postIpLink" href=""
                                            target="_blank"></a>
                                        <!--   (<a href="javascript://" onclick="prompt( & quot;&quot;,&quot;Российская Федерация & quot;);return false;">RU</a>) ]-->
                                        <span class="">Оффлайн</span>
                                    </div>
                                </td>
                                <td class="postBottom">
                                    <span>
                                        <a [routerLink]="['/users', message.authorId]">
                                            <img class="inline" alt="" style="margin: 0; padding: 0; border: 0;"
                                                src="http://myu/.s/img/fr/bt/16/p_profile.gif"
                                                title="Профиль пользователя">
                                        </a>
                                        <!--<a href="javascript://" rel="nofollow" onclick="window.open('/index/14-2733-0-1', 'userpm', 'scrollbars=1,top=0,left=0,resizable=1,width=680,height=350');return false;">
                                        <img class="inline" alt="" style="margin: 0; padding: 0; border: 0;" src="http://myu/.s/img/fr/bt/16/p_pm.gif" title="Личное сообщение">
                                    </a>-->
                                        <!--<a>
                                        <img class="inline" alt="" style="cursor: pointer; margin: 0; padding: 0; border: 0;" src="http://.s/img/fr/bt/16/p_icq.gif" title="ICQ: 575285688" onclick="prompt('ICQ number', '575285688');">
                                    </a>
                                    <a href="" target="_blank">
                                        <img class="inline" src="http://.ru/desighn/vk.jpg" border="0" alt="">
                                    </a>
                                    <a class="postQuote">
                                        <img class="inline" alt="" style="margin: 0; padding: 0; border: 0;" src="http://.s/img/fr/bt/16/p_quote.gif" title="Цитировать">
                                    </a>-->
                                        <a *ngIf="data.isModerator || data.userId === item.authorId" role="button"
                                            (click)="showEditModal(i)">
                                            <img class="inline" alt="" style="margin: 0; padding: 0; border: 0;"
                                                src="http://img/fr/bt/16/p_edit.gif" title="Изменить сообщение">
                                        </a>
                                        <a *ngIf="data.isModerator" role="button" (click)="showDeleteModal(i)">
                                            <img class="inline" alt="" style="margin: 0; padding: 0; border: 0;"
                                                src="httru/.s/img/fr/bt/16/p_delete.gif" title="Удалить сообщение">
                                        </a>
                                        <!--<a class="inline goOnTop" href="javascript:scroll(0,0);">
                                        <img class="inline" alt="" style="margin: 0; padding: 0; border: 0;" src="http:/u/.s/img/fr/bt/16/p_up.gif" title="Вверх">
                                    </a>-->
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="postSeparator"></td>
            </tr>
        </tbody>

    </table>

    <forumMessage-addition [themeId]="item?.id" (newMessage)="addNewMessage($event)"></forumMessage-addition>
</ng-container>