<form *ngIf="!finish && !error" class="form-horizontal" role="form" [formGroup]="resetForm" (ngSubmit)="onSubmit()">
    <div class="full-width">
        <mat-form-field class="full-width">
            <input matInput formControlName="email" placeholder="Адрес электронной почты" />
        </mat-form-field>
        <div class="alert alert-danger" *ngIf="resetForm.controls['email'].touched && !resetForm.controls['email'].valid">
            <div *ngIf="resetForm.controls['email'].hasError('required')">Необходимо заполнить поле.</div>
            <div *ngIf="resetForm.controls['email'].hasError('minlength')">Значение должно превышать 6 символов.</div> <!--todo move to config-->
            <div *ngIf="resetForm.controls['email'].hasError('email')">Введенное значение не является допустимым адресом.</div>
        </div>

        <mat-form-field class="full-width">
            <input matInput formControlName="password" type="password" placeholder="Новый пароль" />
        </mat-form-field>
        <div class="alert alert-danger" *ngIf="resetForm.controls['password'].touched && !resetForm.controls['password'].valid">
            <div *ngIf="resetForm.controls['password'].hasError('required')">Необходимо заполнить поле.</div>
            <div *ngIf="resetForm.controls['password'].hasError('minlength')">Значение должно превышать 6 символов.</div> <!--todo move to config-->
        </div>
          
        <mat-form-field class="full-width">
            <input matInput formControlName="confirmPassword" type="password" placeholder="Еще раз новый пароль" />
        </mat-form-field>
        <div class="alert alert-danger" *ngIf="resetForm.controls['confirmPassword'].touched &&
                      (!resetForm.controls['confirmPassword'].valid || resetForm.hasError('mismatchedPasswords'))">
            <div *ngIf="resetForm.controls['confirmPassword'].hasError('required')">Необходимо заполнить поле.</div>
            <div *ngIf="resetForm.controls['confirmPassword'].hasError('minlength')">Значение должно превышать 6 символов.</div> <!--todo move to config-->
            <div *ngIf="resetForm.hasError('mismatchedPasswords')">Введенные пароли должны совпадать.</div>
        </div>
        <div class="full-width text-center">
            <button mat-raised-button
                    color="warn"
                    [disabled]="!resetForm.valid"
                    type="submit"
                    *ngIf="isHuman">Поменять пароль</button>
            <recaptcha [hidden]="isHuman" (isHuman)="isHuman = $event"></recaptcha>
        </div>
    </div>
</form>
<span *ngIf="finish">Пароль успешно установлен, пожалуйста, войдите и будьте как дома.</span>
<span *ngIf="error">Попытка сброса пароля завершилась неудачей, пожалуйста, пройдите по ссылке "забыл пароль" еще раз и повторите все шаги.</span>
