<section class="flex">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bg-primary flex padding0 border-panel border-lgray match-calendar" *ngIf="next">
        <div class="col-xs-5">Следующая игра </div>
        <div class="col-xs-7"><b style="font-size: 1.2em;" class="pull-right" [textContent]="next.dateTime | date:'d MMM y EEE j:mm'"></b></div>
        <div class="col-xs-4 col-sm-12 col-md-5 text-center">
            <img [src]="next.homeClubLogo" class="center" alt="next.homeClub" title="next.homeClubName">
            <strong style="font-size: 1.2em;" class="" [textContent]="next.homeClubName"></strong>
        </div>
        <div class="col-xs-4 col-sm-12 col-md-2 flex-vertical-center padding0 text-center">
            <strong class="score center"><span [textContent]="next.scoreHome"></span><span>:</span><span [textContent]="next.scoreAway"></span> </strong>
        </div>
        <div class="col-xs-4 col-sm-12 col-md-5 text-center">
            <img [src]="next.awayClubLogo" class="center" alt="next.awayClubName" title="next.awayClubName">
            <strong style="font-size: 1.2em;" class="text-center" [textContent]="next.awayClubName"></strong>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bg-light-blue flex padding0 border-panel border-lgray match-calendar" *ngIf="last">
        <div class="col-xs-5">Последняя игра </div><!--todo add back color for win|drar|lost-->
        <div class="col-xs-7">
            <span class="pull-right" [textContent]="last.dateTime | date:'d MMM y EEE j:mm'"></span>
        </div>
        <div class="col-xs-4 col-sm-12 col-md-5 text-center">
            <img [src]="last.homeClubLogo" class="center " alt="last.homeClub" title="last.homeClubName">
            <strong style="font-size: 1.2em;" [textContent]="last.homeClubName"></strong>
        </div>
        <div class="col-xs-4 col-sm-12 col-md-2 flex-vertical-center padding0">
            <strong class="score center"><span [textContent]="last.scoreHome"></span><span>:</span><span [textContent]="last.scoreAway"></span> </strong>
        </div>
        <div class="col-xs-4 col-sm-12 col-md-5 text-center">
            <img [src]="last.awayClubLogo" class="center" alt="last.awayClubName" title="last.awayClubName">
            <strong style="font-size: 1.2em;" [textContent]="last.awayClubName"></strong>
        </div>
        <div class="col-xs-12 infodate"><br>
            <a *ngIf="last.reportUrl" [routerLink]="['news', last.reportUrl]">Отчет</a>
            <a *ngIf="last.photoUrl" [routerLink]="['news', last.photoUrl]">Фото</a>
            <a *ngIf="last.videoUrl" [href]="last.videoUrl" target="_blank">Видео</a>
        </div>
    </div>
</section>