<form class="form-horizontal" name="editForm" role="form" [formGroup]="editForm" (ngSubmit)="onSubmit(editForm.value)">
    <div class="form-group">
        <label class="control-label col-xs-2 col-md-2">Cоперник</label>
        <div class="col-xs-10 col-md-10">
            <input (valueChanged)="updateClub($event)"
                   attr-placeholder="Введите слуб..."
                   ng2-auto-complete
                   class="form-control"
                   [list-formatter]="autocompleteListFormatter"
                   display-property-name="value"
                   formControlName="clubName"
                   loading-text="Загрузочка"
                   min-chars="2"
                   name="club"
                   type="text"
                   [source]="clubs"
                   autocomplete="off"/>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-2 col-sm-2"> Категория:</label>
        <div class="col-xs-10 col-sm-10">
            <select class="form-control" formControlName="typeId">
                <option *ngFor="let type of types" [value]="type.id" [textContent]="type.name"></option>
            </select>
        </div>
    </div>      
    <div class="form-group">
        <label class="control-label col-xs-2 col-sm-2"> Сезон:</label>
        <div class="col-xs-10 col-sm-10">
            <select class="form-control" formControlName="seasonId">
                <option *ngFor="let season of seasons" [value]="season.id" [textContent]="season.startSeasonYear + '-' + season.endSeasonYear"></option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-offset-2 col-sm-offset-2 col-xs-10 col-sm-10">
            <div class="checkbox">
                <label class="control-label">
                    <input class="checkbox" name="onTop" formControlName="isHome" type="checkbox" /> Дома <!--todo add switcher--> 
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-2 col-sm-2"> Время:</label>
        <div class="col-xs-10 col-sm-10">
            <timepicker formControlName="time" [showMeridian]="false"></timepicker>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Дата</label>
        <div class="col-md-5">
            <div class="input-group">
                <datepicker formControlName="date" [showWeeks]="true"></datepicker>
            </div>
        </div>
    </div>
    <div class="form-group">
            <label class="col-xs-2 control-label">Счет</label>
        <span class="col-xs-10 flex-container">
            <span class="col-xs-4">
                <input type="number" min="0" formControlName="scoreHome" class="form-control col-xs-2" />
            </span>
            <span class="col-xs-1 flex-vertical-center"><b>-</b></span>
            <span class="col-xs-4">
                <input type="number" min="0" formControlName="scoreAway" class="form-control" />
            </span>
        </span>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" [disabled]="!editForm.valid" class="btn btn-default">Сохранить</button>
        </div>
    </div>
</form>