<p><img alt="" src="http://www.myliverpool.ru/images/bplfacapone1.png" style="height: 90px;" /></p>

<hr />
<table class="table table-striped table-condensed" align="center" cellpadding="2" cellspacing="2" width="100%">
    <tbody>
        <tr>
            <td>П1</td>
            <td>18.07.16</td>
            <td>Транмир Роверс</td>
            <td style="width: 38px;">0 : 1</td>
            <td>Ливерпуль</td>
            <td>Прентон Парк</td>
            <td><a href="http://www.myliverpool.ru/news/tranmer_rovers_liverpul/2016-07-08-17797">Отчет</a> <a href="http://www.myliverpool.ru/news/fotoreportazh/2016-07-09-17798">Фото</a> <a href="http://vk.com/video-108388618_456239520">Видео</a></td>
        </tr>
        <tr>
            <td>П2</td>
            <td>13.07.16</td>
            <td>Флитвуд Таун</td>
            <td>0 : 5</td>
            <td>Ливерпуль</td>
            <td>Хайбери</td>
            <td><a href="http://www.myliverpool.ru/news/flitvud_taun_liverpul/2016-07-13-17822">Отчет</a> <a href="http://www.myliverpool.ru/news/fotoreportazh/2016-07-14-17824">Фото</a> <a href="http://vk.com/video-76470207_456244602">Видео</a></td>
        </tr>
        <tr>
            <td>П3</td>
            <td>17.07.16</td>
            <td>Уиган Атлетик</td>
            <td>0 : 2</td>
            <td>Ливерпуль</td>
            <td>Ди-дабл-ю</td>
            <td><a href="http://www.myliverpool.ru/news/uigan_atletik_liverpul/2016-07-17-17842">Отчет</a> <a href="http://www.myliverpool.ru/news/fotoreportazh/2016-07-18-17844">Фото</a> <a href="http://vk.com/video-28639294_456242179">Видео</a></td>
        </tr>
        <tr>
            <td>П4</td>
            <td>20.07.16</td>
            <td>Хаддерсфилд Таун</td>
            <td>0 : 2</td>
            <td>Ливерпуль</td>
            <td>Гэлфарм</td>
            <td><a href="http://www.myliverpool.ru/news/myliverpool_ru/2016-07-20-17862">Отчет</a> <a href="http://www.myliverpool.ru/news/fotoreportazh_matcha/2016-07-20-17863">Фото</a> <a href="https://vk.com/video-76470207_456244744">Видео</a></td>
        </tr>
        <tr>
            <td>П5</td>
            <td>28.07.16</td>
            <td>Челси</td>
            <td>1 : 0</td>
            <td>Ливерпуль</td>
            <td>Пассадена</td>
            <td><a href="http://www.myliverpool.ru/news/liverpul_chelsi/2016-07-27-17897">Отчет</a> <a href="http://www.myliverpool.ru/news/fotoreportazh/2016-07-28-17901">Фото</a> <a href="https://vk.com/video-104770729_456239578">Видео</a></td>
        </tr>
        <tr>
            <td>П6</td>
            <td>31.07.16</td>
            <td>Милан</td>
            <td>0 : 2</td>
            <td>Ливерпуль</td>
            <td>Леви</td>
            <td><a href="http://www.myliverpool.ru/news/liverpul_milan/2016-07-31-17908">Отчет</a> <a href="http://www.myliverpool.ru/news/fotoreportazh/2016-07-31-17910">Фото</a> <a href="https://vk.com/video-28639294_456242262">Видео</a></td>
        </tr>
        <tr>
            <td>П7</td>
            <td>02.08.16</td>
            <td>Рома</td>
            <td>2 : 1</td>
            <td>Ливерпуль</td>
            <td>Стадион Буша</td>
            <td><a href="http://www.myliverpool.ru/news/liverpul_roma/2016-08-01-17915">Отчет</a> <a href="http://www.myliverpool.ru/news/fotoreportazh/2016-08-02-17916">Фото</a> <a href="https://vk.com/video-120962911_456241005">Видео</a></td>
        </tr>
        <tr>
            <td>П8</td>
            <td>06.08.16</td>
            <td>Барселона</td>
            <td>0 : 4</td>
            <td>Ливерпуль</td>
            <td>Уэмбли</td>
            <td><a href="http://www.myliverpool.ru/news/barselona_liverpul/2016-08-06-17933">Отчет</a> <a href="http://www.myliverpool.ru/news/fotoreportazh/2016-08-06-17934">Фото</a> <a href="https://vk.com/video-28639294_456242350">Видео</a></td>
        </tr>
        <tr>
            <td>П9</td>
            <td>07.08.16</td>
            <td>Майнц</td>
            <td>4 : 0</td>
            <td>Ливерпуль</td>
            <td>Кофас Арена</td>
            <td><a href="http://www.myliverpool.ru/news/majnc_liverpul/2016-08-07-17937">Отчет</a> <a href="http://www.myliverpool.ru/news/fotoreportazh_majnc_4_0_liverpul/2016-08-07-17938">Фото</a> <a href="https://vk.com/video-76470207_456245195">Видео</a></td>
        </tr>
        <tr>
            <td>АПЛ1</td>
            <td>14.08.16</td>
            <td>Арсенал</td>
            <td>3 : 4</td>
            <td>Ливерпуль</td>
            <td>Эмирейтс</td>
            <td><a href="http://www.myliverpool.ru/news/arsenal_liverpul/2016-08-14-17964">Отчет</a> <a href="http://www.myliverpool.ru/news/fotoreportazh/2016-08-14-17969">Фото</a> <a href="https://vk.com/video-28639294_456242546">Видео</a></td>
        </tr>
        <tr>
            <td>АПЛ2</td>
            <td>20.08.16</td>
            <td>Бернли</td>
            <td>2 : 0</td>
            <td>Ливерпуль</td>
            <td>Терф Мур</td>
            <td><a href="http://www.myliverpool.ru/news/bernli_liverpul/2016-08-20-18006">Отчет</a> <a href="http://www.myliverpool.ru/news/fotoreportazh_matcha/2016-08-20-18007">Фото</a> <a href="https://vk.com/video-28639294_456242678">Видео</a></td>
        </tr>
        <tr>
            <td>КЛ</td>
            <td>23.08.16</td>
            <td>Бертон Альбион</td>
            <td>0 : 5</td>
            <td>Ливерпуль</td>
            <td>Пирелли Стэдиум</td>
            <td><a href="http://www.myliverpool.ru/news/berton_albion_liverpul/2016-08-23-18022">Отчет</a> <a href="http://www.myliverpool.ru/news/fotoreportazh_matcha/2016-08-23-18023">Фото</a> <a href="https://vk.com/video-28639294_456242789">Видео</a></td>
        </tr>
        <tr>
            <td>АПЛ3</td>
            <td>27.08.16</td>
            <td>Тоттенхэм</td>
            <td>1 : 1</td>
            <td>Ливерпуль</td>
            <td>Уайт Харт Лейн</td>
            <td><a href="http://www.myliverpool.ru/news/tottenkhehm_liverpul/2016-08-27-18041">Отчет</a> <a href="http://www.myliverpool.ru/news/fotoreportazh_matcha/2016-08-27-18043">Фото</a> <a href="https://vk.com/video359017891_456239493">Видео</a></td>
        </tr>
        <tr>
            <td>АПЛ4</td>
            <td>10.09.16</td>
            <td>Ливерпуль</td>
            <td>4 : 1</td>
            <td>Лестер</td>
            <td>Энфилд</td>
            <td><a href="http://www.myliverpool.ru/news/liverpul_lester_siti/2016-09-10-18103">Отчет</a> <a href="http://www.myliverpool.ru/news/fotoreportazh_matcha/2016-09-10-18104">Фото</a> <a href="https://vk.com/video-74938883_456239476">Видео</a></td>
        </tr>
        <tr>
            <td>АПЛ5</td>
            <td>16.09.16</td>
            <td>Челси</td>
            <td>1 : 2</td>
            <td>Ливерпуль</td>
            <td>Стэмфорд Бридж</td>
            <td><a href="http://www.myliverpool.ru/news/chelsi_liverpul/2016-09-16-18126">Отчет</a> <a href="http://www.myliverpool.ru/news/fotoreportazh_matcha/2016-09-17-18127">Фото</a> <a href="https://vk.com/video-28639294_456243399">Видео</a></td>
        </tr>
        <tr>
            <td>КЛ</td>
            <td>20.09.16</td>
            <td>Дерби</td>
            <td>0 : 3</td>
            <td>Ливерпуль</td>
            <td>Прайд Парк</td>
            <td><a href="http://www.myliverpool.ru/news/derbi_kaunti_liverpul/2016-09-20-18142">Отчет</a> <a href="http://www.myliverpool.ru/news/fotoreportazh_matcha/2016-09-20-18143">Фото</a> <a href="https://vk.com/video-108388618_456239700">Видео</a></td>
        </tr>
        <tr>
            <td>АПЛ6</td>
            <td>24.09.16</td>
            <td><span>Ливерпуль</span></td>
            <td>5 : 1</td>
            <td>Халл Сити</td>
            <td>Энфилд</td>
            <td><a href="http://www.myliverpool.ru/news/liverpul_khall_siti/2016-09-24-18159">Отчет</a> <a href="http://www.myliverpool.ru/news/fotoreportazh_matcha/2016-09-24-18160">Фото</a> <a href="https://ok.ru/video/96957500017">Видео</a></td>
        </tr>
        <tr>
            <td>АПЛ7</td>
            <td>01.10.16</td>
            <td>Суонси</td>
            <td>1 : 2</td>
            <td>Ливерпуль</td>
            <td>Либерти</td>
            <td><a href="http://www.myliverpool.ru/news/suonsi_liverpul/2016-10-01-18183">Отчет</a> <a href="http://www.myliverpool.ru/news/fotoreportazh_matcha/2016-10-01-18185">Фото</a> <a href="https://vk.com/video-22893032_456240266">Видео</a></td>
        </tr>
        <tr>
            <td>АПЛ8</td>
            <td>17.10.16</td>
            <td>Ливерпуль</td>
            <td>0 : 0</td>
            <td><span>Манчестер Юнайтед</span></td>
            <td>Энфилд</td>
            <td><a href="http://www.myliverpool.ru/news/liverpul_manchester_junajted/2016-10-17-18225">Отчет</a> <a href="http://www.myliverpool.ru/news/fotoreportazh_matcha/2016-10-18-18226">Фото</a> <a href="https://vk.com/video-128973102_456239954">Видео</a></td>
        </tr>
        <tr>
            <td>АПЛ9</td>
            <td>22.10.16</td>
            <td>Ливерпуль</td>
            <td>2 : 1</td>
            <td>Вест Бромвич Альбион</td>
            <td>Энфилд</td>
            <td><a href="http://www.myliverpool.ru/news/liverpul_vest_bromvich_albion/2016-10-22-18238">Отчет</a> <a href="http://www.myliverpool.ru/news/fotoreportazh_matcha/2016-10-22-18239">Фото</a> <a href="https://vk.com/video-128973102_456240157">Видео</a></td>
        </tr>
        <tr>
            <td>КЛ</td>
            <td>25.10.16</td>
            <td>Ливерпуль</td>
            <td>2 : 1</td>
            <td>Тоттенхэм</td>
            <td>Энфилд</td>
            <td><a href="http://www.myliverpool.ru/news/liverpul_tottenkhehm_khotspur/2016-10-25-18251">Отчет</a> <a href="http://www.myliverpool.ru/news/fotoreportazh_matcha/2016-10-25-18252">Фото</a> <a href="https://vk.com/video-96235813_456239635">Видео</a></td>
        </tr>
        <tr>
            <td>АПЛ10</td>
            <td>29.10.16</td>
            <td>Кристал Пэлас</td>
            <td>2 : 4</td>
            <td>Ливерпуль</td>
            <td>Селхерст Парк</td>
            <td><a href="http://www.myliverpool.ru/news/kristal_pehlas_liverpul/2016-10-29-18277">Отчет</a> <a href="http://www.myliverpool.ru/news/fotoreportazh/2016-10-29-18278">Фото</a> <a href="https://youtu.be/fNxtFgivvY4">Видео</a></td>
        </tr>
        <tr>
            <td>АПЛ11</td>
            <td>06.11.16</td>
            <td>Ливерпуль</td>
            <td>6 : 1</td>
            <td><span>Уотфорд</span></td>
            <td>Энфилд</td>
            <td><a href="http://www.myliverpool.ru/news/liverpul_0_0_uotford/2016-11-06-18316">Отчет</a> <a href="http://www.myliverpool.ru/news/fotoreportazh/2016-11-06-18318">Фото</a> <a href="https://www.youtube.com/watch?v=WVSRNjcwd4U">Видео</a></td>
        </tr>
        <tr>
            <td>АПЛ12</td>
            <td>19.11.16</td>
            <td>Саутгемптон</td>
            <td>0 : 0</td>
            <td>Ливерпуль</td>
            <td>Сент-Мэрис</td>
            <td><a href="http://www.myliverpool.ru/news/sautgempton_liverpul/2016-11-19-18379">Отчет</a> <a href="http://www.myliverpool.ru/news/fotoreportazh_matcha_sautgempton_vs_liverpul/2016-11-19-18380">Фото</a> <a href="https://vk.com/video-132522472_456239041">Видео</a></td>
        </tr>
        <tr>
            <td>АПЛ13</td>
            <td>26.11.16</td>
            <td>Ливерпуль</td>
            <td>2 : 0</td>
            <td>Сандерленд</td>
            <td>Энфилд</td>
            <td><a href="http://www.myliverpool.ru/news/liverpul_sanderlend/2016-11-26-18401">Отчет</a> <a href="http://www.myliverpool.ru/news/fotoreportazh_matcha/2016-11-26-18402">Фото</a> <a href="https://vk.com/video-128021824_456239280">Видео</a></td>
        </tr>
        <tr>
            <td>КЛ1/4</td>
            <td>29.11.16</td>
            <td>Ливерпуль</td>
            <td>2 : 0</td>
            <td>Лидс Юнайтед</td>
            <td>Энфилд</td>
            <td><a href="http://www.myliverpool.ru/news/liverpul_lids_junajted/2016-11-30-18416">Отчет</a> <a href="http://www.myliverpool.ru/news/fotoreportazh_matcha/2016-11-30-18417">Фото</a> <a href="https://vk.com/video-28639294_456245200">Видео</a></td>
        </tr>
        <tr>
            <td>АПЛ14</td>
            <td>04.12.16</td>
            <td>Борнмут</td>
            <td>4 : 3</td>
            <td>Ливерпуль</td>
            <td>Дин Корт</td>
            <td><a href="http://www.myliverpool.ru/news/bornmut_4_3_liverpul/2016-12-04-18432">Отчет</a> <a href="http://www.myliverpool.ru/news/fotoreportazh/2016-12-04-18433">Фото</a> <a href="https://vk.com/video-1029342_456240282">Видео</a></td>
        </tr>
        <tr>
            <td>АПЛ15</td>
            <td>11.12.16</td>
            <td>Ливерпуль</td>
            <td>2 : 2</td>
            <td>Вест Хэм</td>
            <td>Энфилд</td>
            <td><a href="http://www.myliverpool.ru/news/liverpul_vest_khehm/2016-12-11-18461">Отчет</a> <a href="http://www.myliverpool.ru/news/fotoreportazh_matcha/2016-12-11-18462">Фото</a> <a href="https://vk.com/video-122493044_456240479">Видео</a></td>
        </tr>
        <tr>
            <td>АПЛ16</td>
            <td>14.12.16</td>
            <td>Миддлсбро</td>
            <td>0 : 3</td>
            <td>Ливерпуль</td>
            <td>Риверсайд</td>
            <td><a href="http://www.myliverpool.ru/news/midlsbro_liverpul/2016-12-15-18472">Отчет</a> <a href="http://www.myliverpool.ru/news/foto_midlsbro_liverpul/2016-12-15-18473">Фото</a> <a href="https://vk.com/video-117835363_456240480">Видео</a></td>
        </tr>
        <tr>
            <td>АПЛ17</td>
            <td>19.12.16</td>
            <td>Эвертон</td>
            <td>0 : 1</td>
            <td>Ливерпуль</td>
            <td>Гудиссон</td>
            <td><a href="http://www.myliverpool.ru/news/ehverton_liverpul/2016-12-20-18488">Отчет</a> <a href="http://www.myliverpool.ru/news/fotoreportazh_matcha/2016-12-20-18489">Фото</a> <a href="https://vk.com/video-125580692_456239341">Видео</a></td>
        </tr>
        <tr>
            <td>АПЛ18</td>
            <td>27.12.16</td>
            <td>Ливерпуль</td>
            <td>- : -</td>
            <td>Сток Сити</td>
            <td>Энфилд</td>
            <td>20:15 МСК</td>
        </tr>
        <tr>
            <td>АПЛ19</td>
            <td>31.12.16</td>
            <td>Ливерпуль</td>
            <td>- : -</td>
            <td>Манчестер Сити</td>
            <td>Энфилд</td>
            <td>20:30 МСК</td>
        </tr>
        <tr>
            <td>АПЛ20</td>
            <td>02.01.17</td>
            <td>Сандерленд</td>
            <td>- : -</td>
            <td>Ливерпуль</td>
            <td>Стэдиум Оф Лайт</td>
            <td>18:00 МСК</td>
        </tr>
        <tr>
            <td>АПЛ21</td>
            <td>15.01.17</td>
            <td>Манчестер Юнайтед</td>
            <td>- : -</td>
            <td>Ливерпуль</td>
            <td>Олд Траффорд</td>
            <td>19:00 МСК</td>
        </tr>
        <tr>
            <td>АПЛ22</td>
            <td>21.01.17</td>
            <td>Ливерпуль</td>
            <td>- : -</td>
            <td>Суонси</td>
            <td>Энфилд</td>
            <td>22:45 МСК</td>
        </tr>
        <tr>
            <td>АПЛ23</td>
            <td>31.01.17</td>
            <td>Ливерпуль</td>
            <td>- : -</td>
            <td>Челси</td>
            <td>Энфилд</td>
            <td>23:00 МСК</td>
        </tr>
        <tr>
            <td>АПЛ24</td>
            <td>04.02.17</td>
            <td>Халл Сити</td>
            <td>- : -</td>
            <td>Ливерпуль</td>
            <td>Кингстон</td>
            <td>18:00 МСК</td>
        </tr>
    </tbody>
</table>

<div style="padding: 20px;">
    <form action="../">
        <select onchange="window.open(this.options[this.selectedIndex].value, '_top')">
            <option selected="selected" value="http://www.myliverpool.ru/index/kalendar_sezona_2016_2017/0-263">Сезон 2016/17</option>
            <option value="http://www.myliverpool.ru/index/kalendar_igry_2015_16/0-262">Сезон 2015/16</option>
            <option value="http://www.myliverpool.ru/index/kalendar_igr_2014_15/0-229">Сезон 2014/15</option>
            <option value="http://www.myliverpool.ru/index/kalendar_igr/0-56">Сезон 2013/14</option>
        </select>
    </form>
</div>
