<form class="form-horizontal" name="editForm" role="form" [formGroup]="editMatchForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label class="control-label col-xs-2 col-md-2">Cоперник</label>
        <div class="col-xs-10 col-md-10">
            <input (valueChanged)="updateClub($event)"
                   attr-placeholder="Введите слуб..."
                   ng2-auto-complete
                   class="form-control"
                   [list-formatter]="autocompleteListFormatter"
                   display-property-name="value"
                   formControlName="clubName"
                   loading-text="Загрузочка"
                   min-chars="2"
                   name="club"
                   type="text"
                   [source]="clubs"
                   autocomplete="off"/>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-2 col-sm-2"> Категория:</label>
        <div class="col-xs-10 col-sm-10">
            <select class="form-control" formControlName="typeId">
                <option *ngFor="let type of types" [value]="type.id" [textContent]="type.name"></option>
            </select>
        </div>
    </div>      
    <div class="form-group">
        <label class="control-label col-xs-2 col-sm-2"> Сезон:</label>
        <div class="col-xs-10 col-sm-10">
            <select class="form-control" formControlName="seasonId">
                <option *ngFor="let season of seasons" [value]="season.id" [textContent]="season.startSeasonYear + '-' + season.endSeasonYear"></option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-offset-2 col-sm-offset-2 col-xs-10 col-sm-10">
            <div class="checkbox">
                <label class="control-label">
                    <input class="checkbox" name="onTop" formControlName="isHome" type="checkbox" /> Дома <!--todo add switcher--> 
                </label>
            </div>
        </div>
    </div>
    <md-input-container class="full-width">
        <input mdInput placeholder="Стадион" [mdAutocomplete]="auto" formControlName="stadiumName">
    </md-input-container>

    <md-autocomplete #auto="mdAutocomplete">
        <md-option *ngFor="let stadium of filteredStadiums$ | async"
                   [value]="stadium.name"
                   (click)="selected(stadium.id)"
                   [textContent]="stadium.name">
        </md-option>
    </md-autocomplete>
    <div class="form-group">
        <label class="control-label col-xs-2 col-sm-2"> Время:</label>
        <div class="col-xs-10 col-sm-10">
            <input type="time" formControlName="time"/>
        </div>
    </div>
    <md-input-container>
        <input mdInput [mdDatepicker]="datePicker" placeholder="Выберите дату" formControlName="date">
        <button mdSuffix [mdDatepickerToggle]="datePicker"></button>
    </md-input-container>
    <md-datepicker #datePicker startView="year" touchUi="true"></md-datepicker>
    <div class="form-group">
        <label class="col-xs-2 control-label">Счет</label>
        <span class="col-xs-10 flex-container">
            <span class="col-xs-4">
                <input type="number" min="0" formControlName="scoreHome" class="form-control col-xs-2" />
            </span>
            <span class="col-xs-1 flex-vertical-center"><b>-</b></span>
            <span class="col-xs-4">
                <input type="number" min="0" formControlName="scoreAway" class="form-control" />
            </span>
        </span>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-2 col-sm-2"> Отчет:</label>
        <div class="col-xs-10 col-sm-10">
            <input class="form-control" name="reportUrl" formControlName="reportUrl"/>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-2 col-sm-2"> Фото:</label>
        <div class="col-xs-10 col-sm-10">
            <input class="form-control" name="photoUrl" formControlName="photoUrl"/>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-2 col-sm-2"> Видео:</label>
        <div class="col-xs-10 col-sm-10">
            <input class="form-control" name="videoUrl" formControlName="videoUrl"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" [disabled]="!editMatchForm.valid" class="btn btn-default">Сохранить</button>
        </div>
    </div>
</form>