<ul class="maroon-panel login-list-panel padding10"> <!--todo add else-->
    <li *ngIf="!roles.isLogined">
        <account-signin></account-signin>
    </li>
    <li *ngIf="roles.isLogined" class="flex-space-around">
        <a [routerLink]="['/users', 0]" class="text-white flex-space-around"><mat-icon>person</mat-icon>Профиль</a>
        <pm-counter></pm-counter>
        <notification-counter></notification-counter>
        <a role="button" (click)="logout()" class="text-white">Выйти</a>
    </li>
</ul>
<div class="full-width flex">
    <a mat-raised-button class="split-button color-back-gold" [routerLink]="['/news']" [queryParams]="{page: 1, categoryId: 90}"><b>Клуб Прогнозов</b></a>
    <a mat-raised-button class="split-button color-back-maroon color-gold" [routerLink]="['/fantasy']"><b>Fantasy</b></a>
</div>
<section class="top10">
       <mini-chat></mini-chat>
    <a mat-raised-button class="full-width color-back-gold" [routerLink]="['/news', 18096]"><b>Галерея личностей</b></a>
</section>
<section class="full-width top10">
 <user-birthday></user-birthday> 
</section>
<comment-last></comment-last>
<div *ngIf="roles.isAdminAssistant">
    <a [routerLink]="['/plans']">Планы</a>
    <a [routerLink]="['/instructions']">Инструкции</a>
</div>
<a mat-raised-button class="full-width color-back-gold" [routerLink]="['/job']"><b>Вакансии</b></a>
