<div ng-init="init()">
    <div ng-repeat="file in files">
        <a ui-sref="images({path: file.path})"><div ng-if="file.isFolder" class="col-md-2 bg-danger" style="height: 50px; margin: 10px">{{file.name}}</div></a>
        <img class="col-md-2" ng-if="!file.isFolder" ng-src="{{file.path}}" style="height: 50px; margin: 10px"/>
    </div>
</div>