<div ng-init="init()">
    {{ ob | json}}
    <div ng-repeat="file in files">
        <div ng-if="file.isFolder" class="col-md-3 bg-danger">{{file}}</div>
        <img class="col-md-3" ng-if="!file.isFolder" ng-src="{{file.path}}" />
    </div>
</div>