<button class="btn btn-success" [routerLink]="[0, 'edit']">Добавить</button>
<form class="form-inline" [formGroup]="filterForm" (ngSubmit)="filter()">
    <div class="form-group">
        <md-select class="form-control"
                formControlName="typeId">
            <md-option value="">Все группы</md-option>
            <md-option *ngFor="let roleGroup of roleGroups" [value]="roleGroup.id" [textContent]="roleGroup.russianName"></md-option>
        </md-select>
    </div>
    <div class="form-group">
        <input class="form-control" formControlName="name" placeholder="Имя" />
    </div>
    <button class="btn btn-success"> Отфильтровать</button>
</form>
<div class="top20" *ngFor="let person of items | paginate: { itemsPerPage: itemsPerPage,
                                                      currentPage: page,
                                                      totalItems: totalItems }; let i = index;">
    <div class="panel" >
        <div class="panel-heading">
            <h3 class="panel-title">
                <a [routerLink]="[person.id, 'edit']">
                    <span [textContent]="person.lastRussianName + ' ' + person.firstRussianName"></span>
                </a>
                <span class="col-xs-2 col-sm-2 pull-right">
                    <a *ngIf="person.type === 1" (click)="setAsBestPlayer(person.id)"><span class="glyphicon glyphicon-bookmark"></span></a>
                    <!--<a ng-click="vm.delete(i)"><span class="glyphicon glyphicon-trash"></span></a>-->
                </span>
            </h3>
        </div>
        <div class="panel-body">
            <div [textContent]="person.name"></div>
            <div *ngIf="person.position">Позиция/должность: <span [textContent]="person.position"></span></div>
            <div *ngIf="person.country">Страна: <span [textContent]="person.country"></span></div>
        </div>
        <div class="panel-footer">
            <div [textContent]="person.birthday | date:'yMMMMd'"></div>
        </div>
    </div>
</div>
<div class="pagination">
    <pagination-controls (pageChange)="pageChanged($event)" 
                         directionLinks="true"
                         autoHide="true"
                         previousLabel="Назад"
                         nextLabel="Вперед"
                         screenReaderPaginationLabel="Постраничный вид"
                         screenReaderPageLabel="Страница"
                         screenReaderCurrentLabel="Вы на странице"></pagination-controls>
</div>