@using MyLiverpool.Business.Resources

  @UsersMessages.YouAreBanned;


<hgroup>
    <h1 class="text-danger">@UsersMessages.YouAreBanned</h1>
    <h2 class="text-danger">@UsersMessages.YourBanWillEndAt </h2>
</hgroup>
