@using MyLiverpool.Business.Resources
<div>
    <form class="form-horizontal" name="resetForm1" role="form">
        <div class="col-md-12">
            <div class="form-group">
                <label class="col-md-2  control-label">@ColonsMessages.Email</label>
                <div class="col-md-10">
                    <input type="text" name="email" ng-model="resetForm.email" validation="email|required" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2  control-label">@ColonsMessages.Password</label>
                <div class="col-md-10">
                    <input type="password" name="password" ng-model="resetForm.password" validation="min_len:6|required" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2  control-label">@ColonsMessages.PasswordConfirmation</label>
                <div class="col-md-10">
                    <input type="password" name="confirmPassword" ng-model="resetForm.confirmPassword" validation="required|match:resetForm.password,@UsersMessages.Password|min_len:6" class="form-control" />
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" ng-disabled="resetForm1.$invalid" ng-click="reset()" class="btn btn-default" value="@CommonMessages.Reset" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
