<nav class="maroon-panel beauty-font nav flex-space-around flex-v-c">
    <button type="button" mat-button (click)="toggle.emit()" class="text-white">
        <mat-icon>menu</mat-icon>
    </button>
    <a class="logo-link" role="button" [routerLink]="['/']">
        <img src="/content/logo34.png" class="logo" alt="MyLFC.ru" />
    </a>
    <navbar-menu class="flex-space-around header-nav"></navbar-menu>

    <ng-container *ngIf="!roles.isLogined;else logined">        
        <button type="button" [routerLink]="['/account/signin']" mat-button class="text-white">
            <mat-icon>person</mat-icon>
        </button>
    </ng-container>
    <ng-template #logined>
        <a [routerLink]="['/users', 0]" class="text-white">
            <mat-icon>person</mat-icon>
        </a>
    </ng-template>
    <ad [blockName]="'R-A-255349-4'" class="ad" *ngIf="showAd"></ad>
</nav>