.logo-link {
    height: 90px;
    width: 310px;
}
@media(max-width: 1050px) {
    .logo-link {
        height: 63px;
        width: 240px;
    }}

.logo {
    width: inherit;
}

@media(max-width: 1810px) { /* should based on menu length? todo*/
    .liverbird-navbar {
        display: none;
    }
}

@media(min-width: 1810px) {
    .liverbird-navbar {
        margin-left: auto;
        /*max-height: 81px;*/
    }
}

.header-nav {
    font-size: large;
    height: auto;
    overflow: hidden;

    div:not(:first-child) {
        margin-left: 10px;
    }
}

@media(max-width: 700px) {
    .header-nav {
        display: none;
    }
}

.mat-button {
    min-width: 66px;
    height: 100%;
}

@media(min-width: 906px) {
    .mat-button {
        display: none;
    }
}

.nav {
    display: flex;
    flex: auto;
    width: 100%
}

.ad {
    height: 90px;
    width: calc(100% - 310px - 584px);
}
