<form class="form-horizontal" role="form" [formGroup]="editPmForm" (ngSubmit)="onSubmit()">
    <h2>Написать сообщение</h2>
    <mat-form-field class="full-width">
        <input matInput placeholder="Получатель" [matAutocomplete]="user" formControlName="receiver">
        <mat-autocomplete #user="matAutocomplete">
            <mat-option *ngFor="let user of users$ | async" [value]="user.username" (click)="selectUser(user.id)">
                <span>{{ user.username }}</span>
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="full-width">
        <input matInput placeholder="Заголовок" formControlName="title">
    </mat-form-field>

    <mat-form-field class="full-width">
        <textarea matInput matTextareaAutosize matAutosizeMinRows="4" placeholder="Сообщение" formControlName="message"></textarea>
    </mat-form-field>

    <div class="full-width text-center">
        <button mat-raised-button color="warn" [disabled]="!editPmForm.valid" type="submit">Отправить</button>
    </div>
</form>