<div>
    <table *ngIf="season" class="table table-condensed table-bordered table-hover">
        <tbody class="">
        <tr *ngFor="let match of season.matches; let i = index;" class="center-middle">
            <td [textContent]="i+1">
            </td>
            <td>
                <span [textContent]="match.typeName"></span>
            </td>
            <td>
                <span><span [textContent]="match.dateTime | date:'d MMM y j:mm'"></span><a *ngIf="roles.isAdminAssistant" [routerLink]="['/matches', match.id, 'edit']"><span class="glyphicon glyphicon-pencil"></span></a></span>
            </td>
            <td>
                <img class="club-logo" [src]="match.homeClubLogo" [alt]="match.homeClubName">
                <span [textContent]="match.homeClubName"></span>
            </td>
            <td>
                <span [textContent]="match.scoreHome"></span>:<span [textContent]="match.scoreAway"></span>
            </td>
            <td>
                <img class="club-logo" [src]="match.awayClubLogo" [alt]="match.awayClubName">
                <span [textContent]="match.awayClubName"></span>
            </td>
            <td>
                <span [textContent]="match.stadiumName"></span>
            </td>
            <td>
                <a *ngIf="match.reportUrl" [routerLink]="['/news', match.reportUrl]">Отчет</a>
                <a *ngIf="match.photoUrl" [routerLink]="['/news', match.photoUrl]">Фото</a>
                <a *ngIf="match.videoUrl" [href]="match.videoUrl" target="_blank">Видео</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>