<!-- BEGIN of Soccerway widget HTML fragment --><!-- Personal code for this widget: 0fssvo76bgEyX1ifo -->
<iframe frameborder="0"
        height="520"
        marginheight="0"
        marginwidth="0"
        scrolling="no" 
        src="http://widgets.soccerway.com/widget/free/classic/competition/8/#d=650x600&amp;f=table,table_colmp,table_colmw,table_colmd,table_colml,table_colgf,table_colga,table_colgd,results,fixtures,scroll&amp;cbackground=FFFFFF&amp;ctext=000000&amp;ctitle=F81900&amp;cshadow=E8E8E8&amp;cbutton=C0C0C0&amp;cbuttontext=000000&amp;chighlight=FF0000&amp;tbody_family=Tahoma,sans-serif&amp;tbody_size=12&amp;tbody_weight=normal&amp;tbody_style=normal&amp;tbody_decoration=none&amp;tbody_transform=none&amp;ttitle_family=Impact,sans-serif&amp;ttitle_size=13&amp;ttitle_weight=normal&amp;ttitle_style=normal&amp;ttitle_decoration=none&amp;ttitle_transform=none&amp;ttab_family=Tahoma,sans-serif&amp;ttab_size=12&amp;ttab_weight=normal&amp;ttab_style=normal&amp;ttab_decoration=none&amp;ttab_transform=none"
         width="650">
    
</iframe><!-- END of Soccerway widget HTML fragment -->
<!--<br/><br/>
[b]<a href="http://www.myliverpool.ru/index/barclays_premier_league/0-7">Сезон 12/13</a>[/b]
<br/><br/>
[b]<a href="http://www.myliverpool.ru/index/turnirnaja_tablica_sezona_09_10/0-60">Сезон 09/10</a>[/b]-->

<div style="padding: 20px;">
    <form action="../"><select onchange="window.open(this.options[this.selectedIndex].value, '_top')">
        <option selected="selected" value="http://www.myliverpool.ru/index/premer_liga_2013_2014_polozhenie_komand/0-153">Сезон 2013/14</option>
        <option value="http://www.myliverpool.ru/index/barclays_premier_league/0-7">Сезон 2012/13</option>
        <option value="http://www.myliverpool.ru/index/premer_liga_2011_2012_polozhenie_komand/0-189">Сезон 2011/12</option>
        <option value="http://www.myliverpool.ru/index/premer_liga_2010_2011_polozhenie_komand/0-190">Сезон 2010/11</option>
        <option value="http://www.myliverpool.ru/index/premer_liga_2009_2010_polozhenie_komand/0-193">Сезон 2009/10</option>
        <option value="http://www.myliverpool.ru/index/premer_liga_2008_2008_polozhenie_komand/0-194">Сезон 2008/09</option>
        <option value="http://www.myliverpool.ru/index/premer_liga_2007_2008_polozhenie_komand/0-209">Сезон 2007/08</option>
        <option value="http://www.myliverpool.ru/index/premer_liga_2006_2007_polozhenie_komand/0-210">Сезон 2006/07</option>
        <option value="http://www.myliverpool.ru/index/premer_liga_2005_2006_polozhenie_komand/0-213">Сезон 2005/06</option>
        <option value="http://www.myliverpool.ru/index/premer_liga_2004_2005_polozhenie_komand/0-214">Сезон 2004/05</option>
        <option value="http://www.myliverpool.ru/index/premer_liga_2003_2004_polozhenie_komand/0-215">Сезон 2003/04</option>
        <option value="http://www.myliverpool.ru/index/premer_liga_2002_2003_polozhenie_komand/0-216">Сезон 2002/03</option>
        <option value="http://www.myliverpool.ru/index/premer_liga_2001_2002_polozhenie_komand/0-217">Сезон 2001/02</option>
        <option value="http://www.myliverpool.ru/index/premer_liga_2000_2001_polozhenie_komand/0-218">Сезон 2000/01</option>
        <option value="http://www.myliverpool.ru/index/premer_liga_1999_2000_polozhenie_komand/0-219">Сезон 1999/00</option>
        <option value="http://www.myliverpool.ru/index/premer_liga_1998_1999_polozhenie_komand/0-220">Сезон 1998/99</option>
        <option value="http://www.myliverpool.ru/index/premer_liga_1997_1998_polozhenie_komand/0-221">Сезон 1997/98</option>
        <option value="http://www.myliverpool.ru/index/premer_liga_1996_1997_polozhenie_komand/0-222">Сезон 1996/97</option>
        <option value="http://www.myliverpool.ru/index/premer_liga_1995_1996_polozhenie_komand/0-223">Сезон 1995/96</option>
        <option value="http://www.myliverpool.ru/index/premer_liga_1994_1995_polozhenie_komand/0-224">Сезон 1994/95</option>
        <option value="http://www.myliverpool.ru/index/premer_liga_1993_1994_polozhenie_komand/0-225">Сезон 1993/94</option>
        <option value="http://www.myliverpool.ru/index/premer_liga_1992_1993_polozhenie_komand/0-226">Сезон 1992/93</option>
    </select></form>
</div>