<div class="container-fluid" *ngIf="item">
    <h2>
        <span [textContent]="item.userName"></span>
        <span ng-show="loggedIn() && !isSelf(user.id)">
            <a ui-sref="wpm({ userName: user.userName })"><span class="glyphicon glyphicon-envelope"></span></a>
        </span>
    </h2>
    <div class="row">
        <div class="col-xs-2 col-sm-2">
            <img class="avatar" src="{{item.photo}}" />
        </div>
        <!--div class="col-xs-10 col-sm-10">
            <div ng-if="isSelf(vm.user.id) || isModerator()">
                <button class="btn btn-info" ngf-select="vm.uploadFiles($file, $invalidFiles)"
                        accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">
                    Обновить аватар
                </button>
                <button ng-if="isSelf(vm.user.id)" class="btn btn-danger" ui-sref="changePassword()"> Изменить пароль</button>
                <br><br>
                <div>
                    <span ng-show="vm.errFile.$error" ng-bind="vm.errFile.$error"></span>
                    <span ng-show="vm.errFile.$errorParam" ng-bind="vm.errFile.$errorParam"></span>
                    <span class="progress" ng-show="f.progress >= 0">
                        <span style="width:{{f.progress}}%" ng-bind="f.progress + '%'"></span>
                    </span>
                </div>
                {{vm.errorMsg}}
            </div>
        </!div-->
    </div>

    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label class="col-sm-2 control-label">Логин</label>
            <div class="col-sm-10">
                <span class="form-control" [textContent]="item.userName"></span>
            </div>
        </div>
        <div ng-if="isModerator() && !isSelf(item.id)" class="form-group">
            <label class="col-xs-2 col-sm-2 control-label">Забанить</label>
            <div class="" ng-show="!item.lockoutEndDateUtc">
                <div class="col-xs-2 col-sm-2">
                    <input min="0" type="number" placeholder="Количество дней" class="form-control" ng-model="item.banDaysCount" />
                </div>
                <div class="col-xs-8 col-sm-8">
                    <button class="btn btn-danger" ng-click="vm.ban()" ng-disabled="item.banDaysCount <= 0">Забанить</button>
                </div>
            </div>
            <div class="col-xs-10 col-sm-10" ng-show="item.lockoutEndDateUtc">
                <span class="col-xs-8 col-sm-8 flex-vertical-center" ng-if="item.lockoutEndDateUtc">Активность заблокирована до <span [textContent]="item.lockoutEndDateUtc | date:'medium'"></span></span>
                <button class="btn btn-success" ng-if="isMainModerator()" ng-click="vm.unban()">Снять бан</button>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 col-sm-2 control-label">Группа:</label>
            <div class="col-xs-10 col-sm-10">
                <div>
                    <span ng-if="!isAdmin()" class="form-control" [textContent]="item.roleGroupName"></span>
                    <select ng-if="isAdmin()" class="form-control" name="newsCategoryId"
                            ng-model="item.roleGroupId"
                            ng-options="roleGroup.id as roleGroup.name for roleGroup in vm.roleGroups" validation="required" ng-change="vm.editRole()"></select>
                </div>
            </div>
        </div>
        <div class="form-group" ng-if="isSelf() || isAdmin()">
            <label class="col-xs-2 col-sm-2 control-label" ng-show="item.emailConfirmed">Почта</label>
            <label class="col-xs-2 col-sm-2 control-label text-danger" uib-tooltip="Почта не подтверждена" ng-show="!item.emailConfirmed">Почта</label>
            <div class="col-xs-10 col-sm-10">
                <span class="form-control" [textContent]="item.email"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 col-sm-2 control-label">Последний вход </label>
            <div class="col-xs-10 col-sm-10">
                <span class="form-control" [textContent]="item.lastModifiedOn | date:'medium'"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 col-sm-2 control-label">Дата регистрации</label>
            <div class="col-xs-10 col-sm-10">
                <span class="form-control" [textContent]="item.registrationDate | date:'medium'"></span>
            </div>
        </div>
        <div class="form-group" *ngIf="item.fullName">
            <label class="col-xs-2 col-sm-2 control-label">Полное имя</label>
            <div class="col-xs-10 col-sm-10">
                <span class="form-control" [textContent]="item.fullName"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 col-sm-2 control-label">День рождения</label>
            <div class="col-xs-10 col-sm-10">
                <span class="form-control" [textContent]="item.birthday | date:'longDate'"></span>
            </div>
        </div>
        <div class="form-group" ng-if="item.gender">
            <label class="col-xs-2 col-sm-2 control-label">Пол</label>
            <div class="col-xs-10 col-sm-10">
                <span class="form-control" *ngIf="item.gender">Девушка</span>
                <span class="form-control" *ngIf="!item.gender">Парень</span>
            </div>
        </div>
        <div>
            <ul class="list-inline">
                <li *ngIf="item.newsCount > 0"><a ui-sref="news({ page: 1, userName: vm.user.userName})">Новости(<span [textContent]="item.newsCount"></span>)</a></li>
                <li>|</li>
                <li *ngIf="item.blogsCount > 0"><a ui-sref="blog({page: 1, userName: vm.user.userName})">Блоги(<span [textContent]="item.blogsCount"></span>)</a></li>
            </ul>
        </div>
    </form>
</div>

<script type="text/ng-template" id="changeRoleConfirmation.html">
    <div class="modal-header">
        <h3 class="modal-title">Редактирование роли</h3>
    </div>
    <div class="modal-body">
        Изменить?
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="vm.ok()">Изменить</button>
        <button class="btn btn-default" type="button" ng-click="vm.cancel()">Отмена</button>
    </div>
</script>

<script type="text/ng-template" id="banConfirmation.html">
    <div class="modal-header">
        <h3 class="modal-title"></h3>
    </div>
    <div class="modal-body">
        Забанить?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="vm.ok()">Забанить</button>
        <button type="button" class="btn btn-primary" ng-click="vm.cancel()">Отмена</button>
    </div>
</script>