<form class="form-horizontal" name="editForm" role="form" [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <md-input-container class="col-xs-12">
        <input mdInput placeholder="Имя на английском" formControlName="firstName">
    </md-input-container>
    <md-input-container class="col-xs-12">
        <input mdInput placeholder="Имя на русском" formControlName="firstRussianName">
    </md-input-container>
    <md-input-container class="col-xs-12">
        <input mdInput placeholder="Фамилия на английском" formControlName="lastName">
    </md-input-container>
    <md-input-container class="col-xs-12">
        <input mdInput placeholder="Фамилия на русском" formControlName="lastRussianName">
    </md-input-container>
    <md-select placeholder="Тип:" formControlName="type" name="food" class="col-xs-12">
        <md-option *ngFor="let type of types" [value]="type.id" [textContent]="type.name">
        </md-option>
    </md-select>
    <div class="col-xs-12 text-center top20">
        <div class="col-xs-2">
            <img class="avatar" *ngIf="item.photo" [src]="item.photo" alt=""/>
        </div>
        <div class="col-xs-10">
            <label for="update-input" md-raised-button
                   class="btn btn-info">Загрузить фото</label>
            <input type="file"
                   class="hidden"
                   accept="image/*"
                   (change)="onUpload($event)"
                   id="update-input"/>
        </div>
    </div>
    <div class="form-group top20">
        <label class="control-label col-md-2">День рождения</label>
        <div class="col-md-10">
            <div class="input-group">
                <input class="form-control" name="birthday" readonly [value]="editForm?.controls['birthday'].value | date:'shortDate'"/>
                <datepicker *ngIf="opened" (selectionDone)="opened = false" formControlName="birthday"></datepicker>
                <span class="input-group-btn">
                    <button class="btn btn-default" (click)="opened = !opened" type="button">Открыть</button>
                </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button md-raised-button type="submit" [disabled]="!editForm.valid" >Сохранить</button>
        </div>
    </div>
</form>
