<button class="btn btn-success" [routerLink]="[0, 'edit']">Добавить</button>
<div class="top20" *ngFor="let person of items; let i = index;">
    <div class="panel" > <!--[ngClass]="getTypeClass(wish.type)">-->
        <div class="panel-heading">
            <h3 class="panel-title">
                <a [routerLink]="[person.id, 'edit']">
                    <span [textContent]="person.russianName"></span>
                </a>
                <span class="col-xs-2 col-sm-2 pull-right">
                    <a *ngIf="person.type === 1" (click)="setAsBestPlayer(person.id)"><span class="glyphicon glyphicon-bookmark"></span></a>
                    <!--<a ng-click="vm.delete(i)"><span class="glyphicon glyphicon-trash"></span></a>-->
                </span>
            </h3>
        </div>
        <div class="panel-body">
            <div [textContent]="person.name"></div>
            <div *ngIf="person.position">Позиция/должность: <span [textContent]="person.position"></span></div>
            <div *ngIf="person.country">Страна: <span [textContent]="person.country"></span></div>
        </div>
        <div class="panel-footer">
            <div [textContent]="person.birthday | date:'yMMMMd'"></div>
        </div>
    </div>
</div>
<div class="pagination">
    <pagination *ngIf="items" [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" [(ngModel)]="page" [maxSize]="7" (pageChanged)="pageChanged($event)"
                previousText="&lsaquo;" nextText="&rsaquo;" firstText="1" lastText="totalItems/itemsPerPage"></pagination>
</div>