<h2>Cостав:</h2>
<nav md-tab-nav-bar>
    <a md-tab-link *ngFor="let routeLink of routeLinks; let i = index"
       [routerLink]="routeLink.link"
       [active]="activeLinkIndex === i"
       (click)="activeLinkIndex = i"
       [textContent]="routeLink.label"></a>
</nav>
<div *ngIf="item?.goalkeepers.length > 0">
    <h3>Вратари:</h3>
    <div class="flex-space-around">
        <div *ngFor="let person of item?.goalkeepers">
            <md-card class="stuff-card">
                <md-card-header>
                    <md-card-title role="button" *ngIf="roles.isInformer" [routerLink]="['/persons', person.id, 'edit']" [textContent]="person.russianName"></md-card-title>
                    <md-card-title *ngIf="!roles.isInformer" [textContent]="person.russianName"></md-card-title>
                    <md-card-subtitle *ngIf="person.number">Номер: <span [textContent]="person.number"></span></md-card-subtitle>
                </md-card-header>
                <img md-card-image [src]="person.photo" [alt]="person.russianName">
                <md-card-content>
                    <p *ngIf="person.country"><span [textContent]="person.country"></span></p>
                    <p><span [textContent]="person.birthday | date"></span></p>
                </md-card-content>
            </md-card>
        </div>
    </div>
</div>
<div *ngIf="item?.defenders.length > 0">
    <h3>Защитники:</h3>
    <div class="flex-space-around">
        <div *ngFor="let person of item?.defenders">
            <md-card class="stuff-card">
                <md-card-header>
                    <md-card-title role="button" *ngIf="roles.isInformer" [routerLink]="['/persons', person.id, 'edit']" [textContent]="person.russianName"></md-card-title>
                    <md-card-title *ngIf="!roles.isInformer" [textContent]="person.russianName"></md-card-title>
                    <md-card-subtitle *ngIf="person.number">Номер: <span [textContent]="person.number"></span></md-card-subtitle>
                </md-card-header>
                <img md-card-image [src]="person.photo" [alt]="person.russianName">
                <md-card-content>
                    <p *ngIf="person.country"><span [textContent]="person.country"></span></p>
                    <p><span [textContent]="person.birthday | date"></span></p>
                </md-card-content>
            </md-card>
        </div>
    </div>
    </div>
<div *ngIf="item?.midfielders.length > 0">
    <h3>Полузащитники:</h3>
    <div class="flex-space-around">
        <div *ngFor="let person of item?.midfielders">
            <md-card class="stuff-card">
                <md-card-header>
                    <md-card-title role="button" *ngIf="roles.isInformer" [routerLink]="['/persons', person.id, 'edit']" [textContent]="person.russianName"></md-card-title>
                    <md-card-title *ngIf="!roles.isInformer" [textContent]="person.russianName"></md-card-title>
                    <md-card-subtitle *ngIf="person.number">Номер: <span [textContent]="person.number"></span></md-card-subtitle>
                </md-card-header>
                <img md-card-image [src]="person.photo" [alt]="person.russianName">
                <md-card-content>
                    <p *ngIf="person.country"><span [textContent]="person.country"></span></p>
                    <p><span [textContent]="person.birthday | date"></span></p>
                </md-card-content>
            </md-card>
        </div>
    </div>
</div>
<div *ngIf="item?.strikers.length > 0">
    <h3>Нападающие:</h3>
    <div class="flex-space-around">
        <div *ngFor="let person of item?.strikers">
            <md-card class="stuff-card">
                <md-card-header>
                    <md-card-title role="button" *ngIf="roles.isInformer" [routerLink]="['/persons', person.id, 'edit']" [textContent]="person.russianName"></md-card-title>
                    <md-card-title *ngIf="!roles.isInformer" [textContent]="person.russianName"></md-card-title>
                    <md-card-subtitle *ngIf="person.number">Номер: <span [textContent]="person.number"></span></md-card-subtitle>
                </md-card-header>
                <img md-card-image [src]="person.photo" [alt]="person.russianName">
                <md-card-content>
                    <p *ngIf="person.country"><span [textContent]="person.country"></span></p>
                    <p><span [textContent]="person.birthday | date"></span></p>
                </md-card-content>
            </md-card>
        </div>
    </div>
</div>
