<h3>Тренерский штаб</h3>
<div class="flex-space-around">
    <div *ngFor="let person of items">
        <md-card class="stuff-card">
            <md-card-header>
                <md-card-title role="button" *ngIf="roles.isAdminAssistant" [routerLink]="['/persons', person.id, 'edit']" [textContent]="person.russianName"></md-card-title>
                <md-card-title *ngIf="!roles.isAdminAssistant" [textContent]="person.russianName"></md-card-title>
                <md-card-subtitle [textContent]="person.position"></md-card-subtitle>
            </md-card-header>
            <img md-card-image [src]="person.photo" [alt]="person.russianName">
            <md-card-content>
                <p *ngIf="person.country"><span [textContent]="person.country"></span></p>
                <p><span [textContent]="person.birthday | date"></span></p>
            </md-card-content>
        </md-card>
    </div>
</div>