<form class="form-horizontal" name="editForm" role="form" [formGroup]="editTransferForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label class="control-label col-xs-2 col-md-2">Игрок</label>
        <div class="col-xs-10 col-md-10">
            <input (valueChanged)="updatePerson($event)"
                   attr-placeholder="Введите игрока..."
                   ng2-auto-complete
                   class="form-control"
                   [list-formatter]="autocompleteListFormatter"
                   display-property-name="value"
                   formControlName="personName"
                   loading-text="Загрузочка"
                   min-chars="2"
                   name="person"
                   type="text"
                   [source]="persons"
                   autocomplete="off"/>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-2 col-md-2">Клуб</label>
        <div class="col-xs-10 col-md-10">
            <input (valueChanged)="updateClub($event)"
                   attr-placeholder="Введите клуб..."
                   ng2-auto-complete
                   class="form-control"
                   [list-formatter]="autocompleteListFormatter"
                   display-property-name="value"
                   formControlName="clubName"
                   loading-text="Загрузочка"
                   min-chars="2"
                   name="club"
                   type="text"
                   [source]="clubs"
                   autocomplete="off"/>
        </div>
    </div> 
    <md-input-container>
        <input mdInput [mdDatepicker]="datePicker1" placeholder="Выберите дату трансфера" formControlName="startDate">
        <button mdSuffix [mdDatepickerToggle]="datePicker1"></button>
    </md-input-container>
    <md-datepicker #datePicker1 startView="year" touchUi="true"></md-datepicker> 
    <div class="form-group">
        <md-slide-toggle formControlName="onLoan"
                         color="warn">Аренда
        </md-slide-toggle>
    </div>
        <md-input-container>
            <input mdInput [mdDatepicker]="datePicker2" placeholder="Выберите дату окончания трансфера" formControlName="finishDate">
            <button mdSuffix [mdDatepickerToggle]="datePicker2"></button>
        </md-input-container>
    <md-datepicker #datePicker2 startView="year" touchUi="true"></md-datepicker>
    <md-input-container class="col-xs-12">
        <input mdInput placeholder="Сумма трансфера" formControlName="amount">
    </md-input-container>
    <div class="form-group">
        <md-slide-toggle formControlName="coming"
                         color="warn">Пришел
        </md-slide-toggle>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button md-raised-button type="submit" [disabled]="!editTransferForm.valid" class="btn btn-default">Сохранить</button>
        </div>
    </div>
</form>