:host {
    .infodate {
        text-align: center;
        color: #000000;
    }

    .flex-center-h {
        justify-content: center;
    }

    .last {
        background-color: ghostwhite;
    }

    .match-calendar {
        border-color: lightgray;
        border-radius: 10px;
        border-style: solid;
        border-width: 5px;
        margin-bottom: 10px;
        padding: 0 5px;
        width: 100%;
    }

    .match-calendar img {
        display: block;
        width: 45px;
    }

    .next {
        background-color: darkgray;
    }

    .score {
        font-size: 20px;
    }

    .stadium {
        font-size: 15px;
    }
}
