<div>
    <a role="button" [matMenuTriggerFor]="newsMenu">
        Новости<mat-icon style="font-size: 100%; height: 18px; width: 18px;">arrow_drop_down</mat-icon>
    </a>
    <mat-menu #newsMenu="matMenu">
        <a [routerLink]="['/news']" mat-menu-item>Новости</a>
        <a *ngIf="roles.isNewsmaker" [routerLink]="['/news', 0, 'edit']" mat-menu-item>Добавить</a>
        <a [routerLink]="['/newsCategories']" mat-menu-item>Категории</a>
    </mat-menu>
</div>
<div>
    <a role="button" [matMenuTriggerFor]="blogsMenu">
        Блоги<mat-icon style="font-size: 100%; height: 18px; width: 18px;">arrow_drop_down</mat-icon>
    </a>
    <mat-menu #blogsMenu="matMenu">
        <a [routerLink]="['/blogs']" mat-menu-item>Блоги</a>
        <a *ngIf="roles.isAuthor" [routerLink]="['/blogs', 0, 'edit']" mat-menu-item>Добавить</a>
        <a [routerLink]="['/blogCategories']" mat-menu-item>Категории</a>
    </mat-menu>
</div>
<div>
    <a role="button" [matMenuTriggerFor]="fcClub">
        ФК Ливерпуль<mat-icon style="font-size: 100%; height: 18px; width: 18px;">arrow_drop_down</mat-icon>
    </a>
    <mat-menu #fcClub="matMenu">
        <ng-template matMenuContent>
            <a [routerLink]="['/clubHistory']" mat-menu-item>История</a>
            <a [routerLink]="['/aboutClub']" mat-menu-item>О Клубе</a>
            <a [routerLink]="['/persons/stuff/first']" mat-menu-item>Тренерский штаб</a>
            <a [routerLink]="['/persons/squad/first']" mat-menu-item>Состав</a>
        </ng-template>
    </mat-menu>
</div>
<div>
    <a role="button" [matMenuTriggerFor]="seasonMenu">
        Сезон<mat-icon style="font-size: 100%; height: 18px; width: 18px;">arrow_drop_down</mat-icon>
    </a>
    <mat-menu #seasonMenu="matMenu">
        <a [routerLink]="['/seasons/0/calendar']" mat-menu-item>Календарь</a>
        <a [routerLink]="['/seasons/0/statistics']" mat-menu-item>Статистика игроков</a>
        <a *ngIf="roles.isAdmin" [routerLink]="['/seasons']" mat-menu-item>Список сезонов</a>
        <a [routerLink]="['/transfers/current']" mat-menu-item>Трансферы</a>
    </mat-menu>
</div>
<div>
    <a role="button" [routerLink]="['/users']">Пользователи</a>
</div>
<div>
    <a role="button" [routerLink]="['/rules']"><b class="text-danger color-red beauty-font">Правила</b></a>
</div>
<!--li> <a [routerLink]="['/forum']">Форум</a></!--li>-->
<div>
    <a role="button" [matMenuTriggerFor]="siteMenu">
        Сайт<mat-icon style="font-size: 100%; height: 18px; width: 18px;">arrow_drop_down</mat-icon>
    </a>
    <mat-menu #siteMenu="matMenu">
        <a [routerLink]="['/about']" mat-menu-item>О нас</a>
        <a class="color-tomato" [routerLink]="['/job']" mat-menu-item>Вакансии</a>
        <a [routerLink]="['/copyright']" mat-menu-item>О перепечатке информации</a>
        <a [routerLink]="['/cooperation']" mat-menu-item>Сотрудничество</a>
        <a [routerLink]="['/comments']" mat-menu-item>Комментарии</a>
        <span *ngIf="roles.isAdminAssistant">
            <a [routerLink]="['/roleGroups']" mat-menu-item>Роли</a>
            <a [routerLink]="['/plans']" mat-menu-item>Планы</a>
            <a [routerLink]="['/instructions']" mat-menu-item>Инструкции</a>
        </span>
    </mat-menu>
</div>
<div *ngIf="roles.isNewsmaker || roles.isAuthor || roles.isInformer">
    <a role="button" [matMenuTriggerFor]="adminMenu">
        Админка<mat-icon style="font-size: 100%; height: 18px; width: 18px;">arrow_drop_down</mat-icon>
    </a>
    <mat-menu #adminMenu="matMenu">
        <span *ngIf="roles.isInformer">
            <a [routerLink]="['/matches']" mat-menu-item>Матчи</a>
            <a [routerLink]="['/clubs']" mat-menu-item>Клубы</a>
            <a [routerLink]="['/persons']" mat-menu-item>Люди</a>
            <a [routerLink]="['/stadiums']" mat-menu-item>Стадионы</a>
            <a [routerLink]="['/injuries']" mat-menu-item>Травмы</a>
        </span>
        <a *ngIf="roles.isNewsmaker || roles.isAuthor" [routerLink]="['/images']" mat-menu-item>Изображения</a>
        <!--<a *ngIf="roles.isNewsmaker || roles.isAuthor" [routerLink]="['/polls']" [queryParams]="{page: 1}" mat-menu-item>Опросы</a>-->
    </mat-menu>
</div>