a[role=button] {
    align-self: center;
    color: white;
    font: "beauty-font";
}

a:hover {
    color: darkgoldenrod;
}

div {
    display: flex;
    height: 100%;
    margin-right: 10px;
}

mat-icon {
    font-size: 100%;
    height: 18px;
    width: 18px;
}