<section class="flex comments">
    Последние комментарии:
    <div *ngFor="let item of items; let i = index;" class="full-width">
        <a [textContent]="item.authorUserName"
           [routerLink]="['/users', item.authorId]"
           class="color-gold"></a>: <a [routerLink]="['/', item.typeName, item.materialId || item.matchId]"
                                       [class.text-yellow]="i % 2 === 0"
                                       [class.text-darkgold]="i % 2 === 1"
                                       [textContent]="item.message"
                                       fragment="com{{item.id}}"></a>
    </div>
</section>