<div class="container-fluid navbar navbar-inverse navbar-fixed-top ">
    <ul class="nav navbar-nav col-xs-3 col-sm-3 list-inline">
        <li><a id="back-top" href="#" style="display: none;">Вверх</a></li>
        <li class="divider"></li>
        <li *ngIf="roles.isLogined">
            <a [routerLink]="['/pm']"><span class="glyphicon glyphicon-envelope"></span> Читать л/с <!--(<span ng-bind="vm.unreadPmCount"></span>)--></a>
        </li>
        <li class="divider"></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        
        <li class="alert-danger">Последнее обновление <b>12.01.17 23:40 МСК</b></li>
        <li *ngIf="!roles.isLogined">
            <account-signin></account-signin>
        </li>
        <li *ngIf="!roles.isLogined">
            <a [routerLink]="['/forgotPassword']"><span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="bottom" title="Забыли пароль?"></span></a>
        </li>
        <li *ngIf="!roles.isLogined">
            <a [routerLink]="['/signup']">Регистрация</a>
        </li>
        <li *ngIf="roles.isLogined">
            <ul class="nav navbar-nav">
                <li>
                    <a [routerLink]="['/user', 0]" class="padding0">
                        <!--<img class="nav-avatar" ng-src="{$root.userImage}}" alt=""/>-->
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/user', 0]">Мой профиль</a>
                </li>
                <li>
                    <a role="button" (click)="logout()">Выйти</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<div class="col-xs-12 col-sm-12 top50">
    <header class="navbar navbar-default navbar-static-top row">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a [routerLink]="['/']" class="navbar-brand">Название сайта</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a [routerLink]="['/']">Главная</a></li>
                <li *ngIf="roles.isAdminAssistant"><a [routerLink]="['/roleGroup']">Роли</a></li>
                <li> <a [routerLink]="['/forum']">Форум</a></li>
                <li class="dropdown">
                    <a [routerLink]="['/news/list', 1]" class="dropdown-toggle" data-toggle="">Новости<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li *ngIf="roles.isNewsmaker"><a [routerLink]="['/news', 0, 'edit']">Добавить</a></li>
                        <li><a [routerLink]="['/newsCategory']">Категории</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a [routerLink]="['/blog/list', 1]" class="dropdown-toggle" data-toggle="">Блоги<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li *ngIf="roles.isAuthor"><a [routerLink]="['/blog', 0, 'edit']">Добавить</a></li>
                        <li><a [routerLink]="['/blogCategory']">Категории</a></li>
                    </ul>
                </li>
                <!--li class="dropdown">
                    <a ui-sref="blog()" href="#" class="dropdown-toggle" data-toggle="">Блоги<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <!--<li ng-if="vm.isAuthor()"><a ui-sref="blogEdit()">Добавить</a></li>--
                        <li><a ui-sref="blogCategories()">Категории</a></li>
                    </ul>
                </li>-->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="">ФК Ливерпуль<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a [routerLink]="['/clubHistory']">История</a></li>
                        <li><a [routerLink]="['/aboutClub']">О Клубе</a></li>
                        <li><a [routerLink]="['/coachTeam']">Тренерский штаб</a></li>
                        <li><a [routerLink]="['/squad']">Cостав</a></li>
                    </ul>
                </li>          
                      <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="">Сезон<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a [routerLink]="['/calendar']">Календарь</a></li>
                        <li><a [routerLink]="['/season/eplTable']">Полная таблица АПЛ</a></li>
                        <li><a [routerLink]="['/player/statistics']">Статистика игроков</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <!-- <a href="#" class="dropdown-toggle" data-toggle="">Пользователи <b class="caret"></b></a>
                    <ul class="dropdown-menu">

                    <li-->
                    <a [routerLink]="['/user/list', 1]">Пользователи</a>
                    <!--/li>
                    </ul-->
                </li>
                <li *ngIf="roles.isLogined"> <a [routerLink]="['/materialComment']">Комментарии</a></li>
                <li *ngIf="roles.isNewsmaker || roles.isAuthor" > <a [routerLink]="['/image']">Изображения</a></li>
                <li *ngIf="roles.isAdminAssistant"> <a [routerLink]="['/club']">Клубы</a></li>
                <li *ngIf="roles.isAdminAssistant"> <a [routerLink]="['/match']">Матчи</a></li>
                <li> <a [routerLink]="['/rules']"><span class="text-danger">Правила</span></a></li>
                <li class="bg-success"> <a [routerLink]="['/wish']"><span class="text-info">Пожелания</span></a></li>
            </ul>
        </div>
        <!--<div class="col-xs-12 col-sm-12">
            temporary
            <span ng-bind="$root.roles"></span>
        </div>-->
    </header>
    <div class="body-content row">
        <!--<breadcrumb></breadcrumb>-->
        <div class="col-xs-12 col-sm-push-3 col-sm-6 container-fluid" style="background-color: #f5deb3">
            <div class="">
                <!--<uib-alert class="row" ng-repeat="alert in $root.alerts" dismiss-on-timeout="5000" type="{alert.type}}" close="closeAlert($index)" ng-bind="alert.msg"></uib-alert>-->
                <div class="">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-pull-6 col-sm-3 container-fluid">
            <section class="row flex">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 left1 margin-auto">
                        <div class="blocktitle2">Последняя игра </div>
                        <div class="infopic">
                            <table style="width: 180px">
                                <tbody>
                                <tr>
                                    <td class="embl"><strong>Ливерпуль</strong></td>
                                    <td class="embl"><strong> vs.</strong></td>
                                    <td class="embl"><strong>Плимут</strong></td>
                                </tr>
                                <tr>
                                    <td class="embl"><img src="http://www.myliverpool.ru/desighn/clubs/liverpool.png" alt="Ливерпуль" title="Ливерпуль" style="width:45px"></td>
                                    <td class="score"><strong>0 : 0</strong></td>
                                    <td class="embl"><img src="https://upload.wikimedia.org/wikipedia/ru/thumb/3/38/Plymouth_Argyle_FC.svg/150px-Plymouth_Argyle_FC.svg.png" alt="Плимут" title="Плимут" style="width:45px"></td>
                                </tr>
                                <tr>
                                    <td class="infodate" colspan="3">
                                        08 Янв 2017 16:30 МСК<br>
                                        <a href="http://www.myliverpool.ru/news/liverpul_plimut_argajl/2017-01-08-18574">Отчет</a>
                                        <a href="http://www.myliverpool.ru/news/match_plimutom_foto/2017-01-08-18575">Фото</a>
                                        <a href="https://vk.com/video-117835363_456240738">Видео</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 left1 margin-auto">
                        <div class="blocktitle2">Следующая игра </div>
                        <div class="infopic">
                            <table style="width: 180px">
                                <tbody>
                                    <tr>
                                        <td class="embl"><strong>Саутг</strong></td>
                                        <td class="embl"><strong> vs.</strong></td>
                                        <td class="embl"><strong>Ливерпуль</strong></td>
                                    </tr>
                                    <tr>
                                        <td class="embl"><img src="http://www.myliverpool.ru/images/clubs/saints_logo_2010_93X.png" alt="Саутгемптон" title="Саутгемптон" style="width:45px"></td>
                                        <td class="score"><strong>- : -</strong></td>
                                        <td class="embl"><img src="http://www.myliverpool.ru/desighn/clubs/liverpool.png" alt="Ливерпуль" title="Ливерпуль" style="width:45px"></td>
                                    </tr>
                                    <tr>
                                        <td class="infodate" colspan="3">
                                            11 Янв 2017 22:45 МСК<br>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
            </section>
            <section class="alert-danger row">
                <div class="col-md-12"> Лучший игрок матча с Эксетером </div>
                <div styleclass="col-md-12">
                    <img src="http://www.myliverpool.ru/images/Players/Squad12-13/Joe_Allen.png" alt=""/>
                </div>
                <div class="col-md-12">
                    Джо Аллен
                </div>
            </section>
            <section class="row" *ngIf="roles.isLogined">
                <mini-chat></mini-chat>
            </section>
        </div>
        <right-sidebar></right-sidebar>
    </div>
    <hr />
    <footer class="bottom container-fluid">
        <p>&copy; @DateTime.Now.Year - Какой-то сайт.</p>
    </footer>
</div>