<div class="col-xs-12 col-sm-12 container-row">
    <http-loader></http-loader>
    <navbar></navbar>
    <div class="main clearfix">
        <div class="bg-gray col-xs-12 container-row">
            <!--<breadcrumb prefix="Главная" class="col-xs-10 col-sm-9 container-row"></breadcrumb>-->
            <span class="bg-gray col-xs-2 col-sm-3 container-row pull-right">
                <a [routerLink]="['/wishes']" class="btn btn-success pull-right col-xs-12 col-sm-12 container-row">Идеи</a>
            </span>
        </div>
        <!--<div class="col-xs-12 container-fluid main-container" [class.col-sm-6]="isRoot" [class.col-sm-9]="!isRoot" [class.col-sm-push-3]="isRoot">-->
        <div class="col-xs-12 container-fluid main-container col-sm-6 col-sm-push-3">
            <router-outlet></router-outlet>
        </div>
        <div class="col-xs-12 col-sm-pull-6 col-sm-3 padding0">
            <sidebar-left></sidebar-left>
        </div>
        <div class="col-xs-12 col-sm-3 container-row">
            <sidebar-right></sidebar-right>
            <!--<sidebar-left *ngIf="!isRoot"></sidebar-left>-->
        </div>
    </div>
    <hr />
    <footer class="bottom container-fluid">
        <div>
            <div class="col-xs-3">
               <a [routerLink]="['/about']">О нас</a>
            </div>
            <div class="col-xs-3">
               <a [routerLink]="['/copyright']">О перепечатке информации</a>
            </div>
            <div class="col-xs-3"><p>&copy; 2017 - MyLFC.ru</p></div>
        </div>
    </footer>
</div>