<div class="col-xs-12 col-sm-12">
    <navbar></navbar>
    <div class="row">
        <breadcrumb prefix="Главная"></breadcrumb>
        <div class="col-xs-12 col-sm-push-3 col-sm-6 container-fluid" style="background-color: #f5deb3">
            <router-outlet></router-outlet>
        </div>
        <div class="col-xs-6 col-sm-pull-6 col-sm-3 padding0">
            <match-calendar></match-calendar>
            <epl-table></epl-table>
            <!--section class="alert-danger row">
            <div class="col-md-12"> Лучший игрок матча с Эксетером </div>
            <div styleclass="col-md-12">
                <img src="http://www.myliverpool.ru/images/Players/Squad12-13/Joe_Allen.png" alt=""/>
            </div>
            <div class="col-md-12">
                Джо Аллен
            </div>
            </section-->

        </div>
        <div class="col-xs-6 col-sm-3">
            <section class="row">
                <mini-chat></mini-chat>
            </section>
        </div>
    </div>
    <hr />
    <footer class="bottom container-fluid">
        <p>&copy; @DateTime.Now.Year - Какой-то сайт.</p>
    </footer>
</div>