<ng-container *ngIf="{ userId: userId$ | async } as data">
    <ul class="maroon-panel login-list-panel padding10">
        <li *ngIf="!data.userId;else logined">
            <account-signin-widget></account-signin-widget>
        </li>
        <ng-template #logined>
            <li class="flex-space-around flex-v-c">
                <a [routerLink]="['/users', data.userId]" class="text-white flex-space-around flex-v-c">
                    <mat-icon>person</mat-icon>Профиль
                </a>
                <pm-counter></pm-counter>
                <notification-counter></notification-counter>
                <a role="button" (click)="logout()" class="text-white">Выйти</a>
            </li>
        </ng-template>
    </ul>
    <div class="full-width flex">
        <a mat-raised-button class="split-button color-back-gold" [routerLink]="['/news']"
            [queryParams]="{page: 1, categoryId: 90}"><b>Клуб Прогнозов</b></a>
        <a mat-raised-button class="split-button color-back-maroon color-gold" [routerLink]="['/fantasy']"><b>Fantasy
                19/20</b></a>
    </div>
    <section class="top10">
        <mini-chat></mini-chat>
        <div class="online">
            <user-online-counter></user-online-counter>
        </div>
        <a mat-raised-button class="full-width color-back-gold" [routerLink]="['/news', 18096]"><b>Галерея
                личностей</b></a>
    </section>
    <section class="full-width top10">
        <user-birthday></user-birthday>
    </section>
    <comment-last></comment-last>
    <a mat-raised-button class="full-width color-back-gold" [routerLink]="['/job']"><b>Вакансии</b></a>
</ng-container>