@media (max-width: 767px) {
    .split-button {
        width: 50%;
    }
}

@media (min-width: 768px) {
    .split-button {
        width: 100%;
    }
}

@media (min-width: 1024px) {
    .split-button {
        width: 50%;
    }
}

.login-list-panel {
    list-style: none;
    padding: 10px;
}

.online {
    background-color: maroon;
    padding: 5px;
}
