<form class="form-horizontal col-md-12" role="form" name="editWish" [formGroup]="editWishForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label class="control-label col-md-2">Заголовок</label>
        <div class="col-md-10">
            <input class="form-control" name="title" formControlName="title"/>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Сообщение</label>
        <div class="col-md-10">
            <textarea class="form-control" name="title" formControlName="message"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-2 col-sm-2">Тип:</label>
        <div class="col-xs-10 col-sm-10">
            <select class="form-control" formControlName="type">
                <option [value]="type.id" *ngFor="let type of types" [textContent]="type.name"></option>
            </select>
        </div>
    </div>
    <div class="form-group" *ngIf="isHuman">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default" [disabled]="!editWishForm.valid">Отправить</button>
        </div>
    </div>
    <div class="form-group" [hidden]="isHuman">
        <div class="col-md-offset-2 col-md-10">
            <recaptcha (isHuman)="isHuman = $event"></recaptcha>
        </div>
    </div>
</form>
