  <nav class="maroon-panel beauty-font bg-heade1r text-white full-width" style="display: flex; flex: auto;">
      <a role="button" [routerLink]="['/news', 0]">
          <img src="/content/logo34.png" class="logo" alt="MyLFC.ru"/>
      </a>
      <navbar-menu></navbar-menu>
      <button type="button" mat-button (click)="toggle.emit()">
          <mat-icon>menu</mat-icon>
      </button>
      <img class="liverbird-navbar" alt="125 лет со дня основания ФК Ливерпуль" src="/content/liverbird5.png" />
  </nav>