<div class="container-fluid" *ngIf="item">
    <div class="panel panel-danger">
        <div class="panel-heading">
            <span [textContent]="item.name"></span>
            <span [textContent]="item.description"></span>
            <a [routerLink]="['/forum/theme', 0, 'edit']">Добавить тему</a>
        </div>
        <!--  <div class="panel-body"></div>-->
        <ul class="list-group" *ngFor="let theme of item.themes.list">
            <li class="list-group-item list">
                <span><a [routerLink]="['/forum/theme', theme.id]" [textContent]="theme.name"></a></span>
                <span [textContent]="theme.description"></span>
                <span class="pull-right">
                    <a [routerLink]="['/forum/theme', theme.id, 'edit']"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a class="pull-right" ng-show="section.subsections.length == 0" ng-click="vm.removeSection($index)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </span>
            </li>
        </ul>

    </div>
    <div>Всего тем:<span [textContent]="item.themes.totalItems"></span></div>
    <div class="pagination">
        <pagination *ngIf="items" [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" [(ngModel)]="page" [maxSize]="7" (pageChanged)="pageChanged($event)"
                    previousText="&lsaquo;" nextText="&rsaquo;" firstText="1" lastText="totalItems/itemsPerPage"></pagination>
    </div>
</div>
