<div>
    <h3><b>MyLFC.ru</b>  – информационно-новостной портал Красной семьи русскоязычных болельщиков футбольного клуба «Ливерпуль».</h3>
    
    <h4 class="text-underline"><b>Цели:</b></h4>
    <ol>
        <li>Объединение русскоязычной части болельщиков клуба «Ливерпуль».</li>
        <li>Создание болельщикам удобного сервиса для получения информации и комфортной атмосферы для общения.</li>
    </ol>

    <h4 class="text-underline"><b>Воплощение целей:</b></h4>
    <ol>
        <li>
            Предоставление полной и объёмной информации о клубе посредством <b>публикации переводов, созданных командой MyLFC.ru:</b>
            <ul>
                <li><b>новостей клуба и других материалов</b> в точном соответствии с представленным на официальном сайте «Liverpool FC» - http://www.liverpoolfc.com ;</li>
                <li><b>новостей и материалов</b>, опубликованных на других интернет-ресурсах,  <b>авторитетных и проверенных временем источниках</b>, непосредственно освещающих события клуба; </li>
                <li><b>аналитических статей</b> о произошедших, предстоящих, а также возможных событиях в клубе;</li>
                <li><b>авторских взглядов и мнений</b> экспертов, легенд и значимых людей клуба, а также футбола в целом;</li>
                <li><b>интервью</b> с игроками, тренерским штабом, различными представителями клуба «Ливерпуль», а также футбола в целом;</li>
                <li><b>статистических данных</b> и различных показателей, дающих возможность наглядной картины происходящего в клубе / трансферов / достижений команды / индивидуальных действий игроков, тренеров, руководящего состава и т.п.;</li>
                <li><b>исторических экскурсов</b> – освещение событий прошлого клуба, знаменательных дат, биографий великих личностей и т.п.;</li>
                <li><b>новостей других клубов, лиг и чемпионатов, вообще футбола</b>, имеющих возможность влияния на ситуацию / действия лиц / события, опосредованно связанных  с клубом «Ливерпуль».</li>
            </ul>
        </li>
        <li><b>Создание материалов по сопровождению матчей</b> команды «Ливерпуль»: публикация предматчевых интервью главного тренера клуба, составов на матч, послематчевых отчетов, фоторепортажей и интервью.</li>
        <li><b>Публикации статей авторов и блогеров</b>, являющихся пользователями сайта MyLFC.ru.</li>
        <li><b>Предоставление статистической базы данных</b> по всем аспектам жизнедеятельности клуба «Ливерпуль», его бывших и нынешних представителей.</li>
        <li><b>Предоставление общения в мини-чате и макси-чате</b> (проект в стадии создания), для возможности выбора наиболее комфортного места обмена мнениями каждому конкретному пользователю.</li>
        <li><b>Создание опросов и голосований</b> для выявления общественного мнения по вопросам.</li>
        <li><b>Проведение мероприятий</b>: турнира прогнозистов, острословов и другие (в стадии проектов), где пользователи сайта имеют возможность ярче и полнее раскрывать свои достоинства, навыки и умения.</li>
        <li><b>Создание «Галереи личностей», где каждый</b> представитель нашей дружной Красной семьи <b>может рассказать о себе другим</b>, обретая бОльшую возможность найти единомышленников не только в отношении клуба «Ливерпуль», но и коллег по профессиональным, другим интересам, земляков и т.д.</li>
    </ol>

    <h4 class="text-underline"><b>Отличительные особенности MyLFC.ru</b></h4>
    <ol>
        <li><b>Публикация только  эксклюзивных, авторских переводов, создающихся представителями команды сайта.</b> Копирование с других интернет-ресурсов переводов любых материалов запрещено внутренней политикой сайта MyLFC.ru.</li>
        <li><b>Все материалы</b>, публикуемые на сайте, <b>созданы представителями команды сайта</b> и являются плодами труда / творчества / мыслей / идей авторов материалов. Право собственности на публикуемые материалы принадлежит авторам.</li>
        <li><b>Выбор тематики и направленности публикуемых статей и материалов</b> – определяется редакцией и администрацией, в соответствии с  общественными потребностями (контингентом пользователей) и разработанной политикой сайта.</li>
    </ol>

    <h4 class="text-underline flex-space-around"><b>Наши пользователи - лицо нашего сайта!</b></h4>
    <p>Единение нас не только в преданной любви к одному клубу, но и в умении многомерно, здраво и глубоко мыслить, а также доброжелательном отношении друг к другу!</p>
    <p>Сайт «MyLFC.ru» - это виртуальная трибуна, отображение КОП-а и пабов рядом с «Энфилдом», клуб, где дружная семья болельщиков обретает второй дом!</p>
    <p>Мы очень рады, что Вы решили присоединиться к нашей частичке Красной семьи футбольного клуба «Ливерпуль», а также надеемся, что наш виртуальный портал станет для Вас уютным, родным и любимым!</p>
    <h4 class="text-underline flex-space-around"><b>Сайт создан именно для Вас! ДОБРО ПОЖАЛОВАТЬ!</b></h4>
    <p class="pull-right"><b>Команда сайта «MyLFC.ru»</b></p>
</div>