<table align="center" celpadding="20px" style="border: 2px double #EFF0F2; box-shadow: 0 0 10px rgba(0,0,0,0.5);" width="98%">
    <tbody>
        <tr>
            <td><img padding="20px" src="http://www.myliverpool.ru/images/history/Liverpool_FC-n_logo.png" td="" width="200px" /></td>
            <td>
                &nbsp;
                <table width="100%">
                    <tbody>
                        <tr class="CldrOdd">
                            <td class="TextStatTab"><b>Название:</b></td>
                            <td class="TextStatTab">Футбольный Клуб &quot;Ливерпуль&quot;</td>
                        </tr>
                        <tr class="CldrEven">
                            <td class="TextStatTab"><b>Прозвище:</b></td>
                            <td class="TextStatTab">&quot;Красные&quot; (The Reds)</td>
                        </tr>
                        <tr class="CldrOdd">
                            <td class="TextStatTab"><b>Год основания:</b></td>
                            <td class="TextStatTab">1892</td>
                        </tr>
                        <tr class="CldrEven">
                            <td class="TextStatTab"><b>Основатель:</b></td>
                            <td class="TextStatTab">Джон Холдинг</td>
                        </tr>
                        <tr class="CldrOdd">
                            <td class="TextStatTab"><b>Домашний стадион:</b></td>
                            <td class="TextStatTab">&quot;Энфилд&quot;</td>
                        </tr>
                        <tr class="CldrEven">
                            <td class="TextStatTab"><b>Владелец:</b></td>
                            <td class="TextStatTab">Fenway Sports Group</td>
                        </tr>
                        <tr class="CldrOdd">
                            <td class="TextStatTab"><b>Директорский состав:</b></td>
                            <td class="TextStatTab">
                                Дж. Генри (основной владелец),<br />
                                Т. Вернер (президент),<br />
                                Д. Гинзберг (вицепрезидент),<br />
                                И. Эйр (управляющий директор),<br />
                                М. Гордон
                            </td>
                        </tr>
                        <tr class="CldrEven">
                            <td class="TextStatTab"><b>Главный тренер:</b></td>
                            <td class="TextStatTab">Юрген Клопп</td>
                        </tr>
                        <tr class="CldrOdd">
                            <td class="TextStatTab"><b>Официальный сайт:</b></td>
                            <td class="TextStatTab">liverpoolfc.com</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<div class="eMessage">
    Футбольный клуб &quot;Ливерпуль&quot; может похвастаться красочным и прославленным прошлым. Это одна из самых уважаемых и признанных команд английского спорта. Если вернуться к моменту возникновения клуба, окажется, что свою роль в этом событии сыграл главный соперник &quot;красных&quot; - &quot;Эвертон&quot;.<br />
    <br />
    В 1878 году у &quot;Эвертона&quot; возникли разногласия по арендной плате с Джоном Холдингом, владельцем поля. В 1892 году они окончательно покинули &quot;Энфилд&quot;, а Холдинг основал новый футбольный клуб - &quot;Ливерпуль&quot;.<br />
    <br />
    Холдинг назначил главным тренером своего друга Джона Маккену, который сразу отправился в Шотландию на поиски новых талантов. К сожалению, появление новой команды не впечатлило местных жителей, они продолжали поддерживать &quot;Эвертон&quot;. Это огорчало Холдинга, не никак не умерило его амбиции, и уже через год можно было наблюдать первые успехи новоиспеченного клуба. &quot;Ливерпуль&quot; был принят в Футбольную Лигу.<br />
    <br />
    Это стало началом настоящего &quot;Ливерпуля&quot;. Никто не мог предсказать, что после всех взлетов и падений, клуб превратится в один из самых престижных в английском футболе, что за время своего существования он выиграет восемь Кубков Лиги, семь Кубков Англии, три кубка УЕФА, пять Кубов Европейских чемпионов (Лиги Чемпионов) и восемнадцать раз станет чемпионом своей страны.
</div>

<hr />

<div align="right"><i>Источник: lfcnews.co.uk</i></div>