<div>
    <h2><b class="color-red">Информация о сайте</b></h2>
    <p>MyLFC.ru является неофициальным сайтом русскоязычных болельщиков ФК "Ливерпуль". </p>

    <p>Сайт был учрежден болельщиком ФК "Ливерпуль" исключительно с целью общения с другими фанатами. Первоначальная идея принадлежит <i>Евгению Подпорину</i>. Однако позже цели ресурса стали гораздо шире. Теперь мы хотим объединить "под своей крышей" как можно большее количество болельщиков "Красных", предоставляя им возможность не просто общения на нашей арене, но и ознакомления с последними новостями и историей клуба. </p>

    <p>Формат ресурса предполагает публикацию фото, видео, аудио и новостных материалов о футбольном клубе "Ливерпуль", как переведенных с оригинальных источников с обязательным указанием ссылки на них, так и оригинальных материалов, являющихся собственностью MyLFC.ru. </p>

    <p>Также сайт публикует авторские работы блоггеров непосредственно на тему "Ливерпуля" или опосредовано затрагивающих его. </p>

    <p>Ресурс существует благодаря работе администраторов, модераторов, переводчиков, редакторов и авторов, которые осуществляют свою трудовую деятельность безвозмездно, исключительно из привязанности к своему любимому футбольному клубу. </p>

    <p>Любой из пользователей может оказать любую посильную помощь, будь то переводы, публикация статей собственного сочинения и многое другое вплоть до внесения предложений и высказывания критики в адрес MyLFC.ru. </p>

    <p>Форум нашего сайта предполагает свободное общение на любые темы, если они не противоречат положениям ресурса. </p>

    <p>Деятельность любого пользователя регламентируется правилами сайта, с которыми вы можете ознакомиться как на главной странице, так и на форуме. </p>

    <p>Ждем Вас в нашей теплой компании!</p>
</div>