<!-- FIRST TEAM -->
<div align="left">
    <table align="left" class="SquadList1">
        <tbody>
            <tr class="squadEvenTab">
                <th class="StaffTab" colspan="2">Первая команда</th>
            </tr>
        </tbody>
        <tbody>
            <tr class="squadOdd">
                <td class="SquadPhoto"><img alt="Jurgen Klopp" class="SquadPhoto" src="http://www.myliverpool.ru/images/staff/firstteam/Jurgen_Klopp.jpg" title="Jurgen Klopp" /></td>
                <td class="StaffTable">
                    <p class="StaffName">Юрген Клопп</p>

                    <p class="JobTitle">Главный тренер</p>
                </td>
            </tr>
            <!--tr class="squadEven">
            <td class="SquadPhoto"><img alt="Sean O'Driscoll" class="SquadPhoto" src="http://www.myliverpool.ru/images/staff/firstteam/Sean_ODriscoll.jpg" title="Sean O'Driscoll" /></td>
            <td class="StaffTable">
            <p class="StaffName">Шон О&#39;Дрисколл</p>

            <p class="JobTitle">Ассистент главного тренера</p>
            </td>
            </tr>
            <tr class="squadOdd">
            <td class="SquadPhoto"><img alt="Gary McAllister" class="SquadPhoto" src="http://www.myliverpool.ru/images/staff/firstteam/Gary_McAllister.jpg" title="Gary McAllister" /></td>
            <td class="StaffTable">
            <p class="StaffName">Гари МакАллистер</p>

            <p class="JobTitle">Тренер первой команды</p>
            </td>
            </tr>
            <tr class="squadEven">
            <td class="SquadPhoto"><img alt="Glen Driscoll" class="SquadPhoto" src="http://www.myliverpool.ru/images/staff/firstteam/Glen_Driscoll.png" title="Glen Driscoll" /></td>
            <td class="StaffTable">
            <p class="StaffName">Глен Дрисколл</p>

            <p class="JobTitle">Глава отдела спортивной медицины и науки</p>
            </td>
            </tr>
            <tr class="squadOdd">
            <td class="SquadPhoto"><img alt="Ryland Morgans" class="SquadPhoto" src="http://www.myliverpool.ru/images/staff/firstteam/Ryland_Morgans.png" title="Ryland Morgans" /></td>
            <td class="StaffTable">
            <p class="StaffName">Риланд Морганс</p>

            <p class="JobTitle">Глава отдела физической подготовки</p>
            </td>
            </tr>
            <tr class="squadEven">
            <td class="SquadPhoto"><img alt="Chris Davies" class="SquadPhoto" src="http://www.myliverpool.ru/images/staff/firstteam/Chris_Davies.jpg" title="Chris Davies" /></td>
            <td class="StaffTable">
            <p class="StaffName">Крис Дэвис</p>

            <p class="JobTitle">Глава аналитического отдела</p>
            </td>
            </tr>
            <tr class="squadOdd">
            <td class="SquadPhoto"><img alt="John Achterberg" class="SquadPhoto" src="http://www.myliverpool.ru/images/staff/firstteam/John_Achterberg.png" title="John Achterberg" /></td>
            <td class="StaffTable">
            <p class="StaffName">Джон Ахтерберг</p>

            <p class="JobTitle">Тренер вратарей</p>
            </td>
            </tr>
            <tr class="squadEven">
            <td class="SquadPhoto"><img alt="Zafar Iqbal" class="SquadPhoto" src="http://www.myliverpool.ru/images/staff/firstteam/Dr-Zafar_Iqbal.jpg" title="Zafar Iqbal" /></td>
            <td class="StaffTable">
            <p class="StaffName">Заф Икбал</p>

            <p class="JobTitle">врач</p>
            </td>
            </tr-->
            <tr class="squadOdd">
                <td class="SquadPhoto"><img alt="Chris Morgan" class="SquadPhoto" src="http://www.myliverpool.ru/images/staff/firstteam/Chris_Morgan.png" title="Chris Morgan" /></td>
                <td class="StaffTable">
                    <p class="StaffName">Крис Морган</p>

                    <p class="JobTitle">Глава физиотерапии</p>
                </td>
            </tr>
            <tr class="squadEven">
                <td class="SquadPhoto"><img alt="Jordan Milsom" class="SquadPhoto" src="http://www.myliverpool.ru/images/staff/firstteam/Jordan_Milsom.png" title="Jordan Milsom" /></td>
                <td class="StaffTable">
                    <p class="StaffName">Джордан Милсом</p>

                    <p class="JobTitle">Тренер по реабилитации</p>
                </td>
            </tr>
            <tr class="squadOdd">
                <td class="SquadPhoto"><img alt="Paul Small" class="SquadPhoto" src="http://www.myliverpool.ru/images/staff/firstteam/Paul_Small.png" title="Paul Small" /></td>
                <td class="StaffTable">
                    <p class="StaffName">Пол Смол</p>

                    <p class="JobTitle">Массажист</p>
                </td>
            </tr>
            <tr class="squadEven">
                <td class="SquadPhoto"><img alt="Sylvan Richardson" class="SquadPhoto" src="http://www.myliverpool.ru/images/staff/firstteam/Sylvan_Richardson.jpg" title="Sylvan Richardson" /></td>
                <td class="StaffTable">
                    <p class="StaffName">Силван Ричардсон</p>

                    <p class="JobTitle">Массажист</p>
                </td>
            </tr>
            <tr class="squadOdd">
                <td class="SquadPhoto"><img alt="Lee Radcliffe" class="SquadPhoto" src="http://www.myliverpool.ru/images/staff/firstteam/Lee_Radcliffe.png" title="Lee Radcliffe" /></td>
                <td class="StaffTable">
                    <p class="StaffName">Ли Рэдклиф</p>

                    <p class="JobTitle">Администратор</p>
                </td>
            </tr>
            <tr class="squadEven">
                <td class="SquadPhoto"><img alt="Graham Carter" class="SquadPhoto" src="http://www.myliverpool.ru/images/staff/firstteam/Graham_Carter.png" title="Graham Carter" /></td>
                <td class="StaffTable">
                    <p class="StaffName">Грэм Картер</p>

                    <p class="JobTitle">Администратор</p>
                </td>
            </tr>
            <tr class="squadOdd">
                <td class="SquadPhoto"><img alt="Barry Drust" class="SquadPhoto" src="http://www.myliverpool.ru/images/staff/firstteam/Barry_Drust.jpg" title="Barry Drust" /></td>
                <td class="StaffTable">
                    <p class="StaffName">Барри Драст</p>

                    <p class="JobTitle">Консультант отдела спортивной науки</p>
                </td>
            </tr>
            <tr class="squadEven">
                <td class="SquadPhoto"><img alt="James Morton" class="SquadPhoto" src="http://www.myliverpool.ru/images/staff/firstteam/James_Morton.jpg" title="James Morton" /></td>
                <td class="StaffTable">
                    <p class="StaffName">Джеймс Мортон</p>

                    <p class="JobTitle">Диетолог</p>
                </td>
            </tr>
            <tr class="squadOdd">
                <td class="SquadPhoto"><img alt="Alec Scott" class="SquadPhoto" src="http://www.myliverpool.ru/images/staff/firstteam/Alec_Scott.png" title="Alec Scott" /></td>
                <td class="StaffTable">
                    <p class="StaffName">Алек Скотт</p>

                    <p class="JobTitle">Ассистент-аналитик</p>
                </td>
            </tr>
            <tr class="squadEven">
                <td class="SquadPhoto"><img alt="David Rydings" class="SquadPhoto" src="http://www.myliverpool.ru/images/staff/firstteam/David_Rydings.png" title="David Rydings" /></td>
                <td class="StaffTable">
                    <p class="StaffName">Дэвид Ридингз</p>

                    <p class="JobTitle">Ассистент по реабилитации</p>
                </td>
            </tr>
            <tr class="squadOdd">
                <td class="SquadPhoto"><img alt="Paulo Barreira" class="SquadPhoto" src="http://www.myliverpool.ru/images/staff/firstteam/Paulo_Barreira.png" title="Paulo Barreira" /></td>
                <td class="StaffTable">
                    <p class="StaffName">Пауло Баррейра</p>

                    <p class="JobTitle">Физиотерапевт</p>
                </td>
            </tr>
            <tr class="squadEven">
                <td class="SquadPhoto"><img alt="Matt Konopinski" class="SquadPhoto" src="http://www.myliverpool.ru/images/staff/firstteam/Matt_Konopinski.png" title="Matt Konopinski" /></td>
                <td class="StaffTable">
                    <p class="StaffName">Мэтт Конопински</p>

                    <p class="JobTitle">Физиотерапевт</p>
                </td>
            </tr>
            <tr class="squadOdd">
                <td class="SquadPhoto"><img alt="Pedro Philippou" class="SquadPhoto" src="http://www.myliverpool.ru/images/staff/firstteam/Pedro_Philippou.png" title="Pedro Philippou" /></td>
                <td class="StaffTable">
                    <p class="StaffName">Педро Филлиппо</p>

                    <p class="JobTitle">Спортивный терапевт</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!-- ACADEMY -->

<div align="right">
    <table align="right" class="SquadList1">
        <tbody>
            <tr class="squadEvenTab">
                <th class="StaffTab" colspan="2">Резерв и Академия</th>
            </tr>
        </tbody>
        <tbody>
            <tr class="squadOdd">
                <td class="SquadPhoto"><img alt="Frank McParland" class="SquadPhoto" src="http://www.myliverpool.ru/images/staff/academy/Frank_McParland.png" title="Frank McParland" /></td>
                <td class="StaffTable">
                    <p class="StaffName">Фрэнк Макпарлэнд</p>

                    <p class="JobTitle">Директор Академии</p>
                </td>
            </tr>
            <tr class="squadEven">
                <td class="SquadPhoto"><img alt="Rodolfo Borrell" class="SquadPhoto" src="http://www.myliverpool.ru/images/staff/academy/Rodolfo_Borrell.png" title="Rodolfo Borrell" /></td>
                <td class="StaffTable">
                    <p class="StaffName">Родолфо Боррелл</p>

                    <p class="JobTitle">Технический директор Академии</p>
                </td>
            </tr>
            <tr class="squadOdd">
                <td class="SquadPhoto"><img alt="Alex Inglethorpe" class="SquadPhoto" src="http://www.myliverpool.ru/images/staff/academy/Alex_Inglethorpe.png" title="Alex Inglethorpe" /></td>
                <td class="StaffTable">
                    <p class="StaffName">Алекс Инглторп</p>

                    <p class="JobTitle">Тренер резервной команды</p>
                </td>
            </tr>
            <tr class="squadEven">
                <td class="SquadPhoto"><img alt="Phil Roscoe" class="SquadPhoto" src="http://www.myliverpool.ru/images/staff/academy/Phil_Roscoe.png" title="Phil Roscoe" /></td>
                <td class="StaffTable">
                    <p class="StaffName">Фил Роско</p>

                    <p class="JobTitle">Глава отдела образования и социального обеспечения</p>
                </td>
            </tr>
            <tr class="squadOdd">
                <td class="SquadPhoto"><img alt="Andy O'Boyle" class="SquadPhoto" src="http://www.myliverpool.ru/images/staff/academy/Andy_O-Boyle.png" title="Andy O'Boyle" /></td>
                <td class="StaffTable">
                    <p class="StaffName">Энди О&#39;Бойл</p>

                    <p class="JobTitle">Глава отдела физической подготовки/ тренер по физподготовке команды U21</p>
                </td>
            </tr>
            <tr class="squadEven">
                <td class="SquadPhoto"><img alt="Andy Renshaw" class="SquadPhoto" src="http://www.myliverpool.ru/images/staff/academy/Andy_Renshaw.png" title="Andy Renshaw" /></td>
                <td class="StaffTable">
                    <p class="StaffName">Энди Реншоу</p>

                    <p class="JobTitle">Глава отдела физиотерапии/ физиотерапевт команды U21</p>
                </td>
            </tr>
            <tr class="squadOdd">
                <td class="SquadPhoto"><img alt="Mark Morris" class="SquadPhoto" src="http://www.myliverpool.ru/images/staff/academy/Mark_Morris.png" title="Mark Morris" /></td>
                <td class="StaffTable">
                    <p class="StaffName">Марк Моррис</p>

                    <p class="JobTitle">Тренер вратарей команды U21</p>
                </td>
            </tr>
            <tr class="squadEven">
                <td class="SquadPhoto"><img alt="Tim Jenkins" class="SquadPhoto" src="http://www.myliverpool.ru/images/staff/academy/Tim_Jenkins.png" title="Tim Jenkins" /></td>
                <td class="StaffTable">
                    <p class="StaffName">Тим Дженкинс</p>

                    <p class="JobTitle">Глава отдела анализа развития</p>
                </td>
            </tr>
            <tr class="squadOdd">
                <td class="SquadPhoto"><img alt="Richie Partridge " class="SquadPhoto" src="http://www.myliverpool.ru/images/staff/academy/Richie_Partridge.png" title="Richie Partridge " /></td>
                <td class="StaffTable">
                    <p class="StaffName">Ричи Партридж</p>

                    <p class="JobTitle">Физиотерапевт команды U21</p>
                </td>
            </tr>
            <tr class="squadEven">
                <td class="SquadPhoto"><img alt="Dave Moss" class="SquadPhoto" src="http://www.myliverpool.ru/images/staff/academy/Dave_Moss.png" title="Dave Moss" /></td>
                <td class="StaffTable">
                    <p class="StaffName">Дэйв Мосс</p>

                    <p class="JobTitle">Главный скаут Академии</p>
                </td>
            </tr>
            <tr class="squadOdd">
                <td class="SquadPhoto"><img alt="Matthew Newberry" class="SquadPhoto" src="http://www.myliverpool.ru/images/staff/academy/Matthew_Newberry.png" title="Matthew Newberry" /></td>
                <td class="StaffTable">
                    <p class="StaffName">Мэтью Ньюберри</p>

                    <p class="JobTitle">Скаут</p>
                </td>
            </tr>
            <tr class="squadEven">
                <td class="SquadPhoto"><img alt="Neil Critchley" class="SquadPhoto" src="http://www.myliverpool.ru/images/staff/academy/Neil_Critchley.png" title="Neil Critchley" /></td>
                <td class="StaffTable">
                    <p class="StaffName">Нил Критчли</p>

                    <p class="JobTitle">Тренер команды U18</p>
                </td>
            </tr>
            <tr class="squadOdd">
                <td class="SquadPhoto"><img alt="Remy Tang" class="SquadPhoto" src="http://www.myliverpool.ru/images/staff/academy/Remy_Tang.png" title="Remy Tang" /></td>
                <td class="StaffTable">
                    <p class="StaffName">Реми Тан</p>

                    <p class="JobTitle">Тренер по физической подготовке команды U18</p>
                </td>
            </tr>
            <tr class="squadEven">
                <td class="SquadPhoto"><img alt="Liam Kershaw" class="SquadPhoto" src="http://www.myliverpool.ru/images/staff/academy/Liam_Kershaw.png" title="Liam Kershaw" /></td>
                <td class="StaffTable">
                    <p class="StaffName">Лиам Кершоу</p>

                    <p class="JobTitle">Физиотерапевт команды U18</p>
                </td>
            </tr>
            <tr class="squadOdd">
                <td class="SquadPhoto"><img alt="Mike Garrity" class="SquadPhoto" src="http://www.myliverpool.ru/images/staff/academy/Mike_Garrity.png" title="Mike Garrity" /></td>
                <td class="StaffTable">
                    <p class="StaffName">Майк Гаррити</p>

                    <p class="JobTitle">Тренер команд U6-U11</p>
                </td>
            </tr>
            <tr class="squadEven">
                <td class="SquadPhoto"><img alt="Neil Edwards" class="SquadPhoto" src="http://www.myliverpool.ru/images/staff/academy/Neil_Edwards.png" title="Neil Edwards" /></td>
                <td class="StaffTable">
                    <p class="StaffName">Нил Эдвардс</p>

                    <p class="JobTitle">Тренер вратарей команды U18</p>
                </td>
            </tr>
            <tr class="squadOdd">
                <td class="SquadPhoto"><img alt="Gary Lewis" class="SquadPhoto" src="http://www.myliverpool.ru/images/staff/academy/Gary_Lewis.png" title="Gary Lewis" /></td>
                <td class="StaffTable">
                    <p class="StaffName">Гэри Льюис</p>

                    <p class="JobTitle">Тренер команд U12-U14</p>
                </td>
            </tr>
            <tr class="squadEven">
                <td class="SquadPhoto"><img alt="Stephen Torpey" class="SquadPhoto" src="http://www.myliverpool.ru/images/staff/academy/Stephen_Torpey.png" title="Stephen Torpey" /></td>
                <td class="StaffTable">
                    <p class="StaffName">Стивен Торпи</p>

                    <p class="JobTitle">Тренер команды U9-11</p>
                </td>
            </tr>
            <tr class="squadOdd">
                <td class="SquadPhoto"><img alt="Michael Beale" class="SquadPhoto" src="http://www.myliverpool.ru/images/staff/academy/Michael_Beale.png" title="Michael Beale" /></td>
                <td class="StaffTable">
                    <p class="StaffName">Майкл Бил</p>

                    <p class="JobTitle">Тренер команд U15-U16</p>
                </td>
            </tr>
            <tr class="squadEven">
                <td class="SquadPhoto"><img alt="Joe Lewis" class="SquadPhoto" src="http://www.myliverpool.ru/images/staff/academy/Joe_Lewis.png" title="Joe Lewis" /></td>
                <td class="StaffTable">
                    <p class="StaffName">Джо Льюис</p>

                    <p class="JobTitle">Спортивный терапевт</p>
                </td>
            </tr>
            <tr class="squadOdd">
                <td class="SquadPhoto"><img alt="Clive Cook" class="SquadPhoto" src="http://www.myliverpool.ru/images/staff/academy/Clive_Cook.png" title="Clive Cook" /></td>
                <td class="StaffTable">
                    <p class="StaffName">Клайв Кук</p>

                    <p class="JobTitle">Сотрудник отдела образования и соц. обеспечения</p>
                </td>
            </tr>
            <tr class="squadEven">
                <td class="SquadPhoto"><img alt="Oliver Morgan" class="SquadPhoto" src="http://www.myliverpool.ru/images/staff/academy/Oliver_Morgan.png" title="Oliver Morgan" /></td>
                <td class="StaffTable">
                    <p class="StaffName">Оливер Морган</p>

                    <p class="JobTitle">Ассистент отдела спортивной науки</p>
                </td>
            </tr>
            <tr class="squadOdd">
                <td class="SquadPhoto"><img alt="Ian Barrigan" class="SquadPhoto" src="http://www.myliverpool.ru/images/staff/academy/Ian_Barrigan.png" title="Ian Barrigan" /></td>
                <td class="StaffTable">
                    <p class="StaffName">Иан Барригэн</p>

                    <p class="JobTitle">Глава местной скаутской службы</p>
                </td>
            </tr>
            <tr class="squadEven">
                <td class="SquadPhoto"><img alt="Scott Redwood" class="SquadPhoto" src="http://www.myliverpool.ru/images/staff/academy/Scott_Redwood.png" title="Scott Redwood" /></td>
                <td class="StaffTable">
                    <p class="StaffName">Скотт Рэдвуд</p>

                    <p class="JobTitle">Администратор</p>
                </td>
            </tr>
            <tr class="squadOdd">
                <td class="SquadPhoto"><img alt="Kyle Wiffen" class="SquadPhoto" src="http://www.myliverpool.ru/images/staff/academy/Kyle_Wiffen.png" title="Kyle Wiffen" /></td>
                <td class="StaffTable">
                    <p class="StaffName">Кайл Уиффен</p>

                    <p class="JobTitle">Аналитик команды U18</p>
                </td>
            </tr>
            <tr class="squadEven">
                <td class="SquadPhoto"><img alt="Scott Mason" class="SquadPhoto" src="http://www.myliverpool.ru/images/staff/academy/Scott_Mason.png" title="Scott Mason" /></td>
                <td class="StaffTable">
                    <p class="StaffName">Скотт Рэдвуд</p>

                    <p class="JobTitle">Аналитик команд U15-U16</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
