<div>
	<h2 class="color-red">Правила перепечатки информации с сайта MyLFC.ru</h2>
	<p>Информация, расположенная на сайте MyLFC.ru, является его интеллектуальной собственностью либо интеллектуальной собственностью указанных первоисточников информации и охраняется российским законодательством об авторском праве и средствах массовой информации, а также международными договорами РФ.</p>
	<p>Копирование, тиражирование, распространение либо любое иное использование информации возможно только на описанных ниже условиях. За нарушение настоящих правил наступает ответственность, предусмотренная законодательством РФ и международными договорами.</p>

	<p class="color-red">Запрещается копирование разделов сайта полностью в любых целях.</p>

	<p>Перепечатка отдельных материалов разрешается с указанием ссылки на MyLFC.ru в каждой публикации. Если в материале указан автор или источник, при перепечатке он также должен быть указан.</p>

	<p>Формат ссылки при перепечатке материалов в печатных СМИ: MyLFC.ru </p>
	<p>Формат ссылки при перепечатке материалов на Интернет-сайтах: MyLFC.ru (текст должен являться гиперссылкой на http://www.MyLFC.ru/, быть написан не меньшим размером шрифта, что и основной текст, и быть отчетливо видимым на странице). </p>
	<p>Права на некоторые сторонние публикации (тексты, изображения, видеоролики и пр.) могут быть защищены. В таком случае в вопросе перепечатки нужно руководствоваться условиями правообладателя.</p>

    <p>MyLFC.ru не несет ответственности за возможное нарушение чьих-либо авторских прав, возникшее вследствие перепечатки кем-либо информации с сайта.</p>
</div>