<nav class="navbar navbar-default maroon-panel row beauty-font">
    <div class="navbar-header">
        <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse row" style="margin-right: 0; padding-right: 0;"> <!--todo need some research-->
        <ul class="nav navbar-nav col-xs-12 flex-vertical-center flex-wrap" style="font-size: large">
            <!--<li><a [routerLink]="['/']" style="color: aliceblue; font-weight: bold;">My<span style="color: yellow;">LFC</span>.ru</a></li>-->
            <li><a [routerLink]="['/']">
                <img src="/content/logo18.jpg" style="width: 310px; border-radius: 10px; margin: -5px; border: 2px solid white" alt="MyLFC.ru"/>
            </a></li>
            <li class="dropdown">
                <a [routerLink]="['/news']" [queryParams]="{page: 1}" class="dropdown-toggle" data-toggle="">Новости<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li *ngIf="roles.isNewsmaker"><a [routerLink]="['/news', 0, 'edit']">Добавить</a></li>
                    <li><a [routerLink]="['/newsCategories']">Категории</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a [routerLink]="['/blogs']" [queryParams]="{page: 1}" class="dropdown-toggle" data-toggle="">Блоги<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li *ngIf="roles.isAuthor"><a [routerLink]="['/blogs', 0, 'edit']">Добавить</a></li>
                    <li><a [routerLink]="['/blogCategories']">Категории</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="">ФК Ливерпуль<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a [routerLink]="['/clubHistory']">История</a></li>
                    <li><a [routerLink]="['/aboutClub']">О Клубе</a></li>
                    <li><a [routerLink]="['/coachTeam']">Тренерский штаб</a></li>
                    <li><a [routerLink]="['/squad']">Cостав</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="">Сезон<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a [routerLink]="['/seasons/calendar']">Календарь</a></li>
                    <!--<li><a [routerLink]="['/season/eplTable']">Полная таблица АПЛ</a></li>-->
                    <li><a [routerLink]="['/players/statistics']">Статистика игроков</a></li>
                    <li *ngIf="roles.isAdmin"><a [routerLink]="['/seasons']">Список сезонов</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <!-- <a href="#" class="dropdown-toggle" data-toggle="">Пользователи <b class="caret"></b></a>
                <ul class="dropdown-menu">

                <li-->
                <a [routerLink]="['/users']" [queryParams]="{page: 1}">Пользователи</a>
                <!--/li>
                </ul-->
            </li>
            <li><a [routerLink]="['/rules']"><b class="text-danger" style="color: red; font-family: 'Beauty';">Правила</b></a></li>
            <li> <a [routerLink]="['/forum']">Форум</a></li>
            <li *ngIf="roles.isAdminAssistant" class="dropdown">
                <a class="dropdown-toggle" data-toggle="">Админка<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a [routerLink]="['/matches']">Матчи</a></li>
                    <li><a [routerLink]="['/clubs']">Клубы</a></li>
                    <li><a [routerLink]="['/roleGroups']">Роли</a></li>
                    <li><a [routerLink]="['/persons']">Люди</a></li>
                    <li *ngIf="roles.isNewsmaker || roles.isAuthor"> <a [routerLink]="['/images']">Изображения</a></li>
                    <li *ngIf="roles.isLogined"> <a [routerLink]="['/materialComments']" [queryParams]="{page: 1}">Комментарии</a></li>
                </ul>
            </li>
            <li class="pull-right">
               
            </li>
        </ul>
        
    </div>
</nav>