<nav class="navbar navbar-default navbar-inverse row">
    <div class="navbar-header">
        <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <!--<a [routerLink]="['/']" class="navbar-brand">Название сайта</a>-->
    </div>
    <div class="navbar-collapse collapse row">
        <ul class="nav navbar-nav">
            <li><a [routerLink]="['/']">Главная</a></li>
            <li> <a [routerLink]="['/forum']">Форум</a></li>
            <li class="dropdown">
                <a [routerLink]="['/news']" [queryParams]="{page: 1}" class="dropdown-toggle" data-toggle="">Новости<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li *ngIf="roles.isNewsmaker"><a [routerLink]="['/news', 0, 'edit']">Добавить</a></li>
                    <li><a [routerLink]="['/newsCategory']">Категории</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a [routerLink]="['/blog']" [queryParams]="{page: 1}" class="dropdown-toggle" data-toggle="">Блоги<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li *ngIf="roles.isAuthor"><a [routerLink]="['/blog', 0, 'edit']">Добавить</a></li>
                    <li><a [routerLink]="['/blogCategory']">Категории</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="">ФК Ливерпуль<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a [routerLink]="['/clubHistory']">История</a></li>
                    <li><a [routerLink]="['/aboutClub']">О Клубе</a></li>
                    <li><a [routerLink]="['/coachTeam']">Тренерский штаб</a></li>
                    <li><a [routerLink]="['/squad']">Cостав</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="">Сезон<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a [routerLink]="['/calendar']">Календарь</a></li>
                    <li><a [routerLink]="['/season/eplTable']">Полная таблица АПЛ</a></li>
                    <li><a [routerLink]="['/player/statistics']">Статистика игроков</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <!-- <a href="#" class="dropdown-toggle" data-toggle="">Пользователи <b class="caret"></b></a>
                <ul class="dropdown-menu">

                <li-->
                <a [routerLink]="['/user']" [queryParams]="{page: 1}">Пользователи</a>
                <!--/li>
                </ul-->
            </li>
            <li><a [routerLink]="['/rules']"><b class="text-danger">Правила</b></a></li>
            <li><a [routerLink]="['/wish']"><b class="text-info">Пожелания</b></a></li>
            <li *ngIf="roles.isAdminAssistant" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="">Админка<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a [routerLink]="['/match']">Матчи</a></li>
                    <li><a [routerLink]="['/club']">Клубы</a></li>
                    <li><a [routerLink]="['/roleGroup']">Роли</a></li>
                    <li><a [routerLink]="['/person']">Люди</a></li>
                    <li *ngIf="roles.isNewsmaker || roles.isAuthor"> <a [routerLink]="['/image']">Изображения</a></li>
                    <li *ngIf="roles.isLogined"> <a [routerLink]="['/materialComment']">Комментарии</a></li>
                </ul>
            </li>
            <li>
                <div style="width: 132px;height: 50px;" class="alert-danger">Обновлено: <b>18.01.17 23:59 МСК</b></div>
            </li>
        </ul>
        <ul class="nav navbar-nav pull-right">
            <li *ngIf="!roles.isLogined">
                <account-signin></account-signin>
            </li>
            <li *ngIf="!roles.isLogined">
                <a [routerLink]="['/forgotPassword']"><span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="bottom" title="Забыли пароль?"></span></a>
            </li>
            <li *ngIf="!roles.isLogined">
                <a [routerLink]="['/signup']">Регистрация</a>
            </li>
            <li *ngIf="roles.isLogined">
                <a [routerLink]="['/user', 0]" class="padding0">
                    <!--<img class="nav-avatar" ng-src="{$root.userImage}}" alt=""/>-->
                </a>
            </li>
            <li *ngIf="roles.isLogined">
                <a [routerLink]="['/user', 0]">Мой профиль</a>
            </li>
            <li *ngIf="roles.isLogined">
                <a [routerLink]="['/pm']"><span class="glyphicon glyphicon-envelope"></span> Читать л/с <!--(<span ng-bind="vm.unreadPmCount"></span>)--></a>
            </li>
            <li *ngIf="roles.isLogined">
                <a role="button" (click)="logout()">Выйти</a>
            </li>
        </ul>
    </div>
</nav>