<nav class="navbar navbar-default navbar-maroon row">
    <div class="navbar-header">
        <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <!--<a [routerLink]="['/']" class="navbar-brand">Название сайта</a>-->
    </div>
    <div class="navbar-collapse collapse row" style="margin-right: 0; padding-right: 0;"> <!--todo need some research-->
        <ul class="nav navbar-nav col-xs-12">
            <li><a [routerLink]="['/']"><span class="glyphicon glyphicon-home"></span></a></li>
            <li class="dropdown">
                <a [routerLink]="['/news']" [queryParams]="{page: 1}" class="dropdown-toggle" data-toggle="">Новости<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li *ngIf="roles.isNewsmaker"><a [routerLink]="['/news', 0, 'edit']">Добавить</a></li>
                    <li><a [routerLink]="['/newsCategories']">Категории</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a [routerLink]="['/blogs']" [queryParams]="{page: 1}" class="dropdown-toggle" data-toggle="">Блоги<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li *ngIf="roles.isAuthor"><a [routerLink]="['/blogs', 0, 'edit']">Добавить</a></li>
                    <li><a [routerLink]="['/blogCategories']">Категории</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="">ФК Ливерпуль<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a [routerLink]="['/clubHistory']">История</a></li>
                    <li><a [routerLink]="['/aboutClub']">О Клубе</a></li>
                    <li><a [routerLink]="['/coachTeam']">Тренерский штаб</a></li>
                    <li><a [routerLink]="['/squad']">Cостав</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="">Сезон<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a [routerLink]="['/seasons/calendar']">Календарь</a></li>
                    <!--<li><a [routerLink]="['/season/eplTable']">Полная таблица АПЛ</a></li>-->
                    <li><a [routerLink]="['/players/statistics']">Статистика игроков</a></li>
                    <li *ngIf="roles.isAdmin"><a [routerLink]="['/seasons']">Список сезонов</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <!-- <a href="#" class="dropdown-toggle" data-toggle="">Пользователи <b class="caret"></b></a>
                <ul class="dropdown-menu">

                <li-->
                <a [routerLink]="['/users']" [queryParams]="{page: 1}">Пользователи</a>
                <!--/li>
                </ul-->
            </li>
            <li><a [routerLink]="['/rules']"><b class="text-danger">Правила</b></a></li>
            <li> <a [routerLink]="['/forum']">Форум</a></li>
            <li><a [routerLink]="['/wishes']"><b class="text-info">Пожелания</b></a></li>
            <li *ngIf="roles.isAdminAssistant" class="dropdown">
                <a class="dropdown-toggle" data-toggle="">Админка<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a [routerLink]="['/matches']">Матчи</a></li>
                    <li><a [routerLink]="['/clubs']">Клубы</a></li>
                    <li><a [routerLink]="['/roleGroups']">Роли</a></li>
                    <li><a [routerLink]="['/persons']">Люди</a></li>
                    <li *ngIf="roles.isNewsmaker || roles.isAuthor"> <a [routerLink]="['/images']">Изображения</a></li>
                    <li *ngIf="roles.isLogined"> <a [routerLink]="['/materialComments']" [queryParams]="{page: 1}">Комментарии</a></li>
                </ul>
            </li>
            <li class="pull-right">
                <ul class="nav navbar-nav pull-right"> <!--todo need some research-->
                    <li *ngIf="!roles.isLogined">
                        <account-signin></account-signin>
                    </li>
                    <li *ngIf="!roles.isLogined">
                        <a [routerLink]="['/forgotPassword']"><span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="bottom" title="Забыли пароль?"></span></a>
                    </li>
                    <li *ngIf="!roles.isLogined">
                        <a [routerLink]="['/signup']">Регистрация</a>
                    </li>
                    <li *ngIf="roles.isLogined">
                        <a [routerLink]="['/users', 0]" class="padding0">
                            <!--<img class="nav-avatar" ng-src="{$root.userImage}}" alt=""/>-->
                        </a>
                    </li>
                    <li *ngIf="roles.isLogined">
                        <a [routerLink]="['/users', 0]"><span class="glyphicon glyphicon-user"></span></a>
                    </li>
                    <li *ngIf="roles.isLogined">
                        <a [routerLink]="['/pms']"><span class="glyphicon glyphicon-envelope"></span> <!--Читать л/с (<span ng-bind="vm.unreadPmCount"></span>)--></a>
                    </li>
                    <li *ngIf="roles.isLogined">
                        <a role="button" (click)="logout()">Выйти</a>
                    </li>
                </ul>
            </li>
        </ul>
        
    </div>
</nav>