<h3 class="color-red text-underline top20">НАСТОЯЩИЕ ПРАВИЛА – ЗАКОН НАШЕГО САЙТА!</h3>
<p class="color-red">Незнание закона нашего сайта – не освобождает от ответственности за его нарушение.</p>
<hr />
Правила вводятся для создания комфортной и конструктивной атмосферы общения. Если Вас не устраивает установленная форма общения, воздержитесь от участия.


<h4 class="text-underline"><b>Данные правила призваны:</b></h4>
<ol>
    <li> Создавать конструктивность обмена мнениями, комфортную атмосферу взаимного уважения в обсуждениях и других взаимодействиях пользователей на сайте.</li>
    <li> Предотвращать нарушения законодательства, правил общественного порядка, а также морально-этических норм.</li>
</ol>
<h4 class="text-underline"><b>I. Регистрация пользователей.</b></h4>
<ol>
    <li class="color-red text-underline"> Регистрируясь на сайте, пользователь добровольно соглашается изучить и выполнять данные Правила.</li>
    <li> Для регистрации пользователь должен предоставить действующий адрес электронной почты. Мы гарантируем конфиденциальность указанной информации.</li>
    <li> Выбор имени пользователя (nickname) является Вашим исключительным правом.</li>
    <li> Если Вы не проявляете активность на сайте в течение длительного времени, Ваша учетная запись может быть удалена.</li>
    <li> Запрещена регистрация nickname, схожих с уже существующими до степени, которые могут ввести в заблуждение других пользователей сайта.</li>
</ol>
<h4><b class="text-underline">II. На сайте <span class="color-red">запрещено:</span></b></h4>
<ol>
    <li>
        Выбор nickname и / или фотографии в качестве аватара, если их использование нарушает общепринятые моральные и этические нормы, а также может являться оскорбительным для других пользователей сайта.
    </li>
    <li>
        <b class="text-underline">Неоднократная регистрация на сайте</b> (создание 2-х и более аккаунтов одним пользователем), вне зависимости от целей, с которыми такая регистрация проводится. Данное нарушение является крайне серьезным и<b class="text-underline">
            ведет к блокированию всех учетных записей пользователя
        </b>, вне зависимости от причины создания.
        <p><i class="text-underline">Если Вы хотите внести изменения в данные своего аккаунта, напишите в личном сообщении администратору сайта, обосновав причину.</i></p>
    </li>
    <li>
        Регистрация пользователями, чьи аккаунты были ранее заблокированы администрацией.
        <p><i class="text-underline"> Нарушение правила: перманентный бан.</i></p>
    </li>
    <li>
        Использовать ЛС (личные сообщения) для массовой рассылки информации любого рода (реклама, "письма счастья", просьба помочь материально и т.п.).
        <p><i class="text-underline">Однократное нарушение: предупреждение.</i></p>
        <p><i class="text-underline">Неоднократное нарушение: перманентный бан.</i></p>
    </li>
    <li>
        Создавать повторные темы, ранее обсуждавшиеся на сайте.
        <p><i class="text-underline">Однократное нарушение: предупреждение.</i></p>
        <p><i class="text-underline">Неоднократное нарушение: бан от 1 дня и по нарастающей – до  перманентного бана.</i></p>
    </li>
    <li>
        Развивая тему в общении / диспуте – создавать сообщения, абсолютно не имеющие отношения к обсуждаемой теме (оффтопик) и / или логически не обоснованные обсуждением.
        <p><i>Вы можете развивать, продолжать конкретную тему, а также обсуждать косвенно связанные с ней, логически вытекающие.</i></p>
        <p><i>Выводы, к которым Вы пришли, переходящие на другую тематику, но отправной точкой для которых стала тема материала, тоже разрешены.</i></p>
        <p>
            <i class="text-underline">
                Однократное нарушение: предупреждение.
            </i>
        </p>
        <p><i class="text-underline">Неоднократное нарушение: бан от 1 дня и по нарастающей – до  перманентного бана.</i></p>
    </li>
    <li>
        Создавать темы, имеющие в названии украшения («===---Моя тема---===»), не отражающие суть вопроса («Посмотри сюда» или «fdgl;fjdgl;fdjglgfd»).
        <p><i class="text-underline">Однократное нарушение: предупреждение.</i></p>
        <p><i class="text-underline">Неоднократное нарушение: бан от 1 дня и по нарастающей – до  перманентного бана.</i></p>
    </li>
    <li>
        Создавать темы с обращением к конкретному участнику сайта.
        <p><i class="text-underline">Однократное нарушение: предупреждение.</i></p>
        <p><i class="text-underline">Неоднократное нарушение: бан от 1 дня и по нарастающей – до  перманентного бана.</i></p>
    </li>
    <li>
        Публикация постов, статей и материалов на сайте, не несущих значительной смысловой нагрузки (флуд).
        <p><i class="text-underline">Однократное нарушение: предупреждение.</i></p>
        <p><i class="text-underline">Неоднократное нарушение: бан от 1 дня и по нарастающей – до  перманентного бана.</i></p>
    </li>
    <li>
        Создавать темы и сообщения, содержащие рекламную, рекламационную или коммерческую информацию, а также размещать ссылки на сайты с целью повышения их посещаемости (исключение составляют видео (прямая ссылка) и изображения).
        <p><i class="text-underline">Однократное нарушение: предупреждение.</i></p>
        <p><i class="text-underline">Неоднократное нарушение: бан от 1 дня и по нарастающей – до  перманентного бана.</i></p>
    </li>
    <li>
        <b class="text-underline">Публиковать в комментариях и чате новости</b> с других источников информации, а также <b class="text-underline">давать ссылки на сторонние сайты</b>, где новость опубликована.
        <p><i>Для обмена мнениями о не опубликованных на сайте новостях – есть флудилка. В чате разрешается максимум – главная мысль / суть или упоминание о новости.</i></p>
        <p><i class="text-underline">Однократное нарушение: предупреждение.</i></p>
        <p><i class="text-underline">Неоднократное нарушение: бан от 1 дня и по нарастающей – до  перманентного бана.</i></p>
    </li>
    <li>
        Использовать в качестве вложения в сообщения картинки порнографического, экстремистского или оскорбительного характера.
        <p><i class="text-underline">Однократное нарушение: предупреждение.</i></p>
        <p><i class="text-underline">Неоднократное нарушение: бан от 1 дня и по нарастающей – до  перманентного бана.</i></p>
    </li>
    <li>
        <b class="text-underline">
            При написании и оформлении сообщений / комментариев:
        </b>
        <ul style="list-style-type: lower-roman">
            <li>
                <b class="text-underline">
                    Высказывать в комментариях к опубликованным статьям недоуменный негатив
                </b> в форме вопросов: <b>«А зачем вы это опубликовали?»</b>… <b>«А зачем мне это читать?»</b>, а также в другой – любой форме.
                <p><i>Что Вам читать решаете Вы сами, но если тема, затронутая в статье, не является интересной / важной для Вас, это не значит, что она никому не нужна. <b class="text-underline">Воздержитесь от негативных высказываний.</b></i></p>
            </li>
            <li>
                <b class="text-underline">Дублировать комментарии</b> – создавать одинаковые сообщения в разных разделах сайта.
            </li>
            <li>
                <b class="text-underline">Чрезмерно использовать смайлы</b> или создавать комментарий, полностью состоящий из смайлов.
            </li>
            <li>
                Использовать в сообщениях <b class="text-underline">чрезмерное количество повторяющихся символов</b> (точки, скобки и другие – любые знаки).
            </li>
            <li>
                Использовать в сообщениях <b class="text-underline">красный цвет</b> – это привилегия модераторов и администраторов. (Выделять основные мысли комментария достаточно жирным шрифтом, подчеркиванием и т.п. Увеличение размера шрифта разрешено, но в рамках разумного.)
            </li>
            <li>
                <b class="text-underline">Использовать латиницу (транслит)</b>.
            </li>
            <li>
                <b class="text-underline">Использовать</b> при написании основного текста <b class="text-underline">любой другой язык</b>, кроме русского.
            </li>
            <li>
                <b class="text-underline">Размещать не прямые ссылки</b> на фотографии и видеоролики, а на сайт, где размещены эти материалы. (Лучше всего вставить то, что вы хотите показать в комментарий – это гораздо нагляднее.)
            </li>
            <li>
                <b class="text-underline">Нарушать авторские права</b> – указывайте ссылки на АВТОРА (источник), откуда были взяты фразы. Плагиат категорически запрещен.
            </li>
            <li>
                <b class="text-underline">Размещать фотографию, картинку или видео – не убрав в спойлер (на панели управления есть специальная функция)</b>.
            </li>
            <li>
                <b class="text-underline">Чрезмерно цитировать оригинал</b> на любом другом языке, кроме русского.
            </li>
            <li>
                <b class="text-underline">Чрезмерно цитировать текст статьи</b>, новости из материала, опубликованного на нашем сайте, <b class="text-underline">не убрав его в спойлер</b>. (Вы можете определяющими фразами (своими или из текста) показать смысл, а сам текст убрать в спойлер, а также дать ссылку на материал.)
            </li>
            <li>
                <b class="text-underline">Чрезмерно цитировать предыдущие сообщения</b>, если в этом нет необходимости (флейм).
            </li>
            <li>
                <b class="text-underline">Цитировать без заключения текста статьи в кавычки</b> (на панели управления есть функция «цитирование»).
            </li>
            <li>
                <b class="text-underline">Цитировать мнения пользователей без заключения фраз в кавычки.</b>
                <p><i>Если по смыслу текста комментария (ответа) требуется большое количество цитирования отдельных фраз, то их можно выделить курсивом, жирным шрифтом и обязательно взять в кавычки, предваряя словом «цитирую» или другими словами показав, что это чужое мнение.</i></p>
            </li>
            <li>
                Создавать темы, сообщения и комментарии, в которых более половины всей информации написано заглавными буквами.
            </li>
            <li>
                <b class="text-underline">Использовать информацию из издания <del>«The S*n»</del></b>, а также <b class="text-underline">отображать его название иначе, чем написано в данном предложении</b>.
                <p><i class="text-underline">Однократное нарушение: предупреждение.</i></p>
                <p><i class="text-underline">Неоднократное нарушение: бан от 1 дня и по нарастающей – до  перманентного бана.</i></p>
            </li>
        </ul>
    </li>
    <li>
        <b class="text-underline">Использовать ненормативную лексику в любых её проявлениях</b>, в том числе <b class="text-underline">
            сокращенную или замененную «звездочками» (или другими символами)
        </b>, на русском, английском, любом другом языке, либо транслите.
        <p><i>Это незыблемое правило для всех написанных слов на сайте – в чате, комментариях, сообщениях - ВЕЗДЕ!</i></p>
        <p><i class="text-underline">Однократное нарушение правила: в редких случаях – предупреждение, стандартно бан от 1 дня.</i></p>
        <p><i class="text-underline">Неоднократное нарушение: бан от 3 дней и по нарастающей – до  перманентного бана.</i></p>
    </li>
    <li>
        <b class="text-underline">Прямые оскорбления</b> всех, кто имеет отношение к футбольному клубу «Ливерпуль»; игроков, тренеров любых футбольных клубов; а также всех, кто имеет отношение к клубам, судейству и прочим действиям для осуществления матчей.
        <p>Выражайте свое мнение о действиях, но не личностях, которые произвели эти действия! Если человек играл «отвратительно / деревянно» – это не значит, что он сам – <del>«отвратительный и деревянный»</del>, тем более не <del>«дерево»</del>.</p>
        <p>ЛЮБОЕ КЛЕЙМО в виде определяющего личность слова – это ОСКОРБЛЕНИЕ!</p>
        <p><i class="text-underline">Однократное нарушение правила: в крайне редких случаях – предупреждение, стандартно бан от 1 дня.</i></p>
        <p><i class="text-underline">Неоднократное нарушение: бан от 3 дней и по нарастающей – до  перманентного бана.</i></p>
    </li>
    <li>
        <b class="text-underline">Переходить на личности пользователей сайта.</b>
        <p>Каждый имеет право высказывать любую точку зрения по вопросу, событию, явлению, действия игроков, тренеров и т.п., критиковать или одобрять мнения других. Все пользователи имеют право на собственную точку зрения, но клеймить личность того, с чьим мнением вы не согласны, чьи поступки не одобряете – категорически запрещено!</p>
        <p> Любое клеймо – не доказанное обвинение – ваш домысел, характеризующий вас больше, чем того, кого вы клеймите.</p>
        <p><i class="text-underline">ЛЮБОЕ КЛЕЙМО в виде определяющего личность слова – это ОСКОРБЛЕНИЕ!</i></p>
        <p> <del>«Клоун»</del>, <del>«умник»</del>, <del>«трус»</del>, <del>«ты не болельщик»</del> и прочие определения личности – приравниваются к прямому оскорблению.</p>
        <p> Политические пристрастия, национальные и религиозные вопросы – категорически запрещено критиковать. На нашем сайте есть одна национальность – скаузер! Политика – клуба «Ливерпуль»!</p>
        <p> Если вы цитируете чье-то мнение, в котором есть переход на личности, необходимо придерживаться п. 12 пп. 13 настоящих правил о цитировании. Для более четкого понимания вашей позиции – лучше всего показать и свое мнение / отношение к процитированному.</p>
        <p><i class="text-underline">Однократное нарушение правила: в крайне редких случаях – предупреждение, стандартно бан от 1 дня.</i></p>
        <p><i class="text-underline">Неоднократное нарушение: бан от 3 дней и по нарастающей – до  перманентного бана.</i></p>
    </li>
    <li>
        <b class="text-underline">Провоцировать конфликты</b> с пользователями сайта любыми методами и формами троллизма и издевательств. <b class="text-underline">Поддержка</b> уже разгоревшегося конфликта <b class="text-underline">приравнивается к участию</b>.
        <p>
            <i>
                Вы можете показать свое отношение, опровергнуть или поддержать мнение одной из сторон, но переходя на личности – сами нарушаете правила.
                Если Вы увидели начинающийся или уже разгоревшийся конфликт, напишите администрации или любому из команды сайта, если на момент Вашего прочтения меры не были приняты. Ваша помощь будет очень полезна, ведь в команде сайта тоже люди, не всегда имеющие возможность круглосуточного контроля событий.
            </i>
        </p>
        <p><i class="text-underline">Однократное нарушение правила: в крайне редких случаях – предупреждение, стандартно бан от 1 дня.</i></p>
        <p><i class="text-underline">Неоднократное нарушение: бан от 3 дней и по нарастающей – до  перманентного бана.</i></p>
    </li>
    <li>
        Создавать темы и сообщения, противоречащие Конституции и законодательству РФ.
        <p><i class="text-underline">Однократное нарушение правила: предупреждение.</i></p>
        <p><i class="text-underline">Неоднократное нарушение: бан от 1 дня и по нарастающей – до  перманентного бана.</i></p>
    </li>
    <li>
        Использовать в качестве статуса или подписи нецензурные, или ругательные слова, а также заведомо недостоверную информацию. (Например, писать в статусе «Модератор», когда на самом деле Вы таковым не являетесь).
        <p><i class="text-underline">Однократное нарушение правила: предупреждение.</i></p>
        <p><i class="text-underline">Неоднократное нарушение: бан от 1 дня и по нарастающей – до  перманентного бана.</i></p>
    </li>
    <li>
        Пропагандировать любые наркотические и психотропные вещества и образ жизни, связанный с употреблением данных веществ, а также пропагандировать суицид, расовую и религиозную ненависть, фашизм и нацизм.
        <p><i class="text-underline">Однократное нарушение правила: предупреждение.</i></p>
        <p><i class="text-underline">Неоднократное нарушение: бан от 1 дня и по нарастающей – до  перманентного бана.</i></p>
    </li>
    <li>
        <b class="text-underline">Обсуждать действия администрации</b> в любых разделах сайта:
        <ol>
            <li><b class="text-underline">Политику сайта</b> (в любом ракурсе), а также методы работы;</li>
            <li>
                <b class="text-underline">Выбор публикуемых материалов</b>, количество, качество и направленность;
                <p>
                    <i>
                        У Вас есть прекрасная возможность самим перевести материал, написать статью для сайта, передать её в команду сайта для публикации.
                        Возможно, Вы станете одним из команды, мы всегда рады принять в коллектив энтузиастов и ждём предложений от Вас!
                    </i>
                </p>
            </li>
            <li><b class="text-underline">Авторов переводов</b> любых статей (мнение автора и мнение переводчика – две разные вещи);</li>
            <li> <b class="text-underline">Команду сайта</b> (действия пользователя в рамках исполнения обязанностей на сайте – не лишает его права оставаться человеком с собственным мнением).</li>
        </ol>
        Если у Вас есть <b>замечания, предложения и жалобы</b>, можно высказать своё мнение, а также несогласие в личном сообщении или в теме на форуме сайта - <b>Жалобы</b>.
        <p><b>Обнаружив ошибку в материале</b>, опубликованном на сайте, вспомните, что и вы не безгрешны!  <b>Сообщите</b> о найденной ошибке <b>в личном сообщении</b> автору материала или любому представителю команды сайта. Необходимости писать об этом в комментариях под материалом – нет!</p>
        <p><i class="text-underline">Однократное нарушение правила: предупреждение.</i></p>
        <p><i class="text-underline">Неоднократное нарушение: бан от 1 дня и по нарастающей – до  перманентного бана.</i></p>
    </li>
</ol>
<h4 class="text-underline"><b>    III. Общие рекомендации и советы.</b></h4>
<ol>
    <li>
        Не обращайте внимания на хулиганов. Не отвечайте им, даже если Вы считаете, что Вас оскорбили, не поддавайтесь на провокации. Достаточно сообщить администрации об оскорблении и виновные будут наказаны.
    </li>
    <li>
        В том случае, если Вы считаете, что нарушены Правила сайта, постарайтесь сразу же сообщить об этом администрации сайта.
    </li>
    <li>
        Старайтесь не использовать в сообщениях жаргон, т.к. некоторые пользователи могут не правильно его растолковать.
    </li>
    <li>
        Если это Ваше личное мнение, будет лучше сообщить об этом заранее, либо объяснив точку зрения, чтобы быть понятым досконально и в том смысле, который Вы хотели передать, либо проставив «ИМХО» (от англ. “imho”, что в переводе означает «по моему скромному мнению»).
    </li>
    <li>
        Прежде чем создавать тему, убедитесь, что Вы создаете её в нужном разделе сайта. Помните, что темы, не соответствующие тематике раздела, будут либо удалены, либо перенесены в другой раздел.
    </li>
    <li>
        Старайтесь не делать грамматических ошибок в сообщениях – это создаст негативное впечатление о вас.
    </li>
</ol>

<h4 class="text-underline"><b>IV. Отношения между пользователями и администрацией.</b></h4>
<ol>
    <li>
        В своих действиях администрация сайта руководствуется здравым смыслом и внутренними правилами управления сайтом.
    </li>
    <li>
        Обсуждение действий администрации и команды сайта – категорически запрещается в любых темах (п. II, пп. 21 настоящих правил), за исключение темы «Жалобы».
    </li>
    <li>
        Администрация оставляет за собой право изменять правила без уведомления об этом пользователей сайта. Все изменения и новации на сайте производятся с учетом мнений и интересов пользователей.
    </li>
    <li>
        Если у Вас есть предложения по корректировке правил, напишите в администрацию сайта. Ваше обращение будет обязательно рассмотрено, обоснованные и логичные корректировки, после вынесения вердикта команды сайта, могут быть претворены в жизнь.
    </li>
    <li>
        Заранее благодарны Вам за любую помощь!
    </li>
</ol>
<div class="col-xs-12">
    <b class="pull-right"><b>С уважением, администрация сайта</b> www.mylfc.ru.</b>
</div>

<p class="color-red text-underline">НАПОМИНАНИЕ!!!</p>
<p class="color-red text-underline">     НАСТОЯЩИЕ ПРАВИЛА – ЗАКОН НАШЕГО САЙТА.</p>
<p class="color-red">       Незнание закона нашего сайта – не освобождает от ответственности за его нарушение.</p>
<p class="color-red text-underline">     Настоящие правила не подлежат обсуждению и обязательны для исполнения всеми без исключения пользователями нашего сайта.</p>
<p class="color-red">       Администрация сайта пресекает любые обсуждения данных правил наказанием.</p>
<p class="color-red text-underline">    В спорных случаях администрация оставляет за собой право принимать решения, которые также не обсуждаются.</p>
<p class="color-red">     Если Вам не нравятся правила нашего сайта - Вы всегда можете создать свой собственный сайт, делать там все, что вам нравится - по собственным правилам.</p>
<p class="color-red">     Очень надеемся на взаимопонимание!</p>
