<div align="center">
    &nbsp;
    <table class="SquadList">
        <tbody>
            <tr>
                <th class="SquadFirst">№</th>
                <th class="SquadFirst">Фото</th>
                <th class="SquadFirst">Имя</th>
                <th class="SquadFirst">Гражданство</th>
                <th class="SquadFirst">Аренда</th>
                <th class="SquadFirst">Дата рождения</th>
            </tr>
            <tr>
                <td class="playerPossition" colspan="6">Голкиперы:</td>
            </tr>
            <tr class="squadOdd">
                <td class="PlayerNum">1</td>
                <td class="SquadPhoto"><img class="SquadPhoto" src="http://assets.lfcimages.com/v2/uploads/media/misc/0001/24/88bd9693f8b41b25edff902642d34ac9d7c8ba6a.jpeg" style="height:90px" title="" /></td>
                <td class="squadName">Лорис Карриус&nbsp;</td>
                <td class="countryName"><img alt="Германия" src="http://www.myliverpool.ru/Team/Germany.png" style="cursor: default; color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, &quot;Trebuchet MS&quot;; font-size: 13px; line-height: 20.8px; background-color: rgb(255, 255, 255);" title="Германия" /></td>
                <td class="bplPlayer">&nbsp;</td>
                <td class="PlayerDOB">22.06.1993</td>
            </tr>
            <tr class="squadEven">
                <td class="PlayerNum">13</td>
                <td class="SquadPhoto"><img class="SquadPhoto" src="http://assets.lfcimages.com/v2/uploads/media/misc/0001/26/87e90bac4a6cc490713aba58df7474d6f2cc9a23.jpeg" style="height:90px" title="" /></td>
                <td class="squadName">Алекс Маннингер&nbsp;</td>
                <td class="countryName"><img alt="Австрия" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/41/Flag_of_Austria.svg/20px-Flag_of_Austria.svg.png" title="Австрия" /></td>
                <td class="bplPlayer">&nbsp;</td>
                <td class="PlayerDOB">04.06.1977</td>
            </tr>
            <tr class="squadOdd">
                <td class="PlayerNum">22</td>
                <td class="SquadPhoto"><img class="SquadPhoto" src="http://assets.lfcimages.com/v2/uploads/media/misc/0001/26/86b2c7ab6039e2b716a37168dbca51b2f3b2016f.jpeg" style="height:90px" title="" /></td>
                <td class="squadName">Симон Миньоле&nbsp;</td>
                <td class="countryName"><img alt="Бельгия" src="http://www.myliverpool.ru/Team/Belgium-30.png" style="cursor: default; color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, &quot;Trebuchet MS&quot;; font-size: 13px; line-height: 20.8px; background-color: rgb(255, 255, 255);" title="Бельгия" /></td>
                <td class="bplPlayer">&nbsp;</td>
                <td class="PlayerDOB">06.03.1988</td>
            </tr>
            <tr class="squadEven">
                <td class="PlayerNum">34</td>
                <td class="SquadPhoto"><img alt="Adam Bogdan" class="SquadPhoto" src="http://www.myliverpool.ru/images/Players/Squad/Adam_Bogdan.jpg" style="height:90px" title="Adam Bogdan" /></td>
                <td class="squadName">Адам Богдан&nbsp;&nbsp;</td>
                <td class="countryName"><img alt="Венгрия" src="http://www.myliverpool.ru/Team/Hungary.png" title="Венгрия" /></td>
                <td class="bplPlayer">Отдан в аренду &nbsp;&quot;Уиган&quot;&nbsp;</td>
                <td class="PlayerDOB">27.09.1987</td>
            </tr>
            <tr class="squadOdd">
                <td class="PlayerNum">39</td>
                <td class="SquadPhoto"><img class="SquadPhoto" src="http://assets.lfcimages.com/v2/uploads/media/default/0001/19/f87e94c7b91170f1f172815a60f543be05cfb217.jpeg" style="height:90px" title="" /></td>
                <td class="squadName">Райан Фултон&nbsp;</td>
                <td class="countryName"><img alt="Англия" src="http://www.myliverpool.ru/Team/England.png" style="cursor: default; color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, &quot;Trebuchet MS&quot;; font-size: 13px; line-height: 20.8px; background-color: rgb(255, 255, 255);" title="Англия" /></td>
                <td class="bplPlayer">Отдан в аренду &quot;Честерфилд&quot;</td>
                <td class="PlayerDOB">23.05.1996</td>
            </tr>
            <tr class="squadEven">
                <td class="PlayerNum">52</td>
                <td class="SquadPhoto"><img class="SquadPhoto" src="http://assets.lfcstage.com/symfony2/uploads/media/default/0001/10/85279f28ecf888652f0855e511bd9b2db117cf97.jpeg" style="height:90px" title="" /></td>
                <td class="squadName">Дэни Уорд&nbsp;&nbsp;</td>
                <td class="countryName"><img alt="Уэльс" src="http://www.myliverpool.ru/Team/Wales.png" style="cursor: default; color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, &quot;Trebuchet MS&quot;; font-size: 13px; line-height: 20.8px; background-color: rgb(255, 255, 255);" title="Уэльс" /></td>
                <td class="bplPlayer">Отдан в аренду &nbsp;&quot;Хаддерсфилд Таун&quot;</td>
                <td class="PlayerDOB">22.06.1993</td>
            </tr>
            <tr>
                <td class="playerPossition" colspan="6">Защитники:</td>
            </tr>
            <tr class="squadOdd">
                <td class="PlayerNum">2</td>
                <td class="SquadPhoto"><img alt="Nathaniel Clyne" class="SquadPhoto" src="http://www.myliverpool.ru/images/Players/Squad/Nathaniel_Clyne.jpg" style="height:90px" title="Nathaniel Clyne" /></td>
                <td class="squadName">Натаниэль Клайн&nbsp;&nbsp;</td>
                <td class="countryName"><img alt="Англия" src="http://www.myliverpool.ru/Team/England.png" title="Англия" /></td>
                <td class="bplPlayer">&nbsp;</td>
                <td class="PlayerDOB">05.04.1991</td>
            </tr>
            <tr class="squadEven">
                <td class="PlayerNum">3</td>
                <td class="SquadPhoto"><img class="SquadPhoto" src="http://assets.lfcimages.com/v2/uploads/media/default/0001/26/01121a0b101ced203c7c7041656c18e3ae769d7b.jpeg" style="height:90px" title="" /></td>
                <td class="squadName">Мамаду Сако&nbsp;</td>
                <td class="countryName"><img alt="Франция" src="http://www.myliverpool.ru/Team/France-30.png" title="Франция" /></td>
                <td class="bplPlayer">&nbsp;</td>
                <td class="PlayerDOB">13.02.1990</td>
            </tr>
            <tr class="squadOdd">
                <td class="PlayerNum">6</td>
                <td class="SquadPhoto"><img class="SquadPhoto" src="http://assets.lfcimages.com/v2/uploads/media/misc/0001/26/9248f114ab7be3f8678205fb7b8c37e959b16bbf.jpeg" style="height:90px" title="" /></td>
                <td class="squadName">Деян Ловрен&nbsp;</td>
                <td class="countryName"><img alt="Хорватия" src="http://abali.ru/wp-content/uploads/2011/09/croatia_round_icon_512.png" style="width:30px" title="Хорватия" /></td>
                <td class="bplPlayer">&nbsp;</td>
                <td class="PlayerDOB">05.07.1989</td>
            </tr>
            <tr class="squadEven">
                <td class="PlayerNum">12</td>
                <td class="SquadPhoto"><img class="SquadPhoto" src="http://assets.lfcimages.com/v2/uploads/media/default/0001/26/5c3fd775b9f52d93c908ef7faa4d14366471ef0f.jpeg" style="height:90px" title="" /></td>
                <td class="squadName">Джо Гомез&nbsp;</td>
                <td class="countryName"><img alt="Англия" src="http://www.myliverpool.ru/Team/England.png" style="cursor: default; color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, &quot;Trebuchet MS&quot;; font-size: 13px; line-height: 20.8px; background-color: rgb(255, 255, 255);" title="Англия" /></td>
                <td class="bplPlayer">&nbsp;</td>
                <td class="PlayerDOB">23.05.1997</td>
            </tr>
            <tr class="squadOdd">
                <td class="PlayerNum">17</td>
                <td class="SquadPhoto"><img class="SquadPhoto" src="http://assets.lfcimages.com/v2/uploads/media/default/0001/26/6a78d3740fcbe2687784bb6bdd148714a9810089.jpeg" style="height:90px" title="" /></td>
                <td class="squadName">Рагнар Клаван&nbsp;</td>
                <td class="countryName"><img alt="Эстония" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8f/Flag_of_Estonia.svg/20px-Flag_of_Estonia.svg.png" title="Эстония" /></td>
                <td class="bplPlayer">&nbsp;</td>
                <td class="PlayerDOB">30.10.1985</td>
            </tr>
            <tr class="squadEven">
                <td class="PlayerNum">18</td>
                <td class="SquadPhoto"><img class="SquadPhoto" src="http://assets.lfcimages.com/v2/uploads/media/misc/0001/26/3fb69ebb21a3cb6771eb7d0c1eacd487854edf2f.jpeg" style="height:90px" title="" /></td>
                <td class="squadName">Альберто Морено&nbsp;</td>
                <td class="countryName"><img alt="Испания" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Flag_of_Spain.svg/20px-Flag_of_Spain.svg.png" title="Испания" /></td>
                <td class="bplPlayer">&nbsp;</td>
                <td class="PlayerDOB">05.07.1992</td>
            </tr>
            <tr class="squadOdd">
                <td class="PlayerNum">26</td>
                <td class="SquadPhoto"><img class="SquadPhoto" src="http://assets.lfcstage.com/symfony2/uploads/media/default/0001/10/67bb9344583806a1013fa564bce9032d87146529.jpeg" style="height:90px" title="" /></td>
                <td class="squadName">Тиагу Илори&nbsp;</td>
                <td class="countryName"><img alt="Португалия" src="http://www.myliverpool.ru/Team/portugal.png" style="cursor: default; color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, &quot;Trebuchet MS&quot;; font-size: 13px; line-height: 20.8px; background-color: rgb(255, 255, 255);" title="Португалия" /></td>
                <td class="bplPlayer">&nbsp;</td>
                <td class="PlayerDOB">26.02.1993</td>
            </tr>
            <tr class="squadEven">
                <td class="PlayerNum">32</td>
                <td class="SquadPhoto"><img class="SquadPhoto" src="http://assets.lfcimages.com/v2/uploads/media/misc/0001/26/f0071a2b740266e8391950a0001e19ab2d7432bc.jpeg" style="height:90px" title="" /></td>
                <td class="squadName">Жоэль Матип&nbsp;</td>
                <td class="countryName"><img alt="Камерун" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Flag_of_Cameroon.svg/20px-Flag_of_Cameroon.svg.png" title="Камерун" /></td>
                <td class="bplPlayer">&nbsp;</td>
                <td class="PlayerDOB">08.08.1991</td>
            </tr>
            <tr class="squadOdd">
                <td class="PlayerNum">38</td>
                <td class="SquadPhoto"><img class="SquadPhoto" src="http://assets.lfcimages.com/v2/uploads/media/misc/0001/24/0ced040215067709125ff8c13b7719cafd6c4576.jpeg" style="height:90px" title="" /></td>
                <td class="squadName">Джон Флэнаган&nbsp;</td>
                <td class="countryName"><img alt="Англия" src="http://www.myliverpool.ru/Team/England.png" style="cursor: default; color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, &quot;Trebuchet MS&quot;; font-size: 13px; line-height: 20.8px; background-color: rgb(255, 255, 255);" title="Англия" /></td>
                <td class="bplPlayer">Отдан в аренду &nbsp;&quot;Бернли&quot;</td>
                <td class="PlayerDOB">01.01.1993</td>
            </tr>
            <tr class="squadEven">
                <td class="PlayerNum">47</td>
                <td class="SquadPhoto"><img class="SquadPhoto" src="http://assets.lfcimages.com/v2/uploads/media/misc/0001/26/25f745066101943a9d126ec4095f24e327dbffcb.jpeg" style="height:90px" title="" /></td>
                <td class="squadName">Андре Уиздом&nbsp;</td>
                <td class="countryName"><img alt="Англия" src="http://www.myliverpool.ru/Team/England.png" title="Англия" /></td>
                <td class="bplPlayer">Отдан в аренду &quot;Зальцбург&quot;</td>
                <td class="PlayerDOB">09.05.1993</td>
            </tr>
            <tr class="squadOdd">
                <td class="PlayerNum">51</td>
                <td class="SquadPhoto"><img class="SquadPhoto" src="http://assets.lfcimages.com/v2/uploads/media/misc/0001/26/eb1e9427f9248f306d2097c7bf94087f0f0f56a4.jpeg" style="height:90px" title="" /></td>
                <td class="squadName">Ллойд Джонс&nbsp;</td>
                <td class="countryName"><img alt="Англия" src="http://www.myliverpool.ru/Team/England.png" style="cursor: default; color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, &quot;Trebuchet MS&quot;; font-size: 13px; line-height: 20.8px; background-color: rgb(255, 255, 255);" title="Англия" /></td>
                <td class="bplPlayer">Отдан в аренду &nbsp;&quot;Суиндон Таун&quot;</td>
                <td class="PlayerDOB">07.10.1995</td>
            </tr>
            <tr class="squadEven">
                <td class="PlayerNum">56</td>
                <td class="SquadPhoto"><img class="SquadPhoto" src="http://assets.lfcimages.com/v2/uploads/media/misc/0001/26/e308134162726dfe5868954125aaea53c21e30cd.jpeg" style="height:90px" title="" /></td>
                <td class="squadName">Коннор Рэндалл&nbsp;</td>
                <td class="countryName"><img alt="Англия" src="http://www.myliverpool.ru/Team/England.png" style="cursor: default; color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, &quot;Trebuchet MS&quot;; font-size: 13px; line-height: 20.8px; background-color: rgb(255, 255, 255);" title="Англия" /></td>
                <td class="bplPlayer">&nbsp;</td>
                <td class="PlayerDOB">21.10.1995</td>
            </tr>
            <tr class="squadOdd">
                <td class="PlayerNum">57</td>
                <td class="SquadPhoto"><img class="SquadPhoto" src="http://assets.lfcimages.com/v2/uploads/media/misc/0001/26/90a68dbca0710f112b79ea3c69ca57bdb76cb183.jpeg" style="height:90px" title="" /></td>
                <td class="squadName">Джо Магуайр&nbsp;</td>
                <td class="countryName"><img alt="Англия" src="http://www.myliverpool.ru/Team/England.png" style="cursor: default; color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, &quot;Trebuchet MS&quot;; font-size: 13px; line-height: 20.8px; background-color: rgb(255, 255, 255);" title="Англия" /></td>
                <td class="bplPlayer">&nbsp;</td>
                <td class="PlayerDOB">18.01.1996</td>
            </tr>
            <!--tr class="squadEven">
            <td class="PlayerNum">58</td>
            <td class="squadName">&nbsp;</td>
            <td class="squadName"><span style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, &quot;Trebuchet MS&quot;; font-size: 13px; line-height: 20.8px; background-color: rgb(255, 255, 255);">Дэниел Клири&nbsp;</span></td>
            <td class="countryName"><img alt="Ирландия" src="http://ncse.com/files/images/irish%20flag_0.thumbnail.png" title="Ирландия" /></td>
            <td class="bplPlayer">&nbsp;</td>
            <td class="PlayerDOB">09.03.1996</td>
            </tr-->
            <tr>
                <td class="playerPossition" colspan="6">Полузащитники:</td>
            </tr>
            <tr class="squadOdd">
                <td class="PlayerNum">5</td>
                <td class="SquadPhoto"><img class="SquadPhoto" src="http://assets.lfcimages.com/v2/uploads/media/default/0001/26/b0150d2a1e5ec953e6fda3f83bb16aaa1b0aded0.jpeg" style="height:90px" title="" /></td>
                <td class="squadName">Джорджиньо Вейналдум&nbsp;</td>
                <td class="countryName"><img alt="Нидерланды" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/20/Flag_of_the_Netherlands.svg/20px-Flag_of_the_Netherlands.svg.png" title="Нидерланды" /></td>
                <td class="bplPlayer">&nbsp;</td>
                <td class="PlayerDOB">11.11.1990</td>
            </tr>
            <tr class="squadEven">
                <td class="PlayerNum">7</td>
                <td class="SquadPhoto"><img class="SquadPhoto" src="http://assets.lfcimages.com/v2/uploads/media/misc/0001/26/fad573aa50c8cb36a6620018373f647d75a8c910.jpeg" style="height:90px" title="" /></td>
                <td class="squadName">Джеймс Милнер&nbsp;</td>
                <td class="countryName"><img alt="Англия" src="http://www.myliverpool.ru/Team/England.png" style="cursor: default; color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, &quot;Trebuchet MS&quot;; font-size: 13px; line-height: 20.8px; background-color: rgb(255, 255, 255);" title="Англия" /></td>
                <td class="bplPlayer">&nbsp;</td>
                <td class="PlayerDOB">04.01.1986</td>
            </tr>
            <tr class="squadOdd">
                <td class="PlayerNum">10</td>
                <td class="SquadPhoto"><img class="SquadPhoto" src="http://assets.lfcimages.com/v2/uploads/media/misc/0001/26/63e88372ffcfacf66c2608cd48b32ef91ccb064d.jpeg" style="height:90px" title="" /></td>
                <td class="squadName">Филиппе Коутиньо&nbsp;</td>
                <td class="countryName"><img alt="Бразилия" src="http://www.myliverpool.ru/Team/brazil.png" style="cursor: default; color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, &quot;Trebuchet MS&quot;; font-size: 13px; line-height: 20.8px; background-color: rgb(255, 255, 255);" title="Бразилия" /></td>
                <td class="bplPlayer">&nbsp;</td>
                <td class="PlayerDOB">12.06.1992</td>
            </tr>
            <tr class="squadEven">
                <td class="PlayerNum">14</td>
                <td class="SquadPhoto"><img class="SquadPhoto" src="http://assets.lfcimages.com/v2/uploads/media/misc/0001/26/43562c981f4a157cea535c2c0e96dd7f824f0b3c.jpeg" style="height:90px" title="" /></td>
                <td class="squadName">Джордан Хендерсон&nbsp;</td>
                <td class="countryName"><img alt="Англия" src="http://www.myliverpool.ru/Team/England.png" style="cursor: default; color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, &quot;Trebuchet MS&quot;; font-size: 13px; line-height: 20.8px; background-color: rgb(255, 255, 255);" title="Англия" /></td>
                <td class="bplPlayer">&nbsp;</td>
                <td class="PlayerDOB">17.23.1990</td>
            </tr>
            <tr class="squadOdd">
                <td class="PlayerNum">16</td>
                <td class="SquadPhoto"><img class="SquadPhoto" src="http://assets.lfcimages.com/v2/uploads/media/misc/0001/26/b4a06b0b5b2e49adb97ad422b545c0c2343481b0.jpeg" style="height:90px" title="" /></td>
                <td class="squadName">Марко Груич&nbsp;</td>
                <td class="countryName"><img alt="Сербия" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Flag_of_Serbia.svg/20px-Flag_of_Serbia.svg.png" title="Сербия" /></td>
                <td class="bplPlayer">&nbsp;</td>
                <td class="PlayerDOB">13.04.1996</td>
            </tr>
            <tr class="squadEven">
                <td class="PlayerNum">20</td>
                <td class="SquadPhoto"><img class="SquadPhoto" src="http://assets.lfcimages.com/v2/uploads/media/misc/0001/26/97aebf125e7fc0fd5ee2ff017856cf18c9c776ac.jpeg" style="height:90px" title="" /></td>
                <td class="squadName">Адам Лаллана&nbsp;</td>
                <td class="countryName"><img alt="Англия" src="http://www.myliverpool.ru/Team/England.png" style="cursor: default; color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, &quot;Trebuchet MS&quot;; font-size: 13px; line-height: 20.8px; background-color: rgb(255, 255, 255);" title="Англия" /></td>
                <td class="bplPlayer">&nbsp;</td>
                <td class="PlayerDOB">10.05.1988</td>
            </tr>
            <tr class="squadOdd">
                <td class="PlayerNum">21</td>
                <td class="SquadPhoto"><img class="SquadPhoto" src="http://assets.lfcimages.com/v2/uploads/media/misc/0001/26/b2200276a740480ca610e4c9b00f99f79dc292d9.jpeg" style="height:90px" title="" /></td>
                <td class="squadName">Лукас Лейва&nbsp;</td>
                <td class="countryName"><img alt="Бразилия" src="http://www.myliverpool.ru/Team/brazil.png" style="cursor: default; color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, &quot;Trebuchet MS&quot;; font-size: 13px; line-height: 20.8px; background-color: rgb(255, 255, 255);" title="Бразилия" /></td>
                <td class="bplPlayer">&nbsp;</td>
                <td class="PlayerDOB">09.01.1987</td>
            </tr>
            <tr class="squadEven">
                <td class="PlayerNum">23</td>
                <td class="SquadPhoto"><img class="SquadPhoto" src="http://assets.lfcstage.com/symfony2/uploads/media/default/0001/10/4fda272e97430aa4abdea7a449c5df3c97c68f39.jpeg" style="height:90px" title="" /></td>
                <td class="squadName">Эмре Джан&nbsp;</td>
                <td class="countryName"><img alt="Германия" src="http://www.myliverpool.ru/Team/Germany.png" style="cursor: default; color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, &quot;Trebuchet MS&quot;; font-size: 13px; line-height: 20.8px; background-color: rgb(255, 255, 255);" title="Германия" /></td>
                <td class="bplPlayer">&nbsp;</td>
                <td class="PlayerDOB">12.01.1994</td>
            </tr>
            <tr class="squadOdd">
                <td class="PlayerNum">32</td>
                <td class="SquadPhoto"><img class="SquadPhoto" src="http://assets.lfcimages.com/v2/uploads/media/misc/0001/26/f91e6358f9737e3ee520a892ad74c9a48714bf0f.jpeg" style="height:90px" title="" /></td>
                <td class="squadName">Кэмерон Брэннаган&nbsp;</td>
                <td class="countryName"><img alt="Англия" src="http://www.myliverpool.ru/Team/England.png" title="Англия" /></td>
                <td class="bplPlayer">&nbsp;</td>
                <td class="PlayerDOB">09.05.1996</td>
            </tr>
            <tr class="squadEven">
                <td class="PlayerNum">35</td>
                <td class="SquadPhoto"><img class="SquadPhoto" src="http://assets.lfcimages.com/v2/uploads/media/misc/0001/26/d67d9e510017fa0f35553073b4472effbb7f7004.jpeg" style="height:90px" title="" /></td>
                <td class="squadName">Кевин Стюарт&nbsp;</td>
                <td class="countryName"><img alt="Англия" src="http://www.myliverpool.ru/Team/England.png" title="Англия" /></td>
                <td class="bplPlayer">&nbsp;</td>
                <td class="PlayerDOB">07.09.1993</td>
            </tr>
            <tr class="squadOdd">
                <td class="PlayerNum">40</td>
                <td class="SquadPhoto"><img class="SquadPhoto" src="http://assets.lfcimages.com/v2/uploads/media/misc/0001/24/cca9fae7db7d093998770c99161742bedd4c17bc.jpeg" style="height:90px" title="" /></td>
                <td class="squadName">Райан Кент&nbsp;</td>
                <td class="countryName"><img alt="Англия" src="http://www.myliverpool.ru/Team/England.png" title="Англия" /></td>
                <td class="bplPlayer">Отдан в аренду &quot;Барнсли&quot;</td>
                <td class="PlayerDOB">11.11.1996</td>
            </tr>
            <tr class="squadEven">
                <td class="PlayerNum">41</td>
                <td class="SquadPhoto"><img class="SquadPhoto" src="http://assets.lfcimages.com/v2/uploads/media/misc/0001/26/67ddf6e407850f6d964cf2294e08f0e8e0c7b4bc.jpeg" style="height:90px" title="" /></td>
                <td class="squadName">Джек Данн&nbsp;</td>
                <td class="countryName"><img alt="Англия" src="http://www.myliverpool.ru/Team/England.png" style="cursor: default; color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, &quot;Trebuchet MS&quot;; font-size: 13px; line-height: 20.8px; background-color: rgb(255, 255, 255);" title="Англия" /></td>
                <td class="bplPlayer">&nbsp;</td>
                <td class="PlayerDOB">19.11.1994</td>
            </tr>
            <tr class="squadOdd">
                <td class="PlayerNum">49</td>
                <td class="SquadPhoto"><img class="SquadPhoto" src="http://assets.lfcimages.com/v2/uploads/media/misc/0001/26/647621fc6db3bd0c98f4aa3599a80af45ea69a4e.jpeg" style="height:90px" title="" /></td>
                <td class="squadName">Джордан Уильямс&nbsp;</td>
                <td class="countryName"><img alt="Уэльс" src="http://www.myliverpool.ru/Team/Wales.png" style="cursor: default; color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, &quot;Trebuchet MS&quot;; font-size: 13px; line-height: 20.8px; background-color: rgb(255, 255, 255);" title="Уэльс" /></td>
                <td class="bplPlayer">&nbsp;</td>
                <td class="PlayerDOB">06.11.1995</td>
            </tr>
            <tr class="squadEven">
                <td class="PlayerNum">50</td>
                <td class="SquadPhoto"><img class="SquadPhoto" src="http://assets.lfcimages.com/v2/uploads/media/misc/0001/26/70fe631537b8d346aa0f8299b84bcf85073a6066.jpeg" style="height:90px" title="" /></td>
                <td class="squadName">Лазар Маркович&nbsp;</td>
                <td class="countryName"><img alt="Сербия" src="http://www.myliverpool.ru/Team/serbia.png" style="cursor: default; color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, &quot;Trebuchet MS&quot;; font-size: 13px; line-height: 20.8px; background-color: rgb(255, 255, 255);" title="Сербия" /></td>
                <td class="bplPlayer">Отдан в аренду &quot;Спортинг&quot;</td>
                <td class="PlayerDOB">02.03.1994</td>
            </tr>
            <tr class="squadOdd">
                <td class="PlayerNum">54</td>
                <td class="SquadPhoto"><img class="SquadPhoto" src="http://assets.lfcimages.com/v2/uploads/media/default/0001/26/d9f75915be0bcaad011e588a59f503bd1ad6e91d.jpeg" style="height:90px" title="" /></td>
                <td class="squadName">Шейи Оджо</td>
                <td class="countryName">&nbsp;<img alt="Англия" src="http://www.myliverpool.ru/Team/England.png" style="cursor: default; color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, &quot;Trebuchet MS&quot;; font-size: 13px; line-height: 20.8px; background-color: rgb(255, 255, 255);" title="Англия" /></td>
                <td class="bplPlayer">&nbsp;</td>
                <td class="PlayerDOB">19.06.1997</td>
            </tr>
            <tr class="squadEven">
                <td class="PlayerNum">68</td>
                <td class="SquadPhoto"><img class="SquadPhoto" src="http://assets.lfcimages.com/v2/uploads/media/misc/0001/26/a7f3ec8f87e0b32770837c930138b5bcdb121b4f.jpeg" style="height:90px" title="" /></td>
                <td class="squadName">Педро Чиривелла&nbsp;</td>
                <td class="countryName"><img alt="Испания" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Flag_of_Spain.svg/20px-Flag_of_Spain.svg.png" title="Испания" /></td>
                <td class="bplPlayer">&nbsp;</td>
                <td class="PlayerDOB">23.05.1997</td>
            </tr>
            <tr class="squadOdd">
                <td class="PlayerNum">&nbsp;</td>
                <td class="SquadPhoto"><img class="SquadPhoto" src="https://pp.vk.me/c637117/v637117668/ad2c/JR0ncg4qDIM.jpg" style="height:90px" title="" /></td>
                <td class="squadName">Аллан де Соуза&nbsp;</td>
                <td class="countryName"><img alt="Бразилия" src="http://www.myliverpool.ru/Team/brazil.png" style="cursor: default; color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, &quot;Trebuchet MS&quot;; font-size: 13px; line-height: 20.8px; background-color: rgb(255, 255, 255);" title="Бразилия" /></td>
                <td class="bplPlayer">Отдан в аренду &nbsp;&quot;Герта&quot;</td>
                <td class="PlayerDOB">03.03.1997</td>
            </tr>
            <tr class="squadEven">
                <td class="PlayerNum">&nbsp;</td>
                <td class="SquadPhoto"><img class="SquadPhoto" src="http://assets.lfcimages.com/v2/uploads/media/misc/0001/26/97613797e93937bd617a3e8d2303450ba1c14c40.jpeg" style="height:90px" title="" /></td>
                <td class="squadName">Харри Уилсон&nbsp;</td>
                <td class="countryName"><img alt="Уэльс" src="http://www.myliverpool.ru/Team/Wales.png" style="cursor: default; color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, &quot;Trebuchet MS&quot;; font-size: 13px; line-height: 20.8px; background-color: rgb(255, 255, 255);" title="Уэльс" /></td>
                <td class="bplPlayer">&nbsp;</td>
                <td class="PlayerDOB">22.03.1997</td>
            </tr>
            <tr class="squadOdd">
                <td class="PlayerNum">&nbsp;</td>
                <td class="SquadPhoto"><img class="SquadPhoto" src="http://assets.lfcimages.com/v2/uploads/media/misc/0001/26/5547de4201197e0301ef4b2ae89d3a7f00fc5261.jpeg" style="height:90px" title="" /></td>
                <td class="squadName">Бобби Адеканье&nbsp;</td>
                <td class="countryName"><img alt="Нигерия" src="http://cdn.modernghana.com/images/content/drapeau_nigeria1300x150.jpg" style="width:30px" title="Нигерия" /></td>
                <td class="bplPlayer">&nbsp;</td>
                <td class="PlayerDOB">16.02.1999</td>
            </tr>
            <tr class="squadEven">
                <td class="PlayerNum">&nbsp;</td>
                <td class="SquadPhoto"><img class="SquadPhoto" src="http://assets.lfcimages.com/v2/uploads/media/misc/0001/26/33a666bd19cc17d0d99e7d441782ba94cf18bd36.jpeg" style="height:90px" title="" /></td>
                <td class="squadName">Трент Александр-Арнольд&nbsp;</td>
                <td class="countryName"><img alt="Англия" src="http://www.myliverpool.ru/Team/England.png" style="cursor: default; color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, &quot;Trebuchet MS&quot;; font-size: 13px; line-height: 20.8px; background-color: rgb(255, 255, 255);" title="Англия" /></td>
                <td class="bplPlayer">&nbsp;</td>
                <td class="PlayerDOB">07.10.1998</td>
            </tr>
            <tr>
                <td class="playerPossition" colspan="6">Нападающие:</td>
            </tr>
            <tr class="squadEven">
                <td class="PlayerNum">11</td>
                <td class="SquadPhoto"><img class="SquadPhoto" src="http://assets.lfcimages.com/v2/uploads/media/misc/0001/26/c01e344a5c6e6ff629d86142efa1fa5c8b6c1104.jpeg" style="height:90px" title="" /></td>
                <td class="squadName">Роберто Фирмино&nbsp;</td>
                <td class="countryName"><img alt="Бразилия" src="http://www.myliverpool.ru/Team/brazil.png" style="cursor: default; color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, &quot;Trebuchet MS&quot;; font-size: 13px; line-height: 20.8px; background-color: rgb(255, 255, 255);" title="Бразилия" /></td>
                <td class="bplPlayer">&nbsp;</td>
                <td class="PlayerDOB">02.10.1991</td>
            </tr>
            <tr class="squadOdd">
                <td class="PlayerNum">15</td>
                <td class="SquadPhoto"><img class="SquadPhoto" src="http://assets.lfcimages.com/v2/uploads/media/misc/0001/26/028b8e230d9de467d9251e3e582633344c1dd5b1.jpeg" style="height:90px" title="" /></td>
                <td class="squadName">Дэниел Старридж&nbsp;</td>
                <td class="countryName"><img alt="Англия" src="http://www.myliverpool.ru/Team/England.png" style="cursor: default; color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, &quot;Trebuchet MS&quot;; font-size: 13px; line-height: 20.8px; background-color: rgb(255, 255, 255);" title="Англия" /></td>
                <td class="bplPlayer">&nbsp;</td>
                <td class="PlayerDOB">01.09.1989</td>
            </tr>
            <tr class="squadEven">
                <td class="PlayerNum">19</td>
                <td class="SquadPhoto"><img class="SquadPhoto" src="http://assets.lfcimages.com/v2/uploads/media/misc/0001/26/a9b8791397ba21c49fa02106f5ae2c9ca4c1d28e.jpeg" style="height:90px" title="" /></td>
                <td class="squadName">Садио Мане&nbsp;</td>
                <td class="countryName"><img alt="Сенегал" src="http://www.worldstatesmen.org/sn.gif" style="width:30px" title="Сенегал" /></td>
                <td class="bplPlayer">&nbsp;</td>
                <td class="PlayerDOB">10.04.1992</td>
            </tr>
            <tr class="squadEven">
                <td class="PlayerNum">27</td>
                <td class="SquadPhoto"><img alt="Divock Origi" class="SquadPhoto" src="http://www.myliverpool.ru/images/Players/Squad/Divock_Origi.jpg" style="height:90px" title="Divock Origi" /></td>
                <td class="squadName">Дивок Ориги&nbsp;</td>
                <td class="countryName"><img alt="Бельгия" src="http://www.myliverpool.ru/Team/Belgium-30.png" style="cursor: default; color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, &quot;Trebuchet MS&quot;; font-size: 13px; line-height: 20.8px; background-color: rgb(255, 255, 255);" title="Бельгия" /></td>
                <td class="bplPlayer">&nbsp;</td>
                <td class="PlayerDOB">18.04.1995</td>
            </tr>
            <tr class="squadOdd">
                <td class="PlayerNum">28</td>
                <td class="SquadPhoto"><img alt="Danny Ings" class="SquadPhoto" src="http://www.myliverpool.ru/images/Players/Squad/Danny_Ings.jpg" style="height:90px" title="Danny Ings" /></td>
                <td class="squadName">Дэнни Ингс&nbsp;</td>
                <td class="countryName"><img alt="Англия" src="http://www.myliverpool.ru/Team/England.png" title="Англия" /></td>
                <td class="bplPlayer">&nbsp;</td>
                <td class="PlayerDOB">23.07.1992</td>
            </tr>
            <tr class="squadEven">
                <td class="PlayerNum">&nbsp;</td>
                <td class="SquadPhoto">&nbsp;</td>
                <td class="squadName">&nbsp;</td>
                <td class="countryName">&nbsp;</td>
                <td class="bplPlayer">&nbsp;</td>
                <td class="PlayerDOB">&nbsp;</td>
            </tr>
            <tr class="squadOdd">
                <td class="PlayerNum">&nbsp;</td>
                <td class="SquadPhoto"><img class="SquadPhoto" src="http://assets.lfcimages.com/v2/uploads/media/default/0001/19/1ff0ad889717c7243970122389a8666698eeffa5.jpeg" style="height:90px" title="" /></td>
                <td class="squadName">Тайво Авонийи&nbsp;</td>
                <td class="countryName"><img alt="Нигерия" src="http://cdn.modernghana.com/images/content/drapeau_nigeria1300x150.jpg" style="width:30px" title="Нигерия" /></td>
                <td class="bplPlayer">Отдан в аренду &quot;НЕК&quot;</td>
                <td class="PlayerDOB">12.08.1997</td>
            </tr>
        </tbody>
    </table>
</div>