<ng-container *ngIf="{ userId: userId$ | async, isNewsmaker: isNewsmaker$ | async, isAuthor: isAuthor$ | async, isEditor: isEditor$ | async } as data">
    <div *ngFor="let item of items | paginate: { itemsPerPage: itemsPerPage,
                                                      currentPage: page,
                                                      totalItems: totalItems }; let i = index;">
        <div class="bottom10" *ngIf="!item.pending || data.isNewsmaker || data.isAuthor && data.userId === item.userId">
            <div class="material" [class.material-pending]="item.pending">
                <div class="header">
                    <a [routerLink]="['/', item.typeName, item.id]">
                        <h3 class="beauty-font" [textContent]="item.title"></h3>
                    </a>
                    <span *ngIf="data.isEditor || data.userId === item.userId">
                <material-tools [editLink]="'/' + item.typeName + '/' + item.id + '/edit'"
                    [editor]="data.isEditor || data.userId === item.userId"
                    [material]="item"
                    (activate)="onActivate(item.id)"
                    (delete)="onDelete(item.id)"></material-tools>                
            </span>
                </div>
                <div class="mat-preview-list full-width">
                    <span>
                        <img class="img-thumbnail" [alt]="item.title" loading="lazy" [src]="item.photoPreview" />
                    </span>
                    <span class="flex-v-c preview-text">
                        <i class="padding5" [innerHTML]="item.brief"></i>
                    </span>
                </div>

                <div class="full-width material-info-panel">
                    <ul class="list-inline small small-offset padding5">
                        <li class="">Категория:</li>
                        <li class="">
                            <a [routerLink]="['/', item.typeName]"
                                [queryParams]="{page: page, categoryId: item.categoryId}"
                                [textContent]="item.categoryName"></a>
                        </li>
                        <!--todo!!, userId: userId-->
                        <li class="">|</li>
                        <li class="">Время добавления:</li>
                        <li class="" [textContent]="item.additionTime | customDate:true"></li>
                        <li class="">|</li>
                        <li class="">Просмотры:</li>
                        <li class="" [textContent]="item.reads"></li>
                        <li class="">|</li>
                        <li class="">Автор:</li>
                        <li class=""><a [routerLink]="['/users', item.userId ]" [textContent]="item.userName"></a></li>
                        <li *ngIf="item.canCommentary" class="">| <a [routerLink]="['/', item.typeName, item.id]"
                                fragment="comments">Комментарии: {{item.commentsCount}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="pagination">
        <pagination-controls (pageChange)="pageChanged($event)" directionLinks="true" autoHide="true"
            previousLabel="Назад" nextLabel="Вперед" screenReaderPaginationLabel="Постраничный вид"
            screenReaderPageLabel="Страница" screenReaderCurrentLabel="Вы на странице"></pagination-controls>
    </div>
</ng-container>