.logo-link {
    height: 77px;
    width: 272px;
}

@media(max-width: 1050px) {
    .logo-link {
        height: 33px;
        width: 114px;
    }
}

.logo {
    width: inherit;
}

@media(max-width: 1810px) {

    /* should based on menu length? todo*/
    .liverbird-navbar {
        display: none;
    }
}

@media(min-width: 1810px) {
    .liverbird-navbar {
        margin-left: auto;
        /*max-height: 81px;*/
    }
}

.mat-button {
    min-width: 66px;
    height: 100%;
    color: white;
}

@media(min-width: 768px) {
    .menu-btn {
        display: none;
    }
}

.profile-btns {
    align-items: center;
    display: flex;
    justify-content: space-around;
    min-height: 0;    
    min-width: 136px;

    a {
        color: white;
    }
}

@media(min-width:768px) {
    .profile-btns {
        display: none;
    }
}

nav {
    align-items: center;
    background-color: #731010;
    display: flex;
    font-family: "Beauty";
    width: 100%;
    flex-flow: row;
    flex-wrap: wrap;
}

@media(max-width:767px) {
    nav {
        justify-content: space-between;
    }
}

.od {
    height: 90px;
    width: calc(100% - 310px - 654px);
}
