<ng-container *ngIf="{ userId: userId$ | async, mobile: mobile$ | async } as data">
    <nav>
        <button type="button" mat-button (click)="toggle.emit()" class="menu-btn">
            <mat-icon>menu</mat-icon>
        </button>
        <a class="logo-link" role="button" [routerLink]="['/']">
            <img src="/content/logo34.png" class="logo" alt="MyLFC.ru" />
        </a>
        <!-- <navbar-menu class="flex-space-around header-nav"></navbar-menu> -->
        <app-dynamic-content-outlet *ngIf="!data.mobile" [componentName]="'NavbarMenuComponent'">
        </app-dynamic-content-outlet>
        <ng-container *ngIf="data.mobile">
            <ng-container *ngIf="!data.userId;else logined" class="profile-btns">
                <a [routerLink]="['/account/signin']" mat-button>
                    <mat-icon>person</mat-icon>
                </a>
            </ng-container>
            <ng-template #logined>
                <div class="profile-btns">
                    <a role="button" [routerLink]="['/users', data.userId]">
                        <mat-icon>person</mat-icon>
                    </a>
                    <pm-counter class="a"></pm-counter>
                    <notification-counter></notification-counter>
                </div>
            </ng-template>
        </ng-container>
        <od [blockName]="'R-A-255349-4'" class="od" *ngIf="showOd"></od>
    </nav>
</ng-container>