<form *ngIf="pmReplyEditForm" class="form-horizontal" role="form" [formGroup]="pmReplyEditForm" (ngSubmit)="onSubmit()">
    <h2>Написать сообщение</h2>
    <mat-form-field class="full-width">
        <input matInput readonly placeholder="Получатель" [value]="userName" />
    </mat-form-field>
    <mat-form-field class="full-width">
        <input matInput placeholder="Заголовок" maxlength="50" formControlName="title" />
    </mat-form-field>
    <mat-form-field class="full-width">
        <textarea matTextareaAutosize rows="4" matInput placeholder="Сообщение" formControlName="message" maxlength="2500"></textarea>
    </mat-form-field>
    <button mat-raised-button color="warn" [disabled]="!pmReplyEditForm.valid" type="submit">Отправить</button>
    <button mat-raised-button type="button" (click)="closeWindow()">Отмена</button>
</form>