<form class="form-horizontal" name="editForm" role="form" [formGroup]="editMatchForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="full-width">
        <input matInput placeholder="Cоперник" [matAutocomplete]="club" formControlName="clubName">
        <mat-autocomplete #club="matAutocomplete">
            <mat-option *ngFor="let club of clubs$ | async" [value]="club.value" (click)="selectClub(club.key)">
                <span>{{ club.value }}</span>
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <div class="form-group">
        <label class="control-label col-xs-2 col-sm-2"> Категория:</label>
        <div class="col-xs-10 col-sm-10">
            <mat-select class="form-control" formControlName="typeId">
                <mat-option *ngFor="let type of types" [value]="type.id" [textContent]="type.name"></mat-option>
            </mat-select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-2 col-sm-2"> Сезон:</label>
        <div class="col-xs-10 col-sm-10">
            <mat-select class="form-control" formControlName="seasonId">
                <mat-option *ngFor="let season of seasons" [value]="season.id" [textContent]="season.startSeasonYear + '-' + season.endSeasonYear"></mat-option>
            </mat-select>
        </div>
    </div>
    <div class="form-group">
        Выезд <mat-slide-toggle formControlName="isHome"
                                color="warn">
            Дома
        </mat-slide-toggle>
    </div>
    <mat-form-field class="full-width">
        <input matInput placeholder="Стадион" [matAutocomplete]="stadium" formControlName="stadiumName">
        <mat-autocomplete #stadium="matAutocomplete">
            <mat-option *ngFor="let stadium of stadiums$ | async" [value]="stadium.name" (click)="selectStadium(stadium.id)">
                <span>{{ stadium.name }}</span>
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <div class="form-group">
        <label class="control-label col-xs-2 col-sm-2"> Время:</label>
        <div class="col-xs-10 col-sm-10">
            <input type="time" formControlName="time" />
        </div>
    </div>
    <mat-form-field>
        <input matInput [matDatepicker]="datePicker" placeholder="Выберите дату" formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
        <mat-datepicker #datePicker startView="year" touchUi="true"></mat-datepicker>
    </mat-form-field>

    <div class="form-group">
        <label class="control-label col-xs-2 col-sm-2"> Превью:</label>
        <div class="col-xs-10 col-sm-10">
            <input class="form-control" formControlName="previewId" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-2 col-sm-2"> Фото:</label>
        <div class="col-xs-10 col-sm-10">
            <input class="form-control" formControlName="photoUrl" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-2 col-sm-2"> Видео:</label>
        <div class="col-xs-10 col-sm-10">
            <input class="form-control" formControlName="videoUrl" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-2 col-sm-2"> Вердикт:</label>
        <div class="col-xs-10 col-sm-10">
            <input class="form-control" formControlName="reportId" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" [disabled]="!editMatchForm.valid" class="btn btn-default">Сохранить</button>
        </div>
    </div>
</form>