<ng-container *ngIf="{ userId: userId$ | async, isNewsmaker: isNewsmaker$ | async, isAuthor: isAuthor$ | async,
 isEditor: isEditor$ | async } as data">
    <div *ngIf="item && (!item.pending || data.isNewsmaker || data.isAuthor && data.userId === item.userId)"
        class="mat-item" style="height: 100%;">
        <div class="material" [class.material-pending]="item.pending" style="height: 100%;">
            <div class="header" style="flex-grow: 5">
                <a [routerLink]="['/', item.typeName, item.id]">
                    <h3 class="beauty-font" [textContent]="item.title"></h3>
                </a>              
                <span *ngIf="data.isEditor || data.userId === item.userId">
                <material-tools [editLink]="'/' + item.typeName + '/' + item.id + '/edit'"
                 [editor]="data.isEditor || data.userId === item.userId"
                 [material]="item"
                 (activate)="onActivate(item.id)"
                 (delete)="onDelete(item.id)"></material-tools>                
            </span>
            </div>
            <div class="mat-preview-list full-width" style="align-self: flex-end;">
                <img class="img-thumbnail" [alt]="item.title" loading="lazy" [src]="item.photoPreview" />
                <div class="full-width material-info-panel">
                    <ul class="list-inline small small-offset padding5">
                        <li class="">Категория:</li>
                        <li class="">
                            <a [routerLink]="['/', item.typeName]" [queryParams]="{categoryId: item.categoryId}"
                                [textContent]="item.categoryName"></a>
                        </li>
                        <li class="">|</li>
                        <!--<li0 class="">Добавлено:</li0>-->
                        <li class="">🕛</li>
                        <li class="" [textContent]="item.additionTime | customDate:true"></li>
                        <li class="">|</li>
                        <li class="">👁️</li>
                        <!--<li class="">Просмотры:</li>-->
                        <li class="" [textContent]="item.reads"></li>
                        <li class="">|</li>
                        <li class="">Автор:</li>
                        <li class=""><a [routerLink]="['/users', item.userId ]" [textContent]="item.userName"></a></li>
                        <!--<li *ngIf="item.canCommentary" class="">| <a [routerLink]="['/', item.typeName, item.id]" fragment="comments">Комментарии: {{item.commentsCount}}</a></li>-->
                        <li *ngIf="item.canCommentary" class="">| <a [routerLink]="['/', item.typeName, item.id]"
                                fragment="comments">💬 {{item.commentsCount}}</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</ng-container>