<div class="block-minichat">
    <div class="blocktitle text-center">
        <b></b>
    </div>
</div>
<mat-tab-group mat-align-tabs="center">
    <mat-tab label="Мини-чат">
        <ng-template matTabContent>
            <chat-window [type]="0" [height]="500"></chat-window>
        </ng-template>
    </mat-tab>
    <mat-tab label="Макси-чат(флудилка)">
        <ng-template matTabContent>
            <chat-window [type]="3" [height]="500"></chat-window>
        </ng-template>
    </mat-tab>
</mat-tab-group>