<ul class="maroon-panel login-list-panel padding10"> <!--todo need some research-->
    <li *ngIf="!roles.checked.isLogined">
        <account-signin></account-signin>
    </li>
    <li *ngIf="roles.checked.isLogined" class="flex-space-around">
        <a [routerLink]="['/users', 0]" class="text-white flex-space-around"><md-icon>person</md-icon>Профиль</a>
        <pm-counter></pm-counter>
        <notification-counter></notification-counter>
        <a role="button" (click)="logout()" class="text-white">Выйти</a>
    </li>
</ul>
<a md-raised-button class="col-xs-6 col-sm-12 col-md-6 color-back-gold" [routerLink]="['/news']" [queryParams]="{page: 1, categoryId: 90}"><b>Клуб Прогнозов</b></a>
<a md-raised-button class="col-xs-6 col-sm-12 col-md-6 color-back-maroon color-gold" [routerLink]="['/fantasy']"><b>Fantasy</b></a>
<section class="top10">
       <mini-chat></mini-chat>
    <a md-raised-button class="col-xs-12 color-back-gold" [routerLink]="['/news', 18096]"><b>Галерея личностей</b></a>
</section>
<section class="col-xs-12 container-row top10">
 <user-birthday></user-birthday> 
</section>
<comment-last></comment-last>
<div *ngIf="roles.checked.isAdminAssistant">
    <a [routerLink]="['/plans']">Планы</a>
    <a [routerLink]="['/instructions']">Инструкции</a>
</div>
<a md-raised-button class="col-xs-12 color-back-gold" [routerLink]="['/job']"><b>Вакансии</b></a>