<ng-container *ngIf="{ userId: userId$ | async } as data">
    <div class="form-horizontal margin-top-middle" *ngIf="item">
    <mat-form-field class="full-width">
        <input matInput readonly [placeholder]="data.userId === item.senderId ? 'Получатель' : 'Отправитель'" 
        [value]="data.userId === item.senderId ? item.receiver : item.sender" />
    </mat-form-field>
    <mat-form-field class="full-width">
        <input matInput placeholder="Заголовок" [value]="item.title"/>
    </mat-form-field>
    <div class="full-width" [innerHTML]="item.message | safe: 'html'">
    </div>
    <div class="full-width text-center">
            <a mat-raised-button color="warn" role="button" (click)="writePm(data.userId === item.senderId)">Ответить</a>
    </div>
    <pm-reply *ngIf="selectedUserId" [userId]="selectedUserId" (close)="closePmWindow($event)" [userName]="selectedUserName" [title]="item.title"></pm-reply>
</div>
</ng-container>