<ng-container *ngIf="{ isAdminAssistant: isAdminAssistant$ | async } as data">
    <div class="injuries" *ngIf="items?.length > 0">
        <h4><b>Травмированы:</b>
            <a *ngIf="data.isAdminAssistant" [routerLink]="['/injuries', 0, 'edit']"><i
                    class="material-icons color-red" style="font-size: 100%;">add</i></a></h4>
        <div class="injury-item" *ngFor="let injury of items">
            <div class="full-width">
                <img loading="lazy" [src]="injury.personPhoto" class="photo" [alt]="injury.personName"
                    [srcset]="injury.personPhoto | img:[50]" />
                <b [textContent]="injury.personName"></b>
                <a *ngIf="data.isAdminAssistant" [routerLink]="['/injuries', injury.id, 'edit']"><span
                        class="material-icons color-red" style="font-size: 100%;">edit</span></a>
            </div>
            <div class="full-width">
                <span [textContent]="injury.description"></span>
            </div>
        </div>
    </div>
</ng-container>