<ng-container *ngIf="{ isLogined: isLogined$ | async } as data">
    <div class="full-width">
        <form class="form-horizontal" role="form" [formGroup]="commentForm" (ngSubmit)="onSubmit()">
            <div class="full-width" *ngIf="data.isLogined">
                <div class="full-width">
                    <bbeditor name="message" formControlName="message"></bbeditor>
                </div>
                <div class="">
                    <button class="btn btn-primary center-block" [disabled]="!commentForm.valid"
                        type="submit">Добавить</button>
                </div>
            </div>
        </form>
    </div>
</ng-container>