<ng-container *ngIf="{ isSiteMember: isSiteMember$ | async, isInformer: isInformer$ | async } as data">
    <div class="flex-space-around flex-v-c" *ngIf="data.isInformer">
        <button mat-raised-button color="warn" type="button" [routerLink]="[0, 'edit']">Добавить</button>
    </div>

    <ol>
        <li *ngFor="let item of items; let i =index; trackBy: trackByFn">
            <div *ngIf="!item.forSiteTeam || (item.forSiteTeam && !data.isSiteMember)">
                {{item.name}} -{{item.order}}
                <a [routerLink]="[item.id, 'edit']" *ngIf="data.isInformer">
                    <i class="material-icons">edit</i>
                </a>
                <a role="button" (click)="showDeleteModal(i)" *ngIf="data.isInformer">
                    <i class="material-icons">clear</i>
                </a>

                <a [routerLink]="['/faq-items', 0, 'edit']" [queryParams]="{categoryId: item.id}"
                    *ngIf="data.isInformer">
                    <i class="material-icons">edit</i>
                </a>
            </div>
        </li>
    </ol>
</ng-container>