<ng-container *ngIf="{ isAdminAssistant: isAdminAssistant$ | async } as data">

    <table class="gTable">
        <tbody *ngFor="let section of items">
            <tr *ngIf="section.subsections.length > 0 || data.isAdminAssistant">
                <td class="gTableTop" colspan="5">
                    <span [textContent]="section.name"></span>
                    <span *ngIf="data.isAdminAssistant">
                        <a [routerLink]="[0, 'edit']">Добавить подсекцию</a>
                        <a *ngIf="section.subsections.length === 0" ng-click="vm.removeSection($index)">
                            <span class="glyphicon glyphicon-remove">
                            </span>
                        </a>
                    </span>
                </td>
            </tr>
            <tr *ngIf="section.subsections.length > 0">
                <td width="5%" class="gTableSubTop">&nbsp;</td>
                <td class="gTableSubTop">Форум</td>
                <td width="8%" class="gTableSubTop" align="center">Темы</td>
                <td width="8%" class="gTableSubTop" align="center">Ответы</td>
                <td width="30%" class="gTableSubTop">Обновления</td>
            </tr>

            <tr *ngFor="let subsection of section.subsections">
                <td class="forumIcoTd" align="center">
                    <img alt=""
                        style="margin:0;padding:0;vertical-align:middle;border:0;max-width:60px;max-height:60px;"
                        src="/images/ico/ava_ico.php.jpg" title="Нет новых сообщений">
                </td>
                <td class="forumNameTd">
                    <a class="forum" [routerLink]="[subsection.id]">
                        <span [textContent]="subsection.name"></span></a>
                    <a *ngIf="data.isAdminAssistant" [routerLink]="[subsection.id, 'edit']"><span
                            class="glyphicon glyphicon-pencil"></span></a>
                    <div class="forumDescr" [textContent]="subsection.description"></div>
                </td>
                <td class="forumThreadTd" align="center" [textContent]="subsection.themesCount"></td>
                <td class="forumPostTd" align="center">-</td>
                <td class="forumLastPostTd">

                    <!--script type="text/javascript">4.4.3.write('<a title="К последнему сообщению" class="forumLastPostLink" href="/forum/5-1400-0-17">Среда, 19.10.2016, 13:37:37</a>')</!--script><a title="К последнему сообщению" class="forumLastPostLink" href="/forum/5-1400-0-17">Среда, 19.10.2016, 13:37:37</a>
                <script type="text/javascript">4.4.3.write('<a href="/forum/5-1400-0-17-1"><img alt="" style="margin:0;padding:0;vertical-align:middle;border:0;max-width:60px;max-height:60px;" title="К первому непрочитанному сообщению" src="http://myliverpool.ru/.s/img/fr/ic/2/lastpost.gif" /></a>')</script>
                <a>
                    <img alt="" style="margin: 0; padding: 0; vertical-align: middle; border: 0; max-width: 60px; max-height: 60px;" title="К первому непрочитанному сообщению" src="http://myliverpool.ru/.s/img/fr/ic/2/lastpost.gif">
                </a>
                <br>Тема: <a class="forumLastPostLink">Брендан Роджерс</a>

                <br>Сообщение от: <span class="lastPostUser"><a class="lastPostUserLink">icebergstollikcs</a></span>-->
                </td>
            </tr>
        </tbody>
    </table>
    <a *ngIf="data.isAdminAssistant" role="button" ng-click="vm.addSection()">Добавить секцию</a>
</ng-container>
