<div class="full-width">
    <http-loader></http-loader>
    <navbar></navbar>
    <div class="main clearfix">
        <div class="bg-gray full-width flex-space-between">
            <breadcrumb prefix="Главная"></breadcrumb>
            <a mat-raised-button class="color-back-gold width25p" [routerLink]="['/wishes']"><b>Ваши идеи</b></a>
        </div>
        <!--<div class="col-xs-12 container-fluid main-container" [class.col-sm-6]="isRoot" [class.col-sm-9]="!isRoot" [class.col-sm-push-3]="isRoot">-->
        <div class="col-xs-12 container-fluid main-container col-sm-6 col-sm-push-3">
            <router-outlet></router-outlet>
            <div class="full-width flex">
                <div id="yandex_rtb_R-A-255349-3"></div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-pull-6 col-sm-3 padding0">
            <sidebar-left></sidebar-left>
        </div>
        <div class="col-xs-12 col-sm-3 container-row">
            <sidebar-right></sidebar-right>
            <!--<sidebar-left *ngIf="!isRoot"></sidebar-left>-->
        </div>
    </div>
    <hr />
    <footer class="flex-space-around flex-vertical-center full-width">
            <a [routerLink]="['/about']">О нас</a>
            <a [routerLink]="['/copyright']">О перепечатке информации</a>
            <p>&copy; 2018 - MyLFC.ru</p>
            <a style="word-wrap: break-word" [routerLink]="['/cooperation']">Сотрудничество</a>
    </footer>
</div>