.breadcrumb-row {
    overflow: hidden;
    width: 100%;
}

.left-container {
    display: flex;
    width: 100%;
}
@media (min-width: 768px) {
    .left-container {
   //     order: 0;
        width: 25%;
    }
}

.nav-menu {
    flex-direction: column;
    font-size: large;

    div {
        margin: 10px;
    }
}

.sidenav {
    background-color: maroon;
}

.main-container {
    //  display: flex;
    padding: 0 10px;
    width: 100%;
}
@media (min-width: 768px){
    .main-container {
    //    order: 1;
        width: 50%;
    }
}

.right-container {
    display: flex;
    width: 100%;
}
@media (min-width: 768px) {
    .right-container {
//        order: 2;
        width: 25%;
    }
}

