<h3>Статистика игроков</h3>
<mat-form-field class="full-width">
    <mat-select #seasonSelect placeholder="Сезон">
        <mat-option *ngFor="let season of seasons" [value]="season.id" [textContent]="season.startSeasonYear + '-' + season.endSeasonYear">
        </mat-option>
    </mat-select>
</mat-form-field>
<!--<div>
    <table mat-table [dataSource]="statistics" matSort class="statistic-table full-width">

        <ng-container matColumnDef="personName" sticky>
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Игрок </th>
            <td mat-cell *matCellDef="let statistic">
                    <span [textContent]="statistic.personName"></span>
            </td>
        </ng-container>

        <ng-container matColumnDef="goals">
            <th mat-header-cell *matHeaderCellDef> Голы </th>
            <th mat-header-cell *matHeaderCellDef mat-sort-header>                  
                <td>АПЛ</td>
                <td>ЛЧ</td>
                <td>ЛЕ</td>
                <td>КЛ</td>
                <td>КА</td>
                <td>Σ</td> 
            </th>
            <td mat-cell *matCellDef="let statistic">
                <season-statistics-item [personStat]="statistic.goals"></season-statistics-item>
            </td>
            
            </ng-container>

        <ng-container matColumnDef="assists">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Ассисты </th>
            <td mat-cell *matCellDef="let statistic" [textContent]="statistic.commentsCount"></td>
        </ng-container>

        <ng-container matColumnDef="yellows">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Желтые </th>
            <td mat-cell *matCellDef="let statistic" [textContent]="statistic.registrationDate | customDate:true"></td>
        </ng-container>

        <ng-container matColumnDef="reds">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Красные </th>
            <td mat-cell *matCellDef="let statistic" [textContent]="statistic.roleGroupName"></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; let i = index; columns: displayedColumns;"></tr>
    </table>
</div>-->
<div style="position: relative;">
    <div class="overflowable" style="margin-left: 150px; width: calc(100%-150px);
                                                                                                 overflow-x: auto;
                                                                                                 overflow-y: auto;
                                                                                                 padding-bottom: 5px;
                                                                                                 ">
        <table class="table table-condensed table-striped table-bordered table-hover" style="border-collapse: separate; ">
            <thead>
                <tr>
                    <td style="position: absolute; left: 0; top: auto; width: 150px" ></td>
                    <td colspan="6">Голы</td>
                    <td colspan="6">Передачи</td>
                    <td colspan="6">ЖК</td>
                    <td colspan="6">КК</td>
                </tr>
                <tr>
                    <td style="position: absolute; left: 0; width: 150px; top: auto">Игрок</td>
                    <td>АПЛ</td>
                    <td>ЛЧ</td>
                    <td>ЛЕ</td>
                    <td>КЛ</td>
                    <td>КА</td>
                    <td>Σ</td>
                    <td>АПЛ</td>
                    <td>ЛЧ</td>
                    <td>ЛЕ</td>
                    <td>КЛ</td>
                    <td>Σ</td>
                    <td>КА</td>
                    <td>АПЛ</td>
                    <td>ЛЧ</td>
                    <td>ЛЕ</td>
                    <td>КЛ</td>
                    <td>КА</td>
                    <td>Σ</td>
                    <td>АПЛ</td>
                    <td>ЛЧ</td>
                    <td>ЛЕ</td>
                    <td>КЛ</td>
                    <td>КА</td>
                    <td>Σ</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of statistics">
                    <td style="position: absolute; left: 0; width: 150px" [textContent]="item.personName"></td>
                    <td [textContent]="item.goals.epl"></td>
                    <td [textContent]="item.goals.cl"></td>
                    <td [textContent]="item.goals.lc"></td>
                    <td [textContent]="item.goals.el"></td>
                    <td [textContent]="item.goals.ec"></td>
                    <td [textContent]="item.goals.total"></td>
                    <td [textContent]="item.assists.epl"></td>
                    <td [textContent]="item.assists.cl"></td>
                    <td [textContent]="item.assists.lc"></td>
                    <td [textContent]="item.assists.el"></td>
                    <td [textContent]="item.assists.ec"></td>
                    <td [textContent]="item.assists.total"></td>
                    <td [textContent]="item.yellows.epl"></td>
                    <td [textContent]="item.yellows.cl"></td>
                    <td [textContent]="item.yellows.lc"></td>
                    <td [textContent]="item.yellows.el"></td>
                    <td [textContent]="item.yellows.ec"></td>
                    <td [textContent]="item.yellows.total"></td>
                    <td [textContent]="item.reds.epl"></td>
                    <td [textContent]="item.reds.cl"></td>
                    <td [textContent]="item.reds.lc"></td>
                    <td [textContent]="item.reds.el"></td>
                    <td [textContent]="item.reds.ec"></td>
                    <td [textContent]="item.reds.total"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>