<h3>Статистика игроков</h3>
<mat-form-field class="full-width">
    <mat-select #seasonSelect placeholder="Сезон">
        <mat-option *ngFor="let season of seasons" [value]="season.id"
            [textContent]="season.startSeasonYear + '-' + season.endSeasonYear">
        </mat-option>
    </mat-select>
</mat-form-field>
<!--<div>
    <table mat-table [dataSource]="statistics" matSort class="statistic-table full-width">

        <ng-container matColumnDef="personName1" sticky>
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Игрок </th>
            <td mat-cell *matCellDef="let statistic">
                <span [textContent]="statistic.personName"></span>
            </td>
        </ng-container>

        <ng-container matColumnDef="goals1">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <td>АПЛ</td>
                <td>ЛЧ</td>
                <td>ЛЕ</td>
                <td>КЛ</td>
                <td>КА</td>
                <td>Σ</td> 
            </th>
            <td mat-cell *matCellDef="let statistic">
                <season-statistics-item [personStat]="statistic.goals"></season-statistics-item>
            </td>

        </ng-container>

        <ng-container matColumnDef="assists1">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
            <td mat-cell *matCellDef="let statistic">
                <season-statistics-item [personStat]="statistic.assists"></season-statistics-item>
            </td>
        </ng-container>

        <ng-container matColumnDef="yellows1">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
            <td mat-cell *matCellDef="let statistic">
                <season-statistics-item [personStat]="statistic.yellows"></season-statistics-item>
            </td>
        </ng-container>

        <ng-container matColumnDef="reds1">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
            <td mat-cell *matCellDef="let statistic">
                <season-statistics-item [personStat]="statistic.reds"></season-statistics-item>
            </td>
        </ng-container>

        <!-- Player ->
        <ng-container matColumnDef="player">
            <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.colspan]="1">
                Игрок
            </th>
        </ng-container>

        <!-- Header row goals ->
        <ng-container matColumnDef="goals">
            <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.colspan]="1">
                Голы
            </th>
        </ng-container>
        <!-- Header row assists ->
        <ng-container matColumnDef="assists">
            <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.colspan]="1">
                Ассисты
            </th>
        </ng-container>
        <!-- Header row yellows ->
        <ng-container matColumnDef="yellows">
            <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.colspan]="1">
                Желтые
            </th>
        </ng-container>
        <!-- Header row reds ->
        <ng-container matColumnDef="reds">
            <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.colspan]="1">
                Красные
            </th>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['player', 'goals', 'assists', 'yellows', 'reds']"></tr>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>-->
<div style="position: relative;">
    <div class="overflowable" style="margin-left: 150px; width: calc(100%-150px);
                                                                                                 overflow-x: auto;
                                                                                                 overflow-y: auto;
                                                                                                 padding-bottom: 5px;
                                                                                                 ">
        <table class="table table-condensed table-striped table-bordered table-hover"
            style="border-collapse: separate; ">
            <thead>
                <tr>
                    <td style="position: absolute; left: 0; top: auto; width: 150px"></td>
                    <td colspan="6">Голы</td>
                    <td colspan="6">Передачи</td>
                    <td colspan="6">ЖК</td>
                    <td colspan="6">КК</td>
                </tr>
                <tr>
                    <td style="position: absolute; left: 0; width: 150px; top: auto">Игрок</td>
                    <td>АПЛ</td>
                    <td>ЛЧ</td>
                    <td>ЛЕ</td>
                    <td>КЛ</td>
                    <td>КА</td>
                    <td>Σ</td>
                    <td>АПЛ</td>
                    <td>ЛЧ</td>
                    <td>ЛЕ</td>
                    <td>КЛ</td>
                    <td>Σ</td>
                    <td>КА</td>
                    <td>АПЛ</td>
                    <td>ЛЧ</td>
                    <td>ЛЕ</td>
                    <td>КЛ</td>
                    <td>КА</td>
                    <td>Σ</td>
                    <td>АПЛ</td>
                    <td>ЛЧ</td>
                    <td>ЛЕ</td>
                    <td>КЛ</td>
                    <td>КА</td>
                    <td>Σ</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of statistics">
                    <td style="position: absolute; left: 0; width: 150px" [textContent]="item.personName"></td>
                    <td [textContent]="item.goals.epl"></td>
                    <td [textContent]="item.goals.cl"></td>
                    <td [textContent]="item.goals.lc"></td>
                    <td [textContent]="item.goals.el"></td>
                    <td [textContent]="item.goals.ec"></td>
                    <td [textContent]="item.goals.total"></td>
                    <td [textContent]="item.assists.epl"></td>
                    <td [textContent]="item.assists.cl"></td>
                    <td [textContent]="item.assists.lc"></td>
                    <td [textContent]="item.assists.el"></td>
                    <td [textContent]="item.assists.ec"></td>
                    <td [textContent]="item.assists.total"></td>
                    <td [textContent]="item.yellows.epl"></td>
                    <td [textContent]="item.yellows.cl"></td>
                    <td [textContent]="item.yellows.lc"></td>
                    <td [textContent]="item.yellows.el"></td>
                    <td [textContent]="item.yellows.ec"></td>
                    <td [textContent]="item.yellows.total"></td>
                    <td [textContent]="item.reds.epl"></td>
                    <td [textContent]="item.reds.cl"></td>
                    <td [textContent]="item.reds.lc"></td>
                    <td [textContent]="item.reds.el"></td>
                    <td [textContent]="item.reds.ec"></td>
                    <td [textContent]="item.reds.total"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>