@using MyLiverpool.Business.Resources

@{
    ViewBag.Title = CommonMessages.Forum;
}

<h2></h2>
<div class="container-fluid" ng-repeat="section in sections">
    <div class="panel panel-danger">
        <div class="panel-heading">{{ section.Name }}</div>
        <div class="panel-body"></div>
        <ul class="list-group" ng-repeat="subsection in section.Subsections">
            <li class="list-group-item list">
                <a ui-sref=""><span> {{ subsection.Name}}</span></a>
            </li>
        </ul>
    </div>
</div>