@using MyLiverpool.Business.Resources

<h2>{{ name }}</h2>
<h3>{{ description }}</h3>

<div class="container-fluid" ng-repeat="message in messages">

    <div class="panel panel-default">
        <div class="panel-heading"><a ui-sref="userInfo({id: message.authorId})">{{ message.authorUserName}}</a>
        </div>
        <div class="panel-body">
            {{ message.message}}
        </div>
    </div>
</div>

@if (User.Identity.IsAuthenticated)
{<div class="col-md-12 row">
        <div class="">
            <textarea id="forumCommentMessage" class="col-md-4 editor" rows="6"></textarea>
            <br />
            <button class="btn btn-primary center-block" data-toggle="modal" data-target="#myModal" id="addComment"> @CommonMessages.Create</button>
        </div>
    </div>
}
<div class="pagination">
    @*@Html.PageLinks(Model.Messages.PageNo, Model.Messages.TotalItems, x => Url.Action("Theme", new { id = Model.Id, page = x }))*@
</div>

<script>
    $('#addComment').click(function () {
        console.log('add forum comment');
        postValues();
    });

    function postValues() {
        var comment = $('#forumCommentMessage').htmlcode();
        console.log(comment);
        if (!comment) {
            return;
        }
        //var themeId = Model.Id;
        $.ajax({
            type: 'post',
            //url: 'Url.Action("AddComment", "Forum")',
            data: { comment: comment, themeId: themeId },
            beforeSend: function() {

            },
            success: function(response) {
                $('#forumCommentMessage').val('');
                publishComment(response, comment);
            }
        });
    }

    function publishComment(id, comment) {
        console.log(id);
        //"<div class='comment'> <input id='comment_Id' name='comment.Id' type='hidden' value=" + id + "> " + comment + User.Identity.Name <br> <button class='reply'>add reply </button></div>");

        $('#comments').append("<li class='media comment'><a class='pull-left' href='#'><img class='media-object img-thumbnail' src='User.Identity.Name' alt='comment.Author.UserName'></a><div class='media-body'><h4 class='media-heading'>User.Identity.Name</h4><input id='comment_Id' name='comment.Id' type='hidden' value" + id + "> " + comment + "</div><br/><button class='btn' data-toggle='modal' data-target='#addReply'>@CommonMessages.Reply</button></li>");
        
    }
</script>