<form class="form-horizontal col-xs-12" name="editForm" role="form" [formGroup]="editInjuryForm" (ngSubmit)="onSubmit()">
    <md-form-field class="full-width">
        <input mdInput placeholder="Игрок" [mdAutocomplete]="person" formControlName="personName">
        <md-autocomplete #person="mdAutocomplete">
            <md-option *ngFor="let person of persons$ | async" [value]="person.value" (click)="selectPerson(person.key)">
                <span>{{ person.value }}</span>
            </md-option>
        </md-autocomplete>
    </md-form-field>

    <md-form-field class="full-width">
        <input mdInput [mdDatepicker]="datePicker1" placeholder="Выберите дату травмы" formControlName="startTime">
        <md-datepicker-toggle mdSuffix [for]="datePicker1"></md-datepicker-toggle>
        <md-datepicker #datePicker1 startView="month" touchUi="true"></md-datepicker>
    </md-form-field>

        <md-form-field class="full-width">
            <input mdInput [mdDatepicker]="datePicker2" placeholder="Выберите дату окончания возвращения(можно приблизительную)" formControlName="endTime">
            <md-datepicker-toggle mdSuffix [for]="datePicker2"></md-datepicker-toggle>
            <md-datepicker #datePicker2 startView="month" touchUi="true"></md-datepicker>
        </md-form-field>
    
    <md-form-field class="full-width">
        <input mdInput placeholder="Описание травмы(краткое)" formControlName="description">
    </md-form-field>

    <div class="form-group">
        <button md-raised-button color="warn" type="submit" [disabled]="!editInjuryForm.valid" class="text-center full-width">Сохранить</button>
    </div>
</form>