@model MyLiverpoolSite.Business.ViewModels.Users.UserViewModel

@{

}

<h2>title</h2>
<div class="item">
    <span class="id">
        @Model.Id
    </span>
    <span class="email">
        @Model.Email
    </span>
    <span class="activateDate">
        @Model.Login
    </span>
</div>