/*:host {
    .img-thumbnail {
        display: inline-block;
        max-width: 300px;
        padding: 4px;
        line-height: 1.42857143;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 4px;
    }

    @media (max-width: 340px) {
        .img-thumbnail {
            display: inline-block;
            max-width: 100%;
        }
    }

    .list-inline.small-offset > li {
        display: inline-block;
        padding-right: 5px;
        padding-left: 0;
    }

    .mat-preview-list {
        display: flex;
        flex-direction: row;
        flex-wrap: unset;
        justify-content: space-between;
        align-items: center;
        align-content: center;
    }

    @media (max-width: 1100px) {
        .mat-preview-list {
            flex-wrap: wrap;
        }

        .preview-text {
            height: auto;
            width: auto;
        }
    }

    .material-info-panel {
        background-color: lightgray;
    }

    .material-info-panel > ul {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .header {
        align-items: center;
        color: #731010;
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        font-weight: bold;
        justify-content: space-between;
        min-height: 0;
        padding-left: 10px;
        text-transform: uppercase;
        width: 100%;
    }

    .header > a {
        color: #731010;
    }

    .header > a > h4 {
        font-weight: bold;
    }

    .material-pending {
        background-color: #e07676;
    }

    .material {
        border-left: 5px solid #731010;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
}*/


.material-container {
    max-width:250px;
    margin-bottom: 5px;
}

@media (min-width: 768px) and (max-width: 1056px), (max-width: 536px) {
    .material-container {
        max-width: 100%;
    }
}

@media (min-width: 1057px) and (max-width: 1556px), (min-width: 537px) and (max-width: 767px) {
    .material-container {
        max-width: 50%;
    }
}

@media (min-width: 1557px) and (max-width: 2056px) {
    .material-container {
        max-width: 33.33%;
    }
}
