<ad [blockName]="'R-A-255349-2'"></ad>

<div id="comments" class="flex-vertical-center">
    Комментарии: <span [textContent]="totalItems"></span>&nbsp;
    <a (click)="update()"
       role="button">
        <mat-icon>refresh</mat-icon>
    </a>
</div>

<div *ngFor="let comment of items | paginate: { itemsPerPage: itemsPerPage,
                                                      currentPage: page,
                                                      totalItems: totalItems }">
    <comment-detail [item]="comment" [deep]="0" [materialId]="materialId" [canCommentary]="canCommentary" [type]="type" [matchId]="matchId"></comment-detail>
</div>

<form class="form-horizontal" role="form" [formGroup]="commentAddForm" (ngSubmit)="onSubmit()">
    <div class="full-width" *ngIf="canCommentary && roles.isLogined">
        <bbeditor class="full-width" name="message" formControlName="message"></bbeditor>
        <div class="comment-action-buttons" style="margin-bottom: 0">
            <button mat-raised-button color="warn" type="submit" [disabled]="!commentAddForm.valid">Добавить</button>
        </div>
    </div>
</form>

<div class="pagination">
    <pagination-controls (pageChange)="pageChanged($event)"
                         directionLinks="true"
                         autoHide="true"
                         previousLabel="Назад"
                         nextLabel="Вперед"
                         screenReaderPaginationLabel="Постраничный вид"
                         screenReaderPageLabel="Страница"
                         screenReaderCurrentLabel="Вы на странице"></pagination-controls>
</div>