<button mat-raised-button color="warn" [routerLink]="[0, 'edit']">Добавить</button>

<table mat-table [dataSource]="items" matSort class="full-width" matSortActive="startDate" matSortDirection="desc">

    <ng-container matColumnDef="personName" sticky>
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Игрок </th>
        <td mat-cell *matCellDef="let transfer">
            <a [routerLink]="['/persons', transfer.personId, 'edit']" class="">
                <span [textContent]="transfer.personName"></span>
            </a>
            <a [routerLink]="[transfer.id, 'edit']"><mat-icon>edit</mat-icon></a>
            <a  role="button" (click)="showDeleteModal(transfer.id)"><mat-icon>clear</mat-icon></a>
        </td>
    </ng-container>

    <ng-container matColumnDef="clubName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Клуб </th>
        <td mat-cell *matCellDef="let transfer">
            <img [alt]="transfer.clubName" [title]="transfer.clubName" style="width: 30px;"[src]="transfer.clubLogo"/>
        </td>
    </ng-container>

    <ng-container matColumnDef="startDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Дата трансфера </th>
        <td mat-cell *matCellDef="let transfer" [textContent]="transfer.startDate | date: 'd MMMM y'"></td>
    </ng-container>

    <ng-container matColumnDef="onLoan">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Аренда </th>
        <td mat-cell *matCellDef="let transfer" [textContent]="transfer.onLoan"></td>
    </ng-container>

    <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Сумма </th>
        <td mat-cell *matCellDef="let transfer" [textContent]="transfer.amount | currency:'GBP':'symbol'"></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; let i = index; columns: displayedColumns;"
        [style.background]="row.coming ? 'lightgreen' : 'lightcoral'"></tr>
</table>

<mat-paginator [showFirstLastButtons]="true" [pageSizeOptions]="[15, 25, 50]"></mat-paginator>