<div class="container-fluid navbar navbar-inverse navbar-fixed-top ">
    <ul class="nav navbar-nav col-xs-3 col-sm-3 list-inline">
        <li><a id="back-top" href="#" style="display: none;">Вверх</a></li>
        <li class="divider"></li>
        <li [secured]>
            <a [routerLink]="['/pm']"><span class="glyphicon glyphicon-envelope"></span> Читать л/с (<span ng-bind="vm.unreadPmCount"></span>)</a>
        </li>
        <li class="divider"></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li *ngIf="!auth.isLoggedIn">
            <account-signin></account-signin>
        </li>
        <li *ngIf="!auth.isLoggedIn">
            <!--ng-if="!vm.loggedIn()">-->
            <!--<a [routerLink]="['/signup']">Регистрация</a>-->
            <a [routerLink]="['/signup']">Регистрация</a>
        </li>

        <li>
            <!--<a ui-sref="login({ returnUrl: getReturnUrl() })" ng-if="!loggedIn()">Войти</a>-->
        </li>
        <li *ngIf="auth.isLoggedIn">
            <ul class="nav navbar-nav">
                <!--<li>
                    <a ui-sref="userInfo({id: vm.userId()})" class="padding0">
                        <img class="nav-avatar" ng-src="{$root.userImage}}"/>
                    </a>
                </li>
                <li>
                    <a ui-sref="userInfo({id: vm.userId()})">Мой профиль</a>
                </li>-->
                <li>
                    <a (click)="logout()">Выйти</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<div class="col-xs-12 col-sm-12 top50">
    <header class="navbar navbar-default navbar-static-top row">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a [routerLink]="['/']" class="navbar-brand">Название сайта</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a [routerLink]="['/']">Главная</a></li>
                <!-- @if (User.IsInRole("AdminFull"))
                {
                <li> @Html.ActionLink(CommonMessages.Roles, "Index", "Role") </li>
                }*@-->
                <li> <a ui-sref="forum">Форум</a></li>
                <li class="dropdown">
                    <a [routerLink]="['/news/list', 1]" class="dropdown-toggle" data-toggle="">Новости<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a [secured]="'newsStart'" [routerLink]="['/news', 0, 'edit']">Добавить</a></li>
                        <li><a [routerLink]="['/newsCategory']">Категории</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a ui-sref="blog()" href="#" class="dropdown-toggle" data-toggle="">Блоги<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <!--<li ng-if="vm.isAuthor()"><a ui-sref="blogEdit()">Добавить</a></li>-->
                        <li><a ui-sref="blogCategories()">Категории</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="">ФК Ливерпуль<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a [routerLink]="['/clubHistory']">История</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <!-- <a href="#" class="dropdown-toggle" data-toggle="">Пользователи <b class="caret"></b></a>
                    <ul class="dropdown-menu">

                    <li-->
                    <a [routerLink]="['/user/list', 1]">Пользователи</a>
                    <!--/li>
                    </ul-->
                </li>
                <li> <a ui-sref="comment()">Комментарии</a></li>
                <!--<li> <a ng-if="vm.isNewsmaker() || vm.isAuthor()" ui-sref="images({path: 'content'})">Изображения</a></li>-->
                <!--<li> <a ng-if="vm.isAdminAssistant()" ui-sref="clubs()">Клубы</a></li>-->
                <!--<li> <a ng-if="vm.isAdminAssistant()" ui-sref="matches()">Матчи</a></li>-->
                <li> <a ui-sref="rules()"><span class="text-danger">Правила</span></a></li>
                <li class="bg-success"> <a [routerLink]="['/wish']"><span class="text-info">Пожелания</span></a></li>
            </ul>
        </div>
        <!--<div class="col-xs-12 col-sm-12">
            temporary
            <span ng-bind="$root.roles"></span>
        </div>-->
    </header>
    <div class="body-content row">
        <div ncy-breadcrumb></div>
        <div class="col-xs-12 col-sm-push-3 col-sm-6 container-fluid" style="background-color: #f5deb3">
            <div class="">
                <!--<uib-alert class="row" ng-repeat="alert in $root.alerts" dismiss-on-timeout="5000" type="{alert.type}}" close="closeAlert($index)" ng-bind="alert.msg"></uib-alert>-->
                <div class="top20" ui-view autoscroll="false">
                    <router-outlet></router-outlet>
                    <!--div class="col-md-6" ui-view="newsFeed"></div>
                    <div class="col-md-6" ui-view="blogsFeed"></div>-->
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-pull-6 col-sm-3 container-fluid">
            <section class="col-md- alert-info row">
                <h2>Эксетер </h2>
                <div class="col-md-6">
                    <img src="https://upload.wikimedia.org/wikipedia/ru/f/f7/Exeter_City_Logo.png" />
                </div>
                <div class="col-md-6">
                    <span style="text-align: center; font-size: 45pt">3:0</span>
                </div>
            </section>
            <section class="col-md- alert-danger row">
                <div class="col-md-12"> Лучший игрок матча с Эксетером </div>
                <div styleclass="col-md-12">
                    <img src="http://www.myliverpool.ru/images/Players/Squad12-13/Joe_Allen.png" />
                </div>
                <div class="col-md-12">
                    Джо Аллен
                </div>
            </section>
            <section class="row"></section>
        </div>
        <div class="col-xs-6 col-sm-3 container-fluid" ui-view="rightContainer">
            <!--<span class="col-sx-12" ng-if="vm.isAdminAssistant()"><a href="#" ng-click="vm.updateTable()">Обновить таблицу</a></span>-->
            <section ng-include="'app/home/views/rightSidebar.html'" class="row"></section>
        </div>
    </div>
    <hr />
    <footer class="bottom container-fluid">
        <p>&copy; @DateTime.Now.Year - @CommonMessages.SiteTitleAddress</p>
    </footer>
</div>