<ng-container *ngIf="{ isAdminAssistant: isAdminAssistant$ | async,
    user: user$ | async,
    userId: userId$ | async,
    isModerator: isModerator$ | async,
    isMainModerator: isMainModerator$ | async } as data">
    <div>
        <h2>
            <span [textContent]="data.user.userName"></span>
            <span *ngIf="data.userId && data.userId !== data.user.id">
                <a role="button" (click)="writePm(data.user.id)"><i class="material-icons">email</i></a>
            </span>
        </h2>
        <pm-reply *ngIf="selectedUserId" [userId]="selectedUserId" (close)="closePmWindow($event);"
            [userName]="data.user.userName"></pm-reply>
        <div class="full-width flex-space-between">
            <div class="width20p">
                <img class="avatar" [src]="data.user.photo" [alt]="data.user.userName" />
            </div>
            <div class="flex-space-between">
                <div *ngIf="data.userId === data.user.id || data.isModerator">
                    <label role="button" for="update-avatar-input" *ngIf="data.userId === data.user.id"
                        matTooltip="Обновить фото" class=""><i class="material-icons">add_photo_alternate</i></label>
                    <input type="file" class="hidden" accept="image/*" (change)="onChangeAvatar($event)"
                        id="update-avatar-input" />
                    <button mat-raised-button color="primary" (click)="resetAvatar(data.user.id)">
                        Удалить аватар
                    </button>
                    <button mat-raised-button color="warn" *ngIf="data.userId === data.user.id"
                        [routerLink]="['/account/changePassword']">Изменить пароль</button>

                    <button *ngIf="data.userId === data.user.id" mat-raised-button (click)="logout()">Выйти из
                        аккаунта</button>
                </div>
                <span>
                    <mat-icon *ngIf="data.userId === data.user.id" role="button" [routerLink]="['./settings']"
                        matTooltip="Уведомления" class="color-back-gold">notifications</mat-icon>
                    <mat-icon *ngIf="data.userId === data.user.id" role="button" matTooltip="Изменить профиль"
                        [routerLink]="['./edit']">settings</mat-icon>
                </span>
            </div>

        </div>

        <div class="form-horizontal top10" role="form">
            <div class="flex-space-around flex-v-c">
                <div  *ngIf="data.isModerator && data.userId !== data.user.id">
                    <form *ngIf="!data.user.lockoutEnd" class="form-inline" role="form" [formGroup]="banForm"
                        (ngSubmit)="onSubmitBan(data.user.id)">
                        <mat-form-field>
                            <input matInput placeholder="Блокировка(Количество дней)" formControlName="banDaysCount"
                                min="1" type="number">
                        </mat-form-field>
                        <button mat-raised-button color="warn" type="submit"
                            [disabled]="!banForm.valid">Забанить</button>
                    </form>
                    <div class="full-width" *ngIf="data.user.lockoutEnd">
                        <mat-form-field>
                            <input matInput placeholder="Заблокирован до" [value]="data.user.lockoutEnd | customDate:true">
                        </mat-form-field>
                        <button mat-raised-button color="primary" *ngIf="data.isMainModerator" (click)="unban(data.user.id)">Снять
                            бан</button>
                    </div>
                </div>
                <div>
                    <mat-form-field>
                        <input matInput placeholder="Группа" readonly [value]="data.user.roleGroupName">
                    </mat-form-field>
                    <div *ngIf="(data.isAdminAssistant && data.userId !== data.user.id)">
                        <button mat-raised-button color="warn" (click)="onEditRoleGroup()">Изменить</button>
                    </div>
                </div>
            </div>
            <mat-form-field class="full-width" *ngIf="(data.userId === data.user.id || data.isAdminAssistant)">
                <input matInput placeholder="Почта" readonly [value]="data.user.email">
                <div *ngIf="!data.user.emailConfirmed" class="text-danger">Почта не подтверждена</div>
            </mat-form-field>
            <mat-form-field *ngIf="data.isAdminAssistant" class="full-width">
                <input matInput placeholder="Ip" readonly [value]="data.user.ip">
            </mat-form-field>
            <mat-form-field class="full-width">
                <input matInput placeholder="Последний вход" readonly [value]="data.user.lastModifiedOn | customDate:true">
            </mat-form-field>
            <mat-form-field class="full-width">
                <input matInput placeholder="Дата регистрации" readonly
                    [value]="data.user.registrationDate | customDate:true">
            </mat-form-field>
            <mat-form-field class="full-width" *ngIf="data.user.fullName">
                <input matInput placeholder="Полное имя" readonly [value]="data.user.fullName">
            </mat-form-field>
            <mat-form-field class="full-width" *ngIf="data.user.birthday">
                <input matInput placeholder="День рождения" readonly
                    [value]="data.user.birthday | customDate:false:false:true:true">
            </mat-form-field>
            <mat-form-field class="full-width" *ngIf="data.user.gender != null">
                <input matInput placeholder="Пол" readonly [value]="data.user.gender ? 'Женский' : 'Мужской'">
            </mat-form-field>
            <div class="flex-space-around">
                <span *ngIf="data.user.newsCount > 0">
                    <a [routerLink]="['/news']"
                        [queryParams]="{page: 1, userName: data.user.userName, userId: data.user.id}">Новости(<span
                            [textContent]="data.user.newsCount"></span>)</a>
                </span>
                <span> | </span>
                <span *ngIf="data.user.blogsCount > 0">
                    <a [routerLink]="['/blogs']"
                        [queryParams]="{page: 1, userName: data.user.userName, userId: data.user.id}">Блоги(<span
                            [textContent]="data.user.blogsCount"></span>)</a>
                </span>
                <span> | </span>
                <span *ngIf="data.user.commentsCount > 0">
                    <a [routerLink]="['/comments']" [queryParams]="{page: 1, userId: data.user.id}">Комментарии(<span
                            [textContent]="data.user.commentsCount"></span>)</a>
                </span>
            </div>
        </div>
    </div>
</ng-container>