<form class="form-horizontal col-xs-12" name="editForm" role="form" [formGroup]="editLoanForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label class="control-label col-xs-2 col-md-2">Игрок</label>
        <div class="col-xs-10 col-md-10">
            <input (valueChanged)="updatePerson($event)"
                   attr-placeholder="Введите игрока..."
                   ng2-auto-complete
                   class="form-control"
                   [list-formatter]="autocompleteListFormatter"
                   display-property-name="value"
                   formControlName="personName"
                   loading-text="Загрузочка"
                   min-chars="2"
                   name="person"
                   type="text"
                   [source]="persons"
                   autocomplete="off" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-2 col-md-2">Клуб</label>
        <div class="col-xs-10 col-md-10">
            <input (valueChanged)="updateClub($event)"
                   attr-placeholder="Введите клуб..."
                   ng2-auto-complete
                   class="form-control"
                   [list-formatter]="autocompleteListFormatter"
                   display-property-name="value"
                   formControlName="clubName"
                   loading-text="Загрузочка"
                   min-chars="2"
                   name="club"
                   type="text"
                   [source]="clubs"
                   autocomplete="off"/>
        </div>
    </div>  
    <md-input-container class="full-width">
        <input mdInput [mdDatepicker]="datePicker1" placeholder="Выберите дату начала аренды" formControlName="startTime">
        <button mdSuffix [mdDatepickerToggle]="datePicker1"></button>
    </md-input-container>
    <md-datepicker #datePicker1 startView="month" touchUi="true"></md-datepicker>

        <md-input-container class="full-width">
            <input mdInput [mdDatepicker]="datePicker2" placeholder="Выберите дату окончания аренды" formControlName="endTime">
            <button mdSuffix [mdDatepickerToggle]="datePicker2"></button>
        </md-input-container>
        <md-datepicker #datePicker2 startView="month" touchUi="true"></md-datepicker>
    
    <md-input-container class="full-width">
        <input mdInput placeholder="Описание травмы(краткое)" formControlName="description">
    </md-input-container>

    <div class="form-group">
        <button md-raised-button type="submit" [disabled]="!editLoanForm.valid" class="text-center full-width">Сохранить</button>
    </div>
</form>