<button class="btn btn-success" [routerLink]="[0, 'edit']">Добавить</button>
<div class="top20" *ngFor="let loan of items | paginate: { itemsPerPage: itemsPerPage,
                                                      currentPage: page,
                                                      totalItems: totalItems }; let i = index;">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a [routerLink]="[loan.id, 'edit']">
                    <span [textContent]="loan.personName"></span>
                </a>
                <span class="col-xs-2 col-sm-2 pull-right">
                    <!--<a ng-click="vm.delete(i)"><span class="glyphicon glyphicon-trash"></span></a>-->
                </span>
            </h3>
        </div>
        <div class="panel-body">
            <div *ngIf="loan.description">Описание: <span [textContent]="loan.description"></span></div>
        </div>
        <div class="panel-footer">
            <span [textContent]="loan.startTime | date:'yMMMMd'"></span>-
            <span [textContent]="loan.endTime | date:'yMMMMd'"></span>
        </div>
    </div>
</div>
<div class="pagination">
    <pagination-controls (pageChange)="pageChanged($event)"
                         directionLinks="true"
                         autoHide="true"
                         previousLabel="Назад"
                         nextLabel="Вперед"
                         screenReaderPaginationLabel="Постраничный вид"
                         screenReaderPageLabel="Страница"
                         screenReaderCurrentLabel="Вы на странице"></pagination-controls>
</div>