<div ng-init="vm.init()">
    <a ng-show="isEditor()" ui-sref="newsCategoriesEdit">Создать категорию</a>
    <ul ng-repeat="category in vm.categories">
        <li>
            <a ui-sref="news({page: 1, categoryId: category.id})"><span ng-bind="category.name"></span> [<span ng-bind="category.itemsCount"></span>]</a>
            <a class="" ui-sref="newsCategoriesEdit({id:category.id})"> <span class="glyphicon glyphicon-pencil"></span></a>
            <a class="" ng-show="category.itemsCount == 0" ng-click="vm.delete($index)"> <span class="glyphicon glyphicon-trash"></span></a>
        </li>
    </ul>
</div>