<div class="container-fluid" ng-init="vm.init()">
    <div class="panel panel-danger">
        <div class="panel-heading" ng-bind="vm.name"> <span ng-bind="vm.description"></span></div>
        @*   <div class="panel-body"></div>*@
        <ul class="list-group" ng-repeat="theme in vm.themes">
                <li class="list-group-item list">
                    <span><a ui-sref="theme({id : theme.id })" ng-bind="theme.name"></a></span>
                    <span ng-bind="theme.description"></span>
                </li>
        </ul>
    </div>
    <div class="pagination"> @*@Html.PageLinks(Model.Themes.PageNo, Model.Themes.TotalItems, x => Url.Action("IndexSubsection", new { id = Model.Id, page = x }))*@ </div>
</div>
