@using MyLiverpool.Business.Resources

<div ng-init="vm.init()">
    <h2 ng-bind="vm.theme.name"></h2>
    <h3 ng-bind="vm.theme.description"></h3>
    <div class="container-fluid" ng-repeat="message in vm.messages">

        <div class="panel panel-default">
            <div class="panel-heading">
                <a ui-sref="userInfo({id: message.authorId})" ng-bind="message.authorUserName"></a>
                <span class="pull-right" ng-bind="message.additionTime | date:'medium'"></span>
            </div>
            <div class="panel-body" ng-bind-html="message.message | rawHtml">
            </div>
        </div>
    </div>


    <div class="col-xs-12 col-sm-12"> <!--ng-show="loggedIn()">-->
        <form class="form-horizontal" name="commentForm" role="form">
            <div class="col-md-12">
                <div class="col-md-12">
                    <textarea mark-it-up class="col-md-offset-2 col-md-8" rows="6" name="message" ng-model="vm.newComment.message" validation="required"></textarea>
                </div>
                <div class="">
                    <button class="btn btn-primary center-block" ng-disabled="commentForm.$invalid" ng-click="vm.addComment()">@CommonMessages.Create</button>
                </div>
            </div>
        </form>
    </div>

    <div class="pagination">
        <uib-pagination ng-show="vm.totalItems > vm.itemPerPage" total-items="vm.totalItems" ng-model="vm.pageNo" ng-change="vm.goToPage()"></uib-pagination>
    </div>
</div>
