<div class="row">
    <div class="col-xs-10 col-sm-10">
        <div>
            <h4>Загрузка файлов</h4>
            <input type="file" ng2FileSelect [uploader]="uploader" multiple /><br />
            <br>
            <br>Файлы:

            <button type="button" class="btn btn-success btn-xs"
                    (click)="upload()" [disabled]="uploader.queue.length == 0">
                <span class="glyphicon glyphicon-upload"></span> Upload
            </button>
        </div>
        <img *ngIf="uploadedFile" [src]="uploadedFile" alt="" />
        <!--->div ng-repeat="f in vm.result">
            <img style="width: 200px;" [src]="f" />
            <input id="photo{{$index}}" value="{{f}}" />
            <button class="btn" ngclipboard data-clipboard-target="#photo{{$index}}">
                <span class="glyphicon glyphicon-file"></span>
            </button>
        </!--div>-->
    </div>
</div>