<div class="col-xs-offset-{{deep}} col-sm-offset-{{deep}} comment container-fluid">
    <div class="row">
        <div class="col-xs-9 col-sm-9">
            <a [routerLink]="['/user', item.authorId]" [textContent]="item.authorUserName"></a>
            <span class="small" [textContent]="item.additionTime | date:'medium'"></span>
        </div>
        <div class="col-xs-3 col-sm-3">
            <span class="pull-right">
                    <a *ngIf="roles.isModerator || roles.isSelf(item.authorId)" (click)="showEditModal()"><span class="glyphicon glyphicon-pencil"> </span></a>
                    <a *ngIf="roles.isModerator" (click)="delete()"><span class="glyphicon glyphicon-trash"> </span></a>
                </span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2 col-sm-2">
            <img class="avatar-medium" src="{{item.photo}}" alt="{{item.authorUserName}}"/>
        </div>
        <div class="col-xs-10 col-sm-10">
            <p [textContent]="item.message"></p>
        </div>
    </div>
    <div class="row" *ngIf="item.answer">
        <div class="col-xs-3 col-sm-3">Ответ:</div>
        <div class="col-xs-9 col-sm-9">
            <i [textContent]="item.answer"></i>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12" *ngIf="!roles.isSelf(item.authorId) && canCommentary">
        <a (click)="showAddCommentModal()">Ответить</a>
    </div>
</div>
<div *ngFor="let child of item.children">
    <materialComment-detail [item]="child" [deep]="deep > 6 ? 7 : deep+1" [materialId]="materialId" [canCommentary]="canCommentary" [parent]="item"></materialComment-detail>
</div>

<div class="modal fade" bsModal #addCommentModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="hideModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Добавить комментарий</h4>
            </div>
            <div class="modal-body">
                <textarea [formControl]="commentForm.controls['message']"></textarea>
            </div>    
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" (click)="hideModal()" type="button">Отмена</button>
                <button class="btn btn-primary" type="button" (click)="addComment()">Добавить</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" bsModal #editCommentModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="hideModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Редактировать комментарий</h4>
            </div>
            <div class="modal-body">
                <div>
                    <textarea [formControl]="commentForm.controls['message']"></textarea>
                </div>
                <div *ngIf="roles.isEditor">
                    <textarea [formControl]="commentForm.controls['answer']"></textarea>
                </div>
            </div>    
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" (click)="hideModal()" type="button">Отмена</button>
                <button class="btn btn-primary" type="button" (click)="edit()">Обновить</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" bsModal #deleteModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="hideModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Удалить?</h4>
            </div>
            <div class="modal-body">
                <button class="btn btn-default" data-dismiss="modal" (click)="hideModal()" type="button">Отмена</button>
                <button class="btn btn-primary" type="button" (click)="delete()">Удалить</button>
            </div>
        </div>
    </div>
</div>