<div class="col-xs-offset-{{deep}} col-sm-offset-{{deep}} comment container-fluid">
    <div class="row">
        <div class="col-xs-9 col-sm-9">
            <a [routerLink]="['/user', item.authorId]" [textContent]="item.authorUserName"></a>
            <span class="small" [textContent]="item.additionTime | date:'medium'"></span>
        </div>
        <div class="col-xs-3 col-sm-3">
            <span class="pull-right">
                    <a href="" *ngIf="roles.isModerator || roles.isUserAuthor(item.authorId)" (click)="editComment()"><span class="glyphicon glyphicon-pencil"> </span></a>
                    <a href="" *ngIf="roles.isModerator" (click)="deleteComment()"><span class="glyphicon glyphicon-trash"> </span></a>
                </span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2 col-sm-2">
            <img class="avatar-medium" src="{{item.photo}}" alt="item.authorUserName"/>
        </div>
        <div class="col-xs-10 col-sm-10">
            <p [textContent]="item.message"></p>
        </div>
    </div>
    <div class="row" *ngIf="item.answer">
        <div class="col-xs-3 col-sm-3">Ответ:</div>
        <div class="col-xs-9 col-sm-9">
            <i [textContent]="item.answer"></i>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12" [hidden]="roles.isUserAuthor(item.authorId)">
        <a href="" ng-click="vm.addReplyComment(comment)">Ответить</a>
    </div>
</div>
<div *ngFor="let child of item.children">
    <materialComment-detail [item]="child" [deep]="deep > 6 ? 7 : deep+1"></materialComment-detail>
</div>
