.injuries {
    background-color: darkgray;
    padding: 0 5px;
    width: 100%;
}    

    .injury-item {
        border-left: maroon solid 3px;
        margin-bottom: 5px;
        width: 100%;
    }

    .injury-item img {
        max-width: 40px;
    }