<button class="btn btn-success" [routerLink]="[0, 'edit']">Добавить</button>
<div class="top20" *ngFor="let injury of items | paginate: { itemsPerPage: itemsPerPage,
                                                      currentPage: page,
                                                      totalItems: totalItems }; let i = index;">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title flex-space-between">
                <a [routerLink]="[injury.id, 'edit']">
                    <span [textContent]="injury.personName"></span>
                </a>
                <span class="">
                    <!--<a ng-click="vm.delete(i)"><span class="glyphicon glyphicon-trash"></span></a>-->
                </span>
            </h3>
        </div>
        <div class="panel-body">
            <div *ngIf="injury.description">Описание: <span [textContent]="injury.description"></span></div>
        </div>
        <div class="panel-footer">
            <span [textContent]="injury.startTime | date:'yMMMMd'"></span>-
            <span *ngIf="injury.endTime" [textContent]="injury.endTime | date:'yMMMMd'"></span>
        </div>
    </div>
</div>
<div class="pagination">
    <pagination-controls (pageChange)="pageChanged($event)"
                         directionLinks="true"
                         autoHide="true"
                         previousLabel="Назад"
                         nextLabel="Вперед"
                         screenReaderPaginationLabel="Постраничный вид"
                         screenReaderPageLabel="Страница"
                         screenReaderCurrentLabel="Вы на странице"></pagination-controls>
</div>