<ng-container *ngIf="{ isNewsmaker: isNewsmaker$ | async,
                        isLogined: isLogined$ | async,
                        isAuthor: isAuthor$ | async,
                        isInformer: isInformer$ | async } as data">
    <div class="menu-block">
        <a role="button" [matMenuTriggerFor]="newsMenu">
            Новости<mat-icon>arrow_drop_down</mat-icon>
        </a>
        <mat-menu #newsMenu="matMenu">
            <a [routerLink]="['/news']" mat-menu-item>Новости</a>
            <a *ngIf="data.isNewsmaker" [routerLink]="['/news', 0, 'edit']" mat-menu-item>+</a>
            <a [routerLink]="['/newsCategories']" mat-menu-item>Категории новостей</a>
            <a [routerLink]="['/blogs']" mat-menu-item>Блоги</a>
            <a *ngIf="data.isAuthor || data.isNewsmaker" [routerLink]="['/blogs', 0, 'edit']" mat-menu-item>+</a>
            <a [routerLink]="['/blogCategories']" mat-menu-item>Категории блогов</a>
        </mat-menu>
    </div>
    <div class="menu-block">
        <a role="button" [matMenuTriggerFor]="fcClub">
            Клуб<mat-icon>arrow_drop_down</mat-icon>
        </a>
        <mat-menu #fcClub="matMenu">
            <ng-template matMenuContent>
                <a [routerLink]="['/clubHistory']" mat-menu-item>История ФК Ливерпуль</a>
                <a [routerLink]="['/aboutClub']" mat-menu-item>О Клубе</a>
                <a [routerLink]="['/persons/stuff/first']" mat-menu-item>Тренерский штаб</a>
                <a [routerLink]="['/persons/squad/first']" mat-menu-item>Состав</a>
                <a [routerLink]="['/contracts/current']" mat-menu-item>Контракты/зарплаты</a>
            </ng-template>
        </mat-menu>
    </div>
    <div class="menu-block">
        <a role="button" [matMenuTriggerFor]="seasonMenu">
            Сезон<mat-icon>arrow_drop_down</mat-icon>
        </a>
        <mat-menu #seasonMenu="matMenu">
            <a [routerLink]="['/seasons/0/calendar']" mat-menu-item>Календарь</a>
            <a [routerLink]="['/seasons/0/statistics']" mat-menu-item>Статистика игроков</a>
            <a [routerLink]="['/transfers/current']" mat-menu-item>Трансферы</a>
        </mat-menu>
    </div>
    <div class="menu-block">
        <a role="button" [routerLink]="['/users']">Юзеры</a>
    </div>
    <div class="menu-block">
        <a role="button" [routerLink]="['/rules']"><b class="color-red beauty-font">Правила</b></a>
    </div>
    <div class="menu-block chat">
        <a role="button" [routerLink]="['/chat']"><b class="beauty-font">Чаты</b></a>
    </div>
    <!--li> <a [routerLink]="['/forum']">Форум</a></!--li>-->
    <div class="menu-block">
        <a role="button" [matMenuTriggerFor]="siteMenu">
            Сайт<mat-icon>arrow_drop_down</mat-icon>
        </a>
        <mat-menu #siteMenu="matMenu">
            <a [routerLink]="['/about']" mat-menu-item>О нас</a>
            <a class="color-tomato" [routerLink]="['/job']" mat-menu-item>Вакансии</a>
            <a [routerLink]="['/copyright']" mat-menu-item>О перепечатке информации</a>
            <a [routerLink]="['/cooperation']" mat-menu-item>Сотрудничество</a>
            <a [routerLink]="['/comments']" mat-menu-item>Комментарии</a>
            <a [routerLink]="['/faq']" mat-menu-item>F.A.Q.</a>
        </mat-menu>
    </div>
    <div *ngIf="data.isNewsmaker || data.isAuthor || data.isInformer" class="menu-block">
        <a role="button" [routerLink]="['/admin']">Админ</a>
    </div>
    <div class="menu-block">
        <a role="button" [routerLink]="['/wal']"><span class="turquose">Фан Движение</span></a>
    </div>
</ng-container>