<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Somee</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <DesktopBuildPackageLocation>D:\Projects\MyLiverpool.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>MyLiverpool</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=liverpool.mssql.somee.com;Initial Catalog=liverpool;Persist Security Info=False;User ID=adminAA;Password=123qwe!@#;Packet Size=4096;Workstation ID=liverpool.mssql.somee.com" Name="workstation id=liverpool.mssql.somee.com;packet size=4096;user id=adminAA;pwd=123qwe!@#;data source=liverpool.mssql.somee.com;persist security info=False;initial catalog=liverpool" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MyLiverpoolSite.Data.DataAccessLayer.LiverpoolContext, MyLiverpoolSite.Data.DataAccessLayer" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>workstation id=liverpool.mssql.somee.com;packet size=4096;user id=adminAA;pwd=123qwe!@#;data source=liverpool.mssql.somee.com;persist security info=False;initial catalog=liverpool</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>