footer {
    border-top: 1px solid maroon;
    order: 4;
    min-height: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: row;
    flex-wrap: wrap;
    margin-top: 5px;
    width: 100%;
}

.breadcrumb-row {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    width: 100%;
}

.left-container {
    flex-direction: column;
    display: flex;
    width: 100%;
}

@media (min-width: 768px) {
    .left-container {
        //     order: 0;
        width: 25%;
    }
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-flow: row wrap;
}

navbar-menu ::ng-deep div {
    margin: 10px;
}

.sidenav {
    background-color: maroon;
}

.main-container {
    flex-direction: column;
    display: flex;
    padding: 0 8px;
    width: 100%;
}

@media (min-width: 768px) {
    .main-container {
        width: 50%;
    }
}

.right-container {
    flex-direction: column;
    display: flex;
    width: 100%;
}

@media (min-width: 768px) {
    .right-container {
        width: 25%;
    }
}

.ad-container {
    position: fixed !important;
    z-index: 100000;
    width: 100%;
    height: 50px;
    padding: 0 20px 0 0;
    background: rgba(255, 255, 255, 0.75);
    left: 0px;
    bottom: 0px;
}

.ad-close {
    right: 0%;
    bottom: 60%;
    position: absolute;
    height: 20px;
    width: 20px;
    font-size: 17px;
    line-height: 20px;
    border-radius: 15px;
    color: white;
    border-color: white;
    background: red;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    text-align: center;
}

.bottom {
    margin-bottom: 50px;
}

@media (min-width: 768px) {
    .ad-container {
        height: 90px;
    }

    .bottom {
        margin-bottom: 100px;
    }

    .ad-close {
        bottom: 73%;
    }
}