<http-loader></http-loader>
<navbar (toggle)="sidenav.open()"></navbar>
<div class="breadcrumb-row">
    <breadcrumb></breadcrumb>
    <a mat-raised-button class="color-back-gold width25p" [routerLink]="['/wishes']"><b>Ваши идеи</b></a>
</div>
<mat-sidenav-container (backdropClick)="sidenav.close()">
    <mat-sidenav #sidenav mode="over" class="sidenav" (keydown.escape)="sidenav.close()" [fixedInViewport]="true"
        [fixedTopGap]="0" [fixedBottomGap]="0">
        <navbar-menu class="nav-menu beauty-font"></navbar-menu>
        <button type="button" mat-button (click)="sidenav.close()" class="full-width text-white">
            <mat-icon>close</mat-icon>
        </button>
    </mat-sidenav>
    <mat-sidenav-content class="main" (swiperight)="swiperight($event)" (swipeleft)="swipeleft($event)">
        <div class="left-container" [style.order]="orderState[0]" [@slideInOut]="animationState[0]">
            <sidebar-left class="full-width"></sidebar-left>
        </div>
        <div class="main-container" [style.order]="orderState[1]" [@slideInOut]="animationState[1]">
            <router-outlet></router-outlet>
        </div>
        <div class="right-container" [style.order]="orderState[2]" [@slideInOut]="animationState[2]">
            <sidebar-right class="full-width"></sidebar-right>
        </div>
        <footer>
            <a [routerLink]="['/about']">О нас</a>
            <a [routerLink]="['/copyright']">О перепечатке информации</a>
            <p>&copy; 2019 - MyLFC.ru</p>
            <a style="word-wrap: break-word" [routerLink]="['/cooperation']">Сотрудничество</a>
        </footer>
        <div style="position: fixed !important;
        z-index: 100000; width:100%; height: 100px;     padding-top: 10px;
    background: rgba(255, 255, 255, 0.75);
    left: 0px;
    bottom: 0px;">
            <div style="right: 2%; position: absolute;
             height: 20px;
              width: 20px;
               font-size: 17px;
                line-height: 20px;
                 border-radius: 15px; 
                 color: rgb(140, 140, 140);
                  border-color: rgb(140, 140, 140);
                   border-style: solid; 
                   border-width: 1px; 
                   cursor: pointer;
                    text-align: center;"  onclick="return this.parentNode.remove();">×</div>
            <ad [blockName]="'R-A-255349-3'"></ad></div>
    </mat-sidenav-content>
</mat-sidenav-container>