<h2>Настройки</h2>
<form class="form-horizontal full-width" role="form" [formGroup]="userConfigForm" (ngSubmit)="onSubmit()">
    <div class="full-width">
        <mat-slide-toggle formControlName="isReplyToPmEnabled"
                          color="warn">
            Уведомлять о новых ответах на сайте.
        </mat-slide-toggle>
    </div>
    <div class="full-width">
        <mat-slide-toggle formControlName="isReplyToEmailEnabled"
                          color="warn">
            Уведомлять о новых ответах на электронную почту.
        </mat-slide-toggle>
    </div>
    <div class="full-width">
        <mat-slide-toggle formControlName="isPmToEmailNotifyEnabled"
                          color="warn">
            Уведомлять о новых личных сообщениях на электронную почту.
        </mat-slide-toggle>
    </div>
    <div class="full-width">
        <button mat-raised-button color="warn" class="full-width" type="submit">Сохранить</button>
    </div>
</form>