<div *ngIf="item" class="comment-container com-offset-{{deep}}" [class.nested]="item.children.length > 0">
    <div class="comment padding5" [id]="'com'+item.id">
        <div class="flex-space-between flex-vertical-center">
            <span>
                <span>
                    <a [routerLink]="['/', item.typeName, item.materialId || item.matchId]"
                       fragment="com{{item.id}}"
                       [textContent]="item.number"></a>
                </span>&nbsp;
                <a class=" font-size20" [routerLink]="['/users', item.authorId]" [textContent]="item.authorUserName"></a>
            </span>
            <span>
                <span class="small" [textContent]="item.additionTime | customDate:true"></span>
                <i *ngIf="item.lastModified !== item.additionTime" class="small" title="Отредактировано">(<span [textContent]="item.lastModified | customDate:true"></span>)</i>
            </span>
            <span>
                <span>
                    <span class="color-green font-size24" [textContent]="item.positiveCount"></span>
                    <a class="color-green" role="button" (click)="vote(true)" *ngIf="item.canPositiveVote && !roles.isSelf(item.authorId)">
                        <mat-icon>thumb_up</mat-icon>
                    </a>
                    /
                    <span class="color-red font-size24" [textContent]="item.negativeCount"></span>
                    <a class="color-red" role="button" (click)="vote(false)" *ngIf="item.canNegativeVote && !roles.isSelf(item.authorId)">
                        <mat-icon>thumb_down</mat-icon>
                    </a>
                </span>
                <a *ngIf="roles.isModerator && !item.isVerified" (click)="verify()">
                    <i class="material-icons">done</i></a>
                <a *ngIf="roles.isModerator || roles.isSelf(item.authorId)" role="button" (click)="showEditModal()">
                    <i class="material-icons">edit</i></a>
                <a *ngIf="roles.isModerator" role="button" (click)="showDeleteModal()">
                    <i class="material-icons">clear</i></a>
            </span>
        </div>
        <div *ngIf="!isEditMode">
            <div class="flex top5">
                <!--<div class="" (deferLoad)="item.show=true">
                    <img *ngIf="item.show" class="avatar-medium" [src]="item.photo" [alt]="item.authorUserName" />-->
                <div class="width15p">
                    <img class="avatar-medium" [src]="item.photo" [alt]="item.authorUserName" />
                </div>
                <div class="width85p">
                    <p class="padding5" [innerHTML]="sanitizeByHtml(item.message)"></p>
                </div>
            </div>
            <div class="flex" *ngIf="item.answer || (isEditMode && roles.isEditor)">
                <div class="width15p"><b>Ответ:</b></div>
                <div class="width85p">
                    <i *ngIf="!isEditMode" [innerHTML]="item.answer"></i>
                    <bbeditor *ngIf="isEditMode" [value]="item.answer" formControlName="answer"></bbeditor>
                </div>
            </div>
            <div class="full-width" *ngIf="!roles.isSelf(item.authorId) && canCommentary && !isAddingMode && roles.isLogined">
                <a role="button" (click)="showAddCommentModal()">Ответить</a>
            </div>
        </div>
        <form class="form-horizontal" role="form" [formGroup]="commentForm" (ngSubmit)="editComment()" *ngIf="isEditMode">
            <div class="full-width flex">
                <div class="width15p">
                    <img class="avatar-medium" [src]="item.photo" [alt]="item.authorUserName" />
                </div>
                <div class="width85p">
                    <bbeditor formControlName="message" #replyInput></bbeditor>
                </div>
            </div>
            <div class="full-width flex" *ngIf="roles.isEditor">
                <div class="width15p">Ответ:</div>
                <div class="width85p">
                    <bbeditor [height]="150" formControlName="answer"></bbeditor>
                </div>
            </div>
            <div class="flex full-width">
                <span class="width15p"></span>
                <div class="width85p comment-action-buttons">
                    <button mat-raised-button color="warn" [disabled]="!commentForm.valid" type="submit">Обновить</button>
                    <button mat-raised-button (click)="cancelEdit()" type="button">Отмена</button>
                </div>
            </div>
        </form>
        <div *ngIf="isAddingMode">
            <hr />
            <h4 class="">Добавление ответа на комментарий</h4>
            <form class="form-horizontal" role="form" [formGroup]="commentForm" (ngSubmit)="addComment()">
                <div class="">
                    <bbeditor formControlName="message" #replyInput></bbeditor>
                </div>
                <div class="comment-action-buttons">
                    <button mat-raised-button color="warn" [disabled]="!commentForm.valid" type="submit">Добавить</button>
                    <button mat-raised-button (click)="cancelAdding()" type="button">Отмена</button>
                </div>
            </form>
        </div>
    </div>
    <div *ngFor="let child of item.children">
        <comment-detail [item]="child" [deep]="deep > 6 ? 7 : deep+1"
                        [materialId]="materialId"
                        [canCommentary]="canCommentary"
                        [parent]="item"
                        [type]="type"
                        [matchId]="matchId"></comment-detail>
    </div>
</div>