<div>
    <a role="button" *ngIf="defaultPath != path" (click)="goUp()">Вернуться назад</a>
    <button mat-raised-button [routerLink]="['/images/add']">Добавить</button>
    <a role="button" *ngIf="selectedItem" (click)="removeSelection()">Отменить выбор</a>
    <image-detail *ngIf="selectedItem" [item]="selectedItem"></image-detail>
    <div class="images">
        <div *ngFor="let file of items">
            <a (click)="updateFolder(file.path)">
                <div role="button" class="bg-maroon text-white" *ngIf="file.isFolder" style="height: 50px; width: 100px; margin: 10px" [textContent]="file.name"></div>
            </a>
            <a>
                <img role="button" *ngIf="!file.isFolder" [src]="file.path" style="height: 50px; margin: 10px" (click)="showDetails(file)" [alt]="file.path" />
            </a>
        </div>
    </div>
</div>