<form class="form-horizontal col-xs-12" name="editForm" role="form" [formGroup]="editInjuryForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="full-width">
        <input matInput placeholder="Игрок" [matAutocomplete]="person" formControlName="personName">
        <mat-autocomplete #person="matAutocomplete">
            <mat-option *ngFor="let person of persons$ | async" [value]="person.value" (click)="selectPerson(person.key)">
                <span>{{ person.value }}</span>
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="full-width">
        <input matInput [matDatepicker]="datePicker1" placeholder="Выберите дату травмы" formControlName="startTime">
        <mat-datepicker-toggle matSuffix [for]="datePicker1"></mat-datepicker-toggle>
        <mat-datepicker #datePicker1 startView="month" touchUi="true"></mat-datepicker>
    </mat-form-field>

        <mat-form-field class="full-width">
            <input matInput [matDatepicker]="datePicker2" placeholder="Выберите дату окончания возвращения(можно приблизительную)" formControlName="endTime">
            <mat-datepicker-toggle matSuffix [for]="datePicker2"></mat-datepicker-toggle>
            <mat-datepicker #datePicker2 startView="month" touchUi="true"></mat-datepicker>
        </mat-form-field>
    
    <mat-form-field class="full-width">
        <input matInput placeholder="Описание травмы(краткое)" formControlName="description">
    </mat-form-field>

    <div class="form-group">
        <button mat-raised-button color="warn" type="submit" [disabled]="!editInjuryForm.valid" class="text-center full-width">Сохранить</button>
    </div>
</form>