@using MyLiverpool.Business.Resources
<form class="form-horizontal col-md-12" role="form" name="editWish" ng-init="vm.init()">
    <div class="form-group">
        <label class="control-label col-md-2"> @ColonsMessages.Title</label>
        <div class="col-md-10">
            <input class="form-control" name="title" ng-model="vm.wish.title" validation="max_len:30|required" />
        </div>
    </div>

</form>
