@using MyLiverpool.Business.Resources
<form class="form-horizontal col-md-12" role="form" name="editWish" ng-controller="WishCtrl" ng-init="vm.initEdit()">
    <div class="form-group">
        <label class="control-label col-md-2"> @ColonsMessages.Title</label>
        <div class="col-md-10">
            <input class="form-control" name="title" ng-model="vm.wish.title" validation="max_len:30|required"/>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2"> @ColonsMessages.Title</label>
        <div class="col-md-10">
            <textarea class="form-control" name="title" ng-model="vm.wish.message" validation="max_len:300|required"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-2 col-sm-2">Тип:</label>
        <div class="col-xs-10 col-sm-10">
            <select class="form-control" name="newsCategoryId" ng-model="vm.wish.type" ng-options="type.id as type.name for type in vm.types" required="" validation="required"></select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button ng-disabled="editWish.$invalid" type="submit" ng-click="vm.send()" class="btn btn-default">@CommonMessages.Send</button>
        </div>
    </div>
</form>
