<div ng-init="vm.initList()">
    <div class="btn-group">
        <form class="form-inline btn-block">
            <div class="form-group">
                <select class="form-control"
                        ng-model="vm.typeId"
                        ng-options="type.id as type.name for type in vm.types" ng-change="vm.changeTypeId()"></select>
            </div>
            <div class="form-group">
                <input class="form-control" ng-model="vm.filterText" ng-model-options="{debounce: 1000}" ng-change="vm.filterByText()" placeholder="Поиск в тексте пожеланий"/> <!--todo magic number-->
            </div>
            <button class="btn btn-success" ui-sref="wishEdit()">Добавить</button>
        </form>
    </div>
    <div class="top20" ng-repeat="wish in vm.wishes">
        <div class="panel" ng-class="vm.getType($index)">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a ui-sref="wishEdit({id: wish.id})"><span ng-bind="wish.title" ></span></a>
                    <span class="col-xs-1 col-sm-1 pull-right" ng-if="isAdmin()">
                        <a ng-click="vm.delete($index)"><span class="glyphicon glyphicon-trash"></span></a>
                    </span>
                </h3>
            </div>
            <div class="panel-body">
                <div ng-bind="wish.message"></div>
            </div>
            <div class="panel-footer">
                <div ng-bind="wish.typeName"></div>
            </div>
        </div>
    </div>
</div>
<div class="pagination">
    <uib-pagination ng-show="vm.totalItems > vm.itemPerPage" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.goToPage()"></uib-pagination>
</div>