@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<ul class="list-group">
    <li class="list-group-item">
        News
        <ul class="list-group">
            <li class="list-group-item">Add</li>
            <li class="list-group-item">Edit</li>
            <li class="list-group-item">index</li>
            <li class="list-group-item">Delete</li>
            <li class="list-group-item">MaterialComments</li>

        </ul>
    </li>
    <li class="list-group-item">Blogs</li>
    <li class="list-group-item">Users</li>
    <li class="list-group-item">Forum</li>
</ul>
