<div class="col-md-12">
        <p><font color="red"><b>Данные правила не подлежат обсуждению и обязательны для выполнения всеми без исключения пользователями портала рангом от простого пользователя до модератора (Администраторы - как лица, эти правила устанавливающие - поступают по своему усмотрению). Если вам не нравятся эти правила и вы хотите для себя другие правила - вы всегда можете создать свой собственный сайт и делать там все, что вам нравится.</b></font> </p>
        <p>Правила вводятся для создания комфортной и конструктивной атмосферы общения. Если Вас не устраивает установленная форма общения, воздержитесь от участия в данной конференции.</p>
        <p><b>I. Регистрация пользователей.</b></p>
        <ol>
            <li>Регистрируясь на форуме, пользователь соглашается выполнять данные Правила.</li>
            <li>Для регистрации на форуме пользователь должен предоставить действующий адрес электронной почты. Мы гарантируем конфиденциальность указанной информации.</li>
            <li>Выбор имени пользователя (nickname) является вашим исключительным правом. Администрация оставляет за собой право принять меры к прекращению использования nickname, если его использование нарушает общепринятые моральные и этические нормы или является оскорбительным для других пользователей форума. Запрещена регистрация nickname, схожих с уже существующими до степени, которые могут ввести в заблуждение других пользователей форума.</li>
            <li>Запрещена неоднократная регистрация одним пользователем, вне зависимости от целей, с которыми такая регистрация проводится. Данное нарушение является крайне серьезным и ведет к блокированию всех учетных записей. Если вам не нравится ник, напишите в соответствующий раздел форума или администратору.</li>
            <li>Если вы не проявляете активность на форуме в течение длительного времени, ваша учетная запись может быть удалена.</li>
        </ol>
        <p><b>II. На Форуме <font color="red">запрещено</font>:</b></p>
        <ol>
            <li>Использовать ненормативную лексику в любых её проявлениях, в том числе сокращенную или замененную «звездочками» (или другими символами), на русском, английском языке, либо транслите. </li>
            <li>Создавать темы, ранее обсуждавшиеся в Форуме. </li>
            <li>Создавать сообщения, не имеющие отношения к обсуждаемой теме (оффтопик). </li>
            <li>Создавать темы и сообщения, в которых более половины всей информации написано ЗАГЛАВНЫМИ БУКВАМИ. </li>
            <li>Создавать темы, имеющие в названии украшения («===---Моя тема---===»), не отражающие суть вопроса («Посмотри сюда» или «fdgl;fjdgl;fdjglgfd»). </li>
            <li>Создавать темы с обращением к конкретному участнику Форума. </li>
            <li>Дублировать темы, то есть размещать одинаковые сообщения в разных разделах Форума. </li>
            <li>Чрезмерное использование графических смайликов в сообщении (более трех подряд) или полностью состоящее только из смайлов. </li>
            <li>Публикация постов, не несущих значительной смысловой нагрузки (флуд). Запрещается писать короткие бессмысленные посты типа "ЖЖОШЬ" или "ПИШИ ЕЩО", а также, состоящие из одних смайлов. </li>
            <li>Использовать в сообщениях большое количество повторяющихся символов. </li>
            <li>Использование в сообщениях красного цвета – это привилегия модераторов и администраторов. </li>
            <li>Язык сайта-РУССКИЙ.Будьте добры,пишите на нем.Коверкание слов и преднамеренное извращение орфографии русского языка, а также использование латиницы (транслита). </li>
            <li>Цитирование предыдущих сообщений, если в этом нет необходимости (флейм). </li>
            <li>Использовать грубые, нецензурные выражения и оскорбления в любой форме. </li>
            <li>Создавать темы и сообщения, содержащие рекламную, антирекламную или коммерческую информацию, а так же ссылки на сайты с целью повышения их посещаемости. </li>
            <li>Продолжать обсуждать вопросы из тем, закрытых или удаленных администрацией. </li>
            <li>Провоцировать конфликты с пользователями Форума. </li>
            <li>Создавать темы и сообщения, противоречащие Конституции и законодательству РФ. </li>
            <li>Использовать в качестве статуса или подписи нецензурные или ругательные слова, а так же заведомо недостоверную информацию. (Например, писать в статусе «Модератор», когда на самом деле Вы таковым не являетесь). </li>
            <li>
                Максимальный размер подписи должен быть не более 2-х строчек и не более 200 символов. Максимальный размер шрифта - "2". Подпись не должна содержать текста, выделенного красным цветом. Размер картинки в вашей подписи должен удовлетворять следующим требованиям:
                - размер - не более 350х60 пикселей суммарно
                - объем - не более 40 кб суммарно
            </li>
            <li>Использовать в качестве аватара, фотографии или в качестве вложение в сообщения картинки порнографического, экстремистского или оскорбительного характера. </li>
            <li>Пропагандировать любые наркотические и психотропные вещества и образ жизни, связанный с употреблением данных веществ, а так же пропагандировать суицид, расовую и религиозную ненависть, фашизм и нацизм. </li>
            <li>Использование заведомо похожих ников. </li>
            <li>Выпрашивание прибавления репутации, а так же поднимать или снижать репутацию без причины. </li>
            <li>Обсуждать действия администрации в разделах Форума. Если Вы недовольны действиями администрации, то высказывайте свои претензии в соответствии с п. 4.1-4.2 настоящих Правил. </li>
            <li>Использовать ПС (Персональные Сообщения) для массовой рассылки информации любого рода (реклама, "письма счастья" и т.п.) </li>
            <li>Нарушать авторские права (указывайте ссылки на АВТОРА (источник), откуда были взяты выложенные статьи) или хотя бы пишите, что авторство принадлежит не Вам. </li>
            <li>Указание в имени пользователя, подписи, и других полях URL адресов коммерческих интернет-проектов, с целью рекламы и повышения индекса цитирования, за исключением особой договоренности с Администрацией портала. </li>
            <li>Оскорбление игроков клуба,тренерского штаба,а также других клубов и их игроков.Выражение своей неприязни допустимо,но в рамках допустимого </li>

            <li>Публично предъявлять претензии и обсуждать действия переводчиков и редакторов сайта. Пользователи ресурса, несогласные с публикациями переводов статей и материалов могут высказать своё несогласие в личном сообщении или в теме на форуме сайта - <b>Жалобы</b>. </li>
        </ol>
        <p><b>III. Общие рекомендации о советы. </b></p>
        <ol>
            <li>Не обращайте внимания на хулиганов. Не отвечайте им, даже если Вы считаете, что Вас оскорбили, не поддавайтесь на провокации. Достаточно сообщить администрации об оскорблении и виновные будут наказаны. </li>
            <li>В том случае, если Вы считаете, что нарушены Правила Форума, постарайтесь сразу же сообщить об этом администрации Форума. </li>
            <li>Старайтесь не использовать в сообщениях жаргон, т.к. некоторые пользователи могут не правильно его растолковать.</li>
            <li>Постарайтесь не писать безосновательные утверждения, а так же сообщения типа «выкинь эту бяку, поставь хорошую вещь». Если это Ваше лично мнение, не забудьте сообщить об этом заранее – простого «ИМХО» (от англ. “imho”, что в переводе означает «по моему скромному мнению») будет достаточно. Помните, что после нескольких неаргументированных утверждений, пользователи просто перестанут Вам доверять. </li>
            <li>Прежде чем создавать тему, убедитесь, что Вы создаете её в нужном Разделе Форума. Помните, что темы, не соответствующие тематике Раздела, будут либо удалены, либо перенесены в другой Раздел Форума. </li>
            <li>Прочтите тему целиком! Посты в середине темы - "А о чем это вы, а? " или "Так я не понял - откуда качать?" запрещены. </li>
            <li>Старайтесь не делать грамматических ошибок в сообщениях – это создаст негативное впечатление о вас.</li>
        </ol>
        <p><b>IV. Отношения между пользователями и администрацией.</b></p>
        <ol>
            <li>В своих действиях администрация форума руководствуется здравым смыслом и внутренними правилами управления форумом.</li>
            <li>
                Обсуждение действий администрации (администраторов и модераторов форума) категорически запрещается в любых форумах и темах, за исключением специализированного форума - <b>Жалобы</b>.<br>
            </li>
        </ol>
        <p>Администрация оставляет за собой право изменять правила без уведомлением об этом пользователей форума. Все изменения и новации на форуме производятся с учетом мнений и интересов пользователей.</p>
        <p align="right"><b>С уважением, администрация сайта www.myliverpool.ru.</b></p>
</div>