<mat-card class="full-width" *ngIf="currentPersonIndex != null">
    <mat-card-header>
        <mat-card-title>
            В этот день родился <b [textContent]="items[currentPersonIndex].russianName"></b>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content class="center">
        <img [src]="items[currentPersonIndex].photo" class="center-block avatar-medium" [alt]="items[currentPersonIndex].russianName" />
    </mat-card-content>
    <mat-card-actions *ngIf="items.length > 1" class="flex-space-between">
        <button mat-button (click)="goToPrevious()"><mat-icon>arrow_left</mat-icon></button>
        <button mat-button (click)="goToNext()"><mat-icon>arrow_right</mat-icon></button>
    </mat-card-actions>
</mat-card>