<table class="table table-condensed table-bordered table-striped">
    <tbody>
        <tr>
            <th colspan="7" class="StaffTab">ТАБЛИЦА БОМБАРДИРОВ 2016/17</th>
        </tr>
        <tr>
            <td class="SquadFirst" width="10%">№</td>
            <td class="SquadFirst" width="26%">Имя игрока</td>
            <td class="SquadFirst" width="10%"><abbr title="Английская Премьер-Лига">АПЛ</abbr></td>
            <td class="SquadFirst" width="10%"><abbr title="Лига Чемпионов">ЛЧ</abbr></td>
            <td class="SquadFirst" width="10%"><abbr title="Кубок Англии">КА</abbr></td>
            <td class="SquadFirst" width="10%"><abbr title="Кубок английской лиги">КЛ</abbr></td>
            <td class="SquadFirst" width="14%">Всего</td>
        </tr>
        <tr class="CldrEven">
            <td>19</td>
            <td class="TextStatTab">Садио Мане</td>
            <td>8</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>8</td>
        </tr>
        <tr class="CldrOdd">
            <td>27</td>
            <td class="TextStatTab">Дивок Ориги</td>
            <td>4</td>
            <td>-</td>
            <td>-</td>
            <td>3</td>
            <td>7</td>
        </tr>
        <tr class="CldrEven">
            <td>11</td>
            <td class="TextStatTab">Роберто Фирмино</td>
            <td>5</td>
            <td>-</td>
            <td>-</td>
            <td>1</td>
            <td>6</td>
        </tr>
        <tr class="CldrOdd">
            <td>10</td>
            <td class="TextStatTab">Филиппе Коутиньо</td>
            <td>5</td>
            <td>-</td>
            <td>-</td>
            <td>1</td>
            <td>6</td>
        </tr>
        <tr class="CldrEven">
            <td>20</td>
            <td class="TextStatTab">Адам Лаллана</td>
            <td>6</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>6</td>
        </tr>
        <tr class="CldrOdd">
            <td>7</td>
            <td class="TextStatTab">Джеймс Милнер</td>
            <td>5</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>5</td>
        </tr>
        <tr class="CldrEven">
            <td>15</td>
            <td class="TextStatTab">Дэниел Старридж</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>4</td>
            <td>4</td>
        </tr>
        <tr class="CldrOdd">
            <td>23</td>
            <td class="TextStatTab"><span style="line-height: 20.8px;">Эмре Джан</span></td>
            <td>3</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>3</td>
        </tr>
        <tr class="CldrEven">
            <td>6</td>
            <td class="TextStatTab">Деян Ловрен</td>
            <td>2</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>2</td>
        </tr>
        <tr class="CldrOdd">
            <td>17</td>
            <td class="TextStatTab"><span style="line-height: 20.8px;">Рагнар Клаван</span></td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>1</td>
            <td>1</td>
        </tr>
        <tr class="CldrOdd">
            <td>14</td>
            <td class="TextStatTab">Джордан Хендерсон</td>
            <td>1</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>1</td>
        </tr>
        <tr class="CldrOdd">
            <td>32</td>
            <td class="TextStatTab"><span style="line-height: 20.8px;">Жоэль Матип</span></td>
            <td>1</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>1</td>
        </tr>
        <tr class="CldrOdd">
            <td>5</td>
            <td class="TextStatTab">Джорджиньо Вейналдум</td>
            <td>1</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>1</td>
        </tr>
        <tr class="CldrOdd">
            <td>58</td>
            <td class="TextStatTab">Бенджамин Вудберн</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>1</td>
            <td>1</td>
        </tr>
    </tbody>
</table>

<table class="table table-condensed table-bordered table-striped">
    <tbody>
        <tr>
            <th colspan="7" class="StaffTab">ТАБЛИЦА АССИСТЕНТОВ 2016/17</th>
        </tr>
        <tr>
            <td class="SquadFirst" width="10%">№</td>
            <td class="SquadFirst" width="26%">Имя игрока</td>
            <td class="SquadFirst" width="10%"><abbr title="Английская Премьер-Лига">АПЛ</abbr></td>
            <td class="SquadFirst" width="10%"><abbr title="Лига Чемпионов">ЛЧ</abbr></td>
            <td class="SquadFirst" width="10%"><abbr title="Кубок Англии">КА</abbr></td>
            <td class="SquadFirst" width="10%"><abbr title="Кубок английской лиги">КЛ</abbr></td>
            <td class="SquadFirst" width="14%">Всего</td>
        </tr>
        <tr class="CldrEven">
            <td>10</td>
            <td class="TextStatTab">Филиппе Коутиньо</td>
            <td>5</td>
            <td>-</td>
            <td>-</td>
            <td>1</td>
            <td>6</td>
        </tr>
        <tr class="CldrOdd">
            <td>20</td>
            <td class="TextStatTab">Адам Лаллана</td>
            <td>6</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>6</td>
        </tr>
        <tr class="CldrEven">
            <td>19</td>
            <td class="TextStatTab">Садио Мане</td>
            <td>4</td>
            <td>-</td>
            <td>-</td>
            <td>2</td>
            <td>6</td>
        </tr>
        <tr class="CldrOdd">
            <td>11</td>
            <td class="TextStatTab">Роберто Фирмино</td>
            <td>3</td>
            <td>-</td>
            <td>-</td>
            <td>1</td>
            <td>4</td>
        </tr>
        <tr class="CldrEven">
            <td>5</td>
            <td class="TextStatTab">Джорджиньо Вейналдум</td>
            <td>2</td>
            <td>-</td>
            <td>-</td>
            <td>2</td>
            <td>4</td>
        </tr>
        <tr class="CldrOdd">
            <td>14</td>
            <td class="TextStatTab">Джордан Хендерсон</td>
            <td>4</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>4</td>
        </tr>
        <tr class="CldrEven">
            <td>7</td>
            <td class="TextStatTab">Джеймс Милнер</td>
            <td>1</td>
            <td>-</td>
            <td>-</td>
            <td>1</td>
            <td>2</td>
        </tr>
        <tr class="CldrOdd">
            <td>2</td>
            <td class="TextStatTab">Натаниэль Клайн</td>
            <td>2</td>
            <td>-</td>
            <td>-</td>
            <td>1</td>
            <td>3</td>
        </tr>
        <tr class="CldrOdd">
            <td>15</td>
            <td class="TextStatTab">Дэниел Старридж</td>
            <td>1</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>1</td>
        </tr>
        <tr class="CldrOdd">
            <td>18</td>
            <td class="TextStatTab">Альберто Морено</td>
            <td>1</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>1</td>
        </tr>
        <tr class="CldrOdd">
            <td>66</td>
            <td class="TextStatTab">Трент Александр- Арнольд</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>1</td>
            <td>1</td>
        </tr>
        <tr class="CldrOdd">
            <td>23</td>
            <td class="TextStatTab">Эмре Джан</td>
            <td>1</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>1</td>
        </tr>
        <tr class="CldrOdd">
            <td>27</td>
            <td class="TextStatTab">Дивок Ориги</td>
            <td>1</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>1</td>
        </tr>
    </tbody>
</table>

<table class="table table-condensed table-bordered table-striped">
    <tbody>
        <tr>
            <th colspan="12" class="StaffTab"><span style="font-weight: normal;">КАРТОЧКИ ИГРОКОВ 2016/17</span></th>
        </tr>
        <tr>
            <td class="SquadFirst" width="10%">№</td>
            <td class="SquadFirst" width="26%">Имя игрока</td>
            <td class="SquadFirst" colspan="2" width="10%"><abbr title="Английская Премьер-Лига">АПЛ</abbr></td>
            <td class="SquadFirst" colspan="2" width="10%"><abbr title="Лига Чемпионов">ЛЧ</abbr></td>
            <td class="SquadFirst" colspan="2" width="10%"><abbr title="Кубок Англии">КА</abbr></td>
            <td class="SquadFirst" colspan="2" width="10%"><abbr title="Кубок английской лиги">КЛ</abbr></td>
            <td class="SquadFirst" colspan="2" width="14%">Всего</td>
        </tr>
        <tr class="CldrEven">
            <td>&nbsp;</td>
            <td class="TextStatTab">&nbsp;</td>
            <td>
                <p style="font-size: 120%; color: yellow; text-shadow: 1px 1px 2px black"><span style="color:#FFFF00;"><span style="font-size: 13px;">▊</span></span></p>
            </td>
            <td>
                <p style="font-size: 120%; color: red; text-shadow: 1px 1px 2px black"><span style="color:#FF0000;"><span style="font-size: 13px;">▊</span></span></p>
            </td>
            <td>
                <p style="font-size: 120%; color: yellow; text-shadow: 1px 1px 2px black"><span style="color:#FFFF00;"><span style="font-size: 13px;">▊</span></span></p>
            </td>
            <td>
                <p style="font-size: 120%; color: red; text-shadow: 1px 1px 2px black"><span style="color:#FF0000;"><span style="font-size: 13px;">▊</span></span></p>
            </td>
            <td>
                <p style="font-size: 120%; color: yellow; text-shadow: 1px 1px 2px black"><span style="color:#FFFF00;"><span style="font-size: 13px;">▊</span></span></p>
            </td>
            <td>
                <p style="font-size: 120%; color: red; text-shadow: 1px 1px 2px black"><span style="color:#FF0000;"><span style="font-size: 13px;">▊</span></span></p>
            </td>
            <td>
                <p style="font-size: 120%; color: yellow; text-shadow: 1px 1px 2px black"><span style="color:#FFFF00;"><span style="font-size: 13px;">▊</span></span></p>
            </td>
            <td>
                <p style="font-size: 120%; color: red; text-shadow: 1px 1px 2px black"><span style="color:#FF0000;"><span style="font-size: 13px;">▊</span></span></p>
            </td>
            <td>
                <p style="font-size: 120%; color: yellow; text-shadow: 1px 1px 2px black"><span style="color:#FFFF00;"><span style="font-size: 13px;">▊</span></span></p>
            </td>
            <td>
                <p style="font-size: 120%; color: red; text-shadow: 1px 1px 2px black"><span style="color:#FF0000;"><span style="font-size: 13px;">▊</span></span></p>
            </td>
        </tr>
        <tr class="CldrEven">
            <td>14</td>
            <td class="TextStatTab">Джордан Хендерсон</td>
            <td>6</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>6</td>
            <td>-</td>
        </tr>
        <tr class="CldrOdd">
            <td>6</td>
            <td class="TextStatTab">Деян Ловрен</td>
            <td>4</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>4</td>
            <td>-</td>
        </tr>
        <tr class="CldrEven">
            <td>32</td>
            <td class="TextStatTab">Жоэль Матип</td>
            <td>1</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>1</td>
            <td>-</td>
        </tr>
        <tr class="CldrOdd">
            <td>10</td>
            <td class="TextStatTab"><span style="line-height: 20.8px;">Филиппе Коутиньо</span></td>
            <td>2</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>2</td>
            <td>-</td>
        </tr>
        <tr class="CldrEven">
            <td>19</td>
            <td class="TextStatTab"><span style="line-height: 20.8px;">Садио Мане</span></td>
            <td>2</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>2</td>
            <td>-</td>
        </tr>
        <tr class="CldrOdd">
            <td>21</td>
            <td class="TextStatTab">Лукас Лейва</td>
            <td>1</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>1</td>
            <td>-</td>
        </tr>
        <tr class="CldrEven">
            <td>18</td>
            <td class="TextStatTab">Альберто Морено</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>1</td>
            <td>-</td>
            <td>1</td>
            <td>-</td>
        </tr>
        <tr class="CldrOdd">
            <td>16</td>
            <td class="TextStatTab">Марко Груич</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>2</td>
            <td>-</td>
            <td>2</td>
            <td>-</td>
        </tr>
        <tr class="CldrEven">
            <td>7</td>
            <td class="TextStatTab">Джеймс Милнер</td>
            <td>1</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>1</td>
            <td>-</td>
        </tr>
        <tr class="CldrEven">
            <td>15</td>
            <td class="TextStatTab">Дэниел Старридж</td>
            <td>1</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>1</td>
            <td>-</td>
        </tr>
        <tr class="CldrEven">
            <td>28</td>
            <td class="TextStatTab">Дэнни Ингс</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>1</td>
            <td>-</td>
            <td>1</td>
            <td>-</td>
        </tr>
        <tr class="CldrEven">
            <td>66</td>
            <td class="TextStatTab">Трент Александр- Арнольд</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>1</td>
            <td>-</td>
            <td>1</td>
            <td>-</td>
        </tr>
        <tr class="CldrEven">
            <td>23</td>
            <td class="TextStatTab">Эмре Джан</td>
            <td>2</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>2</td>
            <td>-</td>
        </tr>
        <tr class="CldrEven">
            <td>11</td>
            <td class="TextStatTab">Роберто Фирмино</td>
            <td>2</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>2</td>
            <td>-</td>
        </tr>
        <tr class="CldrEven">
            <td>5</td>
            <td class="TextStatTab">Джорджиньо Вейналдум</td>
            <td>1</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>1</td>
            <td>-</td>
        </tr>
        <tr class="CldrEven">
            <td>27</td>
            <td class="TextStatTab">Дивок Ориги</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>1</td>
            <td>-</td>
            <td>1</td>
            <td>-</td>
        </tr>
    </tbody>
</table>