<ng-container *ngIf="{ isEditor: isEditor$ | async, isModerator: isModerator$ | async,
                        isLogined: isLogined$ | async, userId: userId$ | async } as data">
    <div *ngIf="item" class="comment-container com-offset-{{deep}}" [class.nested]="item.children?.length > 0">
        <div class="comment" [id]="'com'+item.id">
            <div class="flex-space-between flex-v-c">
                <span>
                    <span>
                        <a [routerLink]="['/', item.typeName| lowercase, item.materialId || item.matchId]"
                            fragment="com{{item.id}}" [textContent]="item.number || 0" mat-tooltip="К комментарию"></a>
                    </span>&nbsp;
                    <a [routerLink]="['/users', item.authorId]" [textContent]="item.authorUserName"></a>
                </span>
                <span>
                    <span class="small" [textContent]="item.additionTime | customDate:true"></span>
                    <i *ngIf="item.lastModified !== item.additionTime" class="small" title="Отредактировано">(<span
                            [textContent]="item.lastModified | customDate:true"></span>)</i>
                </span>
                <span>
                    <span>
                        <span class="color-green font-size20" [textContent]="item.positiveCount"></span>
                        <a class="color-green" role="button" (click)="vote(true)"
                            *ngIf="item.canPositiveVote && data.userId !== item.authorId">
                            <mat-icon style="font-size: 100%;">thumb_up</mat-icon>
                        </a>
                        /
                        <span class="color-red font-size20" [textContent]="item.negativeCount"></span>
                        <a class="color-red" role="button" (click)="vote(false)"
                            *ngIf="item.canNegativeVote && data.userId !== item.authorId">
                            <mat-icon style="font-size: 100%;">thumb_down</mat-icon>
                        </a>
                    </span>
                    <a *ngIf="data.isModerator && !item.isVerified" (click)="verify()" role="button">
                        <mat-icon style="font-size: 100%;">done</mat-icon>
                    </a>
                    <a *ngIf="data.isModerator || data.userId === item.authorId" role="button" (click)="showEditModal()">
                        <mat-icon style="font-size: 100%;">edit</mat-icon>
                    </a>
                    <a *ngIf="data.isModerator" role="button" (click)="showDeleteModal()">
                        <mat-icon style="font-size: 100%;">clear</mat-icon>
                    </a>
                </span>
            </div>
            <div *ngIf="!isEditMode">
                <div class="flex top5">
                    <div class="width15p">
                        <img class="avatar-medium" [src]="item.photo" loading="lazy" [alt]="item.authorUserName"
                            [srcset]="item.photo | img:[100]" />
                    </div>
                    <div class="width85p">
                        <p class="padding5" [innerHTML]="item.message | safe: 'html'"></p>
                    </div>
                </div>
                <div class="flex" *ngIf="item.answer || (isEditMode && data.isEditor)">
                    <div class="width15p"><b>Ответ:</b></div>
                    <div class="width85p">
                        <i *ngIf="!isEditMode" [innerHTML]="item.answer | safe: 'html'"></i>
                        <bbeditor *ngIf="isEditMode" [value]="item.answer" formControlName="answer"></bbeditor>
                    </div>
                </div>
                <div class="full-width"
                    *ngIf="data.userId !== item.authorId && canCommentary && !isAddingMode && data.isLogined">
                    <a role="button" (click)="showAddCommentModal()">Ответить</a>
                </div>
            </div>
            <form class="form-horizontal" role="form" [formGroup]="commentForm" (ngSubmit)="editComment()"
                *ngIf="isEditMode">
                <div class="full-width flex">
                    <div class="width15p">
                        <img class="avatar-medium" [src]="item.photo" [alt]="item.authorUserName" />
                    </div>
                    <div class="width85p">
                        <bbeditor formControlName="message" #replyInput></bbeditor>
                    </div>
                </div>
                <div class="full-width flex" *ngIf="data.isEditor">
                    <div class="width15p">Ответ:</div>
                    <div class="width85p">
                        <bbeditor [height]="150" formControlName="answer"></bbeditor>
                    </div>
                </div>
                <div class="flex full-width">
                    <span class="width15p"></span>
                    <div class="width85p comment-action-buttons">
                        <button mat-raised-button color="warn" [disabled]="!commentForm.valid"
                            type="submit">Обновить</button>
                        <button mat-raised-button (click)="cancelEdit()" type="button">Отмена</button>
                    </div>
                </div>
            </form>
            <div *ngIf="isAddingMode">
                <hr />
                <h4 class="">Добавление ответа на комментарий</h4>
                <form class="form-horizontal" role="form" [formGroup]="commentForm" (ngSubmit)="addComment()">
                    <div class="">
                        <bbeditor formControlName="message" #replyInput></bbeditor>
                    </div>
                    <div class="comment-action-buttons">
                        <button mat-raised-button color="warn" [disabled]="!commentForm.valid"
                            type="submit">Добавить</button>
                        <button mat-raised-button (click)="cancelAdding()" type="button">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
        <div *ngFor="let child of item.children; trackBy: trackByFn">
            <comment-detail [item]="child" [deep]="deep > 6 ? 7 : deep+1" [materialId]="materialId"
                [canCommentary]="canCommentary" [parent]="item" [type]="type" [matchId]="matchId"></comment-detail>
        </div>
    </div>
</ng-container>