:host {
    .avatar-medium {
        min-width: 30px;
        width: 100px;
    }

    .comment {
        background-color: #e5e5e5;
        border: gray solid thin;
        border-radius: 0 0 10px 10px;
        min-height: 80px;
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 0 5px 5px 5px;
    }



    .comment.active {
        border-color: #731010;
        border-width: 3px;
    }

    .com-offset-0 {
        margin-left: 0;
    }

    .com-offset-1,
    .com-offset-2,
    .com-offset-3,
    .com-offset-4,
    .com-offset-5,
    .com-offset-6,
    .com-offset-7 {
        margin-left: 3%;
    }

    .comment-container.nested {
        border-left: #6e6e6e dotted 1px;
        padding-left: 1px;
    }

    .comment-container.nested:hover {
        border-left: #6e6e6e dashed 2px;
        padding-left: 0;
    }

    .color-green {
        color: green;
    }

    .font-size20 {
        font-size: 20px;
    }

    .top5 {
        margin-top: 5px;
    }

    .width15p {
        width: 15%;
    }

    .width85p {
        width: 85%;
    }
}

::ng-deep {
    .comment img {
        max-width: 100%;
        height: auto;
    }
}