<form class="form-horizontal full-width" role="form" [formGroup]="userEditForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="full-width">
        <input matInput [matDatepicker]="datePicker" placeholder="Выберите дату рождения" formControlName="birthday">
        <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
        <mat-datepicker #datePicker startView="year" touchUi="true"></mat-datepicker>
    </mat-form-field>
    <div class="full-width text-center">
        Парень <mat-slide-toggle formControlName="gender"
                                 color="warn">
            Девушка
        </mat-slide-toggle>
    </div>
    <mat-form-field class="full-width top10">
        <input matInput placeholder="Полное имя" formControlName="fullName">
    </mat-form-field>
    <div class="full-width">
        <button mat-raised-button color="warn" class="full-width" type="submit">Сохранить</button>
    </div>
</form>