<div class="full-width flex" *ngIf="item">
    <div class="full-width text-center bottom10">
        {{item.dateTime | customDate:false:true }}, {{item.typeName}}, {{item.stadiumName}}
    </div>
    <div class="flex-space-between full-width">
        <div class="">
            <div class="full-width text-center">
                <img [src]="item.homeClubLogo" [alt]="item.homeClubName" [title]="item.homeClubName" />
            </div>
            <div class="full-width text-center">
                <b class="font-size20" [textContent]="item.homeClubName"></b>
            </div>
        </div>
        <div class="font-size40 text-center flex-vertical-center">
            <b [textContent]="item.scoreHome"></b>
            <span class="padding0">:</span>
            <b [textContent]="item.scoreAway"></b>
            <!--<i class="font-size13">Серия пенальти:</i>-->
            <b *ngIf="item.scorePenaltyHome || item.scorePenaltyAway">({{item.scorePenaltyHome}}-{{item.scorePenaltyAway}})</b>
        </div>
        <div class="">
            <div class="full-width text-center">
                <img [src]="item.awayClubLogo" [alt]="item.awayClubName" [title]="item.awayClubName" />
            </div>
            <div class="full-width text-center">
                <b class="font-size20" [textContent]="item.awayClubName"></b>
            </div>
        </div>
    </div>
    <div class="full-width text-center"> <a [routerLink]="['/matches', item.id]">Перейти к обсуждению({{item.commentCount}})</a></div>
</div>