<form class="full-width flex-space-around" name="editForm" role="form" [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <div class="full-width text-center">
            <img class="img-medium" *ngIf="imagePath" [src]="imagePath" alt="" />
    </div>
    <div class="full-width">
        <mat-form-field class="full-width">
            <input matInput placeholder="Название" formControlName="name">
        </mat-form-field>
    </div>
    <div class="full-width">
        <mat-form-field class="full-width">
            <input matInput placeholder="Название на английском" formControlName="englishName">
        </mat-form-field>
    </div>
    <div class="full-width" *ngIf="editForm?.controls['englishName'].value">
        <mat-form-field class="full-width">
            <input formControlName="logo" matInput novalidate readonly />
            <label for="upload-image" mat-button matSuffix role="button"><mat-icon>add_photo_alternate</mat-icon></label>
            <input type="file"
                   class="hidden"
                   accept="image/*"
                   [multiple]="false"
                   (change)="onUploadImage($event)"
                   id="upload-image" />
        </mat-form-field>
    </div>
    <mat-form-field class="full-width">
        <input matInput placeholder="Стадион" [matAutocomplete]="stadium" formControlName="stadiumName">
        <mat-autocomplete #stadium="matAutocomplete">
            <mat-option *ngFor="let stadium of stadiums$ | async" [value]="stadium.name" (click)="selectStadium(stadium.id)">
                <span>{{ stadium.name }}-{{stadium.city}}</span>
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <div class="full-width">
            <button mat-raised-button color="warn" class="full-width" type="submit" [disabled]="!editForm.valid">Сохранить</button>
    </div>
</form>
