<div>
    <h3 class="text-center">Забыли пароль?</h3>
        <form *ngIf="!finish"
              class="full-width" 
              role="form"
              [formGroup]="forgotForm"
              (ngSubmit)="onSubmit()">
            <div class="full-width">
                    <mat-form-field class="full-width">
                        <input matInput formControlName="email" type="email" placeholder="Почта"/>
                    </mat-form-field>
                <div class="alert alert-danger" *ngIf="forgotForm.controls['email'].touched && !forgotForm.controls['email'].valid">
                    <div *ngIf="forgotForm.controls['email'].hasError('required')">Необходимо заполнить поле.</div>
                    <div *ngIf="forgotForm.controls['email'].hasError('minlength')">Значение должно превышать 6 символов.</div> <!--todo move to config-->
                    <div *ngIf="forgotForm.controls['email'].hasError('email')">Введенное значение не является допустимым адресом.</div>
                </div>
            </div>
            <div class="full-width text-center">
                <button mat-raised-button
                        type="submit"
                        color="warn"
                        *ngIf="isHuman"
                        [disabled]="!forgotForm.valid">Отправить</button>
                <recaptcha [hidden]="isHuman" (isHuman)="isHuman = $event"></recaptcha>
            </div>
        </form>
    <span *ngIf="finish">Письмо отправлено на введенную вами почту, пожалуйста, следуйте инструкциям в письме(проверьте папку спам, на всякий случай). Если письмо не приходит, напишите, пожалуйста мне: <b>admin@mylfc.ru</b> или <b>vk.com/parys</b></span>
</div>