<script type="text/ng-template" id="modalEditComment.html">
    <div class="modal-header">
        <h3 class="modal-title">Редактирование комментария</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" name="editCommentForm" role="form">
            <textarea mark-it-up class="col-md-offset-3 col-md-6" rows="6" name="message" ng-model="vm.editingComment.message" validation="required"></textarea>
            <textarea mark-it-up ng-if="isModerator()" class="col-md-offset-3 col-md-6" rows="6" name="answer" ng-model="vm.editingComment.answer"></textarea>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-disabled="editCommentForm.$invalid" ng-click="vm.ok()">Сохранить</button>
        <button class="btn btn-default" type="button" ng-click="vm.cancel()">Отмена</button>
    </div>
</script>