<div class="full-width bottom10 flex-space-between">
    <span *ngIf="items?.length === 0; else removeAll">Нет уведомлений</span>
    <ng-template #removeAll>
        <button mat-raised-button (click)="readAll()">Пометить все как прочитанные</button>
    </ng-template>
    <a routerLink="/users/0/settings"><mat-icon>settings</mat-icon></a>
</div>
<div class="full-width" *ngFor="let event of items; let i = index;">
    <div class="full-width event-block" [class.unread]="!event.isRead">
        <div class="full-width flex-space-between">
            <span [textContent]="event.dateTime | customDate"></span>
            <a *ngIf="!event.isRead" role="button" (click)="read(i)">Пометить как прочитанное</a>
        </div>
        <a role="button" (click)="readAndGo(i)" [innerHtml]="event.text | safe: 'html'"></a>
    </div>
</div>