<div>Комментарии: <span [textContent]="totalItems"></span> <button (click)="update()"><span class="glyphicon glyphicon-refresh text-success"></span></button></div>

<div class="" *ngFor="let comment of items | paginate: { itemsPerPage: itemsPerPage,
                                                      currentPage: page,
                                                      totalItems: totalItems }">
    <materialComment-detail [item]="comment" [deep]="0" [materialId]="materialId" [canCommentary]="canCommentary"></materialComment-detail>
</div>

<form class="form-horizontal" role="form" [formGroup]="commentAddForm" (ngSubmit)="onSubmit()">
    <div class="col-md-12 row" *ngIf="canCommentary && roles.isLogined">
        <div class="col-md-12">
            <bbeditor class="col-md-12" name="message" formControlName="message"></bbeditor>
        </div>
        <div class="">
            <button class="btn btn-primary center-block" [disabled]="!commentAddForm.valid" type="submit">Добавить</button>
        </div>
    </div>
</form>

<div class="pagination">
    <pagination-controls (pageChange)="pageChanged($event)"
                         directionLinks="true"
                         autoHide="true"
                         previousLabel="Назад"
                         nextLabel="Вперед"
                         screenReaderPaginationLabel="Постраничный вид"
                         screenReaderPageLabel="Страница"
                         screenReaderCurrentLabel="Вы на странице"></pagination-controls>
</div>