<div>Комментарии: <span [textContent]="totalItems"></span></div>

<div class="" *ngFor="let comment of items">
    <materialComment-detail [item]="comment" [deep]="0" [materialId]="materialId" [canCommentary]="canCommentary"></materialComment-detail>
</div>

<form class="form-horizontal" role="form" [formGroup]="commentForm" (ngSubmit)="onSubmit()">
    <div class="col-md-12" *ngIf="canCommentary && roles.isLogined">
        <div class="col-md-12">
            <medium-editor class="col-md-offset-2 col-md-8" name="message" formControlName="message"></medium-editor>
        </div>
        <div class="">
            <button class="btn btn-primary center-block" [disabled]="!commentForm.valid" type="submit">Добавить</button>
        </div>
    </div>
</form>

<div class="pagination">
    <pagination *ngIf="items && totalItems > itemsPerPage" [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" [(ngModel)]="page" [maxSize]="7" (pageChanged)="pageChanged($event)"
                previousText="&lsaquo;" nextText="&rsaquo;" firstText="1" lastText="totalItems/itemsPerPage"></pagination>
</div>