<div>Комментарии: <span [textContent]="totalItems"></span> <button (click)="update()"><span class="glyphicon glyphicon-refresh text-success"></span></button></div>

<div class="" *ngFor="let comment of items | paginate: { itemsPerPage: itemsPerPage,
                                                      currentPage: page,
                                                      totalItems: totalItems }">
    <materialComment-detail [item]="comment" [deep]="0" [materialId]="materialId" [canCommentary]="canCommentary"></materialComment-detail>
</div>

<form class="form-horizontal" role="form" [formGroup]="commentAddForm" (ngSubmit)="onSubmit()">
    <div class="col-xs-12 container-row" *ngIf="canCommentary && roles.isLogined">
        <div class="col-xs-12 container-row">
            <bbeditor class="col-xs-12 container-row" name="message" formControlName="message"></bbeditor>
        </div> 
        <div class="form-group" style="margin-bottom: 0">
            <div class="col-xs-12 col-sm-12 col-md-12 text-center" style="margin-top: -37px;">            
                <button md-raised-button color="warn" type="submit" [disabled]="!commentAddForm.valid">Добавить</button>
            </div>
        </div>
    </div>
</form>

<div class="pagination">
    <pagination-controls (pageChange)="pageChanged($event)"
                         directionLinks="true"
                         autoHide="true"
                         previousLabel="Назад"
                         nextLabel="Вперед"
                         screenReaderPaginationLabel="Постраничный вид"
                         screenReaderPageLabel="Страница"
                         screenReaderCurrentLabel="Вы на странице"></pagination-controls>
</div>