<div class="col-md-12 top20">
    <form class="form-horizontal" *ngIf="!result" [formGroup]="registerForm" (ngSubmit)="onSubmit()" role="form">
        <div class="form-group">
            <label class="col-md-2 control-label">Логин</label>
            <div class="col-md-10">
                <!--    <input type="text" name="userName" [(ngModel)]="item.username" id="userName" debounce="5000" validation="remote:vm.userNameUnique():alt=Пользователь с таким логином уже существует|min_len:3|max_len:30|required" />
                -->  <input class="form-control" formControlName="userName" type="text" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Почта</label>
            <div class="col-md-10">
                <!-- <input type="email" name="email" [(ngModel)]="item.email" id="email" debounce="5000" validation="remote:vm.emailUnique():alt=Пользователь с таким адресом уже существуетrequired|email|min_len:6" />
                -->  <input class="form-control" formControlName="email" type="email"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Пароль</label>
            <div class="col-md-10">
                <input class="form-control"  formControlName="password" type="password" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Ещё пароль</label>
            <div class="col-md-10">
                <input class="form-control" formControlName="confirmPassword" type="password"/>
            </div>
        </div>
        <div class="form-group" *ngIf="isHuman">
            <div class="col-md-offset-2 col-md-10">
                <button class="btn btn-default" [disabled]="!registerForm.valid" type="submit">Зарегистрироваться</button>
            </div>
        </div>
        <div class="form-group" [hidden]="isHuman">
            <div class="col-md-offset-2 col-md-10">
                <recaptcha (isHuman)="isHuman = $event"></recaptcha>
            </div>
        </div>
        </form>
    <span *ngIf="result">Регистрация прошла успешно, пожалуйста, подтвердите регистрацию. Письмо отправлено на введенную вами почту.</span>
</div>