<form name="loginForm" class="form-inline" role="form" style="margin-top: 8px;" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <input class="form-control" formControlName="userName" placeholder="Логин" type="text" />
      </div>
    <div class="form-group">
        <input class="form-control" formControlName="password" placeholder="Пароль" type="password" />
    </div>
    <div class="form-group">
        <button type="submit" [disabled]="!loginForm.valid" class="btn btn-default">Войти</button>
    </div>
</form>