<div>
    <h1 class="text-center">Изменение пароля</h1>
    <div class="col-md-12">
        <form class="form-horizontal" name="changePassword" role="form">
            <div class="form-group">
                <label class="col-md-2  control-label">Старый пароль</label>
                <div class="col-md-10">
                    <input type="password" name="oldPassword" ng-model="vm.changeForm.oldPassword" validation="min_len:6|required" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2  control-label">Новый пароль</label>
                <div class="col-md-10">
                    <input type="password" name="newPassword" ng-model="vm.changeForm.newPassword" validation="min_len:6|required" class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2  control-label">Новый пароль</label>
                <div class="col-md-10">
                    <input type="password" name="confirmPassword" ng-model="vm.changeForm.confirmPassword" validation="required|match:changeForm.newPassword,Новый пароль|min_len:6" class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" ng-disabled="vm.changePassword.$invalid" ng-click="vm.change()" class="btn btn-default" value="Изменить"/>
                </div>
            </div>
        </form>
    </div>
</div>