<div>
    <h1 class="text-center">Изменение пароля</h1>
    <div class="col-md-12">
        <form class="form-horizontal" [formGroup]="passwordForm" (ngSubmit)="onSubmit(passwordForm.value)" role="form">
            <div class="form-group">
                <label class="col-md-2 control-label">Старый пароль</label>
                <div class="col-md-10">
                    <input type="password" name="oldPassword" [formControl]="passwordForm.controls['oldPassword']" class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Новый пароль</label>
                <div class="col-md-10">
                    <input type="password" name="newPassword" [formControl]="passwordForm.controls['newPassword']" class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Новый пароль</label>
                <div class="col-md-10">
                    <input type="password" name="confirmPassword" [formControl]="passwordForm.controls['confirmPassword']" class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button class="btn btn-default" [disabled]="!passwordForm.valid" type="submit">Изменить</button>
                </div>
            </div>
        </form>
    </div>
</div>