@using MyLiverpool.Business.Resources

<div class="col-md-12 form-horizontal margin-top-middle" ng-init="vm.init()"> 
    <div class="form-group">
        <label class = "control-label col-md-2"> @ColonsMessages.Receiver</label>
        <div class="col-md-10">
            <input class = "form-control"  disabled = "disabled" value="{{ vm.message.receiverUserName }}"/>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2"> @ColonsMessages.Title</label>
        <div class="col-md-10">
            <input class="form-control" disabled="disabled" value="{{ vm.message.title }}" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2"> @ColonsMessages.Message</label>
        <div class="col-md-10">
            <textarea class="form-control" disabled="disabled" rows="4">{{ vm.message.message }}</textarea>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <a ui-sref="wpm({userName: vm.message.receiverUserName, title: vm.message.title })">@CommonMessages.Answer</a>
        </div>
    </div>
</div>