<div class="col-md-12">
    <div class="container-fluid" *ngFor="let section of items">
        <div class="panel panel-danger" *ngIf="section.subsections.length > 0 || roles.isAdminAssistant">
            <div class="panel-heading">
                <span [textContent]="section.name"></span>
                <span *ngIf="roles.isAdminAssistant">
                    <a href="" ui-sref="subsectionEdit({sectionId: section.id})">Добавить подсекцию</a>
                    <a class="pull-right" [hidden]="section.subsections.length != 0" ng-click="vm.removeSection($index)">
                        <span class="glyphicon glyphicon-remove">
                        </span>
                    </a>
                </span>
            </div>
            <!--div class="panel-body"></!--div>-->
            <ul class="list-group" *ngFor="let subsection of section.subsections">
                <li class="list-group-item list">
                    <a ui-sref="subsection({id: subsection.id})">
                        <span [textContent]="subsection.name"></span>
                        <span class="small" [textContent]="subsection.description"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <a ng-click="vm.addSection()">Добавить секцию</a>

</div>

<script type="text/ng-template" id="addSection.html">
    <div class="modal-header">
        <h3 class="modal-title">@CommonMessages.AddSection</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" name="addSection" role="form">
            <div class="form-group">
                <label for="newSectionName" class="col-md-2 control-label">@ColonsMessages.SectionName</label>
                <div class="col-md-10">
                    <input type="text" name="newSectionName" ng-model="vm.sectionName" validation="required" class="form-control" />
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-disabled="addSection.$invalid" type="button" ng-click="vm.ok()">@CommonMessages.Add</button>
        <button class="btn btn-default" type="button" ng-click="vm.cancel()">@CommonMessages.Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="modalDeleteConfirmation.html">
    <div class="modal-header">
        <h3 class="modal-title">@CommonMessages.DeleteConfirmation</h3>
    </div>
    <div class="modal-body">
        @CommonMessages.Delete?
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="vm.ok()">@CommonMessages.Delete</button>
        <button class="btn btn-default" type="button" ng-click="vm.cancel()">@CommonMessages.Cancel</button>
    </div>
</script>
