<table class="gTable">
    <tbody *ngFor="let section of items">
    <tr *ngIf="section.subsections.length > 0"> <td class="gTableTop" colspan="5"><div style="float:right" class="gTopCornerRight"></div><a class="catLink" href="/forum/1" [textContent]="section.name"></a></td></tr>
    <tr *ngIf="section.subsections.length > 0"><td width="5%" class="gTableSubTop">&nbsp;</td><td class="gTableSubTop">Форум</td><td width="8%" class="gTableSubTop" align="center">Темы</td><td width="8%" class="gTableSubTop" align="center">Ответы</td><td width="30%" class="gTableSubTop">Обновления</td></tr>
        
    <tr *ngFor="let subsection of section.subsections">  
          <td class="forumIcoTd" align="center">
                <img alt="" style="margin:0;padding:0;vertical-align:middle;border:0;max-width:60px;max-height:60px;" src="http://www.myliverpool.ru/images/ico/ava_ico.php.jpg" title="Нет новых сообщений">
            </td>
            <td class="forumNameTd">
                <a class="forum" [routerLink]="['/forum', subsection.id]">
                    <span [textContent]="subsection.name"></span></a>
                <div class="forumDescr" [textContent]="subsection.description"></div>
            </td>
            <td class="forumThreadTd" align="center"[textContent]="subsection.themesCount"></td>
            <td class="forumPostTd" align="center">-</td>
            <td class="forumLastPostTd">

                <script type="text/javascript">document.write('<a title="К последнему сообщению" class="forumLastPostLink" hr'+'ef="/forum/5-1400-0-17">Среда, 19.10.2016, 13:37:37</a>')</script><a title="К последнему сообщению" class="forumLastPostLink" href="/forum/5-1400-0-17">Среда, 19.10.2016, 13:37:37</a>
                <script type="text/javascript">document.write('<a hr' + 'ef="/forum/5-1400-0-17-1"><img alt="" style="margin:0;padding:0;vertical-align:middle;border:0;max-width:60px;max-height:60px;" title="К первому непрочитанному сообщению" src="http://myliverpool.ru/.s/img/fr/ic/2/lastpost.gif" /></a>')</script><a href="/forum/5-1400-0-17-1"><img alt="" style="margin:0;padding:0;vertical-align:middle;border:0;max-width:60px;max-height:60px;" title="К первому непрочитанному сообщению" src="http://myliverpool.ru/.s/img/fr/ic/2/lastpost.gif"></a>
                <br>Тема: <a class="forumLastPostLink" href="/forum/5-1400-1">Брендан Роджерс</a>
                <br>Сообщение от: <span class="lastPostUser"><a class="lastPostUserLink" href="javascript://" rel="nofollow" onclick="window.open('/index/8-0-icebergstollikcs','up67','scrollbars=1,top=0,left=0,resizable=1,width=680,height=350');return false;">icebergstollikcs</a></span>
            </td>
        </tr>
    </tbody>
</table>
<!--div class="col-md-12">
    <div class="container-fluid" *ngFor="let section of items">
        <div class="panel panel-danger" *ngIf="section.subsections.length > 0 || roles.isAdminAssistant">
            <div class="panel-heading">
                <span [textContent]="section.name"></span>
                <span *ngIf="roles.isAdminAssistant">
                    <a [routerLink]="['/forum', 0, 'edit']">Добавить подсекцию</a>
                    <a class="pull-right" [hidden]="section.subsections.length != 0" ng-click="vm.removeSection($index)">
                        <span class="glyphicon glyphicon-remove">
                        </span>
                    </a>
                </span>
            </div>
            <!--div class="panel-body"></!--div>->
            <ul class="list-group" *ngFor="let subsection of section.subsections">
                <li class="list-group-item list">
                    <a [routerLink]="['/forum', subsection.id]">
                        <span [textContent]="subsection.name"></span>
                        <span class="small" [textContent]="subsection.description"></span>
                    </a>
                    <span class="pull-right">
                        <a [routerLink]="['/forum', subsection.id, 'edit']"><span class="glyphicon glyphicon-pencil"></span></a>
                    </span>
                </li>
            </ul>
        </div>
    </div>
    <a ng-click="vm.addSection()">Добавить секцию</a>

</!--div>

<script type="text/ng-template" id="addSection.html">
    <div class="modal-header">
        <h3 class="modal-title">@CommonMessages.AddSection</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" name="addSection" role="form">    
            <div class="form-group">
                <label for="newSectionName" class="col-md-2 control-label">@ColonsMessages.SectionName</label>
                <div class="col-md-10">
                    <input type="text" name="newSectionName" ng-model="vm.sectionName" validation="required" class="form-control" />
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-disabled="addSection.$invalid" type="button" ng-click="vm.ok()">@CommonMessages.Add</button>
        <button class="btn btn-default" type="button" ng-click="vm.cancel()">@CommonMessages.Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="modalDeleteConfirmation.html">
    <div class="modal-header">
        <h3 class="modal-title">@CommonMessages.DeleteConfirmation</h3>
    </div>
    <div class="modal-body">
        @CommonMessages.Delete?
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="vm.ok()">@CommonMessages.Delete</button>
        <button class="btn btn-default" type="button" ng-click="vm.cancel()">@CommonMessages.Cancel</button>
    </div>
</script>
    -->