<div>
    <a [routerLink]="[0, 'edit']">Добавить стадион</a>
    <ul *ngFor="let item of items; let i = index;">
        <li>
            <a [routerLink]="[item.id, 'edit']">
                <span [textContent]="item.name + '-' + item.city"></span>
            </a>
            <!--<span *ngIf="roles.isEditor">
                <a [routerLink]="[category.id, 'edit']"> <span class=" -pencil"></span></a>
                <a *ngIf="category.itemsCount == 0" (click)="delete(i)"> <span class=" -trash"></span></a>
            </span>-->
        </li>
    </ul>
</div>

<mat-paginator [showFirstLastButtons]="true" [pageSizeOptions]="[15, 25, 50]"></mat-paginator>