<div *ngIf="item">
    <div class="flex-vertical-center material-header">
        <h3 class="col-xs-12 col-sm-12 container-row">
            <span class="beauty-font" [textContent]="item.title"></span>
            <span class="pull-right" *ngIf="roles.isEditor || roles.isSelf(item.userId)">
                <a role="button" *ngIf="item.pending && roles.isEditor" (click)="showActivateModal(i)"><span class="glyphicon glyphicon-ok"></span></a>
                <a [routerLink]="['./edit']"><span class="glyphicon glyphicon-pencil"></span></a>
                <a role="button" (click)="showDeleteModal(i)"><span class="glyphicon glyphicon-trash"></span></a>
            </span>
        </h3>
    </div>
    <div class="col-xs-12 col-sm-12 container-row">
        <div *ngIf="item.usePhotoInBody" class="col-xs-12 container-row">
            <img [src]="item.photo" class="material-preview" alt="" />
            <i [innerHTML]="brief"></i>           
            <br />
            <br />
        </div>
        <article class="material-body" [innerHTML]="body"></article>
        <div class="alert-warning top10">
            <ul class="list-inline">
                <li><label>Просмотры:</label> <span [textContent]="item.reads"></span></li>
                <li *ngIf="item.source"><label>Источник:</label> <a [href]="sanitizeByUrl(item.source)" target="_blank" [textContent]="getShortLink(item.source)"></a></li>
                <li><label>Дата добавления:</label> <span [textContent]="item.additionTime | customDate:true"></span></li>
                <li><label>Категория:</label> <a [routerLink]="['/' + item.typeName]" [queryParams]="{page: 1, categoryId: item.categoryId}"> <span [textContent]="item.categoryName"></span> </a></li>
                <li><label>Автор:</label> <a [routerLink]="['/users', item.userId ]" [textContent]="item.userName"></a></li>
            </ul>
        </div>
    </div>
    <div class="col-xs-12 flex-space-around"><span class="col-xs-12">К другим новостям: </span>
        <a *ngIf="item.prevMaterialId" [routerLink]="['/', item.typeName, item.prevMaterialId]"><span [textContent]="item.prevMaterialTitle"></span>(назад)</a>
        <a *ngIf="item.nextMaterialId" [routerLink]="['/', item.typeName, item.nextMaterialId]"><span [textContent]="item.nextMaterialTitle"></span>(вперед)</a>
    </div>
    <div class="col-xs-12">
        <div id="yandex_rtb_R-A-255349-2"></div>
    </div>
    <div class="full-width flex">
        <comment-section [materialId]="item.id" [type]="item.type" [canCommentary]="item.canCommentary"></comment-section>
    </div>
</div>