<div class="full-width">
    <label [for]="controlName" class="mat-raised-button">Загрузить</label>
    <input type="file"
           class="hidden"
           accept="image/*"
           (change)="onUploadImage($event)"
           [id]="controlName" />
    <image-cropper [imageChangedEvent]="imageChangedEvent"
                   [maintainAspectRatio]="true"
                   [resizeToWidth]="150"
                   [aspectRatio]="1 / 1"
                   format="jpeg"
                   (imageCropped)="imageCropped($event)"></image-cropper>
    <button mat-raised-button color="warn" *ngIf="imageChangedEvent" (click)="crop()" type="button">Обрезать</button>
</div>