<div class="flex-space-around flex-v-c">
    <mat-form-field>
        <mat-select #roleSelect placeholder="Тип">
            <mat-option value="">Все группы</mat-option>
            <mat-option *ngFor="let roleGroup of roleGroups" [value]="roleGroup.id"
                [textContent]="roleGroup.russianName">
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <input matInput #userInput placeholder="Логин">
    </mat-form-field>
    <span [hidden]="!isAdminAssistant">
        <mat-form-field>
            <input matInput #ipInput placeholder="Ip">
        </mat-form-field>
    </span>
</div>