<form class="form-horizontal full-width" role="form" [formGroup]="faqCategoryEditForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="full-width">
        <input matInput placeholder="Имя категории" formControlName="name">
    </mat-form-field>
    <div class="full-width text-center">
         <mat-slide-toggle formControlName="forSiteTeam"
                                 color="warn">
            Доступно только команде сайта
        </mat-slide-toggle>
    </div>
    <mat-form-field class="full-width top10">
        <input matInput placeholder="Порядок" formControlName="order">
    </mat-form-field>
    <div class="full-width">
        <button mat-raised-button color="warn" class="full-width" type="submit">Сохранить</button>
    </div>
</form>