<div class="container-fluid" *ngIf="item">
    <h2>
        <span [textContent]="item.userName"></span>
        <span *ngIf="roles.isLogined && !roles.isSelf(item.id)">
            <a role="button" (click)="writePm()"><span class="glyphicon glyphicon-envelope"></span></a>
        </span>
    </h2>
    <pm-reply *ngIf="selectedUserId" [userId]="selectedUserId" (close)="closePmWindow($event);" [userName]="item.userName"></pm-reply>
    <div class="row">
        <div class="col-xs-4 col-sm-4">
            <img class="avatar" [src]="item.photo" [alt]="item.userName" />
        </div>
        <div class="col-xs-8 col-sm-8">
            <div *ngIf="roles.isSelf(item.id) || roles.isModerator">
                <label for="update-avatar-input"
                       *ngIf="roles.isSelf(item.id)"
                       class="btn btn-info">Обновить аватар</label>
                <input type="file"
                       class="hidden"
                       accept="image/*"
                       (change)="onChangeAvatar($event)"
                       id="update-avatar-input" />
                <button mat-raised-button color="primary" (click)="resetAvatar()">
                    Сбросить аватар
                </button>
                <button mat-raised-button color="warn" *ngIf="roles.isSelf(item.id)" [routerLink]="['/changePassword']">Изменить пароль</button>
                <button mat-raised-button *ngIf="roles.isSelf(item.id)" [routerLink]="['./settings']">Изменить настройки</button>
                <button mat-raised-button *ngIf="roles.isSelf(item.id)" [routerLink]="['./edit']">Изменить профиль</button>
                <br><br>
            </div>
        </div>
    </div>

    <div class="form-horizontal top10" role="form">
        <div *ngIf="roles.isModerator && !roles.isSelf(item.id)" class="form-group col-xs-12 col-md-6">
            <form *ngIf="!item.lockoutEnd" class="form-inline" name="banForm" role="form" [formGroup]="banForm" (ngSubmit)="onSubmitBan()">
                <mat-form-field>
                    <input matInput placeholder="Блокировка(Количество дней)" formControlName="banDaysCount" min="1" type="number">
                </mat-form-field>
                <button mat-raised-button color="warn" type="submit" [disabled]="!banForm.valid">Забанить</button>
            </form>
            <div class="col-xs-12" *ngIf="item.lockoutEnd">
                <mat-form-field>
                    <input matInput placeholder="Заблокирован до" [value]="item.lockoutEnd | customDate:true">
                </mat-form-field>
                <button mat-raised-button color="primary" *ngIf="roles.isMainModerator" (click)="unban()">Снять бан</button>
            </div>
        </div>
        <mat-form-field *ngIf="!roles.isAdminAssistant || roles.isSelf(item.id)" class="full-width">
            <input matInput placeholder="Группа" readonly [value]="item.roleGroupName">
        </mat-form-field>
        <div class="form-group col-xs-12 col-md-6" *ngIf="roles.isAdminAssistant && !roles.isSelf(item.id)">
            <form class="form-inline" name="roleForm" role="form" [formGroup]="roleForm" (ngSubmit)="onSubmit()">
                <mat-form-field>
                    <mat-select placeholder="Группа" name="roleGroup" formControlName="roleGroupId">
                        <mat-option *ngFor="let roleGroup of roleGroups" [value]="roleGroup.id" [textContent]="roleGroup.name"></mat-option>
                    </mat-select>
                </mat-form-field>
                <button mat-raised-button type="submit" color="warn" [disabled]="!roleForm.valid">Сохранить</button>
            </form>
        </div>
        <mat-form-field class="full-width" *ngIf="(roles.isSelf(item.id) || roles.isAdminAssistant)">
            <input matInput placeholder="Почта" readonly [value]="item.email">
            <div *ngIf="!item.emailConfirmed" class="text-danger">Почта не подтверждена</div>
        </mat-form-field>
        <mat-form-field *ngIf="roles.isAdminAssistant" class="full-width">
            <input matInput placeholder="Ip" readonly [value]="item.ip">
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput placeholder="Последний вход" readonly [value]="item.lastModifiedOn | customDate:true">
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput placeholder="Дата регистрации" readonly [value]="item.registrationDate | customDate:true">
        </mat-form-field>
        <mat-form-field class="full-width" *ngIf="item.fullName">
            <input matInput placeholder="Полное имя" readonly [value]="item.fullName">
        </mat-form-field>
        <mat-form-field class="full-width" *ngIf="item.birthday">
            <input matInput placeholder="День рождения" readonly [value]="item.birthday | customDate:false:false:true:true">
        </mat-form-field>
        <mat-form-field class="full-width" *ngIf="item.gender != null">
            <input matInput placeholder="Пол" readonly [value]="item.gender ? 'Женский' : 'Мужской'">
        </mat-form-field>
        <div>
            <ul class="list-inline">
                <li *ngIf="item.newsCount > 0">
                    <a [routerLink]="['/news']" [queryParams]="{page: 1, userName: item.userName, userId: item.id}">Новости(<span [textContent]="item.newsCount"></span>)</a>
                </li>
                <li>|</li>
                <li *ngIf="item.blogsCount > 0">
                    <a [routerLink]="['/blogs']" [queryParams]="{page: 1, userName: item.userName, userId: item.id}">Блоги(<span [textContent]="item.blogsCount"></span>)</a>
                </li>
                <li *ngIf="item.commentsCount > 0">
                    <a [routerLink]="['/materialComments']" [queryParams]="{page: 1, userId: item.id}">Комментарии(<span [textContent]="item.commentsCount"></span>)</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="col-xs-12">
    <div id="yandex_rtb_R-A-255349-2"></div>
</div>