<ng-container *ngIf="{ isAdminAssistant: isAdminAssistant$ | async, userId: userId$ | async, roleGroups: roleGroups$ | async,
        request: request$ | async,
        pmReceiver: pmReceiver$ | async } as data" #scroller>
    <div class="table-container">
       <pm-reply *ngIf="data.pmReceiver" [userId]="data.pmReceiver.id" (close)="onClosePmWindow($event);"
            [userName]="data.pmReceiver.userName"></pm-reply>
        
        <table mat-table [dataSource]="dataSource" matSort class="user-table" matSortActive="lastModified"
            matSortDirection="desc">

            <ng-container matColumnDef="userName" sticky>
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Логин </th>
                <td mat-cell *matCellDef="let user">
                    <a [routerLink]="[user.id]" class="">
                        <img class="mini-avatar" [src]="user.photo" [alt]="user.userName" />
                        <span [textContent]="user.userName"></span>
                    </a>
                    <span class="text-danger" tooltip="Почта не подтверждена" 
                        *ngIf="!user.emailConfirmed && (data.isAdminAssistant || data.userId === user.id)"> *</span>   
                        <a role="button" *ngIf="data.userId !== user.id" (click)="onWritePm(user.id, user.userName)"><i class="material-icons">email</i></a>
        
                </td>
            </ng-container>

            <ng-container matColumnDef="lastModified">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Последний вход </th>
                <td mat-cell *matCellDef="let user" [textContent]="user.lastModified | customDate:true"></td>
            </ng-container>

            <ng-container matColumnDef="commentsCount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Комментарии </th>
                <td mat-cell *matCellDef="let user" [textContent]="user.commentsCount"></td>
            </ng-container>

            <ng-container matColumnDef="registrationDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Регистрация </th>
                <td mat-cell *matCellDef="let user" [textContent]="user.registrationDate | customDate:true"></td>
            </ng-container>

            <ng-container matColumnDef="roleGroupName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Группа </th>
                <td mat-cell *matCellDef="let user" [textContent]="user.roleGroupName"></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; let i = index; columns: displayedColumns;"></tr>
        </table>
    </div>

    <mat-paginator [showFirstLastButtons]="true" [pageSizeOptions]="[15, 25, 50]" [pageIndex]="data.request.currentPage - 1" [length]="data.request.rowCount"
     (page)="onPageChanged($event)"></mat-paginator>

    <users-filter [roleGroups]="data.roleGroups" [isAdminAssistant]="data.isAdminAssistant" (filterChange)="onFilterChange($event)"></users-filter>

</ng-container>