<div class="top20" *ngIf="editPageForm">
    <form class="form-horizontal" role="form" [formGroup]="editPageForm" (ngSubmit)="onSubmit()">
        <div class="full-width">
            <label class="full-width"> Текст страницы(<span [textContent]="title"></span>):</label>
            <div class="full-width">
                <bbeditor name="message" [type]="2" [value]="content" [height]="550" formControlName="content"></bbeditor>
            </div>
        </div>
        <div class="full-width text-center top10">
            <button mat-raised-button color="warn" type="submit" [disabled]="!editPageForm.valid">Сохранить</button>
        </div>
    </form>
</div>
