:host {
    article {
        line-height: 1.4;
    }

    img.material-preview {
        border: lightgray solid 5px;
        display: flex;
        height: auto;
        margin: auto;
        max-width: 100%;
        width: auto;
    }

    .list-inline.small-offset>li {
        display: inline-block;
        padding-right: 5px;
        padding-left: 0;
    }

    .material-info-panel {
        margin-top: 10px;
        background-color: lightgray;
    }

    .material-info-panel>ul {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .material-header {
        color: #731010;
        font-weight: bold;
        padding-left: 10px;
        text-transform: uppercase;
        min-height: 0;
        display: flex;
        align-items: center;    
    }

    .material-header>a {
        color: #731010;
    }

    .material-header>a>h4 {
        font-weight: bold;
    }
}

::ng-deep {
    twitter-widget {
        margin: auto;
    }

    iframe {
        background-color: #f5f5f5;
        display: block;
        margin: auto !important; //override instagram
        max-width: 100%;
    }

    iframe .body-wrapper {
        background-color: #f5f5f5;
    }

    .material-body img {
        border: lightgray solid 5px;
        display: flex;
        height: auto;
        margin: auto;
        max-width: 100%;
        width: auto;
    }

}

.others {
    margin: 8px 0;
    width: 100%;

    > div:not(:first-child) {
        margin-top: 4px;
    }
}
