<ng-container *ngIf="{ isEditor: isEditor$ | async, userId: userId$ | async, material: material$ | async,
     others: others$ | async } as data">
    <div class="material-header">
        <h3 class="full-width flex-space-between">
            <span class="beauty-font" [textContent]="data.material.title"></span>
            <span *ngIf="data.isEditor || data.userId === data.material.userId">
                <material-tools [editLink]="'./edit'" [editor]="data.isEditor || data.userId === data.material.userId"
                    [material]="data.material" (activate)="onActivate(data.material.id)"
                    (delete)="onDelete(data.material.id)"></material-tools>
            </span>
        </h3>
    </div>
    <div class="full-width">
        <div *ngIf="data.material.usePhotoInBody" class="full-width bottom10">
            <img [src]="data.material.photo" [srcset]="data.material.photo | img:[300, 450, 700]"
                sizes="(max-width: 767px) 300px, (max-width: 900px) 450px, 700px" class="material-preview"
                [alt]="data.material.brief" loading="lazy" />

            <b><i class="full-width" [innerHTML]="data.material.brief | safe: 'html'"></i></b>
        </div>
        <article class="material-body" [innerHTML]="data.material.message | safe: 'html'"></article>
        <div class="full-width material-info-panel">
            <ul class="list-inline small small-offset padding5">
                <li><label>Просмотры:</label>&nbsp; <span [textContent]="data.material.reads"></span></li>
                <li class="">|</li>
                <li *ngIf="data.material.source"><label>Источник:</label>&nbsp; <a
                        [href]="data.material.source | safe: 'url'" target="_blank"
                        [textContent]="data.material.shortLink" rel="noopener"></a></li>
                <li class="">|</li>
                <li><label>Дата добавления:</label>&nbsp; <span
                        [textContent]="data.material.additionTime | customDate:true"></span></li>
                <li class="">|</li>
                <li><label>Категория:</label>&nbsp; <a [routerLink]="['/' + data.material.typeName]"
                        [queryParams]="{page: 1, categoryId: data.material.categoryId}"> <span
                            [textContent]="data.material.categoryName"></span> </a></li>
                <li class="">|</li>
                <li><label>Автор:</label>&nbsp; <a [routerLink]="['/users', data.material.userId ]"
                        [textContent]="data.material.userName"></a></li>
            </ul>
        </div>
    </div>
    <div class="others">
        <div class="full-width">Другие новости:</div>
        <div *ngFor="let other of data.others">
            <a [routerLink]="['/', other.typeName, other.id]"> {{other.title}}</a>
        </div>
    </div>
    <div class="full-width flex">
        <comment-section [materialId]="data.material.id" [type]="data.material.type"
            [canCommentary]="data.material.canCommentary">
        </comment-section>
    </div>
</ng-container>