<ng-container *ngIf="{ isInformer: isInformer$ | async } as data">
    <div class="full-width" *ngIf="item">
        <div *ngIf="data.isInformer" class="flex-space-between">
            <button mat-raised-button color="warn" (click)="pin(item.id)">Закрепить на главной</button>
            <button mat-raised-button (click)="pin(0)">Открепить от главной</button>
            <button mat-raised-button [routerLink]="['./edit']">Изменить</button>
        </div>
        <div class="full-width text-center">
            {{item.dateTime | customDate:false:true}}, {{item.typeName}}
        </div>
        <div class="full-width text-center bottom10">
            {{item.stadiumName}}, {{item.stadiumCity}}
        </div>
        <div class="full-width flex-v-c flex-space-between">
            <div>
                <div class="full-width text-center">
                    <img [src]="item.homeClubLogo" [alt]="item.homeClubName" [title]="item.homeClubName" />
                </div>
                <div class="full-width text-center">
                    <b class="font-size20" [textContent]="item.homeClubName"></b>
                </div>
            </div>
            <div class="text-center">
                <div class="full-width font-size40" *ngIf="item.scoreHome != null; else countDown;">
                    <b class=""><span [textContent]="item.scoreHome"></span></b>
                    <span class="padding5">:</span>
                    <b class=""><span [textContent]="item.scoreAway"></span></b>
                    <b
                        *ngIf="item.scorePenaltyHome || item.scorePenaltyAway">({{item.scorePenaltyHome}}-{{item.scorePenaltyAway}})</b>
                </div>
                <ng-template #countDown>
                    <span [textContent]="countDown$ | async" class="color-gold color-back-maroon counter"></span>
                </ng-template>
            </div>

            <div>
                <div class="full-width text-center">
                    <img [src]="item.awayClubLogo" [alt]="item.awayClubName" [title]="item.awayClubName" />
                </div>
                <div class="full-width text-center">
                    <b class="font-size20" [textContent]="item.awayClubName"></b>
                </div>
            </div>
        </div>
        <mat-tab-group mat-stretch-tabs color="warn" [selectedIndex]="item.scoreHome != null ? 1 : 0">
            <mat-tab label="Состав" isActive="item.scoreHome == null">
                <ng-template matTabContent>
                    <match-person-panel [matchId]="item.id" [isHome]="item.homeClubId === 1"></match-person-panel>
                </ng-template>
            </mat-tab>
            <mat-tab label="События">
                <ng-template matTabContent>
                    <match-event-match-panel [matchId]="item.id" [seasonId]="item.seasonId"
                        [isHome]="item.homeClubId === 1"></match-event-match-panel>
                    <button mat-raised-button class="full-width" (click)="ngOnInit()">Обновить события матча</button>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
        <div class="full-width top10">
            <comment-section id="comments" [matchId]="item.id" [canCommentary]="true"></comment-section>
        </div>
    </div>
</ng-container>