@model MyLfc.Application.ChatMessages.GetChatMessageListQuery.Response

<div class="block-minichat">
    <div class="blocktitle text-center">
        <b>Мини-чат</b>
    </div>
    <div class="blockcontent-inside">
        <div class="chatMessage-block">
            @foreach (var message in Model.Results)
            {
                <div class="chat-message clearfix">
                    <div class="col-xs-12 col-sm-12 container-row clearfix">
                        <a asp-action="Detail" asp-controller="Users" asp-route-id="@message.AuthorId">@message.UserName</a>
                        <div class="pull-right"><span class="small timeConvert" data-date="@message.AdditionTime.ToString("O")" data-dow="true" data-sec="false"></span></div>
                        </div>
                    <div class="col-xs-12 container-row" style="text-align: left;">
                        @Html.Raw(message.Message)
                </div>
            </div>
            }
        </div>
    </div>
</div>