<form class="full-width" name="editForm" role="form" [formGroup]="editPersonForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="full-width">
        <input matInput placeholder="Имя на русском" formControlName="firstRussianName" #pInput>
    </mat-form-field>
    <mat-form-field class="full-width">
        <input matInput placeholder="Фамилия на русском" formControlName="lastRussianName">
    </mat-form-field>
    <mat-form-field class="full-width">
        <mat-select placeholder="Тип" formControlName="type">
            <mat-option *ngFor="let type of types" [value]="type.id" [textContent]="type.name">
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="full-width">
        <input matInput placeholder="Номер на футболке" formControlName="number">
    </mat-form-field>
    <div class="full-width" *ngIf="isFull">
        <mat-form-field class="full-width">
            <input matInput placeholder="Должность(для персонала)/позиция на поле(для игроков)" formControlName="position">
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput placeholder="Имя на английском" formControlName="firstName">
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput placeholder="Фамилия на английском" formControlName="lastName">
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput placeholder="Страна рождения" formControlName="country">
        </mat-form-field>
        <div class="full-width top20 flex-v-c flex-space-around flex" *ngIf="editPersonForm.get('firstName').value && editPersonForm.get('lastName').value">
            <img class="avatar" *ngIf="photo" [src]="photo" alt="" />
            <crop-image-field formControlName="photo" (cropped)="croppedImage($event)"></crop-image-field>
        </div>
        <mat-form-field class="full-width">
            <input matInput [matDatepicker]="datePicker" placeholder="Выберите дату рождения" formControlName="birthday">
            <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
            <mat-datepicker #datePicker startView="year" touchUi="true"></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="full-width">
        <button mat-raised-button color="warn" class="full-width" type="submit" [disabled]="!editPersonForm.valid">Сохранить</button>
    </div>
</form>
