<div> {{item.question}}</div>
<div *ngFor="let answer of item.answers; let i = index;">
    {{answer.text}}
</div>
<!--<ngx-charts-bar-horizontal
    [view]="view"
    [scheme]="colorScheme"
    [results]="pollCharts"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    (select)="onSelect($event)">
</ngx-charts-bar-horizontal>-->
