<form class="full-width" name="editForm" role="form" [formGroup]="editPersonForm" (ngSubmit)="onSubmit()">
    <md-form-field class="full-width">
        <input mdInput placeholder="Имя на русском" formControlName="firstRussianName">
    </md-form-field>
    <md-form-field class="full-width">
        <input mdInput placeholder="Фамилия на русском" formControlName="lastRussianName">
    </md-form-field>
    <md-select placeholder="Тип:" formControlName="type" class="full-width">
        <md-option *ngFor="let type of types" [value]="type.id" [textContent]="type.name">
        </md-option>
    </md-select>   
    <md-form-field class="full-width">
        <input mdInput placeholder="Должность(для персонала)/позиция на поле(для игроков)" formControlName="position">
    </md-form-field>   
    <md-form-field class="full-width">
        <input mdInput placeholder="Имя на английском" formControlName="firstName">
    </md-form-field>
    <md-form-field class="full-width">
        <input mdInput placeholder="Фамилия на английском" formControlName="lastName">
    </md-form-field>
    <md-form-field class="full-width">
        <input mdInput placeholder="Номер на футболке" formControlName="number">
    </md-form-field>
    <md-form-field class="full-width">
        <input mdInput placeholder="Страна рождения" formControlName="country">
    </md-form-field>
    <div class="full-width text-center top20" *ngIf="editPersonForm.get('firstName').value && editPersonForm.get('lastName').value">
        <div class="col-xs-2">
            <img class="avatar" *ngIf="item.photo" [src]="item.photo" alt=""/>
        </div>
        <div class="col-xs-10">
            <button md-raised-button type="button">
                <label for="update-input">
                    Загрузить фото
                </label>
            </button>
            <input type="file"
                   accept="image/*"
                   class="hidden"
                   (change)="onUpload($event)"
                   id="update-input"/>
        </div>
    </div>
    <md-form-field class="full-width">
        <input mdInput [mdDatepicker]="datePicker" placeholder="Выберите дату рождения" formControlName="birthday">
        <md-datepicker-toggle mdSuffix [for]="datePicker"></md-datepicker-toggle>
        <md-datepicker #datePicker startView="year" touchUi="true"></md-datepicker>
    </md-form-field>
    <div class="full-width text-center">
        <button md-raised-button color="warn" type="submit" [disabled]="!editPersonForm.valid">Сохранить</button>
    </div>
</form>
