<form class="form-horizontal flex-space-around" name="editForm" role="form" [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="full-width">
        <input matInput placeholder="Название" name="name" formControlName="name" />
    </mat-form-field>
    <mat-form-field class="full-width">
        <input matInput placeholder="Город" name="city" formControlName="city" />
    </mat-form-field>
    <button mat-raised-button type="submit" [disabled]="!editForm.valid" class="">Сохранить</button>
</form>
