<div class="col-md-12 form-horizontal margin-top-middle" *ngIf="item">
    <div class="form-group">
        <label class="control-label col-md-2">Получатель</label>
        <div class="col-md-10">
            <input class="form-control" disabled value="{{item.receiver}}" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Заголовок</label>
        <div class="col-md-10">
            <input class="form-control" disabled value="{{item.title}}" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Сообщение</label>
        <div class="col-md-10">
            <textarea class="form-control" disabled rows="4" [textContent]="item.message"></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <!--a [routerLink]="['/pm', 0, 'edit', {username: item.receiver, userId: item.id}]" >Ответить</!a-->
            <a [routerLink]="['/pm', 0, 'edit']" >Ответить</a>
        </div>
    </div>
</div>