<form class="form-horizontal col-md-12" role="form" name="writePm"  [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <h2>Написать сообщение</h2>
    <div class="form-group">
        <label class="control-label col-md-2">Получатель</label>
        <div class="col-md-10">
            <!--p class="text-danger col-md-offset-2" ng-if="vm.errorMessage">
            <i ng-bind="vm.errorMessage"></i>
            </!p-->
            <input
                (valueChanged)="updateUsername($event)"
                attr-placeholder="Введите логин..."
                ng2-auto-complete 
                class="form-control"
                [list-formatter]="autocompleListFormatter"
                display-property-name="username"
                formControlName="receiver"
                loading-text="Загрузочка"
                min-chars="2"
                name="receiver"
                type="text"
                [source]="users" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Заголовок</label>
        <div class="col-md-10">
            <input class="form-control" name="title" formControlName="title" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Сообщение</label>
        <div class="col-md-10">
            <textarea class="form-control" name="message" rows="4" formControlName="message"> </textarea>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button [disabled]="!editForm.valid" type="submit" class="btn btn-default">Отправить</button>
        </div>
    </div>
</form>