<div>
    <h1 class="text-center">Забыли пароль?</h1>
    <div *ngIf="!finish" class="col-md-12">
        <form class="full-width" name="forgotEmail" role="form" [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
            <div class="form-group full-width">
                    <mat-form-field class="full-width">
                        <input matInput formControlName="email" type="email" placeholder="Почта"/>
                    </mat-form-field>
                <div class="alert alert-danger" *ngIf="forgotForm.controls['email'].touched && !forgotForm.controls['email'].valid">
                    <div *ngIf="forgotForm.controls['email'].hasError('required')">Необходимо заполнить поле.</div>
                    <div *ngIf="forgotForm.controls['email'].hasError('minlength')">Значение должно превышать 6 символов.</div> <!--todo move to config-->
                    <div *ngIf="forgotForm.controls['email'].hasError('incorrectMailFormat')">Введенное значение не является допустимым адресом.</div>
                </div>
            </div>
            <div class="form-group" *ngIf="isHuman">
                <div class="text-center">
                    <button mat-raised-button type="submit" color="warn" [disabled]="!forgotForm.valid">Отправить</button>
                </div>
            </div>    
            <div class="form-group" [hidden]="isHuman">
                <div class="col-md-offset-2 col-md-10">
                    <recaptcha (isHuman)="isHuman = $event"></recaptcha>
                </div>
            </div>
        </form>
    </div>
    <span *ngIf="finish">Письмо отправлено на введенную вами почту, пожалуйста, следуйте инструкциям в письме(проверьте папку спам, на всякий случай). Если письмо не приходит, напишите, пожалуйста мне: <b>andrew_parys@tut.by</b> или <b>vk.com/parys</b></span>
</div>