<form class="form-horizontal" name="editForm" role="form" [formGroup]="editMatchForm" (ngSubmit)="onSubmit()">
    <select-club-form-field formControlName="clubId" [clubName]="editMatchForm.controls['clubName'].value">
    </select-club-form-field>
    <mat-form-field class="full-width">
        <mat-select placeholder="Категория" formControlName="typeId">
            <mat-option *ngFor="let type of types" [value]="type.id" [textContent]="type.name"></mat-option>
        </mat-select>
    </mat-form-field>
    
    <select-season-form-field formControlName="seasonId" [seasonName]="seasonName">
    </select-season-form-field>

    <div class="full-width text-center">
        Выезд <mat-slide-toggle formControlName="isHome"
                                color="warn">
            Дома
        </mat-slide-toggle>
    </div>
    <mat-form-field class="full-width">
        <input matInput placeholder="Стадион" [matAutocomplete]="stadium" formControlName="stadiumName">
        <mat-autocomplete #stadium="matAutocomplete">
            <mat-option *ngFor="let stadium of stadiums$ | async" [value]="stadium.name" (click)="selectStadium(stadium.id)">
                <span>{{ stadium.name }}-{{stadium.city}}</span>
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <div class="full-width flex-space-around flex-v-c">
        <mat-form-field>
            <input matInput type="time" formControlName="time" placeholder="Время"/>
        </mat-form-field>
        
        <mat-form-field>
            <input matInput [matDatepicker]="datePicker" placeholder="Выберите дату" formControlName="date">
            <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
            <mat-datepicker #datePicker startView="year" touchUi="true"></mat-datepicker>
        </mat-form-field>
    </div>
    <mat-form-field class="full-width">
        <input matInput placeholder="Превью id" formControlName="previewId">
    </mat-form-field>
    <mat-form-field class="full-width">
        <input matInput placeholder="Фото id" formControlName="photoUrl">
    </mat-form-field>
    <mat-form-field class="full-width">
        <input matInput placeholder="Видео url" formControlName="videoUrl">
    </mat-form-field>
    <mat-form-field class="full-width">
        <input matInput placeholder="Вердикт id" formControlName="reportId">
    </mat-form-field>

    <div class="full-width">
        <button mat-raised-button color="warn" type="submit" [disabled]="!editMatchForm.valid">Сохранить</button>
    </div>
</form>