<form *ngIf="editPmForm" class="form-horizontal full-width" role="form" [formGroup]="editPmForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="full-width">
        <input matInput placeholder="Получатель" [matAutocomplete]="user" formControlName="receiver">
        <mat-autocomplete #user="matAutocomplete">
            <mat-option *ngFor="let user of users$ | async" [value]="user.userName" (click)="selectUser(user.id)">
                <span>{{ user.userName }}</span>
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="full-width">
        <input matInput placeholder="Заголовок" formControlName="title">
    </mat-form-field>

    <div class="editor">
        <label class="control-label"> Сообщение:</label>
        <bbeditor [type]="1" [height]="100" formControlName="message"></bbeditor>
    </div>
    <div class="full-width text-center">
        <button mat-raised-button color="warn" [disabled]="!editPmForm.valid" type="submit">Отправить</button>
    </div>
</form>