<div *ngFor="let event of events; let i = index;" class="col-xs-12 container-row">
    <div [class.pull-right]="(!isHome && event.isOur) || (isHome && !event.isOur)" class="inline-flex">
        <span *ngIf="event.type === 1"><img class="width20px" alt="Гол" src="/img/goal.png" [title]="event.typeName">{{event.personName}} - {{event.minute}}' </span>
        <span *ngIf="event.type === 2"><img class="width20px" alt="Гол" src="/img/goal.png" [title]="event.typeName">(П){{event.personName}} - {{event.minute}}' </span>
        <!--<span *ngIf="event.type === 3"> <span class="">Г</span>{{event.personName}} - {{event.minute}}' </span>-->
        <span *ngIf="event.type === 4"><img class="width20px" alt="Гол" src="/img/goal_own.png" [title]="event.typeName">(А){{event.personName}} - {{event.minute}}' </span>
        <span *ngIf="event.type === 5" [title]="event.typeName">({{event.personName}})</span>
        <span *ngIf="event.type === 6" class="flex-vertical-center"><mat-icon class="color-gold">sim_card_alert</mat-icon>{{event.personName}} - {{event.minute}}' </span>
        <span *ngIf="event.type === 7" class="flex-vertical-center"><mat-icon class="color-red" [title]="event.typeName">sim_card_alert</mat-icon>{{event.personName}} - {{event.minute}}' </span>
        <span *ngIf="event.type === 9" class="flex-vertical-center" [title]="event.typeName"> <mat-icon class="color-red">arrow_downward</mat-icon>{{event.personName}} - {{event.minute}}' </span>
        <span *ngIf="event.type === 8" class="flex-vertical-center" [title]="event.typeName"><mat-icon class="color-green">arrow_upward</mat-icon>{{event.personName}} - {{event.minute}}' </span>
        <span *ngIf="event.type === 10"><img class="width20px" alt="Гол" src="/img/goal_own.png" [title]="event.typeName">П(нереализованный){{event.personName}} - {{event.minute}}' </span>
        <span *ngIf="event.type === 12"><span class="">Травма </span>{{event.personName}} - {{event.minute}}' </span>
        <i *ngIf="roles.isInformer" role="button" (click)="selectEvent(i)"><mat-icon style="font-size: 100%;">edit</mat-icon></i>
        <i *ngIf="roles.isInformer" role="button" (click)="showDeleteModal(i)"><mat-icon style="font-size: 100%;">clear</mat-icon></i>
    </div>
</div>
<div *ngIf="roles.isInformer" class="full-width">
    <button mat-raised-button color="warn" class="full-width" (click)="addEvent()" *ngIf="!isEditEvent">Добавить событие</button>
    <button mat-raised-button (click)="cancelEventEdit()" *ngIf="isEditEvent">Отменить редактирование</button>
    <div class="full-width top20" *ngIf="isEditEvent">
        <matchEvent-edit-panel [matchId]="matchId" [seasonId]="seasonId" [selectedEvent]="selectedEvent" (matchEvent)="updateEvent($event)"></matchEvent-edit-panel>
    </div>
</div>
