@using MyLiverpoolSite.Business.ViewModels.Resources
@model DateTime

@{
    ViewBag.Title = UsersMessages.YouAreBanned;
}

<hgroup>
    <h1 class="text-danger">@UsersMessages.YouAreBanned</h1>
    <h2 class="text-danger">@UsersMessages.YourBanWillEndAt @Model</h2>
</hgroup>
