@using MyLiverpool.Business.Resources

<div>
    <ul ng-repeat="category in categories">
            <li><span><a ui-sref="news({page: 1, categoryId: category.id})"> {{ category.name }} [{{ category.itemsCount }}]</a></span></li>
    </ul>
</div>