<md-card class="col-xs-12 container-row" *ngIf="currentUserIndex != null">
    <md-card-header>
        <md-card-title>
            Сегодня день рождения у <a [routerLink]="['/users', items[currentUserIndex].id]"><b [textContent]="items[currentUserIndex].userName"></b></a>
        </md-card-title>
    </md-card-header>
    <md-card-content>
        <img [src]="items[currentUserIndex].photo" class="center-block avatar-medium" [alt]="items[currentUserIndex].userName"/>
    </md-card-content>
    <md-card-actions *ngIf="items.length > 1">
        <button md-button (click)="goToPrevious()"><span class="glyphicon glyphicon-triangle-left"></span></button>
        <button md-button (click)="goToNext()" class="pull-right"><span class="glyphicon glyphicon-triangle-right"></span></button>
    </md-card-actions>
</md-card>