<div class="table-responsive">
    <pm-reply *ngIf="selectedUserId" [userId]="items[selectedUserId].id" (close)="closePmWindow($event);" [userName]="items[selectedUserId].userName"></pm-reply>
    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th>Последний вход</th>
                <th>Логин</th>
                <th>Дата регистрации</th>
                <th>Группа</th>
            </tr>
        </thead>
        <tbody *ngFor="let user of items | paginate: { itemsPerPage: itemsPerPage,
                                                      currentPage: page,
                                                      totalItems: totalItems }; let i = index;">
            <tr>
                <td class="" [textContent]="user.lastModified | date:'medium'"></td>
                <td class="">
                    <a [routerLink]="[user.id]">
                        <div class="col-md-3">
                            <img class="mini-avatar" [src]="user.photo" [alt]="user.userName"/>
                        </div>
                        <span [textContent]="user.userName"></span>
                    </a>
                    <span class="text-danger" tooltip="Почта не подтверждена" *ngIf="!user.emailConfirmed && (roles.isAdminAssist || roles.isSelf(user.id))"> *</span>
                    <a role="button" *ngIf="roles.isLogined && !roles.isSelf(user.id)" (click)="writePm(i)"><span class="glyphicon glyphicon-envelope"></span></a>
                </td>
                <td class="" [textContent]="user.registrationDate | date:'medium'"></td>
                <td class="" [textContent]="user.roleGroupName"></td>
            </tr>
        </tbody>
    </table>
    <div>
        <form class="form-inline" [formGroup]="filterForm" (ngSubmit)="update()">
            <div class="form-group">
                <select class="form-control"
                        formControlName="roleGroupId">
                    <option value="">Все группы</option>
                    <option *ngFor="let roleGroup of roleGroups" [value]="roleGroup.id" [textContent]="roleGroup.russianName"></option>
                </select>
            </div>
            <div class="form-group">
                <input class="form-control" formControlName="userName" placeholder="Логин" />
            </div>
            <button class="btn btn-success"> Отфильтровать</button>
        </form>
    </div>
</div>
<div class="pagination">
    <pagination-controls (pageChange)="pageChanged($event)"
                         directionLinks="true"
                         autoHide="true"
                         previousLabel="Назад"
                         nextLabel="Вперед"
                         screenReaderPaginationLabel="Постраничный вид"
                         screenReaderPageLabel="Страница"
                         screenReaderCurrentLabel="Вы на странице"></pagination-controls>
</div>