<div class="container-fluid">
    <form class="form-horizontal col-md-12" role="form" [formGroup]="userEditForm" (ngSubmit)="onSubmit()">
        <md-form-field>
            <input mdInput [mdDatepicker]="datePicker" readonly="" placeholder="Выберите дату рождения" formControlName="birthday">
            <md-datepicker-toggle mdSuffix [for]="datePicker"></md-datepicker-toggle>
            <md-datepicker #datePicker startView="year" touchUi="true"></md-datepicker>
        </md-form-field>
        <div class="form-group">
            Парень <md-slide-toggle formControlName="gender"
                                   color="warn">
                Девушка
            </md-slide-toggle>
        </div>
        <md-form-field class="full-width">
            <input mdInput placeholder="Полное имя" formControlName="fullName">
        </md-form-field>
        <div class="form-group">
            <button md-raised-button color="warn" type="submit">Сохранить</button>
        </div>
    </form>
</div>