<div class="container-fluid">
    <h2>Настройки</h2>
    <form class="form-horizontal col-md-12" role="form" [formGroup]="userConfigForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <md-slide-toggle formControlName="isReplyToPmEnabled"
                             color="warn">
                Уведомлять о новых ответах в личные сообщения.
            </md-slide-toggle>
        </div>
        <div class="form-group">
            <md-slide-toggle formControlName="isReplyToEmailEnabled"
                             color="warn">
                Уведомлять о новых ответах на электронную почту.
            </md-slide-toggle>
        </div> 
        <!--<div class="form-group">
            <md-slide-toggle formControlName="isPmToEmailNotifyEnabled"
                             color="warn">
                Уведомлять о новых личных сообщениях на электронную почту.
            </md-slide-toggle>
        </div>--> 
        <div class="form-group">
            <button md-raised-button type="submit">Сохранить</button>
        </div>
    </form>
</div>