<div class="container-fluid">
    <form class="form-horizontal col-md-12" role="form" [formGroup]="userEditForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <input matInput [matDatepicker]="datePicker" readonly="" placeholder="Выберите дату рождения" formControlName="birthday">
            <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
            <mat-datepicker #datePicker startView="year" touchUi="true"></mat-datepicker>
        </mat-form-field>
        <div class="form-group">
            Парень <mat-slide-toggle formControlName="gender"
                                   color="warn">
                Девушка
            </mat-slide-toggle>
        </div>
        <mat-form-field class="full-width">
            <input matInput placeholder="Полное имя" formControlName="fullName">
        </mat-form-field>
        <div class="form-group">
            <button mat-raised-button color="warn" type="submit">Сохранить</button>
        </div>
    </form>
</div>