<ng-container *ngIf="{ isAdminAssistant: isAdminAssistant$ | async } as data">
    <mat-form-field class="full-width">
        <mat-select #seasonSelect placeholder="Сезон">
            <!--<mat-option>Выберите сезон</mat-option>-->
            <mat-option *ngFor="let season of seasons" [value]="season.id"
                [textContent]="season.startSeasonYear + '-' + season.endSeasonYear">

            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-accordion *ngIf="selected" [multi]="true">
        <mat-expansion-panel *ngFor="let month of selected.months" [expanded]="!month.collapsed">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{month.name}}
                </mat-panel-title>
            </mat-expansion-panel-header>

            <table class="full-width">
                <tbody>
                    <tr *ngFor="let match of month.matches; let i = index;" class="center-middle">
                        <td class="match-type">
                            <span [textContent]="match.typeName"></span>
                        </td>
                        <td>
                            <span>
                                <span [textContent]="match.dateTime | customDate"></span>
                                <a *ngIf="data.isAdminAssistant" [routerLink]="['/matches', match.id, 'edit']">
                                    <mat-icon>edit</mat-icon>
                                </a>
                            </span>
                        </td>
                        <td>
                            <div class="flex-v-c">
                                <span class="text-center">
                                    <img class="club-logo" [src]="match.homeClubLogo" [alt]="match.homeClubName">
                                    <span [textContent]="match.homeClubName"></span>
                                </span>
                                <span class="text-center">
                                    <a [routerLink]="['/matches', match.id]"> <b [textContent]="match.scoreHome"></b>:<b
                                            [textContent]="match.scoreAway"></b></a>
                                </span>
                                <span class="text-center">
                                    <img class="club-logo" [src]="match.awayClubLogo" [alt]="match.awayClubName">
                                    <span [textContent]="match.awayClubName"></span>
                                </span>
                            </div>
                        </td>
                        <td class="stadium">
                            <span [textContent]="match.stadiumName"></span>
                        </td>
                        <td class="flex-space-around" style="height: 100%">
                            <a *ngIf="match.previewId" [routerLink]="['/news', match.previewId]">Превью</a>
                            <a *ngIf="match.reportUrl" [routerLink]="['/news', match.reportUrl]">Отчет</a>
                            <a *ngIf="!match.reportUrl" [routerLink]="['/matches', match.id]">Обсуждение</a>
                            <a *ngIf="match.photoUrl" [routerLink]="['/news', match.photoUrl]">
                                <mat-icon matTooltip="Фото">photo</mat-icon>
                            </a>
                            <a *ngIf="match.videoUrl" [href]="match.videoUrl" target="_blank">
                                <mat-icon matTooltip="Видео">videocam</mat-icon>
                            </a>
                            <a *ngIf="match.reportId" [routerLink]="['/news', match.reportId]">Вердикт</a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </mat-expansion-panel>
    </mat-accordion>
</ng-container>