img.news-mini {
    height: 140px;
    width: 300px;
}

textarea {
    resize: vertical;
}

.comment {
    background-color: #e5e5e5;
    border: gray solid thin;
    border-radius: 10px;
    min-height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.list-inline.small-offset > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 0px;
}

.mainContent {
    margin-top: 60px;
}

/* AngularJS Form validation styling */
.validation.help-block {
    color: #E07676;
    font-style: italic;
}

/* invalid & (dirty or touched) => red -- CSS3 only */
.ng-invalid.ng-dirty:not(:focus),
.ng-invalid.ng-touched:not(:focus) {
    border-color: #e74c3c;
}

/* valid & dirty => green */
.ng-valid.ng-dirty.ng-touched {
    border-color: #2ecc71;
}

/* error display font italic, text-danger is red in BS */
.validation.text-danger {
    font-style: italic;
}

.flex-vertical-center {
  min-height: 0%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 0vh; /* These two lines are counted as one :-)*/       

  display: flex;
  align-items: center;
}

.container-row {
    padding-right: 0px;
    padding-left: 0px;
}

